Repository deepset-ai/haystack, changes with the labels that .github/labeler.yml gives for each.
All labels: proposal, topic:tests, topic:docker, topic:CI, topic:DX, topic:build/distribution, topic:security

.github/labeler.yml:

# Proposals
proposal:
- proposals/text/*

# Topics
topic:tests:
- test/**/*
- test/*
topic:docker:
- docker/*
topic:CI:
- .github/*
- .github/**/*
topic:DX:
- CONTRIBUTING.md
- .pre-commit-config.yaml
- .gitignore
topic:build/distribution:
- pyproject.toml
topic:security:
- SECURITY.md

remove rest_api
  .github/workflows/release_notes_skipper.yml
Labels: topic:CI

remove rest_api
  .github/workflows/release_notes_skipper.yml
Labels: topic:CI

move snippets up one folder
  examples/retrievers/in_memory_bm25_documentsearch.py
  examples/retrievers/in_memory_bm25_rag.py
Labels: none

move snippets up one folder
  examples/retrievers/in_memory_bm25_documentsearch.py
  examples/retrievers/in_memory_bm25_rag.py
Labels: none

Add missing tests workflow dependency
  .github/workflows/tests.yml
Labels: topic:CI

Add missing tests workflow dependency
  .github/workflows/tests.yml
Labels: topic:CI

Update README.md
  README.md
Labels: none

Update README.md (#6408)
  README.md
Labels: none

Update README.md (#6408)
  README.md
Labels: none

bump version
  VERSION.txt
Labels: none

bump version
  VERSION.txt
Labels: none

use different token
  .github/workflows/pypi_release.yml
Labels: topic:CI

use different token
  .github/workflows/pypi_release.yml
Labels: topic:CI

feat: bedrock refactoring
  haystack/nodes/retriever/_embedding_encoder.py
Labels: none

feat: bedrock refactoring
  haystack/nodes/retriever/_embedding_encoder.py
Labels: none

feat: bedrock refactoring, add cohere
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
Labels: none

feat: bedrock refactoring, add cohere
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
Labels: none

docs: Add indexing example
  examples/pipelines/indexing_pipeline.py
Labels: none

use Path for current directory
  examples/pipelines/indexing_pipeline.py
Labels: none

Initial implementation, release note, update API and unit test
  haystack/pipeline.py
  releasenotes/notes/allow-simplified-pipeline-run-input-e3dd98ff38f0bc01.yaml
  test/test_pipeline.py
Labels: topic:tests

Update mypy linting
  .github/workflows/linting.yml
Labels: topic:CI

Update linting.yml
  .github/workflows/linting.yml
Labels: topic:CI

Remove pydantic mypy plugin
  pyproject.toml
Labels: topic:build/distribution

add example for pipeline loop
  examples/pipeline_loop_to_autocorrect_json.py
Labels: none
