Repository deepset-ai/haystack, changes with the labels that .github/labeler.yml gives for each.
All labels: proposal, topic:tests, topic:docker, topic:CI, topic:DX, topic:build/distribution, topic:security, topic:core

review
  .github/workflows/minor_version_release.yml
Labels: topic:CI

leftover
  haystack/components/converters/txt.py
Labels: none

fix: make `minor_version_release.yml` to run on the v1.x branch (#6547)
  .github/workflows/minor_version_release.yml
Labels: topic:CI

fix: make `minor_version_release.yml` to run on the v1.x branch (#6547)
  .github/workflows/minor_version_release.yml
Labels: topic:CI

Fixing incorrect docstring (#6536)
  haystack/components/generators/hugging_face_tgi.py
Labels: none

Fixing incorrect docstring (#6536)
  haystack/components/generators/hugging_face_tgi.py
Labels: none

Clarify DynamicPromptBuilder Raison d’Être
  haystack/components/builders/dynamic_prompt_builder.py
Labels: none

chore: add boilerpy3 to the core dependencies (#6544)
  .github/workflows/tests.yml
  haystack/components/converters/html.py
  pyproject.toml
  releasenotes/notes/ship-boilerpy3-0bffbd7955c89dd4.yaml
Labels: topic:CI, topic:build/distribution

chore: add boilerpy3 to the core dependencies (#6544)
  .github/workflows/tests.yml
  haystack/components/converters/html.py
  pyproject.toml
  releasenotes/notes/ship-boilerpy3-0bffbd7955c89dd4.yaml
Labels: topic:CI, topic:build/distribution

.github/labeler.yml:

# Release lines
2.x:
 - base-branch: 'main'

1.x:
 - base-branch: 'v1.x'

# Proposals
proposal:
- changed-files:
  - any-glob-to-any-file: proposals/text/*

# Topics
topic:tests:
- changed-files:
  - any-glob-to-any-file: ['test/**/*','test/*']

topic:docker:
- changed-files:
  - any-glob-to-any-file: docker/*

topic:CI:
- changed-files:
  - any-glob-to-any-file: ['.github/*','.github/**/*']

topic:DX:
- changed-files:
  - any-glob-to-any-file: ["CONTRIBUTING.md", ".pre-commit-config.yaml",".gitignore"]

topic:build/distribution:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

topic:security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md

topic:core:
- changed-files:
  - any-glob-to-any-file: haystack/core/**/*
