Repository deepset-ai/haystack, changes with the labels that .github/labeler.yml gives for each.
All labels: proposal, topic:tests, topic:docker, topic:CI, topic:DX, topic:dependencies, topic:build/distribution, topic:modeling, topic:reader, topic:retriever, topic:agent, topic:pipeline, topic:rest_api, topic:LLM, topic:promptnode, topic:file_converter, topic:crawler, topic:preprocessing, topic:images, topic:audio, topic:security, topic:dc-api, topic:document_store, topic:weaviate, topic:elasticsearch, topic:opensearch, topic:sql, topic:faiss, topic:pinecone, topic:knowledge_graph, topic:milvus, topic:dc_document_store, topic:graphdb

.github/labeler.yml:

# Proposals
proposal:
- proposals/text/*

# Topics
topic:tests:
- test/**/*
- test/*
- conftest.py
topic:docker:
- docker/*
- docker-compose.yml
topic:CI:
- .github/*
- .github/**/*
topic:DX:
- CONTRIBUTING.md
- .pre-commit-config.yaml
- .gitignore
topic:dependencies:
- pyproject.toml
topic:build/distribution:
- pyproject.toml
topic:modeling:
- haystack/modeling/*
- haystack/modeling/**/*
- test/modeling/*
topic:reader:
- haystack/nodes/reader/*
- test/nodes/test_reader.py
topic:retriever:
- haystack/nodes/retriever/*
- test/nodes/test_retriever.py
topic:agent:
- haystack/agents/*
- test/agents/*
topic:pipeline:
- haystack/pipelines/*
- haystack/nodes/other/*
- test/pipelines/*
- test/nodes/test_other.py
topic:rest_api:
- rest_api/*
- rest_api/**/*
topic:LLM:
- haystack/nodes/prompt/*
- test/nodes/test_prompt_node.py
topic:promptnode:
- haystack/nodes/prompt/*
- test/prompt/*
topic:file_converter:
- haystack/nodes/file_converter/*
- test/nodes/test_file_converter.py
topic:crawler:
- haystack/nodes/connector/*
- test/nodes/test_connector.py
topic:preprocessing:
- haystack/nodes/preprocessor/*
- test/nodes/test_preprocessor.py
topic:images:
- haystack/nodes/image_to_text/*
- test/nodes/test_image_to_text.py
topic:audio:
- haystack/nodes/audio/*
- test/nodes/test_audio.py
topic:security:
- SECURITY.md
topic:dc-api:
- haystack/utils/deepsetcloud.py
topic:document_store:
- haystack/document_stores/*
- test/document_stores/*
topic:weaviate:
- haystack/document_stores/weaviate.py
- test/document_stores/test_weaviate.py
topic:elasticsearch:
- haystack/document_stores/search_engine.py
- haystack/document_stores/elasticsearch.py
- test/document_stores/test_elasticsearch.py
topic:opensearch:
- haystack/document_stores/search_engine.py
- haystack/document_stores/opensearch.py
- test/document_stores/test_opensearch.py
topic:sql:
- haystack/document_stores/sql.py
- test/document_stores/test_sql.py
- test/document_stores/test_sql_based.py
topic:faiss:
- haystack/document_stores/faiss.py
- test/document_stores/test_faiss.py
- test/document_stores/test_sql_based.py
topic:pinecone:
- haystack/document_stores/pinecone.py
- test/document_stores/test_pinecone.py
topic:knowledge_graph:
- haystack/document_stores/memory_knowledgegraph.py
- test/document_stores/test_knowledge_graph.py
topic:milvus:
- haystack/document_stores/milvus.py
- test/document_stores/test_milvus.py
topic:dc_document_store:
- haystack/document_stores/deepsetcloud.py
- test/document_stores/test_deepsetcloud.py
topic:graphdb:
- haystack/document_stores/graphdb.py
- test/document_stores/test_knowledge_graph.py

Add AgentStep
  haystack/agents/__init__.py
  haystack/agents/base.py
  haystack/agents/schema.py
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

Add some basic WebSearch unit tests
  test/nodes/test_search_engine.py
Labels: topic:tests

Add WebRetriever mode [snippet|document]
  haystack/nodes/retriever/web.py
Labels: topic:retriever

Adjust to WebRetriever
  haystack/nodes/retriever/web.py
  haystack/nodes/sampler/top_p_sampler.py
  haystack/nodes/search_engine/utils.py
  haystack/nodes/search_engine/web.py
Labels: topic:retriever

Minor changes
  haystack/nodes/sampler/top_p_sampler.py
  haystack/nodes/search_engine/web.py
Labels: none

Making WebRetriever work on hotpotqa
  examples/experiment_web_search.py
  examples/web_lfqa.py
  haystack/nodes/retriever/web.py
Labels: topic:retriever

Add WebRetriever into agent_tools
  haystack/nodes/retriever/web.py
  haystack/nodes/search_engine/utils.py
  haystack/nodes/search_engine/web.py
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:retriever

feat: add Bing API as search engine
  haystack/nodes/search_engine/providers.py
Labels: none

Initial commit, add search_engine
  examples/experiment_web_search.py
  haystack/nodes/search_engine/__init__.py
  haystack/nodes/search_engine/base.py
  haystack/nodes/search_engine/providers.py
  haystack/nodes/search_engine/utils.py
  haystack/nodes/search_engine/web.py
Labels: none

feat: increase search context
  haystack/nodes/search_engine/providers.py
Labels: none

Add more TopPSampler unit tests
  haystack/nodes/search_engine/web.py
  test/nodes/test_sampler.py
Labels: topic:tests

Minor WebRetriever improvements
  haystack/nodes/retriever/web.py
Labels: topic:retriever

First agent for hotpotqa
  examples/experiment_web_search.py
Labels: none

SerperDev: add peopleAlsoAsk search results
  haystack/nodes/search_engine/providers.py
Labels: none

refactor: minor WebRetriever improvements (#4377)
  haystack/nodes/retriever/web.py
Labels: topic:retriever

check sampler result, improve batch typing
  haystack/nodes/retriever/web.py
Labels: topic:retriever

refactor: let kwargs pass-through
  haystack/nodes/search_engine/providers.py
Labels: none

Remove SearchEngineSampler (converted to TopPSampler)
  haystack/nodes/search_engine/utils.py
  haystack/nodes/search_engine/web.py
Labels: none

Add TopPSampler
  haystack/nodes/__init__.py
  haystack/nodes/sampler/__init__.py
  haystack/nodes/sampler/base.py
  haystack/nodes/sampler/top_p_sampler.py
  test/conftest.py
  test/nodes/test_sampler.py
Labels: topic:tests

Rename unit tests
  test/nodes/test_web_search.py
Labels: topic:tests

refactor: increase mypy compliance
  haystack/nodes/retriever/web.py
  haystack/nodes/search_engine/providers.py
  haystack/nodes/search_engine/web.py
Labels: topic:retriever

Overlooked minor fixes
  haystack/nodes/retriever/web.py
Labels: topic:retriever

Fix mypy
  haystack/nodes/sampler/top_p_sampler.py
Labels: none

Minor example fixes
  examples/experiment_web_search.py
  examples/web_lfqa.py
Labels: none
