Repository deepset-ai/haystack, pull requests merged in 2020-08, with the labels that each got.

#286 Deprecate Tags for Document Stores
  haystack/database/base.py
  haystack/database/elasticsearch.py
  haystack/database/memory.py
  haystack/database/sql.py
  haystack/finder.py
  test/conftest.py
  test/test_db.py
  test/test_in_memory_store.py
Labels: breaking change

#304 Restructure update embeddings
  haystack/database/elasticsearch.py
  haystack/database/faiss.py
  haystack/retriever/dense.py
  test/test_dpr_retriever.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
Labels: breaking change

#330 Improve speed for SQLDocumentStore
  haystack/database/faiss.py
  haystack/database/sql.py
Labels: bug, documentstore

#326 Add refresh_type arg to ElasticsearchDocumentStore
  haystack/database/elasticsearch.py
Labels: documentstore, enhancement

#308 Refactor DPR from FB to Transformers codebase
  haystack/finder.py
  haystack/retriever/dense.py
  haystack/retriever/dpr_utils.py
  test/test_dpr_retriever.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
Labels: breaking change
