Repository deepset-ai/haystack, pull requests merged in 2020-07, with the labels that each got.

#186 Tutorial for Dense Passage Retriever
  docs/img/colab_gpu_runtime.jpg
  haystack/database/elasticsearch.py
  haystack/database/memory.py
  haystack/retriever/dense.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
Labels: tutorials

#194 Adjust PDF conversion subprocess for Python v3.6
  haystack/indexing/file_converters/pdf.py
Labels: bug, preprocessing

#195 Add success response for successful file upload API
  requirements.txt
  rest_api/controller/file_upload.py
Labels: api, bug

#200 Update tutorials
  README.rst
  haystack/database/base.py
  haystack/database/elasticsearch.py
  haystack/database/memory.py
  haystack/database/sql.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
  tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.ipynb
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
Labels: documentation, tutorials

#180 Docker available for TransformsReader Class
  Dockerfile
  Dockerfile-GPU
  docker-compose.yml
  haystack/reader/transformers.py
  rest_api/config.py
  rest_api/controller/search.py
Labels: enhancement, reader

#204 Fix naming of offset in answers of TransformersReader (for consistency with FARMReader)
  haystack/reader/transformers.py
Labels: bug, reader

#208 Update docstring for embedding_field and embedding_dim
  haystack/database/elasticsearch.py
Labels: documentation

#214 Harmonize meta data handling across doc stores
  haystack/database/elasticsearch.py
Labels: documentstore

#243 Add eval for Dense Passage Retriever & Refactor handling of labels/feedback
  README.rst
  haystack/database/base.py
  haystack/database/elasticsearch.py
  haystack/database/memory.py
  haystack/database/sql.py
  haystack/finder.py
  haystack/indexing/utils.py
  haystack/reader/farm.py
  haystack/retriever/base.py
  haystack/retriever/dense.py
  haystack/retriever/sparse.py
  haystack/utils.py
  requirements.txt
  rest_api/application.py
  rest_api/config.py
  rest_api/controller/feedback.py
  rest_api/controller/search.py
  rest_api/elasticsearch_client.py
  test/conftest.py
  test/samples/squad/small.json
  test/samples/squad/tiny.json
  test/test_document.py
  test/test_dpr_retriever.py
  test/test_eval.py
  test/test_finder.py
  test/test_in_memory_store.py
  test/test_reader.py
  test/test_tfidf_retriever.py
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
  tutorials/small_faq_covid.csv
Labels: breaking change, documentstore, reader, retriever
