Repository deepset-ai/haystack, pull requests merged in 2020-05, with the labels that each got.

#98 Add basic tutorial for FAQ-based QA & batch comp. of embeddings
  README.rst
  haystack/database/base.py
  haystack/finder.py
  haystack/retriever/elasticsearch.py
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
Labels: documentation, enhancement

#100 Make doc name optional
  haystack/database/elasticsearch.py
Labels: bug

#107 Remove hard-coded embedding field
  haystack/database/elasticsearch.py
Labels: bug

#106 Add document metadata for FAQ style QA
  haystack/finder.py
Labels: enhancement

#108 Add filtering by tags for InMemoryDocumentStore
  README.rst
  haystack/database/base.py
  haystack/database/memory.py
  test/test_db.py
  test/test_document.py
  test/test_farm_reader.py
  test/test_in_memory_store.py
Labels: enhancement

#121 Fix embeddings from sentence-transformers (type cast & gpu flags)
  haystack/retriever/elasticsearch.py
Labels: bug, retriever

#124 Fix device arg for sentence transformers
  haystack/retriever/elasticsearch.py
Labels: bug, retriever

#92 Provide Evaluation
  README.rst
  haystack/database/elasticsearch.py
  haystack/finder.py
  haystack/reader/farm.py
  haystack/retriever/elasticsearch.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
Labels: enhancement, reader, retriever
