Repository deepset-ai/haystack, pull requests merged in 2020-06, with the labels that each got.

#130 Increase timeout for bulk indexing in ES
  haystack/database/elasticsearch.py
Labels: bug, documentstore

#154 Add API endpoint to upload files
  haystack/api/config.py
  haystack/api/controller/file_upload.py
  haystack/api/controller/router.py
  haystack/indexing/file_converters/base.py
  haystack/indexing/file_converters/pdf.py
  haystack/indexing/file_converters/txt.py
  haystack/indexing/utils.py
  test/test_pdf_conversion.py
Labels: api, enhancement

#167 Dense Passage Retriever (Inference)
  haystack/database/base.py
  haystack/database/elasticsearch.py
  haystack/database/memory.py
  haystack/database/sql.py
  haystack/finder.py
  haystack/retriever/base.py
  haystack/retriever/dense.py
  haystack/retriever/dpr_utils.py
  haystack/retriever/sparse.py
  haystack/retriever/tfidf.py
  requirements.txt
  rest_api/controller/search.py
  test/test_dpr_retriever.py
  test/test_faq_retriever.py
  test/test_finder.py
  test/test_imports.py
  test/test_in_memory_store.py
  test/test_tfidf_retriever.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
  tutorials/Tutorial1_Basic_QA_Pipeline.py
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.py
  tutorials/Tutorial4_FAQ_style_QA.py
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrievers.py
Labels: enhancement, retriever
