Repository deepset-ai/haystack, pull requests merged in 2020-09, with the labels that each got.

#379 Rename and restructure modules
  .gitignore
  Dockerfile
  haystack/__init__.py
  haystack/document_store/__init__.py
  haystack/document_store/base.py
  haystack/document_store/elasticsearch.py
  haystack/document_store/faiss.py
  haystack/document_store/memory.py
  haystack/document_store/sql.py
  haystack/eval.py
  haystack/file_converter/__init__.py
  haystack/file_converter/base.py
  haystack/file_converter/docx.py
  haystack/file_converter/pdf.py
  haystack/file_converter/tika.py
  haystack/file_converter/txt.py
  haystack/finder.py
  haystack/preprocessor/__init__.py
  haystack/preprocessor/cleaning.py
  haystack/preprocessor/utils.py
  haystack/reader/base.py
  haystack/reader/farm.py
  haystack/reader/transformers.py
  haystack/retriever/base.py
  haystack/retriever/dense.py
  haystack/retriever/dpr_utils.py
  haystack/retriever/sparse.py
  haystack/schema.py
  haystack/utils.py
  rest_api/controller/feedback.py
  rest_api/controller/file_upload.py
  rest_api/controller/search.py
  test/conftest.py
  test/test_db.py
  test/test_document.py
  test/test_docx_conversion.py
  test/test_dpr_retriever.py
  test/test_dummy_retriever.py
  test/test_eval.py
  test/test_faq_retriever.py
  test/test_imports.py
  test/test_pdf_conversion.py
  test/test_reader.py
  test/test_tfidf_retriever.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
  tutorials/Tutorial1_Basic_QA_Pipeline.py
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.ipynb
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.py
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
Labels: breaking change

#393 Refactor file converter interface
  haystack/file_converter/base.py
  haystack/file_converter/docx.py
  haystack/file_converter/pdf.py
  haystack/file_converter/tika.py
  haystack/file_converter/txt.py
  haystack/preprocessor/utils.py
  rest_api/controller/file_upload.py
  test/test_docx_conversion.py
  test/test_pdf_conversion.py
Labels: breaking change, enhancement, preprocessing

#427 fixed tabs for haystack-website issues
  docs/_src/usage/usage/database.md
  docs/_src/usage/usage/get_started.md
  docs/_src/usage/usage/reader.md
Labels: enhancement

#450 Create deploy_website.yml
  .github/workflows/deploy_website.yml
Labels: enhancement
