Repository deepset-ai/haystack, pull requests merged in 2021-11, with the labels that each got.

#1684 Standardize similarity argument description
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/milvus.py
  haystack/document_stores/weaviate.py
Labels: type:documentation

#1683 Standardize initialisation of device settings
  docs/_src/api/api/document_classifier.md
  docs/_src/api/api/generator.md
  docs/_src/api/api/question_generator.md
  docs/_src/api/api/ranker.md
  docs/_src/api/api/reader.md
  docs/_src/api/api/retriever.md
  docs/_src/api/api/summarizer.md
  docs/_src/api/api/translator.md
  haystack/__init__.py
  haystack/modeling/infer.py
  haystack/modeling/utils.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/summarizer/transformers.py
  haystack/nodes/translator/transformers.py
  test/test_modeling_dpr.py
  test/test_modeling_prediction_head.py
Labels: topic:models, type:refactor

#1688 fix issue #1687 - DPR training fails on multiple GPU's
  haystack/nodes/retriever/dense.py
Labels: type:feature, topic:models

#1696 Simplify logs management
  docs/_src/api/api/pipelines.md
  haystack/__init__.py
  haystack/document_stores/base.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/infer.py
  haystack/modeling/logger.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/tokenization.py
  haystack/modeling/visual.py
  haystack/nodes/base.py
  haystack/nodes/reader/farm.py
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  haystack/utils/doc_store.py
  test/test_pipeline.py
Labels: type:refactor

#1727 Make FAISSDocumentStore work with yaml
  docs/_src/api/api/document_store.md
  haystack/document_stores/faiss.py
  test/samples/pipeline/test_pipeline_faiss_indexing.yaml
  test/samples/pipeline/test_pipeline_faiss_retrieval.yaml
  test/test_faiss_and_milvus.py
  test/test_pipeline.py
Labels: type:feature, topic:save/load, topic:document_store

#1762 Facilitate concurrent query / indexing in Elasticsearch with dense retrievers (new `skip_missing_embeddings` param)
  haystack/document_stores/elasticsearch.py
  test/test_document_store.py
Labels: type:feature, topic:elasticsearch, topic:document_store

#1775 Huggingface private model support via API tokens (FARMReader)
  docs/_src/api/api/reader.md
  haystack/modeling/model/language_model.py
  haystack/modeling/model/tokenization.py
  haystack/nodes/reader/farm.py
Labels: type:feature, topic:models

#1813 Add AzureConverter
  docs/_src/tutorials/tutorials/8.md
  haystack/nodes/__init__.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/azure.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/docx.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/markdown.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/file_converter/tika.py
  haystack/nodes/file_converter/txt.py
  haystack/utils/preprocessing.py
  requirements.txt
  test/test_file_converter.py
  tutorials/Tutorial8_Preprocessing.ipynb
  tutorials/Tutorial8_Preprocessing.py
Labels: breaking change

#1829 bugfix metadata extraction in form recognizer & split of surrounding content length
  haystack/nodes/file_converter/azure.py
Labels: type:bug
