Repository deepset-ai/haystack, pull requests merged in 2021-06, with the labels that each got.

#1059 Remove Python 3.6 support
  .github/workflows/ci.yml
  setup.py
Labels: breaking change

#1138 Add L2 support for FAISS HNSW
  haystack/document_store/faiss.py
  test/benchmarks/retriever_simplified.py
  test/benchmarks/utils.py
Labels: topic:accuracy, topic:document_store, topic:eval, topic:speed

#1152 Refresh API docs
  docs/_src/api/api/document_store.md
  docs/_src/api/api/evaluation.md
  docs/_src/api/api/reader.md
Labels: type:documentation

#1195 Add about sections to Tutorial 12
  docs/_src/tutorials/tutorials/12.md
  tutorials/Tutorial12_LFQA.ipynb
  tutorials/Tutorial12_LFQA.py
Labels: type:documentation
