Repository deepset-ai/haystack, pull requests merged in 2021-09, with the labels that each got.

#1413 MostSimilarDocumentsPipeline introduced
  haystack/pipeline.py
  test/test_pipeline.py
Labels: topic:pipeline

#1422 Farm merging base
  haystack/modeling/__init__.py
  haystack/modeling/conversion/__init__.py
  haystack/modeling/conversion/transformers.py
  haystack/modeling/data_handler/__init__.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/dataloader.py
  haystack/modeling/data_handler/dataset.py
  haystack/modeling/data_handler/inputs.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/data_handler/samples.py
  haystack/modeling/evaluation/__init__.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/evaluation/metrics.py
  haystack/modeling/model/__init__.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/predictions.py
  haystack/modeling/model/tokenization.py
  haystack/modeling/training/__init__.py
  haystack/modeling/training/base.py
  haystack/modeling/training/dpr.py
  haystack/modeling/training/question_answering.py
  haystack/modeling/utils.py
  haystack/modeling/visual/__init__.py
  haystack/modeling/visual/ascii/__init__.py
  haystack/modeling/visual/ascii/images.py
  test/samples/dpr/sample.json
  test/samples/qa/answer-offset-wrong.json
  test/samples/qa/answer-wrong.json
  test/samples/qa/dev-sample.json
  test/samples/qa/eval-sample.json
  test/samples/qa/noanswer.json
  test/samples/qa/train-sample.json
  test/samples/qa/vanilla.json
  test/test_modeling_dpr.py
  test/test_modeling_prediction_head.py
  test/test_modeling_processor.py
  test/test_modeling_processor_saving_loading.py
  test/test_tokenization.py
Labels: topic:DPR, topic:models, topic:eval, topic:reader, topic:preprocessing

#1459 WIP: FAISS document store should save it's configuration alongside the index
  haystack/document_store/faiss.py
  test/test_faiss_and_milvus.py
Labels: breaking change

#1500 Add newline between paragraphs in DocxToTextConverter
  haystack/file_converter/docx.py
Labels: topic:file converter

#1487 Simplify tests & allow running on individual doc stores
  CONTRIBUTING.md
  README.md
  docs/_src/api/api/document_store.md
  haystack/document_store/weaviate.py
  test/conftest.py
  test/pytest.ini
  test/test_document_store.py
  test/test_eval.py
  test/test_generator.py
  test/test_pipeline.py
  test/test_retriever.py
  test/test_summarizer.py
Labels: topic:tests
