Repository deepset-ai/haystack, pull requests merged in 2021-12, with the labels that each got.

#1845 workaround torch bug with non-contiguous tensors
  haystack/modeling/model/prediction_head.py
Labels: type:bug, topic:reader

#1843 Small fixes in the demo questions
  ui/eval_labels_example.csv
Labels: topic:ui

#1824 Fix bug ranker: wrong lambda function
  haystack/nodes/ranker/sentence_transformers.py
  test/conftest.py
  test/test_ranker.py
Labels: type:feature, Contributions wanted!, topic:models

#1869 Fix typo
  haystack/modeling/data_handler/dataset.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/data_handler/samples.py
  haystack/modeling/model/optimization.py
Labels: type:documentation

#1881 Correct bug with encoding when generating Markdown documentation issue #1880
  docs/_src/tutorials/tutorials/convert_ipynb.py
Labels: type:bug, type:documentation

#1907 Changed export to csv method to new answer format
  haystack/utils/export_utils.py
Labels: topic:predictions

#1913 Raise exception if Elasticsearch search_fields have wrong datatype
  haystack/document_stores/elasticsearch.py
Labels: type:bug, topic:elasticsearch, topic:document_store, journey:first steps

#1931 Add ParsrConverter
  .github/workflows/linux_ci.yml
  .github/workflows/windows_ci.yml
  docs/_src/api/api/file_converter.md
  haystack/nodes/__init__.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/azure.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/parsr.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/file_converter/tika.py
  haystack/nodes/file_converter/txt.py
  test/test_file_converter.py
Labels: type:feature, topic:file converter
