Repository deepset-ai/haystack, pull requests merged in 2022-07, with the labels that each got.

#2710 Improved crawler support for dynamically loaded pages
  docs/_src/api/api/crawler.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
  test/samples/crawler/page_dynamic.html
  test/samples/crawler/page_dynamic_result.txt
Labels: type:bug, type:feature, topic:crawler

#2741 Upgrade torch to 1.12
  .github/actions/python_cache/action.yml
  .github/workflows/autoformat.yml
  .github/workflows/tests.yml
  .github/workflows/tutorials.yml
  .github/workflows/tutorials_nightly.yml
  setup.cfg
Labels: topic:dependencies

#2677 Make check of document & embedding count optional in FAISS and Pinecone
  docs/_src/api/api/document_store.md
  haystack/document_stores/faiss.py
  haystack/document_stores/pinecone.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
Labels: topic:faiss, topic:document_store, topic:pinecone

#2736 GPL tutorial - add GPU header and open in colab button
  .github/workflows/tutorials.yml
  docs/_src/tutorials/tutorials/18.md
  tutorials/Tutorial18_GPL.ipynb
Labels: topic:tutorials

#2755 Fix loading of tokenizers in DPR
  haystack/modeling/model/tokenization.py
  haystack/nodes/retriever/dense.py
  test/nodes/test_retriever.py
Labels: topic:DPR

#2571 Add support for Multi-Hop Dense Retrieval
  docs/_src/api/api/retriever.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/nodes/test_retriever.py
Labels: action:needs documentation, type:feature, topic:retriever

#2758 Add Tutorials 16, 17 and 18 to README
  README.md
Labels: type:documentation, ignore-for-release-notes

#2772 Trying out some smaller images for docs
  docs/img/streamlit_ui_screenshot_small.png
Labels: type:documentation

#2767 Tutorial 18:Open in Colab doesn't work in Firefox
  docs/_src/tutorials/tutorials/18.md
  tutorials/Tutorial18_GPL.ipynb
Labels: type:bug, topic:tutorials, ignore-for-release-notes

#2776 Fix _debug info getting lost for previous nodes when using join nodes
  haystack/pipelines/base.py
  test/pipelines/test_pipeline_debug_and_validation.py
Labels: type:bug, topic:pipeline, journey:intermediate

#2689 Add `update_document_meta` to `InMemoryDocumentStore`
  docs/_src/api/api/document_store.md
  haystack/document_stores/base.py
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/memory.py
  test/conftest.py
  test/document_stores/test_document_store.py
Labels: breaking change, topic:document_store

#2777 fix pipeline run loop on joined pipelines whithout debug flag
  haystack/pipelines/base.py
Labels: type:bug, topic:pipeline, journey:intermediate

#2770 added mock pinecone client
  test/mocks/pinecone_mock.py
Labels: type:feature, topic:tests, topic:pinecone

#2605 Add node to use OpenAI's GPT-3 for QA
  .github/workflows/tests.yml
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/answer_generator/__init__.py
  haystack/nodes/answer_generator/openai.py
  test/conftest.py
  test/nodes/test_generator.py
Labels: type:feature, topic:models

#2723 Fix crawler long file names
  docs/_src/api/api/crawler.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
  test/samples/crawler/page_with_a_very_long_name_to_do_some_tests_Now_let's_add_some_text_just_to_pass_the_129_chars_mark_and_trigger_the_chars_limit_of_the_default_naming_function.html
Labels: type:feature, topic:crawler

#2179 Passing the meta-data in the summerizer response
  haystack/nodes/summarizer/transformers.py
  test/nodes/test_summarizer.py
Labels: type:feature, topic:metadata

#2789 Fix YAML validation for `ElasticsearchDocumentStore.custom_query`
  haystack/pipelines/config.py
  test/pipelines/test_pipeline.py
Labels: type:bug, topic:elasticsearch, topic:pipeline, topic:document_store, journey:advanced

#2800 Change "text" to "content" as dict key
  docs/_src/api/api/document_store.md
  haystack/document_stores/memory.py
Labels: type:documentation, topic:document_store, ignore-for-release-notes

#2815 Fix gold_contexts_similarity for table retrieval evaluation
  haystack/pipelines/base.py
Labels: topic:tableQA, topic:eval, topic:tutorials

#2778 Mocking Pinecone tests
  .github/workflows/tests.yml
  test/conftest.py
  test/mocks/pinecone.py
Labels: type:bug, topic:tests, ignore-for-release-notes, topic:pinecone

#2720 Allow values that are not dictionaries in the request params in the `/search` endpoint
  rest_api/controller/search.py
  rest_api/test/test_rest_api.py
Labels: topic:rest_api, journey:intermediate

#2801 Enable CI on tutorials
  .github/workflows/tests.yml
Labels: type:bug, topic:tests, ignore-for-release-notes

#2844 Validate OpenAI response
  haystack/errors.py
  haystack/nodes/answer_generator/openai.py
Labels: type:bug, topic:models, journey:advanced

#2852 Remove deprecated method prepare_seq2seq_batch
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/translator/transformers.py
Labels: type:refactor, topic:dependencies

#2713 :bug: fix: update deployment status codes
  haystack/utils/deepsetcloud.py
  test/pipelines/test_pipeline.py
Labels: journey:intermediate, topic:dc

#2783 Add support for custom trained PunktTokenizer in PreProcessor
  docs/_src/api/api/preprocessor.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/preprocessor/base.py
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_preprocessor.py
  test/samples/preprocessor/nltk_models/pt.pickle
  test/samples/preprocessor/nltk_models/wrong/en.pickle
Labels: type:feature, topic:preprocessing, journey:advanced

#2825 Add a custom pydoc renderer for Readme.io
  .github/utils/code_and_docs.sh
  docs/pydoc/__init__.py
  docs/pydoc/renderers.py
Labels: type:documentation

#2703 Simplify `language_modeling.py` and `tokenization.py`
  docs/_src/api/api/retriever.md
  haystack/document_stores/memory.py
  haystack/errors.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/data_handler/samples.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/tokenization.py
  haystack/modeling/model/triadaptive_model.py
  haystack/modeling/training/base.py
  haystack/modeling/visual.py
  haystack/nodes/retriever/dense.py
  test/modeling/test_dpr.py
  test/modeling/test_inference.py
  test/modeling/test_language.py
  test/modeling/test_prediction_head.py
  test/modeling/test_processor.py
  test/modeling/test_processor_save_load.py
  test/modeling/test_question_answering.py
  test/modeling/test_tokenization.py
  test/nodes/test_question_generator.py
  test/nodes/test_retriever.py
  test/samples/squad/tiny_augmented.json
Labels: topic:DPR, topic:speed, topic:models, type:refactor

#2880 Raise timeout on integration tests
  .github/workflows/tests.yml
Labels: type:bug, topic:tests, ignore-for-release-notes

#2868 Handle invalid metadata for `SQLDocumentStore`
  haystack/document_stores/sql.py
  test/document_stores/test_document_store.py
Labels: type:bug, action:needs documentation, topic:sql, topic:metadata, topic:document_store, journey:intermediate

#2848 Remove logging config from Haystack
  docs/_src/tutorials/tutorials/1.md
  docs/_src/tutorials/tutorials/10.md
  docs/_src/tutorials/tutorials/11.md
  docs/_src/tutorials/tutorials/12.md
  docs/_src/tutorials/tutorials/13.md
  docs/_src/tutorials/tutorials/14.md
  docs/_src/tutorials/tutorials/15.md
  docs/_src/tutorials/tutorials/16.md
  docs/_src/tutorials/tutorials/17.md
  docs/_src/tutorials/tutorials/18.md
  docs/_src/tutorials/tutorials/2.md
  docs/_src/tutorials/tutorials/3.md
  docs/_src/tutorials/tutorials/4.md
  docs/_src/tutorials/tutorials/5.md
  docs/_src/tutorials/tutorials/6.md
  docs/_src/tutorials/tutorials/7.md
  docs/_src/tutorials/tutorials/8.md
  docs/_src/tutorials/tutorials/9.md
  haystack/__init__.py
  tutorials/Tutorial10_Knowledge_Graph.ipynb
  tutorials/Tutorial10_Knowledge_Graph.py
  tutorials/Tutorial11_Pipelines.ipynb
  tutorials/Tutorial11_Pipelines.py
  tutorials/Tutorial12_LFQA.ipynb
  tutorials/Tutorial12_LFQA.py
  tutorials/Tutorial13_Question_generation.ipynb
  tutorials/Tutorial13_Question_generation.py
  tutorials/Tutorial14_Query_Classifier.ipynb
  tutorials/Tutorial14_Query_Classifier.py
  tutorials/Tutorial15_TableQA.ipynb
  tutorials/Tutorial15_TableQA.py
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.ipynb
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.py
  tutorials/Tutorial17_Audio.ipynb
  tutorials/Tutorial17_Audio.py
  tutorials/Tutorial18_GPL.ipynb
  tutorials/Tutorial18_GPL.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
  tutorials/Tutorial1_Basic_QA_Pipeline.py
  tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb
  tutorials/Tutorial2_Finetune_a_model_on_your_data.py
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.ipynb
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.py
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
  tutorials/Tutorial7_RAG_Generator.ipynb
  tutorials/Tutorial7_RAG_Generator.py
  tutorials/Tutorial8_Preprocessing.ipynb
  tutorials/Tutorial8_Preprocessing.py
  tutorials/Tutorial9_DPR_training.ipynb
  tutorials/Tutorial9_DPR_training.py
Labels: action:needs documentation, topic:tutorials

#2819 pre-commit hooks
  .github/utils/code_and_docs.sh
  .github/utils/convert_notebooks_into_webpages.py
  .github/utils/generate_json_schema.py
  .github/utils/generate_openapi_specs.py
  .github/utils/pydoc-markdown.sh
  .github/workflows/autoformat.yml
  .github/workflows/black.yml
  .github/workflows/documentation.yml
  .github/workflows/schemas.yml
  .github/workflows/tests.yml
  .github/workflows/tutorials.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/_src/tutorials/tutorials/18.md
  docs/img/ci-failure-example-instructions.png
  docs/img/ci-failure-example.png
  docs/img/ci-success.png
  docs/img/fork_action_config.png
  setup.cfg
Labels: action:needs documentation, type:feature, journey:advanced, ignore-for-release-notes

#2884 Updating pre-commit-config to remove python version
  .pre-commit-config.yaml
Labels: type:bug, ignore-for-release-notes

#2860 Add support for BM25 with the Weaviate document store
  .github/workflows/tests.yml
  CONTRIBUTING.md
  docs/_src/api/api/document_store.md
  haystack/document_stores/weaviate.py
  setup.cfg
  test/document_stores/test_document_store.py
  test/document_stores/test_weaviate.py
Labels: action:needs documentation, type:feature, breaking change, topic:document_store, topic:dependencies, journey:first steps, topic:weaviate

#2895 Typo README.md
  README.md
Labels: type:documentation, journey:first steps

#2890 Recommend installing pre-commit hook on commit
  CONTRIBUTING.md
Labels: action:needs documentation, type:documentation, journey:advanced, ignore-for-release-notes

#2897 Fix typos in Contributing.md
  CONTRIBUTING.md
Labels: type:documentation

#2691 Use opensearch-py in OpenSearchDocumentStore
  .github/workflows/tests.yml
  docs/_src/api/api/document_store.md
  haystack/document_stores/opensearch.py
  pyproject.toml
  setup.cfg
  test/conftest.py
  test/document_stores/test_opensearch.py
Labels: type:feature, topic:document_store

#2907 Wrap opensearch imports into `safe_import`
  haystack/document_stores/__init__.py
Labels: type:bug, topic:document_store, topic:dependencies

#2870 Use `batch_size` in `QuestionGenerator`
  haystack/nodes/question_generator/question_generator.py
Labels: type:bug, journey:advanced

#2928 Change `black` pre-commit hook into `black-jupyter`
  .pre-commit-config.yaml
Labels: type:bug, ignore-for-release-notes

#2929 Disable a few checks in the pre-commit hook
  .github/workflows/black.yml
  .github/workflows/schemas.yml
  .pre-commit-config.yaml
Labels: type:bug, ignore-for-release-notes

#2899 Bug fix Weaviate document deletion
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: type:bug, topic:document_store, journey:advanced, topic:weaviate

#2909 Add HF model caching for integration tests
  .github/workflows/tests.yml
Labels: type:feature, topic:models, topic:tests, ignore-for-release-notes
