Repository deepset-ai/haystack, pull requests merged in 2022-08, with the labels that each got.

#2838 Fix serialization of numpy arrays and pandas dataframes in REST API
  docs/_src/api/openapi/openapi-1.6.1rc0.json
  docs/_src/api/openapi/openapi.json
  rest_api/controller/document.py
  rest_api/controller/feedback.py
  rest_api/controller/search.py
  rest_api/schema.py
  rest_api/test/test_rest_api.py
Labels: type:bug, topic:rest_api, type:refactor

#2921 Update minimum selenium version supported for crawler
  haystack/nodes/connector/crawler.py
  setup.cfg
Labels: topic:dependencies

#2950 add code owners
  .github/CODEOWNERS
Labels: ignore-for-release-notes

#2959 Add `git diff` to schema checks
  .github/workflows/schemas.yml
Labels: type:bug, ignore-for-release-notes

#2918 Extending the Ray Serve integration to allow attributes for Serve deployments
  docs/_src/api/api/pipelines.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/_json_schema.py
  haystack/pipelines/config.py
  haystack/pipelines/ray.py
  test/pipelines/test_pipeline_yaml.py
  test/pipelines/test_ray.py
  test/samples/pipeline/ray.haystack-pipeline.yml
Labels: type:feature, breaking change, topic:pipeline, journey:advanced

#2952 fix docker tag for cuda
  Dockerfile-GPU
Labels: type:bug, topic:docker, ignore-for-release-notes

#2910 Tutorial 06: Replace DPR with EmbeddingRetriever
  docs/_src/tutorials/tutorials/6.md
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_Embedding_Retrieval.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_Embedding_Retrieval.py
Labels: topic:DPR, type:refactor, journey:first steps, topic:tutorials

#2945 Ability to run Ray Serve detached
  docs/_src/api/api/pipelines.md
  haystack/pipelines/ray.py
  test/pipelines/test_ray.py
Labels: type:feature, topic:pipeline, journey:advanced

#2936 Enable Opensearch unit tests in Windows CI
  .github/workflows/tests.yml
  pyproject.toml
  test/document_stores/test_opensearch.py
  test/nodes/test_audio.py
Labels: topic:tests

#2850 Fix validation for dynamic outgoing edges
  haystack/document_stores/base.py
  haystack/nodes/base.py
  haystack/nodes/file_classifier/file_type.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/other/join.py
  haystack/nodes/other/route_documents.py
  haystack/pipelines/config.py
  rest_api/pipeline/custom_component.py
  test/nodes/test_filetype_classifier.py
  test/nodes/test_other.py
  test/pipelines/test_pipeline.py
Labels: type:bug, topic:pipeline, journey:intermediate

#2961 Update contributing guide, clarify when '.[all]' install is needed
  CONTRIBUTING.md
Labels: type:documentation, ignore-for-release-notes

#2957 Fix docs code format for sentence transformers
  docs/_src/api/api/ranker.md
  haystack/nodes/ranker/sentence_transformers.py
Labels: type:documentation

#2966 Better check for "DebertaV2" architecture in Trainer.train
  haystack/modeling/training/base.py
Labels: type:bug, topic:train, topic:models, journey:first steps

#2941 Print eval reports improvements
  docs/_src/api/api/pipelines.md
  docs/_src/api/api/primitives.md
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  haystack/pipelines/utils.py
  haystack/schema.py
Labels: type:bug, topic:eval, journey:intermediate

#2974 Remove unused variable
  haystack/modeling/training/base.py
Labels: type:bug, topic:train

#2883 chore: add PR template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: type:feature, journey:advanced, ignore-for-release-notes

#2973 Remove pipes from code block
  docs/_src/api/api/ranker.md
  haystack/nodes/ranker/sentence_transformers.py
Labels: type:bug, type:documentation, ignore-for-release-notes

#2979 Add enhanced pydoc-markdown pre-hook
  .github/utils/pydoc-markdown.py
  .pre-commit-config.yaml
Labels: topic:tests

#2864 Add progress bar to batch run component ops
  docs/_src/api/api/document_classifier.md
  docs/_src/api/api/extractor.md
  docs/_src/api/api/file_converter.md
  docs/_src/api/api/generator.md
  docs/_src/api/api/other.md
  docs/_src/api/api/preprocessor.md
  docs/_src/api/api/pseudo_label_generator.md
  docs/_src/api/api/query_classifier.md
  docs/_src/api/api/question_generator.md
  docs/_src/api/api/ranker.md
  docs/_src/api/api/summarizer.md
  docs/_src/api/api/translator.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/answer_generator/base.py
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/audio/answer_to_speech.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/other/docs2answers.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/nodes/query_classifier/sklearn.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/summarizer/transformers.py
  haystack/nodes/translator/transformers.py
  haystack/utils/torch_utils.py
Labels: type:feature, topic:models, topic:pipeline

#2990 feat: warn users if they're calling `get_all_labels` on a document index and vice-versa (Elasticsearch & Opensearch only)
  haystack/document_stores/elasticsearch.py
  haystack/schema.py
Labels: type:feature, topic:elasticsearch, topic:eval, topic:document_store, journey:intermediate

#2925 feat: add gradient accumulation in FARMReader
  docs/_src/api/api/reader.md
  haystack/nodes/reader/farm.py
Labels: topic:train, journey:intermediate

#2965 feat: Extend `TransformersQueryClassifier`: clean version
  docs/_src/api/api/query_classifier.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/query_classifier/transformers.py
  test/nodes/test_query_classifier.py
Labels: type:feature, topic:models, topic:pipeline, journey:advanced

#3002 Bump streamlit version to latest
  ui/setup.py
Labels: topic:dependencies

#2863 Add API page for util functions
  docs/_src/api/api/other_nodes.md
  docs/_src/api/api/utils.md
  docs/_src/api/pydoc/other-nodes.yml
  docs/_src/api/pydoc/utils.yml
  haystack/utils/export_utils.py
  haystack/utils/preprocessing.py
  haystack/utils/squad_data.py
Labels: type:documentation

#2932 feat: Add page number to Documents coming from PDFConverters and PreProcessor
  docs/_src/api/api/file_converter.md
  docs/_src/api/api/preprocessor.md
  docs/_src/api/pydoc/file-converters.yml
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/file_converter/azure.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/parsr.py
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_file_converter.py
  test/nodes/test_preprocessor.py
Labels: action:needs documentation, type:feature, topic:preprocessing

#2998 bug: make `MultiLabel` ids consistent across python interpreters
  haystack/schema.py
  test/others/test_schema.py
Labels: type:bug, breaking change, topic:labelling, topic:eval, topic:document_store, journey:advanced

#3011 switch label variables in test_labels
  test/document_stores/test_document_store.py
Labels: type:bug, topic:document_store, topic:tests

#3016 bug: fix `UnboundLocalError` in `Pipeline.run_batch()`
  haystack/pipelines/base.py
Labels: type:bug, topic:pipeline, journey:first steps

#2960 fetch experiment run results from dc
  haystack/utils/deepsetcloud.py
  test/others/test_utils.py
Labels: action:needs documentation, topic:eval, journey:intermediate, topic:dc

#3001 Adding support for additional distance/similarity metrics for Weaviate
  docs/_src/api/api/document_store.md
  haystack/document_stores/weaviate.py
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_weaviate.py
Labels: type:feature, journey:advanced, topic:weaviate

#2984 Enable the `JoinDocuments` node to work with documents with `score=None`
  docs/_src/api/api/other_nodes.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/other/join_docs.py
  test/nodes/test_other.py
Labels: type:bug, topic:retriever, topic:weaviate

#3022 fix: move `azure-core` pin into the dev dependency list
  setup.cfg
Labels: type:bug, topic:installation, topic:dependencies, journey:advanced

#2856 Resolving issue 2853: no answer logic in FARMReader
  docs/_src/api/api/reader.md
  haystack/modeling/evaluation/eval.py
  haystack/nodes/reader/farm.py
Labels: type:bug, action:needs documentation, topic:eval, topic:reader, journey:advanced

#3026 ci: Increase Weaviate's disk usage + print docker logs
  .github/workflows/tests.yml
Labels: ignore-for-release-notes

#3021 test: add meta fields for meta_config to be used during testing
  docs/_src/api/api/document_store.md
  haystack/document_stores/pinecone.py
  test/conftest.py
Labels: type:feature, topic:tests, topic:pinecone

#3030 Fix `embeddings_field_supports_similarity` of `OpenSearchDocumentStore` when creating index
  haystack/document_stores/opensearch.py
  test/document_stores/test_opensearch.py
Labels: type:bug, topic:document_store, journey:advanced, topic:opensearch

#3025 feat: Add `delete_all_files()` to `FileClient`
  haystack/utils/deepsetcloud.py
  test/others/test_utils.py
Labels: action:needs documentation, type:feature, ignore-for-release-notes, topic:dc

#2995 feat: Support embedding dimensions on DeepsetCloudDocumentStore
  docs/_src/api/api/document_store.md
  haystack/document_stores/deepsetcloud.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/utils/deepsetcloud.py
  test/document_stores/test_document_store.py
Labels: type:feature, ignore-for-release-notes, topic:dc_document_store, topic:dc

#2846 Forbid the key `id` from `Document`s to be written in `WeaviateDocumentStore`
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: type:bug, action:needs documentation, journey:first steps, topic:weaviate

#3013 docs: extend tutorial14 about query classification
  docs/_src/tutorials/tutorials/14.md
  tutorials/Tutorial14_Query_Classifier.ipynb
  tutorials/Tutorial14_Query_Classifier.py
Labels: topic:tutorials

#3036 feat: Enable isolated node eval for answer generator nodes (incl. OpenAI Node)
  haystack/nodes/answer_generator/base.py
Labels: topic:eval, topic:pipeline

#3034 bug: Make `TranslationWrapperPipeline` work with `QuestionAnswerGenerationPipeline`
  docs/_src/api/api/translator.md
  haystack/nodes/translator/base.py
  haystack/nodes/translator/transformers.py
  haystack/pipelines/standard_pipelines.py
Labels: type:bug, topic:pipeline

#3018 docs: update File Classifier Docstring
  docs/_src/api/api/file_classifier.md
  haystack/nodes/file_classifier/file_type.py
Labels: type:documentation

#3037 Fix broken `MultiLabel` serialization
  docs/_src/api/api/primitives.md
  haystack/schema.py
Labels: type:bug, topic:eval

#3023 chore: fix typo in API docs
  docs/_src/api/openapi/openapi-1.6.1rc0.json
  docs/_src/api/openapi/openapi.json
  rest_api/controller/document.py
Labels: ignore-for-release-notes

#3040 changing Slack to Discord
  CONTRIBUTING.md
  README.md
Labels: ignore-for-release-notes

#3045 Adjust workflows to the new branch name
  .github/workflows/demo.yaml
  .github/workflows/docker_build.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes

#3020 test: update filtering of Pinecone mock to imitate doc store
  test/mocks/pinecone.py
Labels: type:feature, topic:tests, topic:pinecone

#3060 feat: take the list of models to cache instead of hardcoding one
  haystack/utils/docker.py
Labels: topic:docker

#2988 feat: Allow exact list matching with field in Elasticsearch filtering
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/filter_utils.py
  test/document_stores/test_document_store.py
Labels: type:bug, topic:elasticsearch, topic:document_store, journey:first steps

#3071 feat: Early stopping can be used in Reader and Retriever training
  docs/_src/api/api/reader.md
  docs/_src/api/api/retriever.md
  docs/_src/api/api/utils.md
  docs/_src/api/pydoc/utils.yml
  haystack/modeling/training/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/dense.py
  haystack/utils/__init__.py
  haystack/utils/early_stopping.py
Labels: type:feature, topic:reader, journey:intermediate

#3079 refactor: update package metadata
  .github/actions/python_cache/action.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  Dockerfile-GPU
  Dockerfile-GPU-minimal
  README.md
  haystack/utils/import_utils.py
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Labels: type:refactor, topic:tests, topic:build/distribution

#2980 bug: handle `Optional` params in schema validation
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/_json_schema.py
  test/pipelines/test_pipeline_yaml.py
Labels: type:bug, topic:pipeline, journey:first steps

#2749 update to PineconeDocumentStore to remove dependency on SQL db
  conftest.py
  docs/_src/api/api/document_store.md
  haystack/document_stores/filter_utils.py
  haystack/document_stores/pinecone.py
  haystack/errors.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  pyproject.toml
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_pinecone.py
  test/mocks/pinecone.py
Labels: type:feature, breaking change, type:refactor, topic:document_store, topic:pinecone

#3029 feat: FAISS in OpenSearch: Support HNSW for dot product and l2
  docs/_src/api/api/document_store.md
  haystack/document_stores/opensearch.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  test/document_stores/test_opensearch.py
Labels: type:feature, topic:document_store, journey:advanced, topic:opensearch

#3101 feat: FAISS in OpenSearch: check existing index
  haystack/document_stores/opensearch.py
  test/document_stores/test_opensearch.py
Labels: topic:faiss, topic:document_store, topic:opensearch

#3065 bug: `OpensearchDocumentStore.custom_mapping` should accept JSON strings at validation
  haystack/pipelines/config.py
  test/pipelines/test_pipeline.py
Labels: type:bug, topic:document_store, topic:opensearch

#3098 chore: Upgrade and pin transformers to 4.21.2
  pyproject.toml
Labels: topic:dependencies

#3089 fix: Replace multiprocessing tokenization with batched fast tokenization
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/input_features.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/model/tokenization.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/reader/table.py
  test/modeling/test_tokenization.py
Labels: topic:speed, topic:models

#3126 build: pin pydantic to 1.9.2
  pyproject.toml
Labels: topic:dependencies

#3062 Standardize devices parameter and device initialization
  docs/_src/api/api/document_classifier.md
  docs/_src/api/api/document_store.md
  docs/_src/api/api/extractor.md
  docs/_src/api/api/generator.md
  docs/_src/api/api/pseudo_label_generator.md
  docs/_src/api/api/query_classifier.md
  docs/_src/api/api/question_generator.md
  docs/_src/api/api/ranker.md
  docs/_src/api/api/reader.md
  docs/_src/api/api/retriever.md
  docs/_src/api/api/summarizer.md
  docs/_src/api/api/translator.md
  haystack/document_stores/memory.py
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/modeling/infer.py
  haystack/modeling/utils.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/audio/_text_to_speech.py
  haystack/nodes/audio/answer_to_speech.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/summarizer/transformers.py
  haystack/nodes/translator/transformers.py
Labels: topic:pipeline
