Repository deepset-ai/haystack, pull requests merged in 2022-02, with the labels that each got.

#2084 Provide option to recreate es doc store on initialization
  docs/_src/api/api/document_store.md
  docs/_src/tutorials/tutorials/7.md
  haystack/document_stores/elasticsearch.py
  test/test_document_store.py
Labels: type:feature, topic:elasticsearch, type:refactor, topic:document_store, journey:advanced

#2109 Add faiss dependency to tutorial 12
  tutorials/Tutorial12_LFQA.ipynb
Labels: type:bug, journey:first steps, topic:tutorials

#2020 ✨ Add JSON Schema autogeneration for Pipeline YAML files
  .github/utils/generate_json_schema.py
  .github/workflows/generate_json_schema.yml
  docs/_src/api/api/document_store.md
  docs/_src/api/api/reader.md
  haystack/document_stores/faiss.py
  haystack/nodes/reader/farm.py
  json-schemas/haystack-pipeline.0.7.schema.json
  requirements-json-schema.txt
Labels: type:feature, topic:pipeline

#2098 Make `ui` and `rest` proper packages
  .github/workflows/generate_openapi_specs.yml
  .github/workflows/linux_ci.yml
  .github/workflows/windows_ci.yml
  Dockerfile
  rest_api/LICENSE
  rest_api/setup.py
  setup.cfg
  ui/Dockerfile
  ui/LICENSE
  ui/setup.py
Labels: topic:api, type:refactor, topic:ui, topic: dependencies, journey:first steps

#2101 Make FileTypeClassifier more flexible
  haystack/nodes/file_classifier/file_type.py
  test/conftest.py
  test/test_filetype_classifier.py
Labels: type:feature, topic:pipeline, journey:intermediate

#2099 Fix Seq2SeqGenerator return type
  docs/_src/api/api/generator.md
  haystack/nodes/answer_generator/base.py
  haystack/nodes/answer_generator/transformers.py
  test/test_generator.py
Labels: type:bug, topic:eval, topic:predictions, journey:advanced

#2125 Fixed performance bug. Using a list where a set is needed.
  haystack/document_stores/base.py
Labels: topic:speed, type:refactor, topic:document_store, journey:advanced

#2068 Allow different filters per query in pipeline evaluation
  docs/_src/api/api/primitives.md
  haystack/pipelines/base.py
  haystack/schema.py
  test/test_eval.py
  test/test_schema.py
Labels: topic:labelling, topic:eval

#2124 Simplify SQuAD data to df conversion
  haystack/utils/squad_data.py
  test/test_utils.py
Labels: type:refactor, topic:preprocessing

#2108 Extend metadata filtering support in `ElasticsearchDocumentStore`
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/filter_utils.py
  test/conftest.py
  test/test_document_store.py
  test/test_eval.py
  test/test_pipeline.py
  test/test_reader.py
  test/test_retriever.py
  test/test_standard_pipelines.py
Labels: type:feature, topic:elasticsearch, topic:metadata, topic:document_store

#2070 OpenSearchDocumentStore: Extend similarity support
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
Labels: type:bug, type:feature, topic:predictions, topic:document_store, journey:advanced

#2091 Speed up query_by_embedding in InMemoryDocumentStore.
  haystack/document_stores/memory.py
Labels: topic:speed, topic:document_store

#2129 Change `docstores_gpu` into `docstores-gpu` in `Dockerfile-GPU`
  Dockerfile-GPU
Labels: topic:docker, topic: dependencies

#2141 Move pytest configuration into `pyproject.toml`
  docs/_src/api/api/document_store.md
  pyproject.toml
  test/pytest.ini
Labels: type:refactor, topic:tests

#2147 fix type annotation
  docs/_src/api/api/pipelines.md
  haystack/pipelines/base.py
Labels: topic:eval

#2148 Fix dependency management in Tutorial 6
  docs/_src/tutorials/tutorials/6.md
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
Labels: type:bug, topic:document_store, topic: dependencies, journey:first steps, topic:tutorials

#2163 Make `openapi.json` multiline so the diff is parsable
  docs/_src/api/openapi/generate_openapi_specs.py
Labels: topic:api, type:refactor

#2164 Align REST API and Haystack versions
  docs/_src/api/openapi/openapi.json
  rest_api/application.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
Labels: topic:api, type:refactor

#2159 Add `DELETE /feedback` for testing and make the label's id generate server-side
  docs/_src/api/openapi/openapi.json
  rest_api/controller/feedback.py
  rest_api/schema.py
  rest_api/test/test_rest_api.py
  ui/utils.py
Labels: type:bug, topic:api, topic:ui

#2154 Apply filter in eval only if no gold docs are given as input
  docs/_src/api/api/pipelines.md
  haystack/pipelines/base.py
Labels: topic:eval

#1975 Add who uses Haystack section
  README.md
Labels: good first issue, Contributions wanted!, type:documentation, journey:first steps

#2161 Query response without answers
  docs/_src/api/openapi/openapi.json
  rest_api/controller/search.py
  rest_api/schema.py
  rest_api/test/test_rest_api.py
Labels: type:bug, topic:api, topic:pipeline, journey:intermediate

#2168 Enable use of dot_product OpenSearch Script Scoring
  haystack/document_stores/elasticsearch.py
Labels: type:bug, topic:document_store, journey:intermediate

#2192 Changed document_store to ElasticsearchDocumentStore
  tutorials/Tutorial1_Basic_QA_Pipeline.py
Labels: type:bug, topic:document_store, journey:first steps, topic:tutorials

#2193 Update url in POST /file-upload
  rest_api/controller/file_upload.py
Labels: topic:api, type:documentation

#2143 Support more data types and extended filters in WeaviateDocStore
  docs/_src/api/api/document_store.md
  docs/_src/api/openapi/openapi.json
  haystack/document_stores/base.py
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/filter_utils.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus.py
  haystack/document_stores/milvus2x.py
  haystack/document_stores/sql.py
  haystack/document_stores/utils.py
  haystack/document_stores/weaviate.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/base.py
  haystack/utils/deepsetcloud.py
  test/conftest.py
  test/test_document_store.py
Labels: type:feature, topic:metadata, topic:document_store

#2170 Pylint: solve or silence locally rare warnings
  .github/workflows/linux_ci.yml
  docs/decisions/pydantic-dataclasses.md
  haystack/__init__.py
  haystack/document_stores/base.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/graphdb.py
  haystack/document_stores/memory.py
  haystack/document_stores/weaviate.py
  haystack/modeling/__init__.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/dataset.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/data_handler/samples.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/evaluation/metrics.py
  haystack/modeling/logger.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/tokenization.py
  haystack/modeling/utils.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/evaluator/evaluator.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/sparse.py
  haystack/pipelines/base.py
  haystack/schema.py
  haystack/utils/augment_squad.py
  haystack/utils/preprocessing.py
  haystack/utils/squad_data.py
  haystack/utils/squad_to_dpr.py
  json-schemas/haystack-pipeline-1.2.0rc0.schema.json
  pyproject.toml
  rest_api/config.py
  rest_api/controller/search.py
  rest_api/setup.py
  ui/setup.py
  ui/webapp.py
Labels: type:refactor

#2228 Versioning `openapi.json`
  docs/_src/api/openapi/generate_openapi_specs.py
  docs/_src/api/openapi/openapi-1.2.0rc0.json
Labels: topic:api, type:documentation

#2120 Adding extended meta data filtering support for InMemoryDocumenStore
  docs/_src/api/api/document_store.md
  haystack/document_stores/filter_utils.py
  haystack/document_stores/memory.py
  test/test_document_store.py
Labels: type:refactor, topic:metadata, topic:document_store, journey:intermediate

#2227 Fix ef_search param for hnsw in OpenSearchDocumentStore
  haystack/document_stores/elasticsearch.py
  haystack/pipelines/base.py
  haystack/utils/__init__.py
  haystack/utils/doc_store.py
  test/test_pipeline.py
Labels: topic:document_store

#2229 Add Brownfield Support of existing Elasticsearch indices
  haystack/document_stores/__init__.py
  haystack/document_stores/base.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/filter_utils.py
  haystack/document_stores/utils.py
  test/test_document_store.py
Labels: type:feature, topic:elasticsearch, topic:document_store, journey:advanced

#2243 Comment out Milvus cell on Tutorial6
  docs/_src/tutorials/tutorials/6.md
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
Labels: journey:first steps, topic:tutorials

#2126 Make Milvus2DocumentStore compatible with pymilvus>=2.0.0
  .github/workflows/linux_ci.yml
  docs/_src/api/api/document_store.md
  docs/_src/api/pydoc/document-store.yml
  haystack/document_stores/__init__.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/utils/doc_store.py
  setup.cfg
  test/conftest.py
  test/test_document_store.py
  test/test_eval.py
  test/test_faiss_and_milvus.py
  test/test_pipeline.py
  test/test_retriever.py
  test/test_standard_pipelines.py
Labels: type:feature, breaking change, topic:document_store, topic: dependencies, journey:first steps
