Repository deepset-ai/haystack, pull requests merged in 2022-05, with the labels that each got.

#2454 Add flag to disable scaling scores to probabilities
  docs/_src/api/api/document_store.md
  docs/_src/api/api/primitives.md
  docs/_src/api/api/retriever.md
  haystack/document_stores/base.py
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/sparse.py
  haystack/schema.py
  haystack/utils/deepsetcloud.py
  rest_api/test/test_rest_api.py
  test/test_document_store.py
  test/test_faiss_and_milvus.py
Labels: topic:predictions, topic:retriever

#2478 Add support for positional args in pipeline.get_config()
  haystack/nodes/base.py
  test/test_pipeline.py
Labels: topic:pipeline

#2487 changing the name of the retrievers from es_retriever to retriever
  docs/_src/tutorials/tutorials/11.md
  docs/_src/tutorials/tutorials/14.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  tutorials/Tutorial11_Pipelines.ipynb
  tutorials/Tutorial11_Pipelines.py
  tutorials/Tutorial14_Query_Classifier.ipynb
  tutorials/Tutorial14_Query_Classifier.py
Labels: topic:tutorials

#2491 Update `xpdfreader` package installation
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.ipynb
Labels: topic:tutorials

#2494 fix dot_product metric
  haystack/document_stores/pinecone.py
Labels: topic:pinecone

#2490 Align TransformersReader defaults with FARMReader
  docs/_src/api/api/reader.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/reader/transformers.py
Labels: breaking change, topic:reader

#2495 Deprecate `Milvus1DocumentStore`
  docs/_src/api/api/document_store.md
  docs/_src/tutorials/tutorials/16.md
  haystack/document_stores/milvus1.py
Labels: topic:document_store, topic:milvus

#2420 Change default encoding for `PDFToTextConverter` from `Latin 1` to `UTF-8`
  docs/_src/api/api/file_converter.md
  docs/_src/tutorials/tutorials/8.md
  haystack/json-schemas/haystack-pipeline-1.3.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.3.1rc0.schema.json
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/pdf.py
  haystack/utils/preprocessing.py
  test/test_file_converter.py
  tutorials/Tutorial8_Preprocessing.ipynb
  tutorials/Tutorial8_Preprocessing.py
Labels: topic:file converter, breaking change, type:refactor, journey:first steps

#2438 Validate YAML files without loading the nodes
  docs/_src/api/api/pipelines.md
  docs/_src/api/pydoc/pipelines.yml
  haystack/document_stores/faiss.py
  haystack/json-schemas/haystack-pipeline-1.0.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.1.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.2.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.3.0.schema.json
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/json-schemas/haystack-pipeline.schema.json
  haystack/nodes/_json_schema.py
  haystack/nodes/base.py
  haystack/pipelines/__init__.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/pipelines/ray.py
  haystack/pipelines/standard_pipelines.py
  haystack/pipelines/utils.py
  pyproject.toml
  test/conftest.py
  test/samples/pipeline/test.haystack-pipeline.yml
  test/samples/pipeline/test_pipeline_faiss_indexing.yaml
  test/samples/pipeline/test_pipeline_faiss_retrieval.yaml
  test/samples/pipeline/test_pipeline_tfidfretriever.yaml
  test/samples/pipeline/test_ray_pipeline.yaml
  test/samples/squad/tiny_augmented.json
  test/test_connector.py
  test/test_eval.py
  test/test_faiss_and_milvus.py
  test/test_pipeline.py
  test/test_pipeline_yaml.py
  test/test_ray.py
  test/test_standard_pipelines.py
Labels: action:needs documentation, breaking change, topic:pipeline

#2479 Replace TableTextRetriever with EmbeddingRetriever in Tutorial 15
  docs/_src/tutorials/tutorials/15.md
  tutorials/Tutorial15_TableQA.ipynb
  tutorials/Tutorial15_TableQA.py
Labels: topic:tableQA, type:documentation, topic:retriever, topic:tutorials

#2498 Fix `OpenSearchDocumentStore`'s `__init__`
  .github/workflows/linux_ci.yml
  haystack/document_stores/elasticsearch.py
  test/test_document_store.py
Labels: topic:document_store

#2503 Speedup crawler tests
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/connector/crawler.py
  setup.cfg
  test/node_tests/test_connector.py
Labels: ignore-for-release-notes

#2514 Upgrade transformers version to 4.18.0
  setup.cfg
  test/test_tokenization.py
Labels: topic: dependencies

#2520 fix small typo in Document doc string
  docs/_src/api/api/primitives.md
  haystack/schema.py
Labels: type:documentation

#2522 Remove safe import from `ElasticsearchDocumentStore`
  docs/_src/api/api/file_converter.md
  docs/_src/api/api/pipelines.md
  haystack/document_stores/__init__.py
Labels: type:refactor, topic:document_store, topic: dependencies, ignore-for-release-notes

#2436 Add sort arg to JoinAnswers
  docs/_src/api/api/other.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/other/join_answers.py
Labels: type:bug, action:needs documentation, topic:pipeline, topic:reader

#2515 rearrange contributing guidelines
  CONTRIBUTING.md
Labels: type:documentation

#2526 Fix tutorials 4, 7 and 8
  docs/_src/tutorials/tutorials/4.md
  docs/_src/tutorials/tutorials/7.md
  docs/_src/tutorials/tutorials/8.md
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial7_RAG_Generator.ipynb
  tutorials/Tutorial7_RAG_Generator.py
  tutorials/Tutorial8_Preprocessing.ipynb
Labels: topic:tutorials

#2531 Handle transformers pipeline flattening lists of length 1
  haystack/nodes/reader/transformers.py
Labels: topic:reader

#2538 Upgrade torch version to 1.11
  .github/workflows/autoformat.yml
  .github/workflows/linux_ci.yml
  .github/workflows/windows_ci.yml
  setup.cfg
Labels: topic: dependencies

#2554 [CI refactoring] Categorize tests into folders
  .github/workflows/linux_ci.yml
  test/document_stores/__init__.py
  test/document_stores/test_document_store.py
  test/document_stores/test_faiss_and_milvus.py
  test/document_stores/test_knowledge_graph.py
  test/document_stores/test_weaviate.py
  test/modeling/__init__.py
  test/modeling/test_distillation.py
  test/modeling/test_modeling_dpr.py
  test/modeling/test_modeling_inference.py
  test/modeling/test_modeling_prediction_head.py
  test/modeling/test_modeling_processor.py
  test/modeling/test_modeling_processor_saving_loading.py
  test/modeling/test_modeling_question_answering.py
  test/modeling/test_tokenization.py
  test/nodes/__init__.py
  test/nodes/test_connector.py
  test/nodes/test_document_classifier.py
  test/nodes/test_extractor.py
  test/nodes/test_file_converter.py
  test/nodes/test_filetype_classifier.py
  test/nodes/test_generator.py
  test/nodes/test_preprocessor.py
  test/nodes/test_question_generator.py
  test/nodes/test_ranker.py
  test/nodes/test_reader.py
  test/nodes/test_retriever.py
  test/nodes/test_summarizer.py
  test/nodes/test_summarizer_translation.py
  test/nodes/test_table_reader.py
  test/nodes/test_translator.py
  test/others/__init__.py
  test/others/test_schema.py
  test/others/test_telemetry.py
  test/others/test_utils.py
  test/pipelines/__init__.py
  test/pipelines/test_eval.py
  test/pipelines/test_pipeline.py
  test/pipelines/test_pipeline_debug_and_validation.py
  test/pipelines/test_pipeline_extractive_qa.py
  test/pipelines/test_pipeline_yaml.py
  test/pipelines/test_ray.py
  test/pipelines/test_standard_pipelines.py
Labels: type:refactor, topic:tests, ignore-for-release-notes

#2564 Smaller demo instance type
  .github/workflows/demo.yaml
Labels: ignore-for-release-notes

#2566 Update scriptrunner module path for streamlit ui
  ui/webapp.py
Labels: ignore-for-release-notes

#2567 added launch_tika method
  haystack/nodes/file_converter/tika.py
Labels: topic:preprocessing

#2565 Warnings for write operations of `DeepsetCloudDocumentStore`
  docs/_src/api/api/document_store.md
  haystack/document_stores/deepsetcloud.py
  haystack/nodes/base.py
  haystack/utils/__init__.py
  haystack/utils/reflection.py
  test/pipelines/test_pipeline.py
Labels: action:needs documentation, type:feature, journey:advanced, topic:dc_document_store

#2525 Prevent losing names of utilized components when loaded from config
  docs/_src/api/api/pipelines.md
  haystack/nodes/base.py
  haystack/pipelines/base.py
  haystack/pipelines/ray.py
  haystack/pipelines/utils.py
  test/pipelines/test_pipeline.py
  test/pipelines/test_pipeline_yaml.py
Labels: type:bug, topic:save/load, topic:pipeline

#2556 [CI refactoring] Improve `autoformat.yml`
  .github/utils/code_and_docs.sh
  .github/utils/convert_notebooks_into_webpages.py
  .github/workflows/autoformat.yml
  .github/workflows/linux_ci.yml
  docs/_src/tutorials/tutorials/convert_ipynb.py
Labels: type:refactor, ignore-for-release-notes

#2537 [Weaviate] Exit the while loop when we query less documents than available
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: topic:document_store, topic:weaviate

#2097 Add DeBERTaV2/V3 support
  haystack/modeling/model/language_model.py
  haystack/modeling/model/tokenization.py
  haystack/modeling/training/base.py
  setup.cfg
Labels: action:needs documentation, topic:models, topic:reader

#2569 Show search endpoint after deepset Cloud deployment
  docs/_src/api/api/pipelines.md
  haystack/pipelines/base.py
  haystack/utils/deepsetcloud.py
  test/pipelines/test_pipeline.py
Labels: type:feature, topic:dc_document_store

#2570 Upload files to deepset Cloud
  haystack/utils/deepsetcloud.py
  test/others/test_utils.py
Labels: type:feature, topic:document_store, topic:dc_document_store

#2543 Add training checkpoint in retriever trainer
  docs/_src/api/api/retriever.md
  haystack/nodes/retriever/dense.py
Labels: topic:train, topic:retriever

#2574 Do not copy `_component_config` in `get_components_definitions`
  haystack/pipelines/config.py
  test/pipelines/test_pipeline.py
Labels: type:bug, topic:elasticsearch, topic:pipeline, topic:document_store, journey:advanced

#2575 Change signature of queries param in batch methods
  docs/_src/api/api/document_store.md
  docs/_src/api/api/generator.md
  docs/_src/api/api/pipelines.md
  docs/_src/api/api/ranker.md
  docs/_src/api/api/reader.md
  docs/_src/api/api/retriever.md
  docs/_src/api/api/translator.md
  docs/_src/tutorials/tutorials/11.md
  haystack/document_stores/base.py
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/elasticsearch.py
  haystack/nodes/answer_generator/base.py
  haystack/nodes/other/docs2answers.py
  haystack/nodes/query_classifier/base.py
  haystack/nodes/query_classifier/sklearn.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/ranker/base.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/reader/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/sparse.py
  haystack/nodes/retriever/text2sparql.py
  haystack/nodes/translator/base.py
  haystack/nodes/translator/transformers.py
  haystack/pipelines/base.py
  rest_api/test/test_rest_api.py
  test/conftest.py
  test/nodes/test_extractor.py
  test/nodes/test_ranker.py
  test/nodes/test_reader.py
  test/nodes/test_retriever.py
  test/nodes/test_table_reader.py
  test/pipelines/test_pipeline.py
  tutorials/Tutorial11_Pipelines.ipynb
  tutorials/Tutorial11_Pipelines.py
Labels: topic:pipeline

#2591 Fix `StaleElementReferenceException` in Crawler
  haystack/nodes/connector/crawler.py
Labels: topic:preprocessing

#2588 Avoid empty `api_endpoint` in `load_from_deepset_cloud`
  haystack/pipelines/base.py
Labels: ignore-for-release-notes

#2595 Add `run_batch` for standard pipelines
  docs/_src/api/api/pipelines.md
  haystack/pipelines/standard_pipelines.py
  test/pipelines/test_standard_pipelines.py
Labels: topic:pipeline

#2534 Create eval runs on deepset Cloud
  haystack/utils/__init__.py
  haystack/utils/deepsetcloud.py
  test/others/test_utils.py
Labels: action:needs documentation, type:feature, ignore-for-release-notes

#2616 Fix Pipeline.get_config() for forked pipelines
  haystack/pipelines/base.py
  haystack/utils/deepsetcloud.py
  test/pipelines/test_pipeline.py
Labels: type:bug, topic:pipeline, journey:intermediate
