Repository deepset-ai/haystack, pull requests merged in 2022-01, with the labels that each got.

#1926 Fix issue #1925 - UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow
  haystack/modeling/data_handler/processor.py
Labels: topic:speed, topic:retrieval

#1861 Support custom headers per request in pipeline
  docs/_src/api/api/document_store.md
  docs/_src/api/api/retriever.md
  haystack/document_stores/base.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/graphdb.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus.py
  haystack/document_stores/milvus2x.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/sparse.py
  test/test_document_store.py
  test/test_pipeline.py
Labels: topic:document_store

#1905 Extend TranslationWrapper to work with QA Generation
  docs/_src/api/api/translator.md
  docs/_src/tutorials/tutorials/13.md
  haystack/nodes/translator/base.py
  haystack/nodes/translator/transformers.py
  tutorials/Tutorial13_Question_generation.ipynb
  tutorials/Tutorial13_Question_generation.py
Labels: type:feature, topic:pipeline

#1910 Custom id hashing on documentstore level
  docs/_src/api/api/document_store.md
  docs/_src/api/api/primitives.md
  haystack/document_stores/base.py
  haystack/document_stores/graphdb.py
  haystack/document_stores/sql.py
  haystack/schema.py
  test/test_document_store.py
  test/test_schema.py
Labels: breaking change, topic:document_store

#1909 Add RCIReader for TableQA
  docs/_src/api/api/reader.md
  haystack/nodes/__init__.py
  haystack/nodes/reader/__init__.py
  haystack/nodes/reader/table.py
  test/conftest.py
  test/test_table_reader.py
Labels: type:feature, topic:tableQA

#1938 Fix retrieving documents in `WeaviateDocumentStore` with `content_type=None`
  haystack/document_stores/weaviate.py
Labels: type:bug, topic:document_store

#1933 Fix Numba TypingError in `normalize_embedding` for cosine similarity
  docs/_src/api/api/document_store.md
  haystack/document_stores/base.py
Labels: type:bug, topic:document_store, topic:retrieval

#1937 Fix loading a saved `FAISSDocumentStore`
  haystack/document_stores/faiss.py
  test/test_faiss_and_milvus.py
Labels: type:bug, topic:faiss, topic:save/load, topic:document_store

#1928 Fix #1927 - RuntimeError when loading data using data_silo due to many open file descriptors from multiprocessing
  docs/_src/api/api/retriever.md
  haystack/modeling/data_handler/data_silo.py
  haystack/nodes/retriever/dense.py
Labels: topic:speed, topic:preprocessing

#1936 Propagate duplicate_documents to base class initialization
  haystack/document_stores/faiss.py
  haystack/document_stores/milvus.py
  haystack/document_stores/milvus2x.py
Labels: type:bug, topic:document_store

#1923 Add TinyBERT data augmentation
  haystack/utils/augment_squad.py
  test/samples/glove/tiny.txt
  test/test_utils.py
Labels: topic:models

#1961 Fix vector_id collision in FAISS
  haystack/document_stores/faiss.py
Labels: topic:faiss, topic:document_store

#1960 Upgrade torch version
  Dockerfile-GPU
  requirements.txt
Labels: topic:installation, dependencies

#1922 Unify vector_dim and embedding_dim parameter in Document Store
  docs/_src/api/api/document_store.md
  docs/_src/tutorials/tutorials/12.md
  haystack/document_stores/faiss.py
  haystack/document_stores/milvus.py
  haystack/document_stores/milvus2x.py
  test/conftest.py
  test/pytest.ini
  test/test_document_store.py
  test/test_generator.py
  test/test_retriever.py
  tutorials/Tutorial12_LFQA.ipynb
  tutorials/Tutorial12_LFQA.py
Labels: type:refactor, topic:document_store

#1978 Add models to demo docker image
  Dockerfile
  Dockerfile-GPU
  haystack/utils/docker.py
Labels: type:feature, topic:docker, journey:first steps

#1987 Enable batch mode for SAS cross encoders
  haystack/nodes/evaluator/evaluator.py
Labels: type:feature, topic:eval, journey:advanced

#1992 Upgrade pillow version to 9.0.0
  requirements.txt
Labels: topic: dependencies

#1990 Implement proper FK in `MetaDocumentORM` and `MetaLabelORM` to work on PostgreSQL
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/milvus.py
  haystack/document_stores/milvus2x.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  test/conftest.py
  test/test_document_store.py
  test/test_faiss_and_milvus.py
  test/test_weaviate.py
Labels: type:bug, breaking change, topic:sql, topic:document_store, journey:advanced

#1962 Add isolated node eval mode in pipeline eval
  docs/_src/api/api/pipelines.md
  docs/_src/api/api/primitives.md
  haystack/nodes/reader/base.py
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  haystack/schema.py
  test/test_eval.py
Labels: topic:eval

#2005 update link to annotation tool docu
  docs/_src/tutorials/tutorials/2.md
  tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb
Labels: topic:labelling, type:documentation

#1995 Extend Tutorial 5 with Upper Bound Reader Eval Metrics
  docs/_src/tutorials/tutorials/5.md
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
Labels: topic:eval, type:documentation

#2008 Add nDCG to `pipeline.eval()`'s document metrics
  docs/_src/tutorials/tutorials/5.md
  haystack/schema.py
  test/test_eval.py
Labels: topic:eval

#2001 distinguish intermediate layer & prediction layer distillation phases with different parameters
  docs/_src/api/api/reader.md
  haystack/nodes/reader/farm.py
  test/test_distillation.py
Labels: topic:speed, topic:reader

#2006 Replace SessionState with Streamlit built-in
  ui/Dockerfile
  ui/SessionState.py
  ui/webapp.py
Labels: type:refactor, topic:ui, journey:first steps

#2025 Add distillation to finetuning tutorial
  docs/_src/tutorials/tutorials/2.md
  haystack/utils/augment_squad.py
  test/test_utils.py
  tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb
  tutorials/Tutorial2_Finetune_a_model_on_your_data.py
Labels: topic:reader, type:documentation

#2038 Add ndcg and eval_mode to docs
  docs/_src/api/api/primitives.md
  haystack/schema.py
Labels: topic:eval, type:documentation

#2063 Pin Milvus to <2.0.0
  requirements.txt
Labels: type:bug, topic:document_store, topic: dependencies, journey:first steps

#2069 fix answer is not subscriptable error
  tutorials/Tutorial7_RAG_Generator.ipynb
  tutorials/Tutorial7_RAG_Generator.py
Labels: type:bug, journey:first steps, topic:tutorials

#2064 fix: get_documents_by_id should return docs for all passed ids
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
  test/test_document_store.py
Labels: type:bug, topic:document_store, journey:first steps

#2065 Add `top_k_join` parameter to `JoinDocuments.run`
  haystack/nodes/other/join_docs.py
  test/test_standard_pipelines.py
Labels: type:feature, topic:pipeline, journey:advanced

#2071 Fix finetuning notebook augmentation
  docs/_src/tutorials/tutorials/2.md
  haystack/modeling/model/language_model.py
  tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb
  tutorials/Tutorial2_Finetune_a_model_on_your_data.py
Labels: topic:models, topic:reader, topic:tutorials

#1901 Convert doc embedding from ndarray to list of float for REST API
  rest_api/controller/search.py
Labels: topic:api

#2061 pass faiss batch_size to sqldocumentstore
  haystack/document_stores/faiss.py
Labels: type:bug, topic:document_store, journey:advanced

#2075 Remove stray requirements.txt files and update README.md
  README.md
  docs/_src/tutorials/tutorials/7.md
  requirements-dev.txt
  requirements.txt
Labels: topic:installation, type:refactor, type:documentation, topic: dependencies, journey:first steps

#2003 Remove run_docker_gpu.sh
  .github/workflows/formatting.yaml
  .github/workflows/shell_check.sh
  run_docker_gpu.sh
Labels: topic:docker, type:refactor

#2083 Disable cache on the CI
  .github/workflows/linux_ci.yml
  .github/workflows/windows_ci.yml
  haystack/__init__.py
  setup.cfg
Labels: type:bug, topic:tests

#2080 Fixed the Search Field mapping in ElasticSearch DocumentStore
  haystack/document_stores/elasticsearch.py
  test/test_document_store.py
Labels: type:bug, topic:elasticsearch, topic:document_store
