Repository deepset-ai/haystack, pull requests merged in 2022-10, with the labels that each got.

#3278 fix: remove debug step from job
  .github/workflows/docker_release.yml
Labels: topic:docker

#3345 fix: Allow less restrictive values for parameters in Pipeline configurations
  haystack/pipelines/config.py
  test/pipelines/test_pipeline_yaml.py
Labels: topic:save/load, topic:pipeline

#3347 fix: eval() with `add_isolated_node_eval=True` breaks if no node supports it
  haystack/pipelines/base.py
  test/pipelines/test_eval.py
Labels: type:bug, topic:eval, topic:pipeline, journey:advanced

#3247 docs: improve readability of benchmarks readme
  test/benchmarks/README.md
Labels: type:documentation, ignore-for-release-notes

#3354 feat: add multi-platform Docker images
  .github/workflows/docker_release.yml
  docker/README.md
  docker/docker-bake.hcl
Labels: topic:docker

#3351 Update weaviate schema doc link
  haystack/document_stores/weaviate.py
Labels: type:documentation, ignore-for-release-notes

#3317 chore: add deprecation notice to the old dockerfiles
  Dockerfile
  Dockerfile-GPU
  Dockerfile-GPU-minimal
Labels: topic:docker, type:documentation, ignore-for-release-notes

#3366 fix: Added checks for DataParallel and WrappedDataParallel
  haystack/modeling/evaluation/eval.py
  haystack/modeling/training/base.py
  test/modeling/test_dpr.py
Labels: type:bug, topic:speed, topic:train

#3318 feat: add support for Elasticsearch 7.16.2
  .github/workflows/tests.yml
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/retriever/sparse.py
  pyproject.toml
  test/document_stores/test_opensearch.py
Labels: topic:elasticsearch, topic:document_store, topic:dependencies, topic:opensearch

#3372 refactor: remove dead code from `FAISSDocumentStore`
  haystack/document_stores/faiss.py
Labels: topic:faiss, topic:document_store

#3367 [CI] Use VERSION.txt to sync with Readme
  .github/workflows/readme_integration.yml
  .github/workflows/readme_sync.yml
Labels: type:documentation, ignore-for-release-notes, topic:CI

#3363 feat: extract label aggregation
  haystack/document_stores/base.py
  haystack/utils/__init__.py
  haystack/utils/labels.py
Labels: type:feature, topic:eval, journey:advanced

#3383 fix: allow same `vector_id` in different indexes for SQL-based Document stores
  haystack/document_stores/faiss.py
  haystack/document_stores/sql.py
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_faiss.py
Labels: type:bug, topic:faiss, topic:sql, topic:document_store

#3356 feat: Add OpenAIEmbeddingEncoder to EmbeddingRetriever
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/nodes/test_retriever.py
Labels: type:feature, topic:retriever

#3337 fix: demo won't start through Docker compose
  docker-compose.yml
  ui/Dockerfile
  ui/webapp.py
Labels: topic:docker, topic:ui, ignore-for-release-notes

#3388 fix: stable YAML schema generation
  .pre-commit-config.yaml
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/_json_schema.py
Labels: type:bug, topic:pipeline, topic:DX

#3399 fix: Update how schema is ordered
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/json-schemas/haystack-pipeline.schema.json
  haystack/nodes/_json_schema.py
Labels: topic:pipeline, topic:DX

#3408 feat: Speed up integration tests (nodes)
  .github/workflows/tests.yml
  test/conftest.py
  test/nodes/test_summarizer.py
  test/nodes/test_summarizer_translation.py
Labels: topic:speed, topic:CI

#3330 fix: Fix the error of wrong page numbers when documents contain empty pages.
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_preprocessor.py
Labels: topic:preprocessing

#3389 bug: change type of split_by to Literal including None
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/preprocessor/base.py
  haystack/nodes/preprocessor/preprocessor.py
Labels: type:bug, topic:preprocessing

#3396 refactor: update package strategy in ui
  .github/workflows/tests.yml
  ui/Dockerfile
  ui/README.md
  ui/pyproject.toml
  ui/setup.py
  ui/ui/__about__.py
  ui/ui/__init__.py
  ui/ui/eval_labels_example.csv
  ui/ui/utils.py
  ui/ui/webapp.py
Labels: type:refactor, topic:ui, journey:first steps

#3435 Fix: update pyworld pin
  pyproject.toml
Labels: type:bug, topic:dependencies, journey:first steps, topic:audio

#3430 docs: Add multimodal retrieval to API docs
  docs/_src/api/pydoc/retriever.yml
Labels: type:documentation, topic:retriever, ignore-for-release-notes

#3419 feat: send event if number of queries exceeds threshold
  haystack/pipelines/base.py
  haystack/telemetry.py
Labels: topic:pipeline

#3417 Fix the readme version to sync
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI

#3402 docs: Extend utils API docs coverage
  docs/_src/api/pydoc/utils.yml
  haystack/utils/doc_store.py
Labels: type:documentation

#3392 Feat: allow decreasing size of datasets loaded from BEIR
  haystack/pipelines/base.py
Labels: topic:eval

#3446 feat: add `__cointains__` to `Span`
  haystack/schema.py
  test/others/test_schema.py
Labels: type:feature, topic:audio

#3448 Bug: Fix prompt length computation
  haystack/nodes/answer_generator/openai.py
Labels: type:bug, topic:retriever

#3465 fix: disabling telemetry prevents writing config
  haystack/telemetry.py
Labels: topic:telemetry

#3411 refactor: Change `no_answer` attribute
  docs/_src/api/openapi/openapi-1.11.0rc0.json
  docs/_src/api/openapi/openapi.json
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/document_stores/utils.py
  haystack/schema.py
  haystack/utils/deepsetcloud.py
  test/document_stores/test_document_store.py
  test/others/test_schema.py
Labels: type:refactor

#3455 fix: warning if doc store similarity function is incompatible with Sentence Transformers model
  haystack/nodes/retriever/_embedding_encoder.py
Labels: type:feature, topic:models, type:refactor, topic:retriever

#3474 docs: Change slug and title of utils API pydoc
  docs/_src/api/pydoc/utils.yml
Labels: type:bug, type:documentation, ignore-for-release-notes

#3453 feat: Add CohereEmbeddingEncoder to EmbeddingRetriever
  .github/workflows/tests.yml
  haystack/errors.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/nodes/test_retriever.py
Labels: type:feature, topic:retriever

#3445 feat: Extraction of headlines in markdown files
  docs/_src/api/api/file_converter.md
  haystack/json-schemas/haystack-pipeline-1.11.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/file_converter/markdown.py
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_file_converter.py
  test/nodes/test_preprocessor.py
  test/samples/markdown/sample.md
Labels: type:feature, topic:file_converter, topic:preprocessing

#3462 bug: replace decorator with counter attribute for pipeline event
  haystack/pipelines/base.py
  haystack/utils/reflection.py
  test/pipelines/test_pipeline_debug_and_validation.py
Labels: topic:pipeline

#3379 feat: add `document_store` to all `BaseRetriever.retrieve()` and `BaseRetriever.retrieve_batch()` implementations
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-1.11.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/retriever.py
  haystack/nodes/retriever/sparse.py
  test/conftest.py
  test/nodes/test_question_generator.py
Labels: type:feature, topic:pipeline, topic:retriever

#3480 fix: add missing JSON schemas
  haystack/json-schemas/haystack-pipeline-1.10.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.10.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-1.11.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-1.9.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.9.1.schema.json
  haystack/json-schemas/haystack-pipeline.schema.json
Labels: type:bug, topic:pipeline, ignore-for-release-notes

#3336 Updating readme to point to new docs site
  README.md
Labels: type:documentation, ignore-for-release-notes

#3482 refactor: replace YAML schema check with a dispatch call
  .github/workflows/openapi.yml
  .github/workflows/pipeline_schema.yml
Labels: topic:pipeline, type:refactor, ignore-for-release-notes, topic:CI, topic:DX

#3491 fix: fix docs badge
  README.md
Labels: ignore-for-release-notes

#3493 feat: add Schemas badge on README.md
  README.md
Labels: ignore-for-release-notes

#3469 fix: pattern to match tags push
  .github/workflows/docker_release.yml
Labels: topic:CI

#3470 fix: using onnx converter on XLMRoberta architecture
  haystack/modeling/model/adaptive_model.py
  test/nodes/test_reader.py
Labels: type:bug

#3497 fix docker minimal deprecated image
  Dockerfile-GPU-minimal
Labels: topic:docker, ignore-for-release-notes

#3485 refactor: remove `json-schemas`
  .github/workflows/tests.yml
  haystack/json-schemas/.gitignore
  haystack/json-schemas/haystack-pipeline-1.0.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.1.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.11.0rc0.schema.json
  haystack/json-schemas/haystack-pipeline-1.2.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.3.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.4.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.5.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.6.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.7.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.7.1.schema.json
  haystack/json-schemas/haystack-pipeline-1.7.2.schema.json
  haystack/json-schemas/haystack-pipeline-1.8.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.9.0.schema.json
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/json-schemas/haystack-pipeline.schema.json
  rest_api/test/samples/test.haystack-pipeline.yml
Labels: topic:pipeline, type:refactor, ignore-for-release-notes, topic:build/distribution, topic:DX

#3416 [release process] Create new schema when bumping unstable
  .github/workflows/minor_version_release.yml
Labels: ignore-for-release-notes

#3478 fix: do not reference package directory in `PDFToTextOCRConverter.convert()`
  haystack/nodes/file_converter/pdf.py
Labels: type:bug, topic:file_converter, topic:preprocessing, topic:indexing

#3503 telemetry changes for tutorial 19
  haystack/telemetry.py
Labels: type:feature, ignore-for-release-notes, topic:telemetry

#3449 Document Store test refactoring
  .github/workflows/tests.yml
  conftest.py
  pyproject.toml
  test/conftest.py
  test/document_stores/test_base.py
  test/document_stores/test_document_store.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_opensearch.py
  test/document_stores/test_search_engine.py
Labels: type:refactor, topic:document_store, topic:CI, topic:DX

#3508 add workflow to triage new issues with GH projects
  .github/workflows/project.yml
Labels: ignore-for-release-notes, topic:CI

#3507 fix: generate docs for `search_engine.py`
  docs/_src/api/pydoc/document-store.yml
Labels: type:bug, topic:elasticsearch, type:documentation, topic:document_store, journey:first steps, ignore-for-release-notes
