Repository deepset-ai/haystack, pull requests merged in 2022-06, with the labels that each got.

#2624 Fix new PyLint errors
  haystack/document_stores/faiss.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/evaluation/metrics.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/tokenization.py
  haystack/modeling/utils.py
  haystack/nodes/evaluator/evaluator.py
  haystack/nodes/file_converter/parsr.py
  haystack/pipelines/base.py
  haystack/schema.py
  haystack/utils/squad_to_dpr.py
  pyproject.toml
Labels: type:refactor, topic: dependencies, ignore-for-release-notes

#2388 Add Generative Pseudo Labeling (GPL)
  docs/_src/api/api/question_generator.md
  docs/_src/api/api/retriever.md
  haystack/__init__.py
  haystack/json-schemas/haystack-pipeline-1.1.0.schema.json
  haystack/json-schemas/haystack-pipeline-1.3.0.schema.json
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/label_generator/__init__.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/nodes/test_label_generator.py
Labels: action:needs documentation, topic:train, topic:labelling, topic:retriever

#2630 Fix streamlit version to <1.10 in UI dependencies
  ui/setup.py
Labels: ignore-for-release-notes

#2557 [CI refactoring] Rewrite `Crawler` tests
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
  test/samples/crawler/index.html
  test/samples/crawler/page1.html
  test/samples/crawler/page2.html
Labels: breaking change, type:refactor, topic:preprocessing, topic:tests, ignore-for-release-notes

#2576 [CI Refactoring] Workflow refactoring
  .github/actions/python_cache/action.yml
  .github/workflows/autoformat-check.yml
  .github/workflows/linux_ci.yml
  .github/workflows/tests.yml
  .github/workflows/windows_ci.yml
  pyproject.toml
  setup.cfg
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_faiss_and_milvus.py
  test/document_stores/test_knowledge_graph.py
  test/nodes/test_document_classifier.py
  test/nodes/test_file_converter.py
  test/nodes/test_generator.py
  test/nodes/test_label_generator.py
  test/nodes/test_preprocessor.py
  test/nodes/test_reader.py
  test/nodes/test_retriever.py
  test/nodes/test_summarizer.py
  test/nodes/test_summarizer_translation.py
  test/pipelines/test_pipeline_extractive_qa.py
Labels: type:refactor, topic:tests, ignore-for-release-notes

#2640 Fix failing `Crawler` test
  test/nodes/test_connector.py
Labels: type:bug, topic:tests, ignore-for-release-notes

#2639 Do not show success message on failed evalset upload
  haystack/utils/deepsetcloud.py
  test/others/test_utils.py
Labels: type:bug, journey:advanced, ignore-for-release-notes

#2643 Make 'ready for review' an event that triggers the tests workflow
  .github/workflows/tests.yml
Labels: type:feature, topic:tests, ignore-for-release-notes

#2647 Create target folder if not exists in EvalResult.save()
  haystack/schema.py
Labels: type:feature, topic:save/load, topic:eval, journey:advanced

#2642 Make crawler extract also hidden text
  docs/_src/api/api/crawler.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
  test/samples/crawler/page_w_hidden_text.html
Labels: action:needs documentation, type:feature, topic:preprocessing, journey:intermediate

#2633 Update docstrings for GPL
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/retriever/_embedding_encoder.py
Labels: topic:train, type:documentation, topic:retriever

#2634 Add GPL API docs, unit tests update
  docs/_src/api/api/pseudo_label_generator.md
  docs/_src/api/pydoc/pseudo-label-generator.yml
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/label_generator/pseudo_label_generator.py
  test/nodes/test_label_generator.py
Labels: action:needs documentation, topic:train, type:refactor, type:documentation, topic:tests

#2573 [CI Refactoring] Move unrelated tests out of `test_pipeline.py`
  test/nodes/test_other.py
  test/pipelines/test_pipeline.py
Labels: type:refactor, topic:tests, ignore-for-release-notes

#2652 Replace `slow` markers with `integration` in GPL tests
  test/nodes/test_label_generator.py
Labels: type:bug, topic:tests, ignore-for-release-notes

#2635 [CI] Move `autoformat-check.yml` into `tests.yml`
  .github/workflows/autoformat-check.yml
  .github/workflows/tests.yml
Labels: type:refactor, topic:tests, ignore-for-release-notes

#2577 [CI Refactoring] Refactor `Document` fixtures in tests
  docs/_src/api/api/crawler.md
  docs/_src/api/api/primitives.md
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/nodes/connector/crawler.py
  haystack/schema.py
  test/conftest.py
  test/document_stores/test_document_store.py
  test/nodes/test_generator.py
  test/nodes/test_label_generator.py
  test/nodes/test_other.py
  test/nodes/test_reader.py
  test/nodes/test_retriever.py
  test/pipelines/test_pipeline.py
  test/samples/embeddings/embedding_1.txt
  test/samples/embeddings/embedding_2.txt
Labels: type:refactor, topic:tests, ignore-for-release-notes

#2459 Add execute_eval_run example to Tutorial 5
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
Labels: topic:eval, topic:tutorials

#2547 [CI refactoring] Tutorials on CI
  .github/utils/code_and_docs.sh
  .github/utils/tutorials.sh
  .github/workflows/tests.yml
  .github/workflows/tutorials.yml
  .github/workflows/tutorials_nightly.yml
  README.md
  tutorials/Tutorial10_Knowledge_Graph.ipynb
  tutorials/Tutorial10_Knowledge_Graph.py
  tutorials/Tutorial14_Query_Classifier.py
  tutorials/Tutorial15_TableQA.ipynb
Labels: type:feature, journey:first steps, topic:tutorials, ignore-for-release-notes

#2584 `AnswerToSpeech`
  .github/workflows/autoformat.yml
  .github/workflows/tests.yml
  docs/_src/api/api/primitives.md
  docs/_src/api/openapi/openapi-1.4.1rc0.json
  docs/_src/api/openapi/openapi-1.5.1rc0.json
  docs/_src/api/openapi/openapi.json
  haystack/errors.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/audio/__init__.py
  haystack/nodes/audio/_text_to_speech.py
  haystack/nodes/audio/answer_to_speech.py
  haystack/nodes/audio/document_to_speech.py
  haystack/schema.py
  haystack/telemetry.py
  haystack/utils/export_utils.py
  setup.cfg
  test/nodes/test_audio.py
  test/others/test_schema.py
  test/samples/audio/answer.wav
  test/samples/audio/the context for this answer is here.wav
  test/samples/audio/this is the content of the document.wav
  tutorials/Tutorial17_Audio.ipynb
  tutorials/Tutorial17_Audio.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
Labels: action:needs documentation, type:feature, topic:audio

#2661 Remove `pull_request` from triggers of `Tutorials (nightly)`
  .github/workflows/tutorials_nightly.yml
Labels: ignore-for-release-notes

#1902 Use AutoTokenizer by default, to easily adapt to new models and token…
  haystack/modeling/model/tokenization.py
  haystack/nodes/retriever/dense.py
  test/nodes/test_retriever.py
Labels: type:feature, topic:models

#2662 Fix typo in `code_and_docs.sh`
  .github/utils/code_and_docs.sh
  .github/utils/convert_notebooks_into_webpages.py
  .github/workflows/autoformat.yml
  docs/_src/tutorials/tutorials/1.md
  docs/_src/tutorials/tutorials/10.md
  docs/_src/tutorials/tutorials/11.md
  docs/_src/tutorials/tutorials/14.md
  docs/_src/tutorials/tutorials/15.md
  docs/_src/tutorials/tutorials/17.md
  docs/_src/tutorials/tutorials/5.md
Labels: ignore-for-release-notes

#2612 Fix JoinAnswer/JoinNode
  docs/_src/api/api/other.md
  haystack/nodes/other/__init__.py
  haystack/nodes/other/join.py
  haystack/nodes/other/join_answers.py
  haystack/nodes/other/join_docs.py
Labels: type:bug, topic:pipeline, journey:advanced

#2664 Extract common code for ES and OS into a base class
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
Labels: topic:elasticsearch, topic:document_store

#2673 Tutorial 4: Set similarity to `"cosine"` in DocStore initialization
  docs/_src/tutorials/tutorials/4.md
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
Labels: topic:tutorials, ignore-for-release-notes

#2659 Update contributor's checklists in PR template
  .github/pull_request_template.md
Labels: ignore-for-release-notes

#2694 Upgrade transformers to 4.20.0
  setup.cfg
Labels: topic: dependencies

#2700 Revert "Upgrade transformers to 4.20.0"
  setup.cfg
Labels: topic: dependencies, ignore-for-release-notes

#2714 Tutorial 14 doc changes
  docs/_src/tutorials/tutorials/14.md
Labels: ignore-for-release-notes

#2717 Fix using id_hash_keys as pipeline params
  docs/_src/api/api/file_converter.md
  docs/_src/api/api/preprocessor.md
  haystack/nodes/file_converter/base.py
  haystack/nodes/preprocessor/base.py
  test/nodes/test_file_converter.py
  test/nodes/test_preprocessor.py
Labels: type:bug, topic:file converter, topic:preprocessing, journey:intermediate

#2724 Replace deprecated Selenium methods
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
Labels: type:bug, topic:tests, topic:crawler

#2725 Fix match_context tests in test_utils.py
  haystack/utils/context_matching.py
  setup.cfg
  test/others/test_utils.py
Labels: type:bug, ignore-for-release-notes

#2705 Fix bugs in loading code from yaml
  haystack/nodes/base.py
Labels: type:bug, topic:document_store

#2632 Add GPL adaptation tutorial
  .github/utils/convert_notebooks_into_webpages.py
  docs/_src/tutorials/tutorials/18.md
  tutorials/Tutorial18_GPL.ipynb
  tutorials/Tutorial18_GPL.py
Labels: type:documentation

#2702 Upgrade transformers to 4.20.1
  setup.cfg
Labels: topic:dependencies

#2048 Update document scores based on ranker node
  docs/_src/api/api/ranker.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/ranker/sentence_transformers.py
  test/nodes/test_ranker.py
Labels: type:feature, topic:metadata, journey:intermediate

#2735 Pin es client to include bugfixes
  setup.cfg
Labels: type:bug, topic:elasticsearch, topic:dependencies, journey:first steps
