Repository deepset-ai/haystack, pull requests merged in 2022-09, with the labels that each got.

#3130 feat: add a security policy for Haystack
  SECURITY.md
Labels: type:feature

#3158 docs: add tests types to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: ignore-for-release-notes

#3148 refactor: update package strategy in rest_api
  .github/utils/generate_openapi_specs.py
  .github/workflows/tests.yml
  rest_api/README.md
  rest_api/pyproject.toml
  rest_api/rest_api/__about__.py
  rest_api/rest_api/__init__.py
  rest_api/rest_api/application.py
  rest_api/rest_api/config.py
  rest_api/rest_api/controller/__init__.py
  rest_api/rest_api/controller/document.py
  rest_api/rest_api/controller/errors/__init__.py
  rest_api/rest_api/controller/errors/http_error.py
  rest_api/rest_api/controller/feedback.py
  rest_api/rest_api/controller/file_upload.py
  rest_api/rest_api/controller/search.py
  rest_api/rest_api/controller/utils.py
  rest_api/rest_api/pipeline/__init__.py
  rest_api/rest_api/pipeline/custom_component.py
  rest_api/rest_api/pipeline/pipeline_empty.haystack-pipeline.yml
  rest_api/rest_api/pipeline/pipelines.haystack-pipeline.yml
  rest_api/rest_api/pipeline/pipelines_dpr.haystack-pipeline.yml
  rest_api/rest_api/schema.py
  rest_api/rest_api/utils.py
  rest_api/setup.py
Labels: topic:rest_api

#3168 feat: add health check endpoint to rest api
  docs/_src/api/openapi/openapi-1.8.1rc0.json
  docs/_src/api/openapi/openapi.json
  rest_api/pyproject.toml
  rest_api/rest_api/controller/health.py
  rest_api/rest_api/utils.py
  rest_api/test/test_rest_api.py
Labels: type:feature, topic:rest_api, journey:advanced

#3162 refactoring: reimplement Docker strategy
  .github/workflows/docker_release.yml
  docker/Dockerfile.api
  docker/Dockerfile.base
  docker/README.md
  docker/docker-bake.hcl
Labels: topic:build/distribution, topic:DX

#3199 test: lower low boundary for accuracy in `test_calculate_context_similarity_on_non_matching_contexts`
  pyproject.toml
Labels: type:bug, topic:models, topic:eval

#3204 refactor: remove pre haystack-1.0 import paths support
  haystack/__init__.py
Labels: topic:installation, type:refactor, topic:dependencies

#3220 chore: disable Windows ES tests on CI
  .github/workflows/tests.yml
Labels: type:bug, topic:elasticsearch, topic:document_store, topic:tests, topic:dependencies, topic:windows, ignore-for-release-notes, topic:CI

#3222 chore: fix Windows CI
  .github/workflows/tests.yml
Labels: topic:windows

#3230 fix: Include fontconfig in the base Docker image
  docker/Dockerfile.base
  docker/docker-bake.hcl
Labels: topic:docker, ignore-for-release-notes

#3233 bug: fix pdftotext installation verification
  haystack/nodes/file_converter/pdf.py
Labels: type:bug, topic:preprocessing, topic:dependencies, journey:first steps, topic:windows

#3237 fix: handle Documents containing dataframes in Multilabel constructor
  docs/_src/api/api/primitives.md
  haystack/schema.py
  test/others/test_schema.py
Labels: type:bug

#3212 chore: remove f-strings from logs for performance reasons
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/memory_knowledgegraph.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/document_stores/utils.py
  haystack/document_stores/weaviate.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/dataset.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/triadaptive_model.py
  haystack/modeling/training/base.py
  haystack/modeling/utils.py
  haystack/nodes/_json_schema.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/document_classifier/base.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/file_converter/tika.py
  haystack/nodes/file_converter/txt.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/nodes/ranker/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/sparse.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/schema.py
  haystack/telemetry.py
  haystack/utils/deepsetcloud.py
  haystack/utils/doc_store.py
  haystack/utils/docker.py
  haystack/utils/experiment_tracking.py
  haystack/utils/import_utils.py
  haystack/utils/squad_to_dpr.py
  rest_api/rest_api/pipeline/__init__.py
  test/benchmarks/model_distillation.py
  test/benchmarks/reader.py
  test/benchmarks/retriever.py
  test/benchmarks/utils.py
  test/conftest.py
  test/mocks/pinecone.py
  test/pipelines/test_pipeline.py
  tutorials/Tutorial5_Evaluation.py
Labels: topic:speed, action:benchmark, topic:pipeline, type:refactor, journey:advanced

#3238 fix: make pydoc-markdown hook correctly resolve paths relative to repo root
  .github/utils/pydoc-markdown.py
  docs/_src/api/pydoc/primitives.yml
Labels: topic:DX

#3252 chore: add `DenseRetriever` abstraction
  docs/_src/api/api/document_store.md
  docs/_src/api/api/retriever.md
  haystack/document_stores/base.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/weaviate.py
  haystack/json-schemas/haystack-pipeline-main.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/document_stores/test_document_store.py
Labels: breaking change, type:refactor, topic:document_store, topic:retriever

#3267 Run checks on release branches
  .github/workflows/black.yml
  .github/workflows/docker_release.yml
  .github/workflows/readme_integration.yml
  .github/workflows/schemas.yml
  .github/workflows/tests.yml
Labels: topic:CI

#3217 feat: FAISS in OpenSearch: Support HNSW for cosine
  .github/workflows/tests.yml
  docs/_src/api/api/document_store.md
  haystack/document_stores/base.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_faiss.py
  test/document_stores/test_faiss_and_milvus.py
  test/document_stores/test_sql_based.py
Labels: type:feature, topic:faiss, topic:document_store, topic:opensearch

#3211 fix: ONNX FARMReader model conversion is broken
  haystack/modeling/model/adaptive_model.py
  test/nodes/test_reader.py
  test/nodes/test_retriever.py
Labels: topic:reader

#3282 docs: Fix a docstring in ray.py
  haystack/pipelines/ray.py
Labels: type:documentation

#3170 bug: JoinDocuments nodes produce incorrect results if preceded by another JoinDocuments node
  haystack/nodes/base.py
  test/pipelines/test_pipeline.py
Labels: type:bug, topic:pipeline, journey:advanced
