Repository deepset-ai/haystack, pull requests merged in 2022-04, with the labels that each got.

#1895 Upgrade `weaviate-client` to `3.3.3` and fix `get_all_documents`
  .github/workflows/linux_ci.yml
  CONTRIBUTING.md
  docs/_src/api/api/document_store.md
  docs/_src/usage/usage/document_store.md
  docs/v0.10.0/_src/api/api/document_store.md
  docs/v0.9.0/_src/api/api/document_store.md
  docs/v1.0.0/_src/api/api/document_store.md
  docs/v1.1.0/_src/api/api/document_store.md
  docs/v1.2.0/_src/api/api/document_store.md
  docs/v1.3.0/_src/api/api/document_store.md
  docs/v1.3.0/_src/usage/usage/document_store.md
  haystack/document_stores/filter_utils.py
  haystack/document_stores/weaviate.py
  haystack/utils/doc_store.py
  setup.cfg
  test/conftest.py
  test/test_document_store.py
Labels: type:bug, breaking change, topic:document_store, topic:weaviate

#2330 extract extension based on file's content
  haystack/nodes/file_classifier/__init__.py
  haystack/nodes/file_classifier/file_type.py
  setup.cfg
  test/samples/extensionless_files/docx_file
  test/samples/extensionless_files/gif_file
  test/samples/extensionless_files/html_file
  test/samples/extensionless_files/jpg_file
  test/samples/extensionless_files/mp3_file
  test/samples/extensionless_files/odt_file
  test/samples/extensionless_files/pdf_file
  test/samples/extensionless_files/png_file
  test/samples/extensionless_files/pptx_file
  test/samples/extensionless_files/txt_file
  test/samples/extensionless_files/wav_file
  test/samples/extensionless_files/zip_file
  test/test_filetype_classifier.py
Labels: type:feature, topic:file converter, topic:preprocessing

#2401 Set CI job timeout to 45 minutes
  .github/workflows/autoformat.yml
  .github/workflows/docker_build.yml
  .github/workflows/linux_ci.yml
  .github/workflows/windows_ci.yml
Labels: ignore-for-release-notes

#2294 Add `devices` alongside `use_gpu` in `FARMReader`
  docs/_src/api/api/reader.md
  haystack/json-schemas/haystack-pipeline-1.2.1rc0.schema.json
  haystack/json-schemas/haystack-pipeline-unstable.schema.json
  haystack/modeling/utils.py
  haystack/nodes/reader/farm.py
Labels: type:feature, topic:speed, topic:reader, journey:advanced

#2419 Exclude `beir` from Windows install
  setup.cfg
Labels: type:bug, topic:eval, topic: dependencies, journey:intermediate, topic:windows

#2425 Fix python-magic making Windows CI stuck
  setup.cfg
Labels: ignore-for-release-notes

#2432 Update `pdftotext` link
  .github/workflows/linux_ci.yml
  docs/_src/api/openapi/openapi-1.3.1rc0.json
  docs/_src/api/openapi/openapi.json
  docs/_src/tutorials/tutorials/8.md
  tutorials/Tutorial8_Preprocessing.ipynb
Labels: ignore-for-release-notes

#2412 Make `python-magic` fully optional
  docs/_src/api/openapi/openapi-1.3.1rc0.json
  docs/_src/api/openapi/openapi.json
  haystack/nodes/file_classifier/file_type.py
  test/test_filetype_classifier.py
Labels: type:bug, topic:preprocessing, topic:windows

#2443 Upgrade xpdf to 4.0.4
  Dockerfile
  Dockerfile-GPU
  Dockerfile-GPU-minimal
Labels: type:bug, topic:file converter, topic:docker, topic: dependencies, journey:first steps

#2442 Make sure that `debug=True` and `params={'debug': True}` behaves the same way
  haystack/pipelines/base.py
Labels: type:bug, topic:pipeline, journey:advanced

#2423 ElasticsearchRetriever to BM25Retriever
  docs/_src/api/api/document_classifier.md
  docs/_src/api/api/document_store.md
  docs/_src/api/api/pipelines.md
  docs/_src/api/api/ranker.md
  docs/_src/api/api/retriever.md
  docs/_src/tutorials/tutorials/1.md
  docs/_src/tutorials/tutorials/11.md
  docs/_src/tutorials/tutorials/13.md
  docs/_src/tutorials/tutorials/14.md
  docs/_src/tutorials/tutorials/15.md
  docs/_src/tutorials/tutorials/16.md
  docs/_src/tutorials/tutorials/5.md
  docs/_src/tutorials/tutorials/6.md
  haystack/document_stores/elasticsearch.py
  haystack/json-schemas/haystack-pipeline-1.1.0.schema.json
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/sparse.py
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  haystack/utils/squad_to_dpr.py
  rest_api/pipeline/pipelines.haystack-pipeline.yml
  test/benchmarks/utils.py
  test/conftest.py
  test/samples/dc/pipeline_config.json
  test/samples/pipeline/test_pipeline.yaml
  test/samples/pipeline/test_ray_pipeline.yaml
  test/test_eval.py
  test/test_extractor.py
  test/test_pipeline.py
  test/test_pipeline_debug_and_validation.py
  test/test_retriever.py
  test/test_standard_pipelines.py
  tutorials/Tutorial11_Pipelines.ipynb
  tutorials/Tutorial11_Pipelines.py
  tutorials/Tutorial13_Question_generation.ipynb
  tutorials/Tutorial13_Question_generation.py
  tutorials/Tutorial14_Query_Classifier.ipynb
  tutorials/Tutorial14_Query_Classifier.py
  tutorials/Tutorial15_TableQA.ipynb
  tutorials/Tutorial15_TableQA.py
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.ipynb
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
  tutorials/Tutorial1_Basic_QA_Pipeline.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
Labels: action:needs documentation, topic:retriever

#2453 Fix and use delete_index instead of delete_documents in tests
  .github/workflows/linux_ci.yml
  docs/_src/api/api/document_store.md
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus2.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  haystack/json-schemas/haystack-pipeline-master.schema.json
  test/conftest.py
  test/test_document_store.py
  test/test_eval.py
  test/test_retriever.py
  test/test_weaviate.py
Labels: type:bug, type:feature, topic:elasticsearch, topic:document_store, topic:tests, journey:advanced, topic:milvus, topic:pinecone, topic:weaviate

#2463 Disable telemetry logs per default
  haystack/telemetry.py
Labels: ignore-for-release-notes

#2457 Rename dataset to evaluation_set when logging to mlflow
  haystack/pipelines/base.py
Labels: type:bug, topic:eval, journey:advanced

#2460 Update docs of DeepsetCloudDocumentStore
  docs/_src/api/api/document_store.md
  haystack/document_stores/deepsetcloud.py
  haystack/utils/deepsetcloud.py
Labels: topic:document_store

#2468 Ignore mypy issues regarding files param of requests.post
  haystack/document_stores/graphdb.py
  haystack/nodes/file_converter/parsr.py
Labels: ignore-for-release-notes

#2448 Add support for aliases in elasticsearch document store
  haystack/document_stores/elasticsearch.py
  test/test_document_store.py
Labels: topic:elasticsearch, topic:document_store

#2462 Linearize tables in EmbeddingRetriever
  haystack/nodes/retriever/dense.py
Labels: topic:retriever

#2461 Renaming the ElasticsearchFilterOnlyRetriever to FilterRetriever
  docs/_src/api/api/retriever.md
  haystack/json-schemas/haystack-pipeline-master.schema.json
  haystack/nodes/__init__.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/sparse.py
  test/conftest.py
  test/test_retriever.py
Labels: action:needs documentation, topic:retriever

#2476 Fix reader.eval() and reader.eval_on_file() output
  haystack/nodes/reader/farm.py
Labels: type:bug, topic:eval, topic:reader, journey:intermediate
