Repository deepset-ai/haystack, pull requests merged in 2022-12, with the labels that each got.

#3657 Adjust get_type() method for pipelines
  haystack/pipelines/base.py
  test/pipelines/test_pipeline.py
Labels: topic:telemetry

#3646 fix: revert Weaviate query with filters and improve tests
  .github/workflows/tests.yml
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: topic:weaviate

#3669 fix: remove `beir` from `all-gpu`
  pyproject.toml
Labels: type:bug, topic:faiss, topic:eval, topic:dependencies

#3672 bug: Use tqdm auto instead of plain tqdm
  haystack/document_stores/memory.py
  haystack/document_stores/milvus.py
  haystack/document_stores/weaviate.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/training/base.py
  haystack/nodes/audio/document_to_speech.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/pipelines/base.py
  haystack/utils/augment_squad.py
  haystack/utils/context_matching.py
  haystack/utils/deepsetcloud.py
  haystack/utils/squad_data.py
  haystack/utils/squad_to_dpr.py
Labels: topic:pipeline, topic:document_store

#3678 fix: monkey patch for `SklearnQueryClassifier`
  haystack/nodes/query_classifier/sklearn.py
Labels: topic:pipeline, topic:dependencies

#3641 feat: Update table reader tests to check the answer scores
  test/conftest.py
  test/nodes/test_table_reader.py
Labels: type:feature, topic:tableQA, topic:tests

#3546 feat: add query_by_embedding_batch
  haystack/document_stores/base.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/retriever.py
  haystack/pipelines/standard_pipelines.py
  test/document_stores/test_memory.py
  test/document_stores/test_opensearch.py
  test/nodes/test_retriever.py
Labels: topic:elasticsearch, topic:document_store, topic:opensearch

#3627 feat: Adds all_terms_must_match parameter to BM25Retriever at runtime
  haystack/nodes/retriever/sparse.py
  test/nodes/test_retriever.py
Labels: type:feature, journey:intermediate, topic:retriever

#3680 fix: fix PreProcessor `split_by` schema
  haystack/nodes/preprocessor/preprocessor.py
Labels: type:bug, topic:preprocessing, journey:first steps, topic:indexing

#3679 refactor: remove `test` extra
  pyproject.toml
Labels: type:refactor, topic:dependencies, topic:DX

#3693 fix: pin `espnet` in the `audio` extra
  pyproject.toml
Labels: type:bug, topic:dependencies, topic:audio

#3699 fix: add trailing newlines to make `end-of-file-fixer` happy
  docs/_src/api/openapi/openapi-1.12.0rc0.json
  docs/_src/api/openapi/openapi.json
Labels: type:bug, topic:rest_api, journey:advanced, ignore-for-release-notes, topic:CI

#3660 fix: pinecone metadata format
  haystack/document_stores/pinecone.py
  test/document_stores/test_pinecone.py
Labels: type:bug, topic:document_store, topic:pinecone

#3692 fix: remove beir from the base GPU image
  docker/docker-bake.hcl
Labels: type:bug, topic:docker, topic:dependencies, journey:intermediate, topic:DX

#3725 chore: fix log
  haystack/nodes/retriever/multimodal/retriever.py
Labels: type:documentation, ignore-for-release-notes

#3665 proposal: Add PromptNode based on LLM
  proposals/text/3665-prompt-node.md
Labels: Proposal

#3719 fix: Removed overlooked torch scatter references
  .github/actions/python_cache/action.yml
  docker/docker-bake.hcl
Labels: topic:dependencies

#3704 feat: Update cohere embedding models
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
Labels: topic:retriever

#3727 build: upgrade torch and let transformers pick the version
  pyproject.toml
Labels: topic:dependencies

#3724 Fixing the `query_batch` method of the deepsetcloud document store - …
  haystack/document_stores/deepsetcloud.py
Labels: type:bug, topic:dc-api

#3726 Update the readme action version
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:build/distribution

#3666 feat: add `index` parameter to `TfidfRetriever`
  haystack/nodes/retriever/sparse.py
  test/nodes/test_retriever.py
Labels: type:feature, topic:retriever

#3731 feat: Use torch.inference_mode() for TableQA
  haystack/nodes/reader/table.py
Labels: topic:speed, topic:tableQA

#3718 Update the proposals process
  .github/workflows/stale.yml
  proposals/0000-template.md
  proposals/README.md
Labels: ignore-for-release-notes

#3721 feat: Enable text-embedding-ada-002 for EmbeddingRetriever
  haystack/nodes/retriever/_embedding_encoder.py
  test/nodes/test_retriever.py
Labels: topic:retriever

#3723 Fixing broken BM25 support with Weaviate - fixes #3720
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
  test/nodes/test_retriever.py
Labels: type:bug, topic:document_store, topic:weaviate

#3732 refactor: improve monkey patch for `SklearnQueryClassifier`
  haystack/nodes/query_classifier/sklearn.py
Labels: topic:models, topic:pipeline

#3705 fix: Fix number of concurrent requests in RequestLimiter
  rest_api/rest_api/controller/utils.py
Labels: topic:rest_api

#3708 refactor: Remove duplicate code in TableReader
  haystack/nodes/reader/table.py
  test/nodes/test_table_reader.py
Labels: topic:tableQA, type:refactor, topic:tests

#3709 fix: Make `InferenceProcessor` thread safe
  haystack/modeling/data_handler/processor.py
Labels: topic:rest_api, topic:preprocessing

#3221 ci: add license compliance check
  .github/workflows/compliance.yml
  README.md
  pyproject.toml
  rest_api/pyproject.toml
  ui/pyproject.toml
Labels: type:feature, topic:dependencies, journey:advanced, ignore-for-release-notes, topic:CI

#3695 proposal: Create a dedicated Github repository for Haystack demos
  proposals/text/3695-demo-repository.md
Labels: proposal, proposal:final-comment

#3744 Update readme
  docs/README.md
Labels: type:documentation, ignore-for-release-notes

#3746 fix: build `pdftotext` from sources
  docker/Dockerfile.base
Labels: topic:docker

#3663 fix: Fixed local reader model loading
  haystack/modeling/infer.py
  test/nodes/test_reader.py
Labels: type:bug, topic:reader

#3284 feat: make `score_script` first class citizen via `knn_engine` param
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  test/document_stores/test_opensearch.py
Labels: type:bug, type:feature, topic:elasticsearch, topic:document_store, topic:opensearch

#3777 feat: make new sklearn models default in QueryClassifier
  haystack/nodes/query_classifier/sklearn.py
  haystack/nodes/query_classifier/transformers.py
Labels: topic:models

#3702 feat: Run commands inside docker container as a non root user
  docker/Dockerfile.api
Labels: topic:docker

#3775 bug: fix the docs rest api reference url
  docs/_src/api/openapi/openapi-1.13.0rc0.json
  docs/_src/api/openapi/openapi.json
  rest_api/rest_api/utils.py
Labels: topic:rest_api

#3772 docs: Add info where the feedback is stored
  docs/_src/api/openapi/openapi-1.13.0rc0.json
  docs/_src/api/openapi/openapi.json
  rest_api/rest_api/controller/feedback.py
Labels: topic:rest_api, type:documentation

#3748 fix: Fix `predict_batch` in `TransformersReader` for single nested Document list
  haystack/nodes/reader/transformers.py
  test/nodes/test_reader.py
  test/pipelines/test_eval_batch.py
Labels: topic:reader

#3752 fix: Trigger pipeline schema update on tagged releases
  .github/workflows/pipeline_schema.yml
Labels: topic:build/distribution

#3787 refactor: Using `with open()` to read files
  haystack/modeling/data_handler/processor.py
  haystack/modeling/model/feature_extraction.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/prediction_head.py
  haystack/utils/squad_data.py
Labels: type:refactor

#3701 feat: Bump python to 3.10 for gpu docker image, use nvidia/cuda
  docker/Dockerfile.base
  docker/docker-bake.hcl
Labels: topic:docker

#3788 fix: add additional settings to OpenAPI schema
  .github/utils/generate_openapi_specs.py
  docs/_src/api/openapi/openapi-1.12.0rc0.json
  docs/_src/api/openapi/openapi-1.13.0rc0.json
  docs/_src/api/openapi/openapi.json
Labels: topic:rest_api, type:documentation, ignore-for-release-notes

#3789 fix: pin protobuf version
  pyproject.toml
Labels: topic:dependencies
