Repository deepset-ai/haystack, pull requests merged in 2022-03, with the labels that each got.

#2259 Fix typo in 0.7 JSON schema naming
  json-schemas/haystack-pipeline-0.7.schema.json
Labels: type:bug, topic:pipeline, journey:first steps

#2260 Add `r` to `visual.py` strings to silence warnings
  haystack/modeling/visual.py
Labels: type:refactor, ignore-for-release

#2256 Add `RouteDocuments` and `JoinAnswers` nodes
  docs/_src/tutorials/tutorials/15.md
  haystack/__init__.py
  haystack/nodes/__init__.py
  haystack/nodes/other/__init__.py
  haystack/nodes/other/join_answers.py
  haystack/nodes/other/route_documents.py
  haystack/pipelines/base.py
  json-schemas/haystack-pipeline-1.2.0.schema.json
  json-schemas/haystack-pipeline-1.2.0rc0.schema.json
  test/test_pipeline.py
  tutorials/Tutorial15_TableQA.ipynb
  tutorials/Tutorial15_TableQA.py
Labels: type:feature, topic:tableQA, topic:pipeline

#2262 Fix table extraction in `ParsrConverter`
  haystack/nodes/file_converter/parsr.py
Labels: type:bug, topic:file converter, topic:tableQA

#2253 Refactor Pipeline peripherals
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/pipelines/utils.py
  rest_api/controller/file_upload.py
  test/test_pipeline.py
Labels: topic:pipeline, type:refactor, journey:advanced

#2268 Fix skipping of tests using document stores
  conftest.py
  haystack/document_stores/milvus2.py
  test/conftest.py
  test/test_document_store.py
  test/test_retriever.py
  test/test_standard_pipelines.py
Labels: type:bug, topic:tests, ignore-for-release

#2270 Remove `JoinAnswers` and `RouteDocuments` from the 1.2.0 schema
  json-schemas/haystack-pipeline-1.2.0.schema.json
  json-schemas/haystack-pipeline-1.2.0rc0.schema.json
  json-schemas/haystack-pipeline-1.2.1rc0.schema.json
Labels: type:bug, topic:pipeline, ignore-for-release

#2274 Replace dpr with embeddingretriever tut5
  docs/_src/tutorials/tutorials/5.md
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
Labels: topic:retrieval, topic:tutorials

#2286 Update other.yml with new node names
  docs/_src/api/api/other.md
  docs/_src/api/pydoc/other.yml
Labels: type:documentation

#2152 Remove substrings basic implementation
  docs/_src/api/api/preprocessor.md
  haystack/nodes/preprocessor/preprocessor.py
  json-schemas/haystack-pipeline-1.1.0.schema.json
  json-schemas/haystack-pipeline-1.2.1rc0.schema.json
  test/test_preprocessor.py
Labels: type:feature, topic:preprocessing

#2264 Bulk insert in sql document stores
  docs/_src/api/api/document_store.md
  haystack/document_stores/sql.py
Labels: topic:sql, topic:document_store

#2290 Fix PreProcessor test
  docs/_src/api/api/preprocessor.md
  haystack/nodes/preprocessor/base.py
  test/test_preprocessor.py
Labels: type:bug, topic:preprocessing, ignore-for-release

#2285 Allow to deploy and undeploy Pipelines on Deepset Cloud
  docs/_src/api/api/pipelines.md
  haystack/pipelines/base.py
  haystack/utils/deepsetcloud.py
  test/test_pipeline.py
Labels: type:feature, topic:pipeline, journey:advanced

#2297 Prevent Preprocessor from changing existing documents
  haystack/nodes/preprocessor/preprocessor.py
  test/test_preprocessor.py
Labels: type:bug, topic:tests

#2263 Make Windows CI more resistant to cache misses
  .github/workflows/windows_ci.yml
Labels: type:bug, topic:tests, topic: dependencies, topic:windows

#2298 Reintroduce `debug` as a valid global key for Pipeline's `params`
  haystack/pipelines/base.py
Labels: type:bug, topic:pipeline, journey:intermediate

#2287 Replace dpr with embeddingretriever tut11
  docs/_src/img/tutorial11_custompipelines_pipeline_ensemble.png
  docs/_src/img/tutorial11_decision_nodes_pipeline_classifier.png
  docs/_src/tutorials/tutorials/11.md
  tutorials/Tutorial11_Pipelines.ipynb
  tutorials/Tutorial11_Pipelines.py
Labels: topic:DPR, topic:pipeline, journey:first steps, topic:tutorials

#2309 ipynb: inserted links to graph images
  docs/_src/tutorials/tutorials/11.md
  tutorials/Tutorial11_Pipelines.ipynb
Labels: topic:tutorials

#2315 Fix install because of missing jsonschema dependency
  setup.cfg
Labels: topic:installation

#2282 'os' wrapper to function for brownfield support
  docs/_src/api/api/document_store.md
  haystack/document_stores/__init__.py
  haystack/document_stores/utils.py
  test/test_document_store.py
Labels: topic:document_store

#2311 Fix dependency graph for indexing pipelines during codegen
  docs/_src/api/api/pipelines.md
  haystack/nodes/base.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  test/test_pipeline.py
Labels: type:bug, topic:pipeline, journey:intermediate

#2314 Add basic telemetry features
  .github/workflows/demo/docker-compose.demo.yml
  Dockerfile
  Dockerfile-GPU
  docs/_src/api/api/pipelines.md
  docs/_src/tutorials/tutorials/1.md
  docs/_src/tutorials/tutorials/10.md
  docs/_src/tutorials/tutorials/11.md
  docs/_src/tutorials/tutorials/12.md
  docs/_src/tutorials/tutorials/14.md
  docs/_src/tutorials/tutorials/15.md
  docs/_src/tutorials/tutorials/16.md
  docs/_src/tutorials/tutorials/2.md
  docs/_src/tutorials/tutorials/3.md
  docs/_src/tutorials/tutorials/4.md
  docs/_src/tutorials/tutorials/5.md
  docs/_src/tutorials/tutorials/6.md
  docs/_src/tutorials/tutorials/7.md
  docs/_src/tutorials/tutorials/8.md
  docs/_src/tutorials/tutorials/9.md
  haystack/errors.py
  haystack/nodes/_json_schema.py
  haystack/nodes/base.py
  haystack/pipelines/base.py
  haystack/telemetry.py
  haystack/utils/import_utils.py
  rest_api/controller/search.py
  setup.cfg
  test/conftest.py
  test/test_telemetry.py
  tutorials/Tutorial10_Knowledge_Graph.ipynb
  tutorials/Tutorial10_Knowledge_Graph.py
  tutorials/Tutorial11_Pipelines.ipynb
  tutorials/Tutorial11_Pipelines.py
  tutorials/Tutorial12_LFQA.ipynb
  tutorials/Tutorial12_LFQA.py
  tutorials/Tutorial14_Query_Classifier.ipynb
  tutorials/Tutorial14_Query_Classifier.py
  tutorials/Tutorial15_TableQA.ipynb
  tutorials/Tutorial15_TableQA.py
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.ipynb
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.py
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
  tutorials/Tutorial1_Basic_QA_Pipeline.py
  tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb
  tutorials/Tutorial2_Finetune_a_model_on_your_data.py
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.ipynb
  tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.py
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
  tutorials/Tutorial5_Evaluation.ipynb
  tutorials/Tutorial5_Evaluation.py
  tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb
  tutorials/Tutorial6_Better_Retrieval_via_DPR.py
  tutorials/Tutorial7_RAG_Generator.ipynb
  tutorials/Tutorial7_RAG_Generator.py
  tutorials/Tutorial8_Preprocessing.ipynb
  tutorials/Tutorial8_Preprocessing.py
  tutorials/Tutorial9_DPR_training.ipynb
  tutorials/Tutorial9_DPR_training.py
Labels: type:feature

#2327 Using default OpenSearch parameters
  haystack/document_stores/elasticsearch.py
Labels: type:bug, topic:document_store

#2335 Fix YAML pipeline paths in `docker-compose.yml`
  docker-compose-gpu.yml
  docker-compose.yml
  docs/_src/api/api/evaluation.md
  docs/_src/api/api/pipelines.md
  haystack/nodes/evaluator/evaluator.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  rest_api/controller/file_upload.py
  rest_api/pipeline/pipelines.haystack-pipeline.yml
  rest_api/pipeline/pipelines_dpr.haystack-pipeline.yml
Labels: type:bug, topic:api, topic:pipeline, journey:first steps

#2320 rename label: ignore-for-release-notes
  .github/release.yml
Labels: ignore-for-release-notes

#2333 Integrate BEIR
  docs/_src/api/api/document_store.md
  docs/_src/api/api/pipelines.md
  haystack/document_stores/base.py
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  haystack/pipelines/base.py
  setup.cfg
  test/conftest.py
Labels: type:feature, topic:eval, journey:intermediate

#2340 Fix tutorial dataset paths
  docs/_src/tutorials/tutorials/16.md
  docs/_src/tutorials/tutorials/4.md
  docs/_src/tutorials/tutorials/8.md
  haystack/telemetry.py
  haystack/utils/import_utils.py
  tutorials/Tutorial16_Document_Classifier_at_Index_Time.ipynb
  tutorials/Tutorial4_FAQ_style_QA.ipynb
  tutorials/Tutorial4_FAQ_style_QA.py
  tutorials/Tutorial8_Preprocessing.ipynb
  tutorials/Tutorial8_Preprocessing.py
Labels: type:bug, topic:tutorials

#2329 Let SquadData support data from Annotation Tool
  haystack/utils/squad_data.py
Labels: type:feature, topic:preprocessing

#2341 Fix docker launch scripts
  haystack/utils/doc_store.py
Labels: type:bug, topic:docker, topic:document_store

#2343 Run Pinecone tests only if files related to Pinecone changed
  .github/workflows/linux_ci.yml
Labels: topic:document_store, ignore-for-release-notes, topic:pinecone

#2347 Fix `normalize_embedding` using numba
  docs/_src/api/api/document_store.md
  haystack/document_stores/base.py
Labels: topic:document_store

#1976 Set provider parameter when instantiating onnxruntime.InferenceSession
  docs/_src/api/api/ranker.md
  docs/_src/api/api/reader.md
  docs/_src/api/api/retriever.md
  haystack/modeling/conversion/transformers.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/triadaptive_model.py
  haystack/modeling/training/base.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/dense.py
  haystack/utils/augment_squad.py
Labels: topic:speed, breaking change

#2352 Change document attribute from text to content
  docs/_src/tutorials/tutorials/1.md
  tutorials/Tutorial1_Basic_QA_Pipeline.ipynb
Labels: topic:tutorials

#2358 change docu text about how to opt-out
  haystack/telemetry.py
Labels: ignore-for-release-notes

#2334 Fix link to squad_to_dpr.py in DPR train tutorial
  docs/_src/tutorials/tutorials/9.md
  tutorials/Tutorial9_DPR_training.ipynb
Labels: type:documentation, topic:tutorials

#2359 Fix sparse retrieval with filters returns results without any text-match
  haystack/document_stores/elasticsearch.py
  haystack/nodes/_json_schema.py
  haystack/pipelines/utils.py
  test/test_retriever.py
Labels: topic:elasticsearch, topic:document_store

#2325 Add evaluation and document conversion to tutorial 15
  docs/_src/tutorials/tutorials/15.md
  haystack/nodes/reader/table.py
  haystack/schema.py
  haystack/telemetry.py
  tutorials/Tutorial15_TableQA.ipynb
  tutorials/Tutorial15_TableQA.py
Labels: topic:tableQA, type:documentation, journey:first steps

#2369 Fix `TableReader` for tables without rows
  haystack/nodes/reader/table.py
  test/test_table_reader.py
Labels: type:bug, topic:tableQA

#2345 EvaluationSetClient for deepset cloud to fetch evaluation sets and la…
  docs/_src/api/api/document_store.md
  haystack/document_stores/deepsetcloud.py
  haystack/json-schemas/haystack-pipeline-1.2.1rc0.schema.json
  haystack/json-schemas/haystack-pipeline-unstable.schema.json
  haystack/utils/deepsetcloud.py
  test/test_document_store.py
Labels: type:feature, topic:document_store

#2375 CI: Fix all_close comparison for milvus
  test/test_faiss_and_milvus.py
Labels: type:bug, topic:document_store, ignore-for-release-notes

#2378 Update launch script for Milvus from 1.x to 2.x
  CONTRIBUTING.md
Labels: type:documentation, topic:document_store, journey:advanced, topic:milvus

#2376 Add confidence filtering to FARMReader
  docs/_src/api/api/reader.md
  haystack/json-schemas/haystack-pipeline-1.2.1rc0.schema.json
  haystack/json-schemas/haystack-pipeline-unstable.schema.json
  haystack/nodes/reader/farm.py
Labels: type:feature, topic:reader, topic:predictions
