Repository deepset-ai/haystack, pull requests merged in 2022-11, with the labels that each got.

#3473 feat: Create the TextIndexingPipeline
  haystack/pipelines/standard_pipelines.py
Labels: type:feature, topic:pipeline, journey:first steps, topic:DX, topic:indexing

#3443 refactor: remove YAML save/load methods for subclasses of `BaseStandardPipeline`
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  test/pipelines/test_standard_pipelines.py
Labels: type:bug, topic:pipeline, type:refactor, type:documentation

#3506 refactor: upgrade actions version
  .github/actions/python_cache/action.yml
  .github/workflows/black.yml
  .github/workflows/cml.yaml
  .github/workflows/demo.yaml
  .github/workflows/docker_build.yml
  .github/workflows/openapi.yml
  .github/workflows/readme_sync.yml
  .github/workflows/tests.yml
Labels: type:refactor, topic:CI, topic:DX

#3346 fix: support long texts for labels in `ElasticsearchDocumentStore`
  haystack/document_stores/elasticsearch.py
  test/document_stores/test_document_store.py
Labels: type:bug, topic:elasticsearch, topic:document_store, journey:advanced

#3362 bug: remove useless import in conftest.py
  test/conftest.py
Labels: type:bug, topic:document_store, topic:tests, topic:dependencies, ignore-for-release-notes, topic:milvus

#3516 docs: Fix link directing to tutorials in README.md
  README.md
Labels: ignore-for-release-notes

#3511 Use a dedicated PAT
  .github/workflows/project.yml
Labels: ignore-for-release-notes, topic:CI

#3452 refactor: simplify Summarizer, add Document Merger
  docs/_src/api/pydoc/other.yml
  haystack/nodes/other/document_merger.py
  haystack/nodes/summarizer/base.py
  haystack/nodes/summarizer/transformers.py
  haystack/pipelines/standard_pipelines.py
  test/nodes/test_document_merger.py
  test/nodes/test_extractor_translation.py
  test/nodes/test_summarizer.py
  test/nodes/test_summarizer_translation.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
Labels: type:feature, topic:metadata, topic:indexing

#3517 feat: add SQLDocumentStore tests
  .github/workflows/tests.yml
  haystack/document_stores/sql.py
  test/conftest.py
  test/document_stores/test_base.py
  test/document_stores/test_document_store.py
  test/document_stores/test_sql.py
Labels: topic:document_store, topic:CI

#3525 Deploy the demo only manually
  .github/workflows/demo.yaml
Labels: ignore-for-release-notes

#3529 refactor: move dC tests to their own module and job
  .github/workflows/tests.yml
  conftest.py
  test/conftest.py
  test/document_stores/test_deepsetcloud.py
  test/document_stores/test_document_store.py
Labels: type:refactor, topic:tests, ignore-for-release-notes, topic:dc_document_store, topic:CI

#3534 bug: didn't clean up model files after running pytest for test_table_text_retriever_training
  test/nodes/test_retriever.py
Labels: topic:tests, ignore-for-release-notes

#3539 refactor: merge black job into testing workflow
  .github/workflows/black.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI

#3526 fix: strip whitespaces safely from `FARMReader`'s answers
  haystack/modeling/model/predictions.py
  test/conftest.py
  test/modeling/test_question_answering.py
  test/nodes/test_reader.py
Labels: type:bug, topic:models, topic:reader, topic:predictions

#3542 refactor: apply pep-484
  haystack/document_stores/base.py
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/milvus1.py
  haystack/document_stores/milvus2.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/search_engine.py
  haystack/document_stores/sql.py
  haystack/document_stores/utils.py
  haystack/document_stores/weaviate.py
  haystack/modeling/data_handler/dataloader.py
  haystack/modeling/data_handler/dataset.py
  haystack/modeling/data_handler/inputs.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/data_handler/samples.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/feature_extraction.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/predictions.py
  haystack/modeling/utils.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/evaluator/evaluator.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/nodes/retriever/multimodal/retriever.py
  haystack/nodes/retriever/sparse.py
  haystack/nodes/retriever/text2sparql.py
  haystack/nodes/translator/base.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/pipelines/ray.py
  haystack/pipelines/utils.py
  haystack/schema.py
  haystack/utils/context_matching.py
  haystack/utils/deepsetcloud.py
  haystack/utils/docker.py
  haystack/utils/experiment_tracking.py
  rest_api/rest_api/controller/feedback.py
  rest_api/test/test_rest_api.py
Labels: type:refactor, ignore-for-release-notes

#3543 Use telemetry to identify most common errors
  haystack/errors.py
  haystack/telemetry.py
Labels: topic:telemetry

#3333 feat: introduce proposal design process
  docs/decisions/adr-template.md
  proposals/0000-template.md
  proposals/README.md
  proposals/text/2170-pydantic-dataclasses.md
Labels: type:documentation

#3541 refactor: Refactor Weaviate tests
  .github/workflows/tests.yml
  haystack/document_stores/weaviate.py
  haystack/utils/doc_store.py
  pyproject.toml
  test/conftest.py
  test/document_stores/test_base.py
  test/document_stores/test_weaviate.py
Labels: topic:weaviate, topic:CI

#3565 CI: install httpx to run tests
  .github/workflows/tests.yml
  rest_api/pyproject.toml
Labels: topic:rest_api, topic:dependencies, ignore-for-release-notes, topic:CI

#3564 refactor: ignore proposals in release notes
  .github/release.yml
Labels: ignore-for-release-notes, topic:CI

#3551 fix: [rest_api] support TableQA in the endpoint `/documents/get_by_filters`
  haystack/schema.py
  rest_api/rest_api/controller/document.py
Labels: type:bug, topic:rest_api

#3555 refactor: Pinecone tests
  .github/workflows/tests.yml
  conftest.py
  haystack/document_stores/pinecone.py
  test/document_stores/test_base.py
  test/document_stores/test_pinecone.py
Labels: topic:document_store, topic:pinecone

#3552 BREAKING CHANGE: remove Milvus1DocumentStore along with support for Milvus < 2.x
  .github/workflows/tests.yml
  README.md
  conftest.py
  haystack/document_stores/__init__.py
  haystack/document_stores/milvus.py
  haystack/document_stores/milvus1.py
  haystack/utils/doc_store.py
  pyproject.toml
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_sql_based.py
  test/nodes/test_retriever.py
  test/pipelines/test_eval.py
  test/pipelines/test_standard_pipelines.py
Labels: breaking change, topic:document_store, topic:milvus

#3576 CI: fix milvus imports in docs generator
  .github/utils/pydoc-markdown.sh
  docs/_src/api/pydoc/document-store.yml
Labels: ignore-for-release-notes, topic:CI

#3559 bug: fix release number
  .github/workflows/docker_release.yml
  VERSION.txt
Labels: type:bug, topic:docker, journey:first steps, topic:build/distribution

#3572 fix: Elasticsearch / OpenSearch brownfield function does not incorporate meta
  haystack/document_stores/es_converter.py
  test/document_stores/test_document_store.py
Labels: topic:elasticsearch, topic:document_store, topic:opensearch

#3578 fix: discard metadata fields if not set in Weaviate
  haystack/document_stores/weaviate.py
  test/document_stores/test_base.py
  test/document_stores/test_weaviate.py
Labels: type:bug, topic:weaviate

#3273 fix: Flatten `DocumentClassifier` output in `SQLDocumentStore`; remove `_sql_session_rollback` hack in tests
  haystack/document_stores/sql.py
  test/conftest.py
  test/document_stores/test_document_store.py
  test/document_stores/test_sql.py
Labels: topic:sql

#3577 test: add test to check id_hash_keys is not ignored
  test/others/test_schema.py
  test/others/test_utils.py
Labels: topic:tests

#3533 refactor: Generate JSON schema when missing
  .github/utils/generate_json_schema.py
  .github/utils/generate_openapi_specs.py
  .gitignore
  haystack/json-schemas/.gitignore
  haystack/json-schemas/generate_schema.py
  haystack/nodes/_json_schema.py
  haystack/pipelines/config.py
  pyproject.toml
  test/pipelines/test_pipeline_yaml.py
Labels: topic:installation

#3596 refactor: move milvus tests to their own module
  .github/workflows/tests.yml
  test/document_stores/test_document_store.py
  test/document_stores/test_milvus.py
Labels: topic:document_store, topic:milvus, topic:CI

#3547 feat: store metadata using JSON in SQLDocumentStore
  haystack/document_stores/sql.py
  test/document_stores/test_sql.py
Labels: topic:sql

#3603 fix: Pin faiss-cpu as 1.7.3 seems to have problems
  pyproject.toml
Labels: topic:faiss, topic:installation, topic:CI

#3602 CI: Update Python version in Readme Sync action
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI

#3605 fix: `ParsrConverter` fails on pages without text
  haystack/nodes/file_converter/parsr.py
Labels: topic:file_converter

#3592 Url fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  haystack/errors.py
  haystack/nodes/reader/farm.py
  haystack/telemetry.py
Labels: type:documentation, ignore-for-release-notes

#3609 CI: add labeler to the repo
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ignore-for-release-notes

#3612 fix: Convert eval metrics to python float
  haystack/schema.py
  test/pipelines/test_eval.py
Labels: type:bug, topic:eval, journey:intermediate

#3601 refactor: replace `torch.no_grad` with `torch.inference_mode` (where possible)
  haystack/document_stores/memory.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/utils/augment_squad.py
  test/modeling/test_dpr.py
Labels: topic:speed

#3617 chore: fix return type of `aggregate_labels`
  haystack/utils/labels.py
Labels: topic:eval, type:refactor

#3626 fix: revamp `colab` extra dependencies
  pyproject.toml
Labels: topic:dependencies

#3615 fixing the url for document merger
  haystack/nodes/summarizer/transformers.py
Labels: type:refactor, type:documentation

#3620 chore: remove redundant tests
  test/document_stores/test_base.py
  test/document_stores/test_document_store.py
Labels: topic:document_store, topic:tests, topic:DX

#3628 refactor: Weaviate query with filters
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: type:feature, journey:first steps, topic:weaviate

#3630 fix: use 9200 as the default port in `launch_opensearch()`
  haystack/utils/doc_store.py
  test/benchmarks/utils.py
Labels: topic:document_store, topic:DX

#3532 fix: fix broken Haystack demo deployment
  docker-compose-gpu.yml
Labels: type:documentation, ignore-for-release-notes

#3637 refactor: move more tests to the base class
  test/document_stores/test_base.py
  test/document_stores/test_document_store.py
  test/document_stores/test_faiss.py
  test/document_stores/test_milvus.py
  test/document_stores/test_pinecone.py
  test/document_stores/test_sql.py
  test/document_stores/test_weaviate.py
Labels: topic:document_store, topic:tests, ignore-for-release-notes

#3636 fix: Move entire forward pass of TableQA within `torch.no_grad()`
  haystack/nodes/reader/table.py
Labels: topic:speed, topic:tableQA, type:enhancement

#3629 chore: Re-enable pre-commit hooks
  .pre-commit-config.yaml
Labels: ignore-for-release-notes, topic:DX

#3640 feat: add offsets_in_context to evaluation result
  haystack/pipelines/base.py
  test/pipelines/test_eval.py
Labels: topic:eval
