Repository deepset-ai/haystack, pull requests merged in 2023-10, with the labels that each got.

#5949 Update release_notes.yml
  .github/workflows/release_notes.yml
Labels: topic:CI

#5948 fix: Remove language validation from getting started
  haystack/utils/getting_started.py
Labels: ignore-for-release-notes

#5939 feat: `DocumentWriter` returns number of documents written
  haystack/preview/components/writers/document_writer.py
  releasenotes/notes/add-document-writer-number-of-documents-written-2c57f3a5d6ae2131.yaml
Labels: type:documentation

#5946 feat: add support for async openai calls
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/prompt/prompt_model.py
  haystack/utils/openai_utils.py
  pyproject.toml
  releasenotes/notes/add-openai-async-1f65701142f77181.yaml
  test/prompt/invocation_layer/test_chatgpt.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution, topic:LLM, topic:promptnode

#5954 chore: deprecate `OpenAIAnswerGenerator`
  haystack/nodes/answer_generator/openai.py
  releasenotes/notes/deprecate-openai-answergenerator-537266612ba1ffff.yaml
  test/nodes/test_generator.py
Labels: type:documentation, topic:tests

#5955 chore: remove matrix from Linux CI
  .github/workflows/tests_preview.yml
Labels: ignore-for-release-notes, topic:CI

#5933 ci: added isort
  .pre-commit-config.yaml
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution, topic:DX

#5873 feat: add File type to preview package
  haystack/preview/dataclasses/__init__.py
  haystack/preview/dataclasses/byte_stream.py
  releasenotes/notes/add-blob-type-2a9476a39841f54d.yaml
  test/preview/dataclasses/test_byte_stream.py
Labels: type:documentation, topic:tests, 2.x

#5969 chore: adapt deepset cloud sdk endpoint format for saving pipelines
  haystack/utils/deepsetcloud.py
  releasenotes/notes/update-deepset-cloud-sdk-save-pipeline-config-ff820838846f5f38.yaml
  test/samples/dc/pipeline_config.json
  test/utils/test_deepset_cloud.py
Labels: topic:tests, topic:dc-api

#5980 Revert "ci: added isort to pyproject.toml and pre-commit (#5933)"
  .pre-commit-config.yaml
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution, topic:DX

#5974 feat: Unfreeze Document in Haystack 2.0
  haystack/preview/dataclasses/document.py
  test/preview/dataclasses/test_document.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#5979 fix: fix ChatGPT invocation layer (and add async support)
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  releasenotes/notes/fix-chatgpt-invocation-layer-bc25d0ea5f77f05c.yaml
  test/prompt/invocation_layer/test_chatgpt.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:promptnode

#6002 chore: Rename proposal to respect specifications
  proposals/text/5794-evaluation-haystack-2.md
  proposals/text/5794-evaluation-haystack-2.py
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution, proposal

#5924 feat: Add TopPSampler Haystack 2.0 component
  haystack/preview/components/samplers/__init__.py
  haystack/preview/components/samplers/top_p.py
  releasenotes/notes/add-top-p-sampler-ad6e0f5d623a6bb5.yaml
  test/preview/components/samplers/__init__.py
  test/preview/components/samplers/test_top_p.py
Labels: type:documentation, topic:tests, 2.x

#5910 test: enhance e2e tests to also draw and serialize/deserialize the test pipelines
  e2e/preview/pipelines/test_extractive_qa_pipeline.py
  e2e/preview/pipelines/test_rag_pipelines.py
  haystack/preview/components/generators/openai/gpt.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#5981 Add end2end tests as getting started to HS2.0 readme
  haystack/preview/README.md
Labels: ignore-for-release-notes

#5736 feat: added on_agent_final_answer-support to Agent callback_manager
  haystack/agents/base.py
  releasenotes/notes/add-on_agent_final_answer_to_agent_base-7798ea8de2f43af0.yaml
Labels: type:documentation, topic:agent

#5961 feat: allow list of file paths in `convert_files_to_docs`
  haystack/utils/preprocessing.py
  releasenotes/notes/issue-5616-convert-files-to-docs-list-f75a057249ba8992.yaml
  test/conftest.py
  test/others/test_utils.py
Labels: type:documentation, topic:tests

#5998 feat: Rename `FileExtensionRouter` to `FileTypeRouter`, handle ByteStream(s)
  haystack/preview/components/routers/__init__.py
  haystack/preview/components/routers/file_type_router.py
  releasenotes/notes/rename-file-extension-router-9125028ec2c55e98.yaml
  test/preview/components/routers/test_file_router.py
Labels: type:documentation, topic:tests, 2.x

#6008 fix: Run update_embeddings in examples
  .github/workflows/examples_tests.yml
  examples/basic_faq_pipeline.py
  examples/basic_qa_pipeline.py
  examples/hybrid_search_faq_pipeline.py
  examples/test_basic_faq_pipeline.py
  examples/test_getting_started.py
  releasenotes/notes/hybrid_search_faq_pipeline.py-815df846dca7e872.yaml
Labels: topic:CI

#6005 test: Utility to compare two lists of documents for equality
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes

#6020 feat: Update `HTMLToDocument` to handle `ByteStream` inputs
  haystack/preview/components/file_converters/html.py
  test/preview/components/file_converters/test_html_to_document.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6036 feat: Add top_k to SimilarityRanker
  haystack/preview/components/rankers/similarity.py
  test/preview/components/rankers/test_similarity.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6033 chore: move embedding backends to an internal folder
  haystack/preview/components/embedders/backends/__init__.py
  haystack/preview/components/embedders/backends/sentence_transformers_backend.py
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/components/embedders/sentence_transformers_text_embedder.py
  test/preview/components/embedders/test_sentence_transformers_embedding_backend.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#6029 chore: review `all` extra
  .github/workflows/tests.yml
  haystack/pipelines/base.py
  pyproject.toml
  releasenotes/notes/review-all-extras-42d5a3a3d61f5393.yaml
  test/pipelines/test_ray.py
Labels: topic:pipeline, type:documentation, topic:tests, topic:dependencies, topic:build/distribution, topic:CI

#6024 test: Remove anthropic from "getting started" example test
  examples/test_getting_started.py
Labels: ignore-for-release-notes

#6000 Addition to the text in ValueError when creating a prompt node to inf…
  haystack/nodes/prompt/prompt_model.py
Labels: type:documentation, ignore-for-release-notes, topic:LLM, topic:promptnode

#5929 feat: add basic telemetry to pipelines 2.0
  haystack/preview/__init__.py
  haystack/preview/pipeline.py
  haystack/preview/telemetry/__init__.py
  haystack/preview/telemetry/_environment.py
  haystack/preview/telemetry/_telemetry.py
  releasenotes/notes/telemetry-2.0-92c34c81563ff0e1.yaml
Labels: type:documentation, topic:telemetry, 2.x

#6026 feat: Add TextLanguageClassifier 2.0
  haystack/preview/components/preprocessors/__init__.py
  haystack/preview/components/preprocessors/text_language_classifier.py
  releasenotes/notes/text-language-classifier-0d1e1a97f1bb8ac6.yaml
  test/preview/components/preprocessors/test_text_language_classifier.py
Labels: type:documentation, topic:tests

#5609 docs: adding missing docstrings for run and run_batch methods
  haystack/nodes/answer_generator/base.py
  haystack/nodes/document_classifier/base.py
  haystack/nodes/image_to_text/base.py
  haystack/nodes/ranker/base.py
  haystack/nodes/reader/base.py
  haystack/nodes/retriever/base.py
  haystack/nodes/summarizer/base.py
  haystack/nodes/translator/base.py
Labels: topic:reader, type:documentation, topic:retriever, ignore-for-release-notes, topic:images

#6022 feat: `HuggingFaceLocalGenerator` - first implementation
  haystack/preview/components/generators/__init__.py
  haystack/preview/components/generators/hugging_face/__init__.py
  haystack/preview/components/generators/hugging_face/hugging_face_local.py
  releasenotes/notes/hugging-face-local-generator-a9a0ba011506f932.yaml
  test/preview/components/generators/hugging_face/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests, 2.x

#6007 Remove old Cohere models and add aliases for existing ones
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  releasenotes/notes/update-supported-cohere-models-68f17fa70051fc90.yaml
Labels: type:bug, type:documentation, topic:retriever

#5976 feat: Add DocumentCleaner 2.0
  haystack/preview/components/preprocessors/__init__.py
  haystack/preview/components/preprocessors/text_document_cleaner.py
  releasenotes/notes/text-document-cleaner-8afce831a2ac31ae.yaml
  test/preview/components/preprocessors/test_text_document_cleaner.py
Labels: type:documentation, topic:tests

#6001 Proposal: Document Stores filter specification for Haystack 2.x
  proposals/text/6001-document-store-filter-rework.md
Labels: ignore-for-release-notes, proposal, proposal:review

#5970 fixed join_docs.py concatenate
  haystack/nodes/other/join_docs.py
  releasenotes/notes/fix-joinDocuments-concatenate-56a7cdba00a7248e.yaml
  test/nodes/test_join_documents.py
Labels: topic:pipeline, type:documentation, topic:tests

#6053 ci: Add a workflow to verify haystack.preview doesn't import non preview modules
  .github/workflows/preview_imports.yml
Labels: ignore-for-release-notes, topic:CI

#6073 chore: Fix mypy errors when running preview linting in CI
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
  haystack/nodes/prompt/invocation_layer/cohere.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_infer.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_text_gen.py
  haystack/nodes/prompt/invocation_layer/sagemaker_meta.py
  haystack/nodes/prompt/prompt_template.py
  haystack/nodes/ranker/cohere.py
Labels: ignore-for-release-notes, topic:LLM, topic:promptnode

#6050 chore: add posthog to the dependencies of preview extra
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#6052 chore: Fix preview module importing from old haystack
  haystack/preview/components/fetchers/link_content.py
  haystack/preview/telemetry/_environment.py
  haystack/preview/version.py
Labels: ignore-for-release-notes

#6074 chore: Add missing preview dependency
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution, 2.x

#5957 feat: enable telemetry to pick up component data
  haystack/preview/telemetry/_telemetry.py
  test/preview/test_telemetry.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:telemetry, 2.x

#6077 CI: make only `linting_preview` run on preview e2e tests
  .github/workflows/linting.yml
  .github/workflows/linting_preview.yml
  .github/workflows/linting_skipper.yml
Labels: topic:CI

#6072 chore: Telemetry for embedder classes
  haystack/preview/components/embedders/openai_document_embedder.py
  haystack/preview/components/embedders/openai_text_embedder.py
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/components/embedders/sentence_transformers_text_embedder.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6078 CI: make only `test_preview` run when preview e2e tests are changed
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
Labels: topic:CI

#6049 feat: `HuggingFaceLocalGenerator` - stopwords handling
  haystack/preview/components/generators/hugging_face/hugging_face_local.py
  releasenotes/notes/stopwords-hf-generator-dab4b5827bae1492.yaml
  test/preview/components/generators/hugging_face/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests

#6083 fix: DocumentSplitter and DocumentCleaner copy `id_hash_keys` to newly created Documents
  haystack/preview/components/preprocessors/text_document_cleaner.py
  haystack/preview/components/preprocessors/text_document_splitter.py
  releasenotes/notes/fix-splitter-cleaner-hash-key-3b6f042af7da9ab4.yaml
  test/preview/components/preprocessors/test_text_document_cleaner.py
  test/preview/components/preprocessors/test_text_document_splitter.py
Labels: type:documentation, topic:tests

#6081 fix: Fix TextDocumentSplitter failing if run with empty list
  haystack/preview/components/preprocessors/text_document_splitter.py
  releasenotes/notes/fix-text-splitter-65870db474338749.yaml
  test/preview/components/preprocessors/test_text_document_splitter.py
Labels: type:documentation, topic:tests, 2.x

#6076 refactor!: rename `MemoryDocumentStore` and related Retrievers
  e2e/preview/pipelines/test_extractive_qa_pipeline.py
  e2e/preview/pipelines/test_rag_pipelines.py
  haystack/preview/components/preprocessors/text_document_cleaner.py
  haystack/preview/components/preprocessors/text_language_classifier.py
  haystack/preview/components/retrievers/__init__.py
  haystack/preview/components/retrievers/in_memory_bm25_retriever.py
  haystack/preview/components/retrievers/in_memory_embedding_retriever.py
  haystack/preview/document_stores/__init__.py
  haystack/preview/document_stores/in_memory/__init__.py
  haystack/preview/document_stores/in_memory/document_store.py
  haystack/preview/document_stores/memory/__init__.py
  releasenotes/notes/rename-memory-doc-store-2a9960d11d2aa492.yaml
  test/preview/components/caching/test_url_cache_checker.py
  test/preview/components/retrievers/test_in_memory_bm25_retriever.py
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
  test/preview/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests

#6040 refactor: adopt `token` instead of `use_auth_token` in HF components
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/components/embedders/sentence_transformers_text_embedder.py
  haystack/preview/components/rankers/similarity.py
  haystack/preview/components/readers/extractive.py
  releasenotes/notes/adopt-hf-token-770edaccf6278ad9.yaml
  test/preview/components/embedders/test_sentence_transformers_document_embedder.py
  test/preview/components/embedders/test_sentence_transformers_text_embedder.py
  test/preview/components/rankers/test_similarity.py
  test/preview/components/readers/test_extractive.py
Labels: type:documentation, topic:tests

#6110 Add `more-itertools` to preview dependencies
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#6108 refactor: Remove reimplementations of default `from_dict`/`to_dict` and corresponding tests in 2.0
  haystack/preview/components/audio/whisper_local.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/preview/components/builders/answer_builder.py
  haystack/preview/components/builders/prompt_builder.py
  haystack/preview/components/embedders/openai_document_embedder.py
  haystack/preview/components/embedders/openai_text_embedder.py
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/components/embedders/sentence_transformers_text_embedder.py
  haystack/preview/components/fetchers/link_content.py
  haystack/preview/components/file_converters/azure.py
  haystack/preview/components/file_converters/html.py
  haystack/preview/components/file_converters/pypdf.py
  haystack/preview/components/file_converters/tika.py
  haystack/preview/components/file_converters/txt.py
  haystack/preview/components/generators/hugging_face/hugging_face_local.py
  haystack/preview/components/preprocessors/text_document_cleaner.py
  haystack/preview/components/preprocessors/text_document_splitter.py
  haystack/preview/components/preprocessors/text_language_classifier.py
  haystack/preview/components/rankers/similarity.py
  haystack/preview/components/readers/extractive.py
  haystack/preview/components/routers/file_type_router.py
  haystack/preview/components/routers/metadata_router.py
  haystack/preview/components/samplers/top_p.py
  haystack/preview/components/websearch/serper_dev.py
  releasenotes/notes/remove-default-from-dict-reimplementation-2db4c32153c1e7af.yaml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/components/builders/test_answer_builder.py
  test/preview/components/builders/test_prompt_builder.py
  test/preview/components/embedders/test_openai_document_embedder.py
  test/preview/components/embedders/test_openai_text_embedder.py
  test/preview/components/embedders/test_sentence_transformers_document_embedder.py
  test/preview/components/embedders/test_sentence_transformers_text_embedder.py
  test/preview/components/fetchers/test_link_content_fetcher.py
  test/preview/components/file_converters/test_azure_ocr_doc_converter.py
  test/preview/components/file_converters/test_html_to_document.py
  test/preview/components/file_converters/test_pypdf_to_document.py
  test/preview/components/file_converters/test_textfile_to_document.py
  test/preview/components/file_converters/test_tika_doc_converter.py
  test/preview/components/generators/hugging_face/test_hugging_face_local_generator.py
  test/preview/components/preprocessors/test_text_document_cleaner.py
  test/preview/components/preprocessors/test_text_document_splitter.py
  test/preview/components/preprocessors/test_text_language_classifier.py
  test/preview/components/rankers/test_similarity.py
  test/preview/components/readers/test_extractive.py
  test/preview/components/routers/test_file_router.py
  test/preview/components/routers/test_metadata_router.py
  test/preview/components/samplers/test_top_p.py
  test/preview/components/websearch/test_serperdev.py
Labels: type:documentation, topic:tests

#6112 refactor: make sure that Document's `id_hash_keys` has a valid value
  haystack/preview/components/file_converters/azure.py
  haystack/preview/components/file_converters/tika.py
  haystack/preview/dataclasses/document.py
  releasenotes/notes/check-id-hash-keys-postinit-28b012cdeada2c1e.yaml
  test/preview/dataclasses/test_document.py
Labels: type:documentation, topic:tests

#6126 Enrich documents with embeddings for OpenAIDocumentEmbedder
  haystack/preview/components/embedders/openai_document_embedder.py
  haystack/preview/dataclasses/document.py
  releasenotes/notes/refactor-openai-document-embedder.yaml
Labels: type:documentation

#6122 refactor: Rework `Document.id` generation
  haystack/preview/dataclasses/document.py
  releasenotes/notes/doc-id-rework-85e82b5359282f7e.yaml
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
  test/preview/dataclasses/test_document.py
  test/preview/document_stores/test_in_memory.py
Labels: topic:tests, 2.x

#6145 chore: fix wrong release note
  releasenotes/notes/refactor-openai-document-embedder.yaml
Labels: ignore-for-release-notes

#6127 refactor: Remove `id_hash_keys` field from `Document`
  haystack/preview/dataclasses/document.py
  releasenotes/notes/doc-id-rework-85e82b5359282f7e.yaml
  releasenotes/notes/remove-id-hash-document-93e4a589b3fd2aad.yaml
  test/preview/dataclasses/test_document.py
Labels: type:documentation, topic:tests, 2.x

#6135 refactor: Change `Document.embedding` type to list of floats
  haystack/preview/dataclasses/document.py
  haystack/preview/testing/document_store.py
  releasenotes/notes/document-embedding-type-d66c44ac6878fbdd.yaml
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
  test/preview/dataclasses/test_document.py
  test/preview/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests, 2.x

#6150 refactor: Remove api_key from serialization of `AzureOCRDocumentConverter` and `SerperDevWebSearch`
  haystack/preview/components/file_converters/azure.py
  haystack/preview/components/websearch/serper_dev.py
  releasenotes/notes/remove-api-key-from-serialization-2474a1539b86e233.yaml
  test/preview/components/file_converters/test_azure_ocr_doc_converter.py
  test/preview/components/websearch/test_serperdev.py
Labels: type:documentation, topic:tests

#6103 refactor: better API keys handling in `GPTGenerator`
  haystack/preview/components/embedders/openai_document_embedder.py
  haystack/preview/components/embedders/openai_text_embedder.py
  haystack/preview/components/generators/openai/gpt.py
  releasenotes/notes/gptgenerator-api-key-b9a648301a67bb37.yaml
  test/preview/components/embedders/test_openai_document_embedder.py
  test/preview/components/embedders/test_openai_text_embedder.py
  test/preview/components/generators/openai/test_gpt_generator.py
Labels: type:documentation, topic:tests

#6144 feat: Add ChatMessage class to Haystack 2.0
  haystack/preview/dataclasses/__init__.py
  haystack/preview/dataclasses/chat_message.py
  releasenotes/notes/add-chat-message-c456e4603529ae85.yaml
  test/preview/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests, 2.x

#6154 feature: Add `mime_type` field to `ByteStream`
  haystack/preview/dataclasses/byte_stream.py
  releasenotes/notes/byte-stream-mime-type-b060e96791c4993a.yaml
  test/preview/dataclasses/test_byte_stream.py
Labels: topic:tests, 2.x

#6137 feat: add pipeline Yaml marshaller
  haystack/preview/__init__.py
  haystack/preview/marshal/__init__.py
  haystack/preview/marshal/protocol.py
  haystack/preview/marshal/yaml.py
  haystack/preview/pipeline.py
  releasenotes/notes/add-yaml-marshaller-030e889f46484573.yaml
  test/preview/test_files/yaml/test_pipeline.yaml
  test/preview/test_pipeline.py
Labels: type:documentation, topic:tests

#6161 feat: Add dynamic per-user ChatMessage templating support
  haystack/preview/components/builders/prompt_builder.py
  releasenotes/notes/add-dynamic-per-message-templating-908468226c5e3d45.yaml
  test/preview/components/builders/test_prompt_builder.py
Labels: type:documentation, topic:tests

#5994 build: Upgrade transformers to the latest version 4.34.1
  .github/workflows/e2e_preview.yml
  .github/workflows/linting.yml
  .github/workflows/linting_preview.yml
  .github/workflows/tests.yml
  .github/workflows/tests_preview.yml
  haystack/nodes/audio/whisper_transcriber.py
  haystack/preview/components/audio/whisper_local.py
  haystack/preview/components/rankers/similarity.py
  haystack/preview/components/readers/extractive.py
  pyproject.toml
  releasenotes/notes/bump-transformers-to-4-34-38d045d8e42ea0a2.yaml
  test/modeling/test_model_loading.py
  test/preview/components/audio/test_whisper_local.py
Labels: topic:modeling, type:documentation, topic:tests, topic:dependencies, topic:audio, topic:build/distribution, topic:CI

#6100 refactor!: rename `SimilarityRanker` to `TransformersSimilarityRanker`
  haystack/preview/components/rankers/__init__.py
  haystack/preview/components/rankers/transformers_similarity.py
  releasenotes/notes/rename_similarity_ranker-d755c2cd00449ecc.yaml
  test/preview/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests

#6164 chore: Rename ExtractiveReader's input from `document` to `documents` to match its type List[Document]
  haystack/preview/components/readers/extractive.py
  releasenotes/notes/rename-reader-input-af739955bf4f71b5.yaml
Labels: type:documentation

#6163 feat: Update README.md
  README.md
Labels: ignore-for-release-notes

#6169 Update labeler for `2.x`
  .github/labeler.yml
Labels: topic:CI

#6149 refactor: Migrate `RemoteWhisperTranscriber` to OpenAI SDK.
  haystack/preview/components/audio/whisper_remote.py
  releasenotes/notes/migrate-remote-whisper-transcriber-to-openai-sdk-980ae6f54ddfd7df.yaml
  test/preview/components/audio/test_whisper_remote.py
Labels: type:documentation, topic:tests, 2.x

#6176 fix: Fix failing whisper test
  haystack/preview/components/audio/whisper_remote.py
  test/preview/components/audio/test_whisper_remote.py
Labels: ignore-for-release-notes, 2.x

#6173 docs: Add readme sync for API docs 2.0
  .github/utils/pydoc-markdown.sh
  .github/workflows/readme_sync.yml
  docs/pydoc/config-preview/audio.yml
  docs/pydoc/renderers.py
Labels: ignore-for-release-notes, topic:CI

#6177 docs: add return types in docstring for transcribe and run function
  haystack/nodes/audio/whisper_transcriber.py
Labels: type:documentation, topic:audio

#6141 proposal: meta field ranker
  proposals/text/6141-meta-field-ranker.md
Labels: type:documentation, proposal

#6195 fix: missing closing quotation marks
  proposals/text/6141-meta-field-ranker.md
Labels: proposal

#6196 chore: remove leftovers from old release
  test/nodes/test_file_converter.py
Labels: topic:file_converter, topic:tests, ignore-for-release-notes

#6151 feat: add apple silicon GPU acceleration
  .github/workflows/tests_preview.yml
  e2e/modeling/test_dpr.py
  haystack/environment.py
  haystack/modeling/utils.py
  haystack/preview/components/readers/extractive.py
  haystack/utils/experiment_tracking.py
  haystack/utils/torch_utils.py
  releasenotes/notes/add-apple-silicon-gpu-acceleration-38bf69781a933b95.yaml
Labels: topic:modeling, type:documentation, topic:CI, 2.x

#6166 Update openai.py
  haystack/nodes/answer_generator/openai.py
Labels: type:documentation, ignore-for-release-notes

#6167 fix: Update Indentation in dense.py
  haystack/nodes/retriever/dense.py
Labels: type:documentation, topic:retriever, ignore-for-release-notes

#6187 chore: make __init__.py files uniform in preview
  haystack/preview/components/builders/__init__.py
  haystack/preview/components/caching/__init__.py
  haystack/preview/components/fetchers/__init__.py
  haystack/preview/components/readers/__init__.py
  haystack/preview/components/websearch/__init__.py
Labels: ignore-for-release-notes, 2.x

#5805 fix: Add search_engine_kwargs param to WebRetriever to pass to WebSearch
  haystack/nodes/retriever/web.py
  releasenotes/notes/add-search_engine_kwargs-to-web-retriever-67fac44ef0039b7f.yaml
Labels: type:documentation, topic:retriever

#6198 docs: update anthropic doc link
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
Labels: type:documentation, ignore-for-release-notes

#6180 Refactor: Document serialization and backward compatibility
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/in_memory/document_store.py
  haystack/preview/utils/filters.py
  releasenotes/notes/document-backward-compatible-07c4151e98ef8511.yaml
  test/preview/dataclasses/test_document.py
Labels: type:documentation, topic:tests, 2.x

#6200 feat: Add general and HF util methods
  haystack/preview/components/generators/hf_utils.py
  haystack/preview/components/generators/utils.py
  test/preview/components/generators/test_hf_utils.py
  test/preview/components/generators/test_utils.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6181 refactor: Rename `Document`'s `text` field to `content`
  e2e/preview/pipelines/test_extractive_qa_pipeline.py
  e2e/preview/pipelines/test_rag_pipelines.py
  haystack/preview/components/audio/whisper_local.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/preview/components/embedders/openai_document_embedder.py
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/components/file_converters/azure.py
  haystack/preview/components/file_converters/html.py
  haystack/preview/components/file_converters/pypdf.py
  haystack/preview/components/file_converters/tika.py
  haystack/preview/components/file_converters/txt.py
  haystack/preview/components/preprocessors/text_document_cleaner.py
  haystack/preview/components/preprocessors/text_document_splitter.py
  haystack/preview/components/rankers/transformers_similarity.py
  haystack/preview/components/readers/extractive.py
  haystack/preview/components/samplers/top_p.py
  haystack/preview/components/websearch/serper_dev.py
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/in_memory/document_store.py
  haystack/preview/testing/document_store.py
  proposals/text/5794-evaluation-haystack-2.py
  releasenotes/notes/document-metadata-to-meta-8564aa3c045bb526.yaml
  releasenotes/notes/document-text-to-content-39b5439480af5c41.yaml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/components/builders/test_answer_builder.py
  test/preview/components/caching/test_url_cache_checker.py
  test/preview/components/embedders/test_openai_document_embedder.py
  test/preview/components/embedders/test_sentence_transformers_document_embedder.py
  test/preview/components/file_converters/test_azure_ocr_doc_converter.py
  test/preview/components/file_converters/test_html_to_document.py
  test/preview/components/file_converters/test_pypdf_to_document.py
  test/preview/components/file_converters/test_textfile_to_document.py
  test/preview/components/file_converters/test_tika_doc_converter.py
  test/preview/components/preprocessors/test_text_document_cleaner.py
  test/preview/components/preprocessors/test_text_document_splitter.py
  test/preview/components/preprocessors/test_text_language_classifier.py
  test/preview/components/rankers/test_transformers_similarity.py
  test/preview/components/readers/test_extractive.py
  test/preview/components/retrievers/test_in_memory_bm25_retriever.py
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
  test/preview/components/routers/test_metadata_router.py
  test/preview/components/samplers/test_top_p.py
  test/preview/components/writers/test_document_writer.py
  test/preview/dataclasses/test_document.py
  test/preview/document_stores/test_in_memory.py
  test/preview/testing/test_factory.py
  test/preview/utils/test_filters.py
Labels: type:documentation, topic:tests, proposal, 2.x

#6204 ci: do not run preview tests twice
  .github/workflows/tests.yml
Labels: topic:CI

#6037 feat: Add DocumentLanguageClassifier 2.0
  e2e/preview/pipelines/test_preprocessing_pipeline.py
  haystack/preview/components/preprocessors/__init__.py
  haystack/preview/components/preprocessors/document_language_classifier.py
  releasenotes/notes/document-language-classifier-1ec0b3c4d08989c0.yaml
  test/preview/components/preprocessors/test_document_language_classifier.py
Labels: type:documentation, topic:tests, 2.x

#6159 feat: Add `MarkdownToTextDocument` (v2)
  .github/workflows/linting_preview.yml
  .github/workflows/tests_preview.yml
  haystack/preview/components/file_converters/__init__.py
  haystack/preview/components/file_converters/markdown.py
  releasenotes/notes/add-MarkdownToTextDocument-f97ec6c5fb35527d.yaml
  test/preview/components/file_converters/test_markdown_to_document.py
  test/preview/test_files/markdown/sample.md
Labels: type:documentation, topic:tests, topic:CI, 2.x

#6208 Update README.md
  README.md
Labels: ignore-for-release-notes
