Repository deepset-ai/haystack, pull requests merged in 2023-05, with the labels that each got.

#4607 chore: fixed reader loading test for hf-hub starting 0.14.0
  test/nodes/test_reader.py
Labels: topic:reader, topic:tests

#4782 chore: Added deprecation tests for seq2seq generator and RAG Generator
  test/nodes/test_generator.py
Labels: topic:tests

#4652 feat: Add HF local runtime token streaming support
  haystack/agents/base.py
  haystack/agents/types.py
  haystack/nodes/prompt/invocation_layer/handlers.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:agent, topic:promptnode

#4768 bug: fix filtering in `MemoryDocumentStore` (v2)
  haystack/preview/document_stores/memory/_filters.py
  test/preview/document_stores/_base.py
Labels: type:documentation, topic:tests, v2

#4800 test: Add others folder to unit test job
  .github/workflows/tests.yml
Labels: topic:CI

#4803 ci: Fix release_docs.py to create docs with correct version
  .github/utils/release_docs.py
Labels: topic:CI

#4794 refactor: Extract ToolsManager, add it to Agent by composition
  examples/agent_multihop_qa.py
  haystack/agents/agent_step.py
  haystack/agents/base.py
  test/agents/test_agent.py
  test/agents/test_tools_manager.py
Labels: type:documentation, topic:tests, topic:agent

#4805 fix: Add support for `_split_overlap` meta to Pinecone and `dict` metadata in general to Weaviate
  haystack/document_stores/pinecone.py
  haystack/document_stores/weaviate.py
  test/document_stores/test_pinecone.py
  test/document_stores/test_weaviate.py
Labels: type:documentation, topic:document_store, topic:tests, topic:pinecone, topic:weaviate

#4821 feat: Update preview Pipelines following Canals changes
  haystack/preview/pipeline.py
  test/preview/pipeline/test_pipeline.py
Labels: topic:tests

#4826 fix: str issues in `squad_to_dpr`
  haystack/document_stores/utils.py
  haystack/utils/squad_to_dpr.py
Labels: topic:document_store

#4810 refactor!: Deprecate `name` param in `PromptTemplate` and introduce `template_name` instead
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/prompt_template.py
  test/agents/test_agent.py
  test/nodes/test_generator.py
  test/nodes/test_shaper.py
  test/prompt/test_prompt_node.py
  test/prompt/test_prompt_template.py
Labels: breaking change, type:documentation, topic:tests, topic:LLM, topic:agent, topic:promptnode

#4820 fix: preserve `root_node` in `JoinNode`'s output
  haystack/nodes/other/join.py
  test/nodes/test_join_answers.py
  test/nodes/test_join_documents.py
Labels: topic:pipeline, topic:tests

#4662 feat: introduce `generalimport`
  .github/workflows/imports.yml
  haystack/__init__.py
  haystack/document_stores/faiss.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/feature_extraction.py
  haystack/modeling/model/triadaptive_model.py
  haystack/nodes/_json_schema.py
  haystack/schema.py
  haystack/utils/import_utils.py
  haystack/utils/openai_utils.py
  haystack/utils/squad_data.py
  pyproject.toml
Labels: topic:faiss, topic:modeling, type:documentation, topic:sql, topic:document_store, topic:dependencies, topic:pinecone, topic:build/distribution, topic:CI

#4809 Add modeling to unit tests so it we can get coverage for that
  .github/workflows/tests.yml
  test/modeling/samples/test_get_tokenizer_from_path/tokenizer_config.json
  test/modeling/test_feature_extraction.py
  test/modeling/test_model_loading.py
Labels: topic:modeling, topic:tests, topic:CI

#4845 ci: check that base install succeeds on all platforms
  .github/workflows/imports.yml
Labels: topic:dependencies, topic:CI, topic:DX

#4846 chore: skip flaky test
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#4802 fix: Fix missing error in openai_request retry strategy
  haystack/utils/openai_utils.py
  test/utils/test_openai_utils.py
Labels: topic:tests

#4873 ci: Add missing unit tests topics to coverage upload step
  .github/workflows/tests.yml
Labels: topic:CI

#4853 chore: pin `canals`
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4851 fix: add `unit` markers to several v2 tests
  test/preview/dataclasses/test_dataclasses.py
  test/preview/document_stores/_base.py
Labels: topic:tests, v2

#4855 chore: remove optional imports in v2
  haystack/preview/dataclasses/document.py
  haystack/preview/utils/import_utils.py
Labels: type:documentation

#4835 test: Update unit tests for schema
  haystack/schema.py
  test/others/test_schema.py
  test/samples/schema/text_answer.json
  test/samples/schema/text_doc.json
  test/samples/schema/text_doc_emb.json
  test/samples/schema/text_label.json
Labels: breaking change, type:documentation, topic:tests

#4779 ci: add new license checker
  .github/workflows/compliance.yml
  .github/workflows/license_compliance.yml
Labels: topic:CI

#4773 feat: allow filtering documents on all fields (v2)
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/memory/_filters.py
  test/preview/dataclasses/test_dataclasses.py
  test/preview/document_stores/_base.py
  test/preview/document_stores/test_memory.py
Labels: type:documentation, topic:tests, v2

#4818 feat: Add Anthropic invocation layer
  haystack/errors.py
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
  pyproject.toml
  test/prompt/invocation_layer/test_anthropic_claude.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#4874 ci: Upload coverage only if all unit tests pass
  .github/workflows/tests.yml
Labels: topic:CI

#4888 build: do not install 'dev' extras with 'all'
  .github/workflows/examples-tests.yml
  .github/workflows/linting.yml
  .github/workflows/openapi_sync.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:CI, topic:DX

#4885 ci: add a job to vet license of direct dependencies only
  .github/utils/pyproject_to_requirements.py
  .github/workflows/license_compliance.yml
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:CI

#4827 feat: Add Cohere PromptNode invocation layer
  docs/pydoc/config/prompt-node.yml
  haystack/errors.py
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/cohere.py
  haystack/nodes/prompt/invocation_layer/handlers.py
  test/prompt/invocation_layer/test_cohere.py
  test/prompt/test_handlers.py
Labels: type:documentation, topic:tests, topic:promptnode

#4884 feat: Send pipeline config hash every 100 runs
  haystack/pipelines/base.py
  haystack/telemetry.py
Labels: topic:pipeline, type:documentation

#4825 fix: Support for gpt-4-32k
  haystack/utils/openai_utils.py
  pyproject.toml
  test/utils/test_openai_utils.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#4908 Add base test class for v2 Components
  test/preview/components/base.py
Labels: topic:tests, v2

#4863 fix: `Document` v2 JSON serialization
  haystack/preview/dataclasses/document.py
  test/preview/dataclasses/test_document.py
Labels: type:documentation, topic:tests, v2

#4817 fix: Dynamic `max_answers` for SquadProcessor (fixes IndexError when max_answers is less than the number of answers in the dataset)
  haystack/modeling/data_handler/processor.py
  test/modeling/test_processor.py
Labels: topic:modeling, type:documentation, topic:tests

#4886 build: Upgrade transformers to 4.29.1
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4829 feat: Add agent memory
  haystack/agents/memory/__init__.py
  haystack/agents/memory/base.py
  haystack/agents/memory/conversation_memory.py
  haystack/agents/memory/conversation_summary_memory.py
  haystack/agents/memory/no_memory.py
  haystack/nodes/prompt/prompt_template.py
  test/agents/test_memory.py
  test/agents/test_summary_memory.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM, topic:agent, topic:promptnode

#4912 feat: add BLIP support in `TransformersImageToText`
  haystack/nodes/image_to_text/transformers.py
  test/nodes/test_image_to_text.py
Labels: type:documentation, topic:tests, topic:images

#4906 fix: `EvaluationResult` serialization changes dataframes
  haystack/schema.py
  test/others/test_schema.py
  test/pipelines/test_eval.py
Labels: topic:pipeline, type:documentation, topic:tests

#4929 fix: shaper exception when retriever return 0 docs.
  haystack/nodes/other/shaper.py
Labels: topic:pipeline, type:documentation

#4931 feat: Add conversational agent
  examples/agent_multihop_qa.py
  examples/conversational_agent.py
  haystack/agents/agent_step.py
  haystack/agents/base.py
  haystack/agents/conversational.py
  haystack/nodes/prompt/prompt_template.py
  test/agents/test_agent.py
  test/agents/test_agent_step.py
  test/agents/test_conversational_agent.py
  test/agents/test_tools_manager.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM, topic:agent, topic:promptnode

#4898 fix: Use `AutoTokenizer` instead of DPR specific tokenizer
  haystack/nodes/retriever/dense.py
  test/nodes/test_retriever.py
Labels: topic:tests, topic:retriever

#4896 build: Remove mmh3 dependency
  haystack/__init__.py
  haystack/mmh3.py
  haystack/schema.py
  haystack/utils/squad_data.py
  pyproject.toml
  test/agents/test_agent.py
  test/modeling/test_processor.py
  test/others/test_squad_data.py
  test/utils/test_mmh3.py
Labels: topic:modeling, type:documentation, topic:tests, topic:dependencies, topic:build/distribution, topic:agent

#4936 add test case for #4929
  test/nodes/test_shaper.py
Labels: topic:tests

#4028 feat: Support authentication using AuthBearerToken and AuthClientCredentials in Weaviate
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: type:documentation, topic:document_store, topic:tests, topic:weaviate

#4952 Pin Weaviate client
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4921 docstrings update in web.py
  haystack/nodes/search_engine/web.py
Labels: type:documentation

#4168 feat: Add max_tokens to BaseGenerator params
  haystack/nodes/answer_generator/base.py
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/answer_generator/transformers.py
  test/conftest.py
  test/nodes/test_generator.py
Labels: type:documentation, topic:tests

#4942 fix: Remove instruction following warning
  haystack/nodes/prompt/prompt_model.py
Labels: topic:LLM, topic:promptnode

#4945 test: avoid importing the weaviate client directly from the test module
  test/document_stores/test_weaviate.py
Labels: topic:document_store, topic:tests, topic:weaviate

#4801 fix: Adjust tool pattern to support multi-line inputs
  haystack/agents/base.py
  test/agents/test_tools_manager.py
Labels: type:documentation, topic:tests, topic:agent

#4958 ci: Fix step failing to calculate Datadog event type
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4959 ci: Add Datadog event send in examples tests workflow
  .github/workflows/examples-tests.yml
Labels: topic:CI

#4960 ci: Set calculator shell explicitly to handle Windows runs
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4961 ci: Remove legacy tests
  .github/workflows/tests.yml
Labels: topic:CI

#4962 test: leftover from merge conflict
  test/document_stores/test_weaviate.py
Labels: topic:document_store, topic:tests, topic:weaviate

#4951 chore: remove deprecated MilvusDocumentStore
  .github/labeler.yml
  .github/release.yml
  .github/workflows/cml.yaml
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  docs/pydoc/config/document-store.yml
  e2e/conftest.py
  e2e/document_stores/test_cosine_similarity.py
  e2e/document_stores/test_similarity_score.py
  e2e/document_stores/test_update_embeddings.py
  haystack/__init__.py
  haystack/document_stores/__init__.py
  haystack/document_stores/milvus.py
  haystack/document_stores/weaviate.py
  haystack/utils/__init__.py
  haystack/utils/doc_store.py
  pyproject.toml
  rest_api/rest_api/pipeline/pipelines_dpr.haystack-pipeline.yml
  test/benchmarks/results_to_json.py
  test/benchmarks/retriever_simplified.py
  test/benchmarks/templates.py
  test/benchmarks/utils.py
  test/conftest.py
  test/document_stores/test_milvus.py
  test/document_stores/test_sql_based.py
  test/nodes/test_retriever.py
  test/pipelines/test_eval.py
Labels: topic:faiss, topic:rest_api, topic:pipeline, type:documentation, topic:sql, topic:document_store, topic:tests, topic:dependencies, topic:retriever, topic:milvus, topic:weaviate, topic:build/distribution, topic:CI, topic:DX

#4964 ci: Standardize workflows file names
  .github/workflows/cml.yml
  .github/workflows/docstring_labeler.yml
  .github/workflows/examples_tests.yml
  .github/workflows/linting_skipper.yml
Labels: topic:CI

#4965 ci: Add workflow id to Datadog event tags
  .github/workflows/examples_tests.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4953 chore: remove BaseKnowledgeGraph
  e2e/document_stores/test_knowledge_graph.py
  haystack/document_stores/__init__.py
  haystack/document_stores/base.py
  haystack/document_stores/graphdb.py
  haystack/document_stores/memory_knowledgegraph.py
  haystack/nodes/__init__.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/text2sparql.py
  test/document_stores/test_graphdb.py
  test/document_stores/test_memory_knowledgegraph.py
  test/nodes/test_retriever.py
Labels: topic:knowledge_graph, type:documentation, topic:document_store, topic:tests, topic:retriever, topic:graphdb

#4947 fix: Fix necessary extra for MarkdownConverter
  haystack/nodes/file_converter/markdown.py
Labels: topic:file_converter, type:documentation

#4974 chore: leftovers from removing knowledge graph support
  .github/labeler.yml
  .github/release.yml
  .github/workflows/cml.yml
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  docs/pydoc/config/document-store.yml
  docs/pydoc/config/retriever.yml
  pyproject.toml
  test/conftest.py
Labels: topic:tests, topic:dependencies, ignore-for-release-notes, topic:build/distribution, topic:CI, topic:DX

#4832 feat: enable passing generation_kwargs to the PromptNode in pipeline.run()
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/prompt_node.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM, topic:promptnode

#4819 feat: HFInferenceEndpointInvocationLayer streaming support
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  test/prompt/invocation_layer/test_hugging_face_inference.py
  test/prompt/test_handlers.py
Labels: type:documentation, topic:tests, topic:promptnode

#4910 `RemoteWhisperTranscriber` (v2)
  e2e/conftest.py
  e2e/preview/components/test_transcriber.py
  e2e/preview/test_files/audio/answer.wav
  e2e/preview/test_files/audio/the context for this answer is here.wav
  e2e/preview/test_files/audio/this is the content of the document.wav
  haystack/preview/__init__.py
  haystack/preview/components/__init__.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/preview/pipeline.py
  pyproject.toml
  test/conftest.py
  test/preview/components/audio/__init__.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/pipeline/test_pipeline.py
  test/preview/test_files/audio/the context for this answer is here.wav
  test/preview/test_files/audio/this is the content of the document.wav
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution, v2

#4980 fix: Fix request_with_retry kwargs
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
  haystack/nodes/prompt/invocation_layer/cohere.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
Labels: type:documentation

#4987 fix: Pin typing_extensions to fix Pydantic issue
  haystack/schema.py
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4991 build: Remove tiktoken alternative
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/utils/openai_utils.py
  pyproject.toml
Labels: type:documentation, topic:dependencies, topic:retriever, topic:build/distribution

#4879 PromptHub integration in `PromptNode`
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/prompt_template.py
  pyproject.toml
  test/agents/test_agent.py
  test/agents/test_conversational_agent.py
  test/agents/test_summary_memory.py
  test/conftest.py
  test/nodes/test_generator.py
  test/nodes/test_shaper.py
  test/prompt/test_prompt_node.py
  test/prompt/test_prompt_template.py
Labels: breaking change, type:documentation, topic:tests, topic:dependencies, topic:build/distribution, topic:LLM, topic:agent, topic:promptnode

#4994 feat: Add prompt_template to conversational agent init params
  haystack/agents/conversational.py
Labels: type:documentation, topic:agent

#5011 test: Mock request from prompt hub in unit test
  test/agents/test_conversational_agent.py
Labels: topic:tests, topic:agent

#4998 feat: Add back hardcoded default templates
  haystack/nodes/prompt/legacy_default_templates.py
  haystack/nodes/prompt/prompt_node.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:promptnode

#3853 ci: run Elasticsearch 8.6 in compatibility mode
  .github/workflows/tests.yml
  test/nodes/test_generator.py
Labels: topic:tests, topic:windows, ignore-for-release-notes, topic:CI

#5012 fix: `fitz` import switcher
  haystack/nodes/file_converter/__init__.py
Labels: topic:file_converter

#5001 refactor: Generate eval result in separate method
  haystack/pipelines/base.py
Labels: topic:pipeline, type:documentation

#5002 feat: Allow setting java options when launching Elasticsearch / OpenSearch
  haystack/utils/doc_store.py
Labels: type:documentation

#5003 refactor: Adapt benchmarking utils
  test/benchmarks/utils.py
Labels: topic:tests

#5020 ci: track license compliance failures with Datadog
  .github/workflows/license_compliance.yml
Labels: topic:CI

#5004 refactor: Adapt retriever benchmarks script
  test/benchmarks/retriever.py
  test/benchmarks/utils.py
Labels: type:documentation, topic:tests

#5000 docs: updating docstrings to say OpenSearch and backlink to correct docs
  haystack/document_stores/opensearch.py
Labels: type:documentation, topic:document_store, topic:opensearch

#4989 build: Install protobuf via transformers extra sentencepiece
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5005 refactor: Adapt reader benchmarks
  test/benchmarks/reader.py
  test/benchmarks/utils.py
Labels: topic:tests

#5006 refactor: Add reader-retriever benchmark script
  test/benchmarks/retriever.py
  test/benchmarks/retriever_reader.py
  test/benchmarks/utils.py
Labels: type:documentation, topic:tests

#4985 build: Remove dill dependency
  haystack/__init__.py
  haystack/modeling/training/base.py
  pyproject.toml
Labels: topic:modeling, topic:dependencies, topic:build/distribution

#5007 refactor: Adapt running benchmarks
  test/benchmarks/README.md
  test/benchmarks/run.py
  test/benchmarks/utils.py
Labels: type:documentation, topic:tests

#5018 fix: Move check for default `PromptTemplate`s in `PromptTemplate` itself
  haystack/nodes/prompt/legacy_default_templates.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/prompt_template.py
  test/prompt/test_prompt_node.py
  test/prompt/test_prompt_template.py
Labels: type:documentation, topic:tests, topic:LLM, topic:promptnode

#5024 ci: fix Datadog event body
  .github/workflows/license_compliance.yml
Labels: topic:CI

#4976 fix: prompt_template_resolved.output_variable is NoneType issue
  haystack/nodes/prompt/prompt_node.py
Labels: topic:LLM, topic:promptnode

#4979 chore: Simplify DefaultPromptHandler logic and add tests
  haystack/nodes/prompt/invocation_layer/handlers.py
  test/prompt/test_handlers.py
Labels: type:documentation, topic:tests, topic:promptnode

#4872 chore: Change checklist to simple list in PR template
  .github/pull_request_template.md
Labels: topic:CI

#5040 chore: Unpin typing_extensions and remove all its uses
  haystack/document_stores/memory.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/file_converter/parsr.py
  haystack/nodes/preprocessor/base.py
  haystack/nodes/reader/table.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  haystack/pipelines/utils.py
  haystack/schema.py
  haystack/utils/deepsetcloud.py
  haystack/utils/early_stopping.py
  pyproject.toml
  rest_api/rest_api/schema.py
Labels: topic:rest_api, topic:file_converter, topic:pipeline, topic:reader, topic:preprocessing, topic:document_store, topic:dependencies, topic:retriever, topic:dc-api, topic:build/distribution

#5050 feat: Add CLI prompt cache command
  haystack/preview/cli/entry_point.py
  haystack/preview/cli/prompt/__init__.py
  haystack/preview/cli/prompt/fetch.py
  test/preview/cli/conftest.py
  test/preview/cli/test_prompt_fetch.py
Labels: topic:tests

#5049 docs: Fix doc for `FARMReader.predict`
  haystack/nodes/reader/farm.py
Labels: topic:reader, type:documentation
