Repository deepset-ai/haystack, pull requests merged in 2023-09, with the labels that each got.

#5699 Rename `question` to `query` in `Answer` dataclass (2.0)
  haystack/preview/dataclasses/answer.py
Labels: ignore-for-release-notes, 2.x

#5596 fix: Set model_max_length in the Tokenizer of `DefaultPromptHandler`
  haystack/nodes/prompt/invocation_layer/handlers.py
  releasenotes/notes/fix-model_max_length-prompt_handler-7f34c40c62a8c55b.yaml
  test/prompt/test_handlers.py
Labels: topic:tests, topic:promptnode

#5705 Update 3558-embedding_retriever.md, link to the new embedders proposal
  proposals/text/3558-embedding_retriever.md
Labels: proposal

#5701 feat: Add `AnswersBuilder` component (2.0)
  haystack/preview/components/builders/__init__.py
  haystack/preview/components/builders/answers_builder.py
  releasenotes/notes/add-answersbuilder-2.0-5dd255eeba68041f.yaml
  test/preview/components/builders/__init__.py
  test/preview/components/builders/test_answers_builders.py
Labels: type:documentation, topic:tests, 2.x

#5713 Add `PromptBuilder`
  haystack/preview/components/generators/prompt_builder.py
  pyproject.toml
  releasenotes/notes/prompt-builder-d22954ef9c4a2a7b.yaml
  test/preview/components/generators/test_prompt_builder.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution, 2.x

#5720 chore: Rename `AnswersBuilder` to `AnswerBuilder`
  haystack/preview/components/builders/answer_builder.py
  releasenotes/notes/add-answerbuilder-2.0-5dd255eeba68041f.yaml
  releasenotes/notes/add-answersbuilder-2.0-5dd255eeba68041f.yaml
  test/preview/components/builders/test_answer_builder.py
Labels: topic:tests, ignore-for-release-notes

#5548 Docs: Correct the number of tokens
  haystack/nodes/ranker/cohere.py
Labels: type:documentation, ignore-for-release-notes

#5722 ci: add api keys for testing example code
  .github/workflows/examples_tests.yml
Labels: topic:CI

#5729 chore: move `PromptBuilder` in `builders`
  haystack/preview/components/builders/prompt_builder.py
  test/preview/components/builders/test_prompt_builder.py
Labels: topic:tests, ignore-for-release-notes

#5578 docs: Add minimal getting started code to showcase haystack + RAG
  examples/getting_started.py
  examples/test_getting_started.py
  haystack/utils/__init__.py
  haystack/utils/getting_started.py
Labels: type:documentation, ignore-for-release-notes

#5730 chore: enable e2e preview tests
  .github/workflows/e2e.yml
  e2e/preview/components/test_whisper_local.py
  haystack/preview/__init__.py
  haystack/preview/components/audio/whisper_local.py
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#5714 feat: `GPT35Generator`
  e2e/preview/components/test_gpt35_generator.py
  haystack/preview/components/generators/openai/_helpers.py
  haystack/preview/components/generators/openai/gpt35.py
  pyproject.toml
  releasenotes/notes/chatgpt-llm-generator-d043532654efe684.yaml
  test/preview/components/generators/openai/test_gpt35_generator.py
  test/preview/components/generators/openai/test_openai_helpers.py
  test/preview/conftest.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#5735 docs: Remove mention of hosted annotation tool
  annotation_tool/README.md
Labels: ignore-for-release-notes

#5732 chore: fix RemoteWhisperTranscriber e2e tests
  e2e/preview/components/test_whisper_local.py
  e2e/preview/components/test_whisper_remote.py
Labels: ignore-for-release-notes

#5737 fix: Fix output of AnswerBuilder
  haystack/preview/components/builders/answer_builder.py
  test/preview/components/builders/test_answer_builder.py
Labels: topic:tests, ignore-for-release-notes

#5742 Updating WebRetriver API docs
  haystack/nodes/retriever/web.py
Labels: type:documentation, topic:retriever, ignore-for-release-notes

#5747 test: make `WebQAPipeline` tests more robust
  e2e/pipelines/test_standard_pipelines.py
  test/pipelines/test_standard_pipelines.py
Labels: topic:pipeline, topic:tests, ignore-for-release-notes

#5726 `MemoryEmbeddingRetriever` (2.0)
  haystack/preview/components/retrievers/__init__.py
  haystack/preview/components/retrievers/memory.py
  releasenotes/notes/memory-embedding-retriever-dde22dedc83d1603.yaml
  test/preview/components/retrievers/test_memory_retriever.py
Labels: type:documentation, topic:tests, 2.x

#5738 feat: Improve `Document` for Haystack 2.0
  haystack/preview/__init__.py
  haystack/preview/components/audio/whisper_local.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/components/file_converters/txt.py
  haystack/preview/components/websearch/serper_dev.py
  haystack/preview/dataclasses/__init__.py
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/testing/document_store.py
  haystack/preview/testing/factory.py
  proposals/text/5738-document-2.0.md
  releasenotes/notes/new-document-f7072e3f6d93e10f.yaml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/components/builders/test_answer_builder.py
  test/preview/components/embedders/test_sentence_transformers_document_embedder.py
  test/preview/components/file_converters/test_textfile_to_document.py
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/components/writers/test_document_writer.py
  test/preview/dataclasses/test_document.py
  test/preview/document_stores/test_memory.py
  test/preview/testing/test_factory.py
Labels: type:documentation, topic:tests, proposal, 2.x

#5752 ci: linting.yml: Upgrade GitHub Actions
  .github/workflows/linting.yml
Labels: topic:CI

#5777 ci: pre-commit autoupdate
  .github/ISSUE_TEMPLATE/bug_report.md
  .pre-commit-config.yaml
  annotation_tool/README.md
  docs/pydoc/config/base-document-classifier.yml
  docs/pydoc/config/base-image-to-text.yml
  docs/pydoc/config/base-preprocessor.yml
  docs/pydoc/config/base-query-classifier.yml
  docs/pydoc/config/base-reader.yml
  docs/pydoc/config/base-translator.yml
  haystack/cli/README.md
  proposals/text/3550-csv-converter.md
  releasenotes/notes/deepset-cloud-document-store-search-fields-40b2322466f808a3.yaml
Labels: topic:CI, topic:DX, proposal

#5774 fix: temporary pin tiktoken
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5753 chore: remove flaky end2end test for `GPT35Generator`
  e2e/preview/components/test_gpt35_generator.py
Labels: ignore-for-release-notes

#5773 chore: fix e2e tests
  e2e/preview/components/test_whisper_local.py
  e2e/preview/components/test_whisper_remote.py
Labels: ignore-for-release-notes

#5771 ci: Use pylint to set limits on code complexity
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5787 ci: Upgrade GitHub Actions
  .github/workflows/benchmarks.yml
  .github/workflows/docker_release.yml
  .github/workflows/docstring_labeler.yml
  .github/workflows/e2e.yml
  .github/workflows/examples_tests.yml
  .github/workflows/imports.yml
  .github/workflows/license_compliance.yml
  .github/workflows/minor_version_release.yml
  .github/workflows/openapi_sync.yml
  .github/workflows/project.yml
  .github/workflows/pypi_release.yml
  .github/workflows/readme_sync.yml
  .github/workflows/release_notes.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/workflows_linting.yml
  .github/workflows/xpdf_release.yml
Labels: topic:CI

#5744 feat: `GPT4Generator`
  e2e/preview/components/test_gpt35_generator.py
  haystack/preview/components/generators/openai/gpt35.py
  haystack/preview/components/generators/openai/gpt4.py
  releasenotes/notes/gpt4-llm-generator-60708087ec42211f.yaml
  test/preview/components/generators/openai/test_gpt4_generator.py
Labels: type:documentation, topic:tests

#5788 ci: let dependabot update github actions
  .github/dependabot.yml
Labels: ignore-for-release-notes, topic:CI

#5791 Fix license compliance workflow
  .github/workflows/license_compliance.yml
Labels: topic:CI

#5792 Revert "build(deps): bump readmeio/rdme from 8.3.1 to 8.6.6"
  .github/workflows/openapi_sync.yml
  .github/workflows/readme_sync.yml
Labels: topic:CI

#5766 feat: make `AnswerBuilder` non batch
  haystack/preview/components/builders/answer_builder.py
  test/preview/components/builders/test_answer_builder.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5745 feat: add `prefix` and `suffix` to `SentenceTransformersDocumentEmbedder`
  haystack/preview/components/embedders/__init__.py
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  releasenotes/notes/sentence-transformers-doc-embedder-prefix-suffix-442412c553135406.yaml
  test/preview/components/embedders/test_sentence_transformers_document_embedder.py
Labels: type:documentation, topic:tests

#5779 feat!: Remove SklearnQueryClassifier
  e2e/pipelines/test_pipeline_topologies.py
  haystack/nodes/__init__.py
  haystack/nodes/query_classifier/__init__.py
  haystack/nodes/query_classifier/sklearn.py
  pyproject.toml
  releasenotes/notes/remove-sklearnqueryclassifier-a95382808d99cb58.yaml
  test/nodes/test_query_classifier.py
Labels: breaking change, type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#5795 Fix license compliance check failing when running in PR from forks
  .github/workflows/license_compliance.yml
Labels: ignore-for-release-notes, topic:CI

#5785 Use newer tiktoken
  haystack/nodes/retriever/_openai_encoder.py
  haystack/utils/openai_utils.py
  pyproject.toml
  releasenotes/upgrade-tiktoken-0.5.1-3cea9bf90fddb2f2.yaml
Labels: type:documentation, topic:dependencies, topic:retriever, topic:build/distribution

#5768 feat: make `MemoryBM25Retriever` non batch
  haystack/preview/components/retrievers/memory.py
  test/preview/components/retrievers/test_memory_retriever.py
Labels: topic:tests, ignore-for-release-notes

#5783 ci: Use ruff in pre-commit to further limit code complexity
  .pre-commit-config.yaml
  haystack/mmh3.py
  haystack/modeling/data_handler/processor.py
  haystack/pipelines/base.py
  pyproject.toml
  test/mocks/pinecone.py
Labels: topic:modeling, topic:pipeline, type:documentation, topic:tests, topic:dependencies, ignore-for-release-notes, topic:build/distribution, topic:DX

#5778 ci: Fix typos discovered by codespell
  .pre-commit-config.yaml
  docker/Dockerfile.base
  docs/pydoc/config/base-document-classifier.yml
  e2e/document_stores/test_update_embeddings.py
  haystack/agents/conversational.py
  haystack/document_stores/elasticsearch/es7.py
  haystack/document_stores/elasticsearch/es8.py
  haystack/document_stores/es_converter.py
  haystack/document_stores/memory.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/data_handler/samples.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/feature_extraction.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/triadaptive_model.py
  haystack/nodes/_json_schema.py
  haystack/nodes/audio/whisper_transcriber.py
  haystack/nodes/base.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/image_to_text/transformers.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_text_gen.py
  haystack/nodes/prompt/prompt_template.py
  haystack/nodes/reader/farm.py
  haystack/utils/deepsetcloud.py
  haystack/utils/squad_data.py
  proposals/text/3875-table-cell.md
  proposals/text/4284-drop-basecomponent.md
  proposals/text/4370-documentstores-and-retrievers.md
  proposals/text/5390-embedders.md
  pyproject.toml
  releasenotes/notes/codespell-d4a32b9c589ca26e.yaml
  rest_api/rest_api/controller/feedback.py
  test/conftest.py
  test/document_stores/test_opensearch.py
  test/prompt/test_prompt_node.py
  test/samples/markdown/sample.md
Labels: topic:rest_api, topic:docker, topic:elasticsearch, topic:modeling, topic:reader, type:documentation, topic:document_store, topic:tests, topic:dependencies, ignore-for-release-notes, topic:images, topic:audio, topic:crawler, topic:dc-api, topic:opensearch, topic:build/distribution, topic:DX, proposal, topic:LLM, topic:agent, topic:promptnode

#5808 chore: move release note to the right directory
  releasenotes/notes/upgrade-tiktoken-0.5.1-3cea9bf90fddb2f2.yaml
Labels: ignore-for-release-notes

#5725 feat: Pinecone document store refactoring
  haystack/document_stores/pinecone.py
  releasenotes/notes/refactor-pinecone-document-store.yaml
  test/document_stores/test_pinecone.py
Labels: breaking change, type:documentation, topic:document_store, topic:tests, topic:pinecone

#5811 feat: make `SentenceTransformersTextEmbedder` non batch
  haystack/preview/components/embedders/sentence_transformers_text_embedder.py
  test/preview/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#5797 refactor: Move filter utilities (2.0)
  haystack/preview/document_stores/errors.py
  haystack/preview/document_stores/memory/__init__.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/document_stores/memory/errors.py
  haystack/preview/errors.py
  haystack/preview/testing/document_store.py
  haystack/preview/utils/__init__.py
  haystack/preview/utils/filters.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#5809 feat: make `MemoryEmbeddingRetriever` non-batch
  haystack/preview/components/retrievers/memory.py
  test/preview/components/retrievers/test_memory_retriever.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#5813 fix: remove `__future__` import from `pinecone.py`
  haystack/document_stores/pinecone.py
Labels: type:documentation, topic:document_store, ignore-for-release-notes, topic:pinecone

#5816 ci: run apt-get update
  .github/workflows/e2e.yml
Labels: ignore-for-release-notes, topic:CI

#5802 ci: Fix invalid escape sequences in Python code
  pyproject.toml
  test/document_stores/test_opensearch.py
  test/document_stores/test_pinecone.py
  test/nodes/test_generator.py
  test/nodes/test_image_to_text.py
  test/nodes/test_shaper.py
  test/pipelines/test_pipeline_yaml.py
Labels: topic:pipeline, type:documentation, topic:document_store, topic:tests, topic:dependencies, ignore-for-release-notes, topic:pinecone, topic:images, topic:opensearch, topic:build/distribution

#5825 ci: pre-commit - move `ruff` after `black`
  .pre-commit-config.yaml
Labels: ignore-for-release-notes, topic:DX

#5826 Fix Document constructor accepting unused id parameter
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/memory/document_store.py
  releasenotes/notes/fix-document-constructor-18b9e5dd9522a918.yaml
  test/preview/dataclasses/test_document.py
  test/preview/testing/test_factory.py
Labels: breaking change, type:documentation, topic:tests

#5695 bug: fix the date_fields request bottleneck
  haystack/document_stores/weaviate.py
  releasenotes/notes/fix-weaviate-date-fields-request-bottleneck-d9784b7e1044cacd.yaml
Labels: type:documentation, topic:document_store, topic:weaviate

#5820 ci: Fix all ruff pyflakes errors except unused imports
  haystack/modeling/__init__.py
  pyproject.toml
  rest_api/rest_api/__about__.py
  test/benchmarks/datadog/metric_handler.py
  test/document_stores/test_faiss.py
  test/document_stores/test_pinecone.py
  test/document_stores/test_weaviate.py
  test/nodes/test_file_converter.py
  test/nodes/test_filetype_classifier.py
  test/nodes/test_preprocessor.py
  test/nodes/test_query_classifier.py
  test/nodes/test_reader.py
  test/nodes/test_shaper.py
  test/nodes/test_summarizer.py
  test/others/test_utils.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
  test/pipelines/test_pipeline.py
  test/pipelines/test_pipeline_yaml.py
  test/preview/components/audio/test_whisper_remote.py
  test/prompt/invocation_layer/test_hugging_face.py
  test/prompt/test_prompt_node.py
  test/utils/test_openai_utils.py
Labels: topic:faiss, topic:rest_api, topic:file_converter, topic:modeling, topic:pipeline, topic:reader, type:documentation, topic:preprocessing, topic:document_store, topic:tests, topic:dependencies, ignore-for-release-notes, topic:pinecone, topic:weaviate, topic:build/distribution, topic:promptnode

#5803 perf: Python performance improvements with ruff C4 and PERF fixes
  .pre-commit-config.yaml
  e2e/modeling/test_dpr.py
  haystack/document_stores/base.py
  haystack/document_stores/opensearch.py
  haystack/modeling/data_handler/dataset.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/triadaptive_model.py
  haystack/nodes/base.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/file_converter/azure.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/parsr.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/other/join_docs.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/ranker/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/sparse.py
  haystack/nodes/translator/transformers.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/schema.py
  haystack/testing/document_store.py
  haystack/utils/context_matching.py
  haystack/utils/deepsetcloud.py
  haystack/utils/preprocessing.py
  pyproject.toml
  test/benchmarks/datadog/metric_handler.py
  test/benchmarks/datadog/send_metrics.py
  test/benchmarks/utils.py
  test/document_stores/test_elasticsearch.py
  test/nodes/test_file_converter.py
  test/nodes/test_preprocessor.py
  test/nodes/test_reader.py
  test/nodes/test_shaper.py
  test/nodes/test_web_search.py
  test/others/test_utils.py
  test/pipelines/test_eval.py
  test/prompt/test_prompt_template.py
Labels: topic:file_converter, topic:elasticsearch, topic:modeling, topic:pipeline, topic:reader, type:documentation, topic:preprocessing, topic:document_store, topic:tests, topic:dependencies, topic:retriever, ignore-for-release-notes, topic:dc-api, topic:opensearch, topic:build/distribution, topic:DX, topic:promptnode

#5829 test: Fix the test_nin_filter_embedding() function
  haystack/preview/testing/document_store.py
Labels: ignore-for-release-notes

#5828 ci: Speed up pylint GitHub Action
  .github/workflows/linting.yml
Labels: topic:CI

#5832 Revert "ci: Speed up pylint GitHub Action"
  .github/workflows/linting.yml
Labels: topic:CI

#5837 feat: Add support for OpenAI's `gpt-3.5-turbo-instruct` model
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  releasenotes/notes/support-gpt-3.5-turbo-instruct-79236835a8be143c.yaml
  test/prompt/invocation_layer/test_chatgpt.py
  test/prompt/invocation_layer/test_openai.py
Labels: topic:tests

#5819 chore: separate Memory Retrievers
  haystack/preview/components/retrievers/__init__.py
  haystack/preview/components/retrievers/memory_bm25_retriever.py
  haystack/preview/components/retrievers/memory_embedding_retriever.py
  test/preview/components/retrievers/test_memory_bm25_retriever.py
  test/preview/components/retrievers/test_memory_embedding_retriever.py
  test/preview/components/retrievers/test_memory_retriever.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#5833 ci: Simplify Python code with ruff rules SIM
  e2e/pipelines/test_standard_pipelines.py
  e2e/preview/components/test_gpt35_generator.py
  e2e/preview/components/test_whisper_local.py
  e2e/preview/components/test_whisper_remote.py
  haystack-linter/haystack_linter/linting.py
  haystack/agents/base.py
  haystack/document_stores/elasticsearch/es8.py
  haystack/document_stores/es_converter.py
  haystack/document_stores/faiss.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/search_engine.py
  haystack/document_stores/utils.py
  haystack/document_stores/weaviate.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/multimodal/__init__.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/training/base.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/file_converter/pdf_xpdf.py
  haystack/nodes/file_converter/tika.py
  haystack/nodes/file_converter/txt.py
  haystack/nodes/other/route_documents.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_infer.py
  haystack/nodes/reader/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/sparse.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/pipelines/ray.py
  haystack/schema.py
  haystack/utils/cleaning.py
  pyproject.toml
  rest_api/rest_api/controller/feedback.py
  rest_api/test/test_rest_api.py
  test/agents/test_tools_manager.py
  test/document_stores/test_pinecone.py
  test/document_stores/test_sql_based.py
  test/modeling/test_processor.py
  test/nodes/test_filetype_classifier.py
  test/nodes/test_link_content_fetcher.py
  test/nodes/test_web_retriever.py
  test/others/test_utils.py
  test/preview/components/file_converters/test_textfile_to_document.py
  test/prompt/test_prompt_template.py
Labels: topic:faiss, topic:rest_api, topic:file_converter, topic:elasticsearch, topic:modeling, topic:pipeline, topic:reader, topic:sql, topic:document_store, topic:tests, topic:dependencies, topic:retriever, ignore-for-release-notes, topic:pinecone, topic:weaviate, topic:crawler, topic:opensearch, topic:build/distribution, topic:agent, topic:promptnode

#5724 feat: Add `LinkContentFetcher` Haystack 2.0 component
  haystack/preview/components/fetchers/__init__.py
  haystack/preview/components/fetchers/link_content.py
  releasenotes/notes/add-link-content-fetcher-145915976f38e1e0.yaml
  releasenotes/notes/refactor-pinecone-document-store.yaml
  releasenotes/notes/support-azure-3.5-gpt-16k-model-ece0cfe03260748c.yaml
  test/preview/components/fetchers/__init__.py
  test/preview/components/fetchers/test_link_content_fetcher.py
  test/preview/conftest.py
  test/preview/test_files/pdf/sample_pdf_1.pdf
Labels: type:documentation, topic:tests, 2.x

#5843 ci: Run preview integration tests in CI
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#5842 chore: move websearch tests back to main tests suite
  e2e/preview/components/test_serperdev_websearch.py
  test/preview/components/websearch/test_serperdev.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#5823 feat: Add support for dates in filters (2.0)
  haystack/preview/utils/filters.py
  releasenotes/notes/support-dates-in-filters-2.0-15785cc3776d2210.yaml
  test/preview/utils/test_filters.py
Labels: type:documentation, topic:tests, 2.x

#5849 fix: add missing dependency in preview integration
  .github/workflows/tests.yml
Labels: topic:CI

#5841 feat: `UrlCacheChecker`
  haystack/preview/components/caching/__init__.py
  haystack/preview/components/caching/url_cache_checker.py
  releasenotes/notes/url-cache-checker-a0fb3d7ad0bdb8c2.yaml
  test/preview/components/caching/test_url_cache_checker.py
Labels: type:documentation, topic:tests, 2.x

#5845 chore: move Whisper e2e tests in the main tests suite
  e2e/preview/components/test_whisper_local.py
  e2e/preview/components/test_whisper_remote.py
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#5824 feat: Add `MetadataRouter` (2.0)
  haystack/preview/components/routers/file_router.py
  haystack/preview/components/routers/metadata_router.py
  releasenotes/notes/add-metadata_router-2.0-63829ac5a0528e9d.yaml
  test/preview/components/routers/__init__.py
  test/preview/components/routers/test_file_router.py
  test/preview/components/routers/test_metadata_router.py
Labels: type:documentation, topic:tests, 2.x

#5851 fix: Whisper integration tests
  .github/workflows/tests.yml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/test_files/audio/answer.wav
Labels: topic:tests, ignore-for-release-notes, topic:CI

#5848 fix: Change MemoryEmbeddingRetriever return type to list of docs 2.0
  haystack/preview/components/retrievers/memory_embedding_retriever.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#5844 chore: move `GPT35Generator` tests in the main test suite
  .github/workflows/e2e.yml
  e2e/preview/components/test_gpt35_generator.py
  e2e/preview/test_files/audio/answer.wav
  e2e/preview/test_files/audio/the context for this answer is here.wav
  e2e/preview/test_files/audio/this is the content of the document.wav
  test/preview/components/generators/openai/test_gpt35_generator.py
Labels: topic:tests, ignore-for-release-notes, topic:CI

#5850 feat: Add PyPDFToDocument component (2.0)
  haystack/preview/components/file_converters/pypdf.py
  pyproject.toml
  releasenotes/notes/add-pypdf-to-document-converter-4a39c29abc4da7ba.yaml
  test/preview/components/file_converters/test_pypdf_to_document.py
  test/preview/test_files/pdf/react_paper.pdf
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution, 2.x

#5553 feat: initial ExtractiveReader implementation
  haystack/preview/components/readers/__init__.py
  haystack/preview/components/readers/extractive.py
  haystack/preview/dataclasses/answer.py
  releasenotes/notes/add-v2-extractive-reader-a2158d38781803ec.yaml
  test/preview/components/readers/test_extractive.py
Labels: type:documentation, topic:tests

#5863 Remove unnecessary GPT4Generator class
  haystack/preview/components/generators/openai/gpt.py
  haystack/preview/components/generators/openai/gpt4.py
  releasenotes/notes/chatgpt-llm-generator-d043532654efe684.yaml
  test/preview/components/generators/openai/test_gpt4_generator.py
  test/preview/components/generators/openai/test_gpt_generator.py
Labels: type:documentation, topic:tests

#5862 feat: optionally pass an id to the Document constructor
  haystack/preview/components/embedders/sentence_transformers_document_embedder.py
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/memory/document_store.py
  releasenotes/notes/pass-id-to-doc-init-c6b44d30978f2d9f.yaml
  test/preview/dataclasses/test_document.py
  test/preview/testing/test_factory.py
Labels: type:documentation, topic:tests, 2.x

#5801 feat: `OpenAITextEmbedder`
  haystack/preview/components/embedders/openai_text_embedder.py
  releasenotes/notes/openai-text-embedder-8f06cf0bf29e6752.yaml
  test/preview/components/embedders/test_openai_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#5853 Add link output to `SerperDevWebSearch`
  haystack/preview/components/websearch/serper_dev.py
  test/preview/components/websearch/test_serperdev.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5871 chore: make preview integration tests reproducible
  haystack/preview/testing/test_utils.py
  test/preview/components/readers/test_extractive.py
  test/preview/conftest.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#5876 test: e2e tests for RAG Pipelines
  .github/workflows/e2e.yml
  e2e/preview/conftest.py
  e2e/preview/pipelines/test_rag_pipelines.py
Labels: ignore-for-release-notes, topic:CI, 2.x

#5864 Add Pipelines async run
  e2e/pipelines/test_standard_pipelines.py
  e2e/samples/pipelines/async_test_pipeline.yml
  haystack/nodes/asyncio/sleeper.py
  haystack/nodes/base.py
  haystack/pipelines/base.py
  releasenotes/notes/async-pipeline-20649b54ecff2706.yaml
Labels: topic:pipeline, type:documentation

#5879 test: e2e test for Extractive QA Pipeline
  e2e/preview/pipelines/test_extractive_qa_pipeline.py
Labels: ignore-for-release-notes, 2.x

#5855 feat: Add `AzureOCRDocumentConverter` (2.0)
  .github/workflows/tests.yml
  haystack/preview/components/file_converters/__init__.py
  haystack/preview/components/file_converters/azure.py
  releasenotes/notes/add-azure_ocr_doc_converter-935130b3b243d236.yaml
  test/preview/components/file_converters/test_azure_ocr_doc_converter.py
  test/preview/test_files/images/haystack-logo.png
Labels: type:documentation, topic:tests, topic:CI, 2.x

#5891 chore: pin `setuptools_scm` in the `metrics` extra
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5894 chore: pin `setuptools_scm` in the `metrics` extra only for Windows
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5898 fix: Add `preview` extra to e2e tests
  .github/workflows/e2e.yml
Labels: ignore-for-release-notes, topic:CI

#5870 feat: Add TextDocumentSplitter that splits by word, sentence, passage (2.0)
  haystack/preview/components/preprocessors/__init__.py
  haystack/preview/components/preprocessors/text_document_splitter.py
  releasenotes/notes/preprocessor-2-0-9828d930562fa3f5.yaml
  test/preview/components/preprocessors/__init__.py
  test/preview/components/preprocessors/test_text_document_splitter.py
Labels: type:documentation, topic:tests, 2.x

#5794 Rework evaluation and metrics calculation for Haystack 2.x
  proposals/text/0000-evaluation-haystack-2.md
  proposals/text/0000-evaluation-haystack-2.py
Labels: ignore-for-release-notes, proposal

#5906 test: make Azure integration tests more robust
  test/preview/components/file_converters/test_azure_ocr_doc_converter.py
Labels: topic:tests, ignore-for-release-notes

#5909 feat: Make `metadata` optional in AnswerBuilder
  haystack/preview/components/builders/answer_builder.py
  test/preview/components/builders/test_answer_builder.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5822 feat: `OpenAIDocumentEmbedder`
  haystack/preview/components/embedders/__init__.py
  haystack/preview/components/embedders/openai_document_embedder.py
  releasenotes/notes/openai-document-embedder-d2f59ba1f21babcb.yaml
  test/preview/components/embedders/test_openai_document_embedder.py
Labels: type:documentation, topic:tests, 2.x

#5908 chore: clean up the Slack integrations
  .github/workflows/examples_tests.yml
  .github/workflows/pypi_release.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI

#5907 feat: Add HTMLToDocument component (v2)
  haystack/preview/components/file_converters/__init__.py
  haystack/preview/components/file_converters/html.py
  releasenotes/notes/add-html-to-document-21fe38b244388f4d.yaml
  test/preview/components/file_converters/test_html_to_document.py
  test/preview/test_files/html/what_is_haystack.html
Labels: type:documentation, topic:tests, 2.x

#5900 feat: update canals to 0.8.1
  .github/workflows/license_compliance.yml
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#5890 feat: add async PromptNode run
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
  releasenotes/notes/add-promptnode-arun-bc4c2bcc9c653015.yaml
  test/prompt/test_prompt_model.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM, topic:promptnode

#5918 chore: Remove classifiers directory from preview package
  haystack/preview/components/classifiers/__init__.py
Labels: type:documentation, ignore-for-release-notes

#5639 feat: separate out `preview` tests
  .github/workflows/ci_metrics.yml
  .github/workflows/e2e.yml
  .github/workflows/e2e_preview.yml
  .github/workflows/tests.yml
  .github/workflows/tests_preview.yml
  .github/workflows/tests_preview_skipper.yml
  .github/workflows/tests_skipper.yml
  haystack/preview/testing/test_utils.py
Labels: type:documentation, ignore-for-release-notes, topic:CI, 2.x
