Repository deepset-ai/haystack, pull requests merged in 2023-02, with the labels that each got.

#3875 proposal: TableCell
  proposals/text/3875-table-cell.md
Labels: proposal, proposal:review

#4016 refactor: In PromptNode reuse tokenizer instead of loading new one for stop words
  haystack/nodes/prompt/prompt_node.py
Labels: type:refactor, topic:LLM

#4027 chore: add discord badge to readme
  README.md
Labels: ignore-for-release-notes

#4015 ci: Automate release on PyPi
  .github/config/pypi-release-slack-notification.yml
  .github/workflows/pypi_release.yml
Labels: topic:CI

#3880 feat: add `Shaper`
  haystack/nodes/__init__.py
  haystack/nodes/other/__init__.py
  haystack/nodes/other/shaper.py
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_shaper.py
Labels: type:feature, topic:pipeline, topic:tests, topic:LLM

#3971 fix: Event sending for `RayPipeline` crashing Haystack
  haystack/pipelines/ray.py
Labels: topic:pipeline

#4031 ci: Bump act10ns/slack from v1 to v2
  .github/workflows/compliance.yml
  .github/workflows/examples-tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4035 ci: latest version of pylint is failing, ignore new errors
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4032 ci: Add linting of workflow and related pre-commit hook
  .github/actionlint.yml
  .github/actions/python_cache/action.yml
  .github/workflows/minor_version_release.yml
  .github/workflows/readme_sync.yml
  .github/workflows/workflows_linting.yml
  .pre-commit-config.yaml
Labels: topic:CI, topic:DX

#3885 fix: document retrieval metrics for non-document_id document_relevance_criteria
  haystack/pipelines/base.py
  haystack/schema.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
Labels: type:bug, topic:pipeline, topic:tests

#4043 ci: Fix pylint version to prevent crash
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:CI

#4052 ci: Add missing env var in PyPi release slack notification
  .github/workflows/pypi_release.yml
Labels: topic:CI

#4033 fix: allow Biadaptive & Triadaptive to work with EarlyStopping
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/triadaptive_model.py
  haystack/modeling/training/base.py
  test/modeling/test_dpr.py
Labels: topic:modeling, topic:tests

#4042 chore: re-organize pydoc config files
  .github/utils/pydoc-markdown.sh
  .gitignore
  docs/pydoc/config/answer-generator.yml
  docs/pydoc/config/crawler.yml
  docs/pydoc/config/document-classifier.yml
  docs/pydoc/config/document-store.yml
  docs/pydoc/config/evaluation.yml
  docs/pydoc/config/extractor.yml
  docs/pydoc/config/file-classifier.yml
  docs/pydoc/config/file-converters.yml
  docs/pydoc/config/other.yml
  docs/pydoc/config/pipelines.yml
  docs/pydoc/config/preprocessor.yml
  docs/pydoc/config/primitives.yml
  docs/pydoc/config/prompt-node.yml
  docs/pydoc/config/pseudo-label-generator.yml
  docs/pydoc/config/query-classifier.yml
  docs/pydoc/config/question-generator.yml
  docs/pydoc/config/ranker.yml
  docs/pydoc/config/reader.yml
  docs/pydoc/config/retriever.yml
  docs/pydoc/config/summarizer.yml
  docs/pydoc/config/transformers-img-to-text.yml
  docs/pydoc/config/translator.yml
  docs/pydoc/config/utils.yml
Labels: ignore-for-release-notes, topic:CI, topic:DX

#3907 chore: enable `logging-format-interpolation`
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/training/base.py
  haystack/nodes/reader/farm.py
  haystack/utils/import_utils.py
  haystack/utils/preprocessing.py
  pyproject.toml
Labels: topic:modeling, topic:reader, topic:dependencies, ignore-for-release-notes, topic:build/distribution

#4049 fix: make the crawler more robust on Windows
  haystack/nodes/connector/crawler.py
Labels: topic:crawler

#4055 fix: readme sync workflow wrong path
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI

#3925 proposal: Add Agents for extended LLM support
  proposals/text/3925-mrkl-agent.md
Labels: proposal, proposal:final-comment

#4066 fix: use correct count of outgoing edges in RayPipeline
  haystack/pipelines/ray.py
Labels: topic:pipeline

#4046 ci: Move formatting and linting checks out of tests.yml
  .github/workflows/linting-skipper.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI

#4068 fix: Add inner query for mysql compatibility
  haystack/document_stores/sql.py
Labels: topic:sql, topic:document_store

#4076 ci: Fix pylint workflow check running on tests files
  .github/workflows/linting.yml
Labels: topic:CI

#4026 feat: Allow all training options for training a SentenceTransformers EmbeddingRetriever
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
Labels: type:feature, topic:train, topic:retriever

#4058 fix: Add PromptTemplate __repr__ method
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4070 refactor: replace mutable default arguments
  haystack/document_stores/memory.py
  haystack/document_stores/pinecone.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/prediction_head.py
  haystack/modeling/model/predictions.py
  haystack/modeling/model/triadaptive_model.py
  haystack/nodes/_json_schema.py
  haystack/nodes/file_classifier/file_type.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/preprocessor/base.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/nodes/retriever/multimodal/retriever.py
  haystack/pipelines/base.py
  haystack/pipelines/ray.py
  haystack/pipelines/standard_pipelines.py
  haystack/pipelines/utils.py
  haystack/schema.py
  haystack/telemetry.py
  haystack/utils/deepsetcloud.py
  pyproject.toml
Labels: topic:file_converter, topic:modeling, topic:pipeline, topic:reader, topic:preprocessing, topic:document_store, topic:dependencies, topic:retriever, topic:pinecone, topic:dc-api, topic:build/distribution

#4060 ci: Change actionlint pre-commit hook to use Dockerized tool
  .pre-commit-config.yaml
Labels: topic:DX

#4078 feat: Support multiple `RayPipelines`
  haystack/pipelines/ray.py
Labels: type:feature, topic:pipeline

#4086 ci: Make tests run conditionally in CI
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4062 feat: Support multiple document_ids in Answer object (for generative QA)
  docs/_src/api/openapi/openapi-1.14.0rc0.json
  docs/_src/api/openapi/openapi.json
  haystack/document_stores/pinecone.py
  haystack/document_stores/utils.py
  haystack/nodes/answer_generator/base.py
  haystack/nodes/other/docs2answers.py
  haystack/nodes/reader/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/pipelines/base.py
  haystack/schema.py
  rest_api/test/test_rest_api.py
  test/document_stores/test_base.py
  test/document_stores/test_pinecone.py
  test/document_stores/test_search_engine.py
  test/document_stores/test_sql.py
  test/nodes/test_generator.py
  test/nodes/test_reader.py
  test/others/test_schema.py
  test/pipelines/test_eval.py
Labels: type:feature, topic:rest_api, breaking change, topic:pipeline, topic:reader, topic:sql, topic:document_store, topic:tests, topic:pinecone

#4094 feat: OpenAI - warn users if `max_tokens` is too short
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4082 Add shaper api
  docs/_src/api/pydoc/other.yml
Labels: type:documentation

#4018 feat: Update allowed models to be used with Prompt Node
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4098 ci: Add missing env vars in rest_api CI tests
  .github/workflows/rest_api_tests.yml
Labels: topic:CI

#4014 Remove double batching in retrieve_batch
  haystack/nodes/retriever/dense.py
  test/nodes/test_retriever.py
Labels: topic:tests, topic:retriever

#4097 ci: Fix pylint CI check running with no files
  .github/workflows/linting.yml
Labels: topic:CI

#4040 feat: add support for custom headers
  haystack/document_stores/weaviate.py
Labels: topic:document_store, topic:weaviate

#3959 Proposal: Add a JsonConverter node
  proposals/text/3959-json-converter.md
Labels: proposal

#4105 fix: query filters in REST API
  rest_api/rest_api/controller/search.py
  rest_api/test/test_rest_api.py
Labels: action:needs documentation, topic:rest_api

#4102 fix: fix torchaudio version
  docker/Dockerfile.base
Labels: topic:docker

#4090 feat: Add BM25 support for tables in InMemoryDocumentStore
  haystack/document_stores/memory.py
  test/document_stores/test_memory.py
Labels: topic:document_store, topic:tests

#4048 fix: Fix `TableTextRetriever` for input consisting of tables only
  haystack/modeling/model/language_model.py
  haystack/modeling/model/triadaptive_model.py
  test/nodes/test_retriever.py
Labels: topic:tableQA, topic:modeling, topic:tests, topic:retriever

#4120 ci: Exclude .github folder from triggering tests
  .github/workflows/tests.yml
Labels: topic:CI

#4115 ci: Add workflow to label PRs that edit docstrings
  .github/utils/docstrings_checksum.py
  .github/workflows/docstring-labeler.yml
Labels: topic:CI

#4119 Docs: Update docstrings
  haystack/nodes/prompt/prompt_node.py
Labels: type:documentation, topic:LLM

#4114 fix: Deduplicate same Documents in isolated evaluation of Reader
  haystack/nodes/reader/base.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
Labels: topic:pipeline, topic:reader, topic:tests

#4131 Update PromptTemplate unit tests
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4132 docs: Remove some classes regarding PromptNode from API reference docs
  docs/pydoc/config/prompt-node.yml
Labels: type:documentation, ignore-for-release-notes, topic:LLM

#4124 ci: Add load arg to docker/bake-action before testing Docker images
  .github/workflows/docker_release.yml
Labels: topic:CI

#4137 Revert changes introduced in PR #4124
  .github/workflows/docker_release.yml
Labels: topic:CI

#4038 feat: Update OpenAIAnswerGenerator defaults and with learnings from PromptNode
  haystack/nodes/answer_generator/base.py
  haystack/nodes/answer_generator/openai.py
  test/nodes/test_generator.py
Labels: type:feature, breaking change, type:documentation, topic:predictions, topic:tests

#4123 docs: Update Annotation Tool README.md
  annotation_tool/README.md
Labels: type:documentation, topic:annotation_tool

#4153 ci: Fix Docker images test on release
  .github/workflows/docker_release.yml
Labels: topic:CI

#4113 refactor: `InMemoryDocumentStore` - manage documents without embedding & fix mypy errors
  haystack/document_stores/memory.py
  test/document_stores/test_memory.py
Labels: type:documentation, topic:document_store, topic:tests

#4151 feat: Add model_kwargs option to PromptNode
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM

#4125 refactor: complete the document stores test refactoring
  .github/workflows/e2e.yml
  .github/workflows/tests.yml
  e2e/document_stores/__init__.py
  e2e/document_stores/conftest.py
  e2e/document_stores/test_cosine_similarity.py
  e2e/document_stores/test_knowledge_graph.py
  e2e/document_stores/test_similarity_score.py
  e2e/document_stores/test_update_embeddings.py
  test/conftest.py
  test/document_stores/test_base.py
  test/document_stores/test_document_store.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_faiss.py
  test/document_stores/test_milvus.py
  test/document_stores/test_sql.py
Labels: topic:faiss, topic:elasticsearch, topic:sql, topic:document_store, topic:tests, topic:milvus, topic:CI

#4118 build: cache nltk models into the docker image
  docker/Dockerfile.base
  haystack/utils/docker.py
Labels: breaking change, topic:docker

#4146 ci: Update docstring-labeler.yml workflow to safely run in PRs from forks
  .github/utils/docstrings_checksum.py
  .github/workflows/docstring-labeler.yml
Labels: topic:CI

#4162 Docs: Fix code block formatting
  haystack/nodes/file_converter/image.py
Labels: topic:file_converter, type:documentation

#4128 refactor: Remove the pin from the espnet module and fix the audio node tests.
  haystack/nodes/audio/_text_to_speech.py
  haystack/nodes/audio/document_to_speech.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  pyproject.toml
  test/nodes/test_audio.py
  test/samples/audio/answer.wav
  test/samples/audio/the context for this answer is here.wav
  test/samples/audio/this is the content of the document.wav
Labels: topic:tests, topic:dependencies, topic:retriever, topic:audio, topic:build/distribution

#4129 fix: Remove logging statement of setting ID manually in `Document`
  haystack/schema.py
Labels: type:documentation

#4185 ci: Use larger runner for Docker release workflow
  .github/actionlint.yml
  .github/workflows/docker_release.yml
Labels: topic:CI

#4135 chore: Fixing PromptNode .prompt() docstring to include the PromptTemplate object as an option
  haystack/nodes/prompt/prompt_node.py
Labels: type:documentation, topic:LLM

#4175 fix: change tiktoken fallback mechanism to support Windows amd64
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/retriever/_openai_encoder.py
  pyproject.toml
Labels: topic:dependencies, topic:retriever, topic:build/distribution

#4183 fix: make all OpenAI API params in PromptNode and PromptModel controllable via model_kwargs
  haystack/nodes/prompt/prompt_node.py
Labels: topic:LLM

#4155 chore: de-couple the telemetry events for each tutorial from the dataset on AWS that is used
  haystack/telemetry.py
Labels: type:documentation

#3850 feat: Add IVF and Product Quantization support for OpenSearchDocumentStore
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/faiss.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  pyproject.toml
  test/document_stores/test_faiss.py
  test/document_stores/test_opensearch.py
Labels: topic:faiss, breaking change, topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:dependencies, topic:opensearch, topic:build/distribution

#4178 feat: Add OpenAIError to retry mechanism
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/retriever/_openai_encoder.py
Labels: type:feature, topic:retriever, topic:LLM

#4182 feat: include testing facilities into haystack package
  haystack/testing/__init__.py
  haystack/testing/document_store.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_faiss.py
  test/document_stores/test_memory.py
  test/document_stores/test_milvus.py
  test/document_stores/test_opensearch.py
  test/document_stores/test_pinecone.py
  test/document_stores/test_sql.py
  test/document_stores/test_sql_based.py
  test/document_stores/test_weaviate.py
Labels: topic:faiss, topic:elasticsearch, type:documentation, topic:sql, topic:document_store, topic:tests, topic:milvus, topic:pinecone, topic:weaviate, topic:opensearch

#4072 Prompt node/run batch
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: type:feature, type:documentation, topic:tests, topic:LLM

#4159 feat: add `top_k` to `PromptNode`
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM

#4199 ci: Move xpdf build into separate container
  .github/workflows/xpdf_release.yml
  docker/Dockerfile.base
  docker/Dockerfile.xpdf
  docker/docker-bake-xpdf.hcl
Labels: topic:docker, topic:CI

#4207 refactor: Remove `id_hash_keys` parameter in `from_dict` method
  haystack/schema.py
  test/others/test_schema.py
Labels: topic:tests

#4174 bug: Check cuda availability before calling
  haystack/modeling/training/base.py
Labels: topic:modeling

#4206 ci: Add ca-certificates installation to xpdf container
  docker/Dockerfile.xpdf
Labels: topic:docker

#4210 ci: Fix Dockerfile.base failing cause of missing git
  docker/Dockerfile.base
Labels: topic:docker

#4130 feat: Add JsonConverter node
  haystack/nodes/__init__.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/json.py
  test/nodes/test_file_converter.py
Labels: topic:file_converter, type:documentation, topic:tests

#4221 fix: allowing file-upload api to write files to disk
  docker/Dockerfile.api
Labels: topic:docker

#4220 fix: Fix bug in prompt template check of OpenAIAnswerGenerator
  haystack/nodes/answer_generator/openai.py
  test/nodes/test_generator.py
Labels: topic:tests

#4223 fix: Shaper store all outputs from function
  haystack/nodes/other/shaper.py
  test/nodes/test_shaper.py
Labels: type:bug, topic:pipeline, topic:tests

#4148 feat: add Agent
  .github/labeler.yml
  .github/workflows/tests.yml
  haystack/agents/__init__.py
  haystack/agents/base.py
  haystack/errors.py
  haystack/nodes/prompt/prompt_node.py
  test/agents/__init__.py
  test/agents/test_agent.py
  test/conftest.py
Labels: type:documentation, topic:tests, topic:CI, topic:LLM, topic:agent

#4215 ci: Fix Dockerfile.base failing cause of missing dependencies
  docker/Dockerfile.base
Labels: topic:docker

#4216 refact: move the first batch of unit tests into the proper job
  .github/workflows/tests.yml
  test/nodes/test_join_answers.py
  test/nodes/test_join_documents.py
  test/nodes/test_other.py
  test/nodes/test_route_documents.py
Labels: topic:pipeline, topic:tests, topic:CI

#4193 refactor: Isolate PDF OCR converter from PDF text converter
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/file_converter/pdf_ocr.py
Labels: topic:file_converter

#4229 fix: relax test assertion
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4231 fix: add option to not override results by `Shaper`
  haystack/nodes/other/shaper.py
  test/nodes/test_shaper.py
Labels: topic:pipeline, topic:tests

#3900 fix: Better error messages for OCR requirement (#3767)
  haystack/nodes/base.py
Labels: type:enhancement

#4122 feat!: Increase Crawler standardization regarding Pipelines
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
Labels: breaking change, type:documentation, topic:tests, topic:crawler

#4228 ci: Automate OpenAPI specs upload to Readme.io
  .github/utils/generate_openapi_specs.py
  .github/workflows/openapi.yml
  .github/workflows/openapi_sync.yml
  docs/_src/api/img/annotation_tool.png
  docs/_src/api/img/code_snippet_usage.png
  docs/_src/api/img/colab_gpu_runtime.jpg
  docs/_src/api/img/sketched_concepts_white.png
  docs/_src/api/openapi/openapi-1.10.0rc0.json
  docs/_src/api/openapi/openapi-1.11.0rc0.json
  docs/_src/api/openapi/openapi-1.12.0rc0.json
  docs/_src/api/openapi/openapi-1.12.0rc2.json
  docs/_src/api/openapi/openapi-1.13.0rc0.json
  docs/_src/api/openapi/openapi-1.14.0rc0.json
  docs/_src/api/openapi/openapi-1.15.0rc0.json
  docs/_src/api/openapi/openapi-1.2.0.json
  docs/_src/api/openapi/openapi-1.2.1rc0.json
  docs/_src/api/openapi/openapi-1.3.0.json
  docs/_src/api/openapi/openapi-1.3.1rc0.json
  docs/_src/api/openapi/openapi-1.4.0.json
  docs/_src/api/openapi/openapi-1.4.1rc0.json
  docs/_src/api/openapi/openapi-1.5.0.json
  docs/_src/api/openapi/openapi-1.5.1rc0.json
  docs/_src/api/openapi/openapi-1.6.0.json
  docs/_src/api/openapi/openapi-1.6.1rc0.json
  docs/_src/api/openapi/openapi-1.7.0.json
  docs/_src/api/openapi/openapi-1.7.1.json
  docs/_src/api/openapi/openapi-1.7.1rc0.json
  docs/_src/api/openapi/openapi-1.7.2.json
  docs/_src/api/openapi/openapi-1.7.2rc0.json
  docs/_src/api/openapi/openapi-1.7.3rc0.json
  docs/_src/api/openapi/openapi-1.8.0.json
  docs/_src/api/openapi/openapi-1.8.1rc0.json
  docs/_src/api/openapi/openapi.json
Labels: type:documentation, topic:CI, topic:DX

#4087 feat: reduce and focus telemetry
  haystack/__init__.py
  haystack/environment.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/training/base.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/pipelines/base.py
  haystack/telemetry.py
  haystack/telemetry_2.py
  haystack/utils/experiment_tracking.py
  haystack/utils/import_utils.py
  test/others/test_telemetry.py
  test/pipelines/test_pipeline.py
Labels: action:needs documentation, topic:modeling, topic:pipeline, topic:reader, type:refactor, type:documentation, topic:tests, topic:retriever, topic:telemetry, type:enhancement, topic:LLM

#4236 ci: Add missing dependencies in openapi upload workflow
  .github/workflows/openapi_sync.yml
Labels: topic:CI

#4224 Docs: Update top_k description for PromptNode
  haystack/nodes/prompt/prompt_node.py
Labels: topic:LLM

#4240 fix: apply black formatting
  .github/workflows/linting.yml
  haystack/nodes/prompt/prompt_node.py
Labels: ignore-for-release-notes, topic:CI, topic:LLM

#4241 test: skip summarizer tests to reduce pressure on the CI
  test/nodes/test_summarizer.py
Labels: topic:tests, ignore-for-release-notes

#4245 ci: Add a simple way to skip required tests checks
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
Labels: topic:CI

#4239 bug: disable telemetry in CI
  .github/workflows/tests.yml
Labels: topic:CI, topic:telemetry

#4237 test: fix agents tests
  .github/workflows/tests.yml
  test/agents/test_agent.py
Labels: topic:tests, topic:CI, topic:agent

#4194 refactor: Remove deprecated nodes `EvalDocuments` and `EvalAnswers`
  .github/labeler.yml
  docs/pydoc/config/evaluation.yml
  haystack/modeling/evaluation/metrics.py
  haystack/nodes/__init__.py
  haystack/nodes/evaluator/__init__.py
  haystack/nodes/evaluator/evaluator.py
  haystack/pipelines/base.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
Labels: topic:modeling, topic:eval, topic:pipeline, topic:tests, topic:CI

#4238 bug: fix typo in `google.colab` package detection
  haystack/environment.py
Labels: topic:telemetry

#4254 ci: Fix OpenAPI spec sync
  .github/workflows/openapi_sync.yml
Labels: topic:CI

#4085 proposal: Implement Agent demo
  proposals/text/4084-agent-demo.md
Labels: proposal, proposal:review

#4253 refactor: remove direct logging without a logger
  haystack/document_stores/deepsetcloud.py
  haystack/document_stores/weaviate.py
  haystack/modeling/training/base.py
  haystack/nodes/_json_schema.py
  haystack/nodes/audio/_text_to_speech.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/file_classifier/file_type.py
  haystack/pipelines/base.py
  haystack/pipelines/config.py
  haystack/utils/docker.py
  haystack/utils/linting.py
  haystack/utils/squad_data.py
  haystack/utils/squad_to_dpr.py
  pyproject.toml
  rest_api/rest_api/__about__.py
  rest_api/rest_api/pipeline/__init__.py
  test/benchmarks/nq_to_squad.py
  test/others/test_utils.py
  test/pipelines/test_pipeline.py
Labels: type:refactor, ignore-for-release-notes

#4266 ci: Fix OpenAPI specs upload
  .github/workflows/openapi_sync.yml
Labels: topic:CI

#4267 ci: Remove unnecessary operations in minor_version_release.yml
  .github/workflows/minor_version_release.yml
Labels: topic:CI

#4219 test: Fix deprecation fixture
  test/conftest.py
  test/others/test_utils.py
Labels: topic:tests

#4166 Fix: Allow `torch_dtype="auto"` in PromptNode
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4235 refact: mark unit tests under the `test/nodes/**` path
  test/nodes/test_connector.py
  test/nodes/test_document_merger.py
  test/nodes/test_file_converter.py
  test/nodes/test_filetype_classifier.py
  test/nodes/test_preprocessor.py
  test/nodes/test_prompt_node.py
  test/nodes/test_shaper.py
Labels: topic:file_converter, topic:preprocessing, topic:tests, topic:crawler, topic:LLM

#4268 ci: Parallellize Docker build job
  .github/workflows/docker_release.yml
Labels: topic:CI

#4248 fix: FARMReader produces Answers with negative start and end position
  haystack/modeling/model/feature_extraction.py
  test/nodes/test_reader.py
Labels: topic:modeling, topic:reader, topic:tests

#4281 fix: mark test correctly
  test/nodes/test_prompt_node.py
Labels: topic:tests, ignore-for-release-notes, topic:LLM

#4269 refactor: Make extraction of "Tool" and "Tool input" more robust and user-friendly
  haystack/agents/base.py
  haystack/nodes/prompt/prompt_node.py
  test/agents/test_agent.py
Labels: topic:tests, topic:LLM, topic:agent
