Repository deepset-ai/haystack, pull requests merged in 2023-12, with the labels that each got.

#6475 chore: move Cohere generator into dedicated integration
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  docs/pydoc/config-preview/generator.yml
  haystack/components/generators/__init__.py
  haystack/components/generators/cohere.py
  test/components/generators/test_cohere_generators.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:CI

#6479 ci: push Docker image for 2.x
  .github/workflows/docker_release.yml
  docker/Dockerfile.api
  docker/Dockerfile.base
  docker/Dockerfile.xpdf
  docker/docker-bake-xpdf.hcl
  docker/docker-bake.hcl
Labels: topic:docker, topic:CI

#6478 fix: load_from_deepset_cloud without name in yaml
  haystack/pipelines/base.py
  releasenotes/notes/fix-load-from-deepset-cloud-8a86053ccb246494.yaml
  test/pipelines/test_pipeline.py
Labels: topic:pipeline, topic:tests

#6482 docs: add Data Classes API ref and cleanup
  .github/utils/pydoc-markdown.sh
  docs/pydoc/config/builder.yml
  docs/pydoc/config/caching.yml
  docs/pydoc/config/classifier.yml
  docs/pydoc/config/converter.yml
  docs/pydoc/config/dataclass.yml
  docs/pydoc/config/document_store.yml
  docs/pydoc/config/embedder.yml
  docs/pydoc/config/fetcher.yml
  docs/pydoc/config/generator.yml
  docs/pydoc/config/pipeline.yml
  docs/pydoc/config/preprocessor.yml
  docs/pydoc/config/ranker.yml
  docs/pydoc/config/reader.yml
  docs/pydoc/config/retriever.yml
  docs/pydoc/config/router.yml
  docs/pydoc/config/sampler.yml
  docs/pydoc/config/websearch.yml
  docs/pydoc/config/whisper.yml
  docs/pydoc/config/writer.yml
Labels: topic:CI

#6461 feat: Add RAG pipeline
  examples/getting_started/rag.py
  haystack/pipeline_utils/__init__.py
  haystack/pipeline_utils/rag.py
  releasenotes/notes/rag_pipeline-4e9dfc82a4402935.yaml
  test/pipelines/test_rag_pipelines.py
Labels: type:documentation, topic:tests

#6424 feat: Add Indexing Pipeline
  examples/getting_started/indexing.py
  haystack/pipeline_utils/__init__.py
  haystack/pipeline_utils/indexing.py
  releasenotes/notes/add-indexing-ready-made-pipeline-85c1da2f8f910f9d.yaml
  test/pipelines/test_indexing_pipeline.py
Labels: type:documentation, topic:tests

#6357 fix: Pinecone define pod, pod_type
  haystack/document_stores/pinecone.py
  releasenotes/notes/add-arg-to-PineconeDocumentStore-984add063663e70b.yaml
  test/document_stores/test_pinecone.py
  test/mocks/pinecone.py
Labels: type:documentation, topic:document_store, topic:tests, topic:pinecone, 1.x

#6485 docs: update for HuggingFaceLocalGenerator
  haystack/components/generators/hugging_face_local.py
Labels: type:documentation, ignore-for-release-notes

#6488 chore: clean up `core` tests
  test/core/pipeline/test_complex_pipeline.py
  test/core/pipeline/test_default_value.py
  test/core/pipeline/test_distinct_loops_pipeline.py
  test/core/pipeline/test_double_loop_pipeline.py
  test/core/pipeline/test_dynamic_inputs_pipeline.py
  test/core/pipeline/test_fixed_decision_and_merge_pipeline.py
  test/core/pipeline/test_fixed_decision_pipeline.py
  test/core/pipeline/test_fixed_merging_pipeline.py
  test/core/pipeline/test_joiners.py
  test/core/pipeline/test_linear_pipeline.py
  test/core/pipeline/test_looping_and_merge_pipeline.py
  test/core/pipeline/test_looping_pipeline.py
  test/core/pipeline/test_mutable_inputs.py
  test/core/pipeline/test_parallel_branches_pipeline.py
  test/core/pipeline/test_self_loop.py
  test/core/pipeline/test_validation_pipeline_io.py
  test/core/pipeline/test_variable_decision_and_merge_pipeline.py
  test/core/pipeline/test_variable_decision_pipeline.py
  test/core/pipeline/test_variable_merging_pipeline.py
Labels: topic:tests, ignore-for-release-notes

#6460 fix: Prevent invalid answer from being selected in ExtractiveReader
  haystack/components/readers/extractive.py
  releasenotes/notes/extractive-reader-invalid-ans-a88e6b1d1ee897aa.yaml
  test/components/readers/test_extractive.py
Labels: type:documentation, topic:tests

#6490 ci: reintroduce readme_sync workflow
  .github/workflows/readme_sync.yml
Labels: topic:CI

#6496 fix: fix typo in pydoc config
  docs/pydoc/config/dataclass.yml
Labels: ignore-for-release-notes

#6493 Change use_auth_token to token in TransformersDocumentClassifier
  haystack/nodes/document_classifier/transformers.py
Labels: ignore-for-release-notes

#6497 feat: Change type of PromptModel invocation_layer_class init param
  haystack/nodes/prompt/prompt_model.py
  releasenotes/notes/prompt-model-invocation-layer-e7a69a3ac3beb5a7.yaml
  test/prompt/test_prompt_model.py
Labels: type:documentation, topic:tests, 1.x

#6502 Bump version to `v2.0.0-beta.2`
  VERSION.txt
Labels: 2.x

#6510 feat: Improve getting started examples
  examples/getting_started/indexing.py
  examples/getting_started/rag_custom_data.py
  haystack/pipeline_utils/indexing.py
  haystack/pipeline_utils/rag.py
  test/pipelines/test_indexing_pipeline.py
  test/pipelines/test_rag_pipelines.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#6523 refacotr: Refactor answer dataclasses
  e2e/pipelines/test_extractive_qa_pipeline.py
  e2e/pipelines/test_rag_pipelines.py
  haystack/components/builders/answer_builder.py
  haystack/components/readers/extractive.py
  haystack/dataclasses/answer.py
  releasenotes/notes/answer-refactoring-b617afa946311ac8.yaml
  test/components/builders/test_answer_builder.py
  test/components/readers/test_extractive.py
  test/dataclasses/test_answer.py
  test/dataclasses/test_document.py
Labels: topic:tests, 2.x

#6527 chore: Remove old Pylint plugin
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#6529 fix: mypy `"str" not callable` for `PromptModelInvocationLayer`
  haystack/nodes/prompt/prompt_model.py
  test/prompt/test_prompt_model.py
Labels: topic:tests, ignore-for-release-notes, topic:LLM, topic:promptnode

#6533 fix: `HFInvocationLayer` - convert `use_auth_token` to `token`
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/invocation_layer/test_hugging_face.py
Labels: topic:tests, ignore-for-release-notes

#6528 fix: do not dump pipeline graph into the debug payload
  haystack/core/pipeline/draw/draw.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/remove-image-from-debug-c83d61db92bcbfc2.yaml
Labels: type:documentation, topic:core

#6531 chore: remove `OpenAIAnswerGenerator`
  docs/pydoc/config/answer-generator.yml
  docs/pydoc/config/base-generator.yml
  haystack/agents/base.py
  haystack/nodes/__init__.py
  haystack/nodes/answer_generator/__init__.py
  haystack/nodes/answer_generator/base.py
  haystack/nodes/answer_generator/openai.py
  haystack/pipelines/__init__.py
  haystack/pipelines/base.py
  haystack/pipelines/standard_pipelines.py
  releasenotes/notes/remove_answer_generator-e7100f82c1859fcb.yaml
  test/conftest.py
  test/nodes/test_generator.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
  test/pipelines/test_pipeline.py
Labels: topic:pipeline, type:documentation, topic:tests, topic:agent

#6541 chore: update labeler to latest version
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: topic:CI

#6471 feat: Add MongoDB Atlas document store
  haystack/document_stores/mongodb_atlas.py
  haystack/document_stores/mongodb_filters.py
  pyproject.toml
  releasenotes/notes/add-mongodb-document-store-34bd05d03717fb62.yaml
Labels: type:documentation, topic:document_store, topic:dependencies, topic:build/distribution, 1.x

#6548 chore: add version label to PRs
  .github/labeler.yml
Labels: topic:CI

#6547 fix: make `minor_version_release.yml` to run on the v1.x branch
  .github/workflows/minor_version_release.yml
Labels: topic:CI, 2.x

#6536 Fixing incorrect docstring
  haystack/components/generators/hugging_face_tgi.py
Labels: type:documentation, ignore-for-release-notes

#6544 chore: add boilerpy3 to the core dependencies
  .github/workflows/tests.yml
  haystack/components/converters/html.py
  pyproject.toml
  releasenotes/notes/ship-boilerpy3-0bffbd7955c89dd4.yaml
Labels: type:documentation, topic:build/distribution, topic:CI

#6549 docs: Clarify DynamicPromptBuilder Raison d’Être
  haystack/components/builders/dynamic_prompt_builder.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6551 feat: Add FileTypeRouter markdown support
  haystack/components/routers/file_type_router.py
  releasenotes/notes/add-markdown-file-type-router-support-39a607faa5c1436f.yaml
  test/components/routers/test_file_router.py
Labels: type:documentation, topic:tests, 2.x

#6554 feat: Converters - allow passing `meta` in the `run` method
  haystack/components/converters/azure.py
  haystack/components/converters/html.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
  releasenotes/notes/converters-allow-passing-meta-70fb498b6eb80468.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/converters/test_markdown_to_document.py
  test/components/converters/test_pypdf_to_document.py
  test/components/converters/test_textfile_to_document.py
  test/components/converters/test_tika_doc_converter.py
Labels: type:documentation, topic:tests, 2.x

#6552 ci: custom release creator for beta versions
  .github/workflows/github_release.yml
Labels: topic:CI, 2.x

#6559 chore: simplify the management of test dependencies
  .github/workflows/e2e.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  pyproject.toml
  test/test_requirements.txt
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#6540 refactor!: Converters - standardize inputs
  haystack/components/converters/azure.py
  haystack/components/converters/html.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
  haystack/components/converters/utils.py
  releasenotes/notes/converters-allow-passing-meta-70fb498b6eb80468.yaml
  releasenotes/notes/converters-standardize-inputs-ed2ba9c97b762974.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/converters/test_html_to_document.py
  test/components/converters/test_markdown_to_document.py
  test/components/converters/test_pypdf_to_document.py
  test/components/converters/test_textfile_to_document.py
  test/components/converters/test_tika_doc_converter.py
Labels: type:documentation, topic:tests, topic:build/distribution, topic:CI, 2.x

#6556 docs: Converters - add usage examples
  haystack/components/converters/azure.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6568 ci: use the right version
  .github/workflows/github_release.yml
Labels: topic:CI, 2.x

#6569 chore: bump version
  .github/workflows/github_release.yml
  VERSION.txt
Labels: topic:CI, 2.x

#6406 feat: Add AWS bedrock embeddings to embedding encoder
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  releasenotes/notes/aws-bedrock-embedding-encoder-a978884c1a2c8237.yaml
Labels: type:documentation, topic:retriever, 1.x

#6578 build: depend on `haystack_bm25` instead of `rank_bm25`
  haystack/document_stores/in_memory/document_store.py
  pyproject.toml
  releasenotes/notes/switch-bm25-dep-9b9d1c596f5ff4d0.yaml
Labels: topic:build/distribution, 2.x

#6542 refactor!: uniform run api for LocalWhisperTranscriber
  haystack/components/audio/whisper_local.py
  releasenotes/notes/change-localwhispertranscriber-run-3b0a818060867720.yaml
  test/components/audio/test_whisper_local.py
Labels: type:documentation, topic:tests

#6574 bug: fix Agent Final Response Discarding text after newline
  haystack/agents/base.py
  releasenotes/notes/improve-agent-final-answer-matching-21f5710035a498d8.yaml
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#6564 feat: Add `meta_fields_to_embed` to `TransformersSimilarityRanker`
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/transformers-similarity-embed-meta-7f2b15988549f805.yaml
  test/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests, 2.x

#6505 feat: Add Eval and EvaluationResult
  e2e/pipelines/test_eval_dense_doc_search.py
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  haystack/evaluation/__init__.py
  haystack/evaluation/eval.py
  releasenotes/notes/add-eval-and-evaluation-result-5e9ac742e323bda8.yaml
Labels: type:documentation, topic:tests, 2.x

#6561 feat: Add auto device checks and `model_kwargs` to `TransformersSimilarityRanker`
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  haystack/utils/__init__.py
  haystack/utils/device.py
  releasenotes/notes/transformers-similarity-update-53a840b31bac4c3d.yaml
  test/components/rankers/test_transformers_similarity.py
  test/utils/test_device.py
Labels: type:documentation, topic:tests, 2.x

#6459 feat: Extractive QA answer deduplication
  haystack/components/readers/extractive.py
  releasenotes/notes/extractive-qa-answer-dedup-7ca3b94b79b38854.yaml
  test/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, 2.x

#6582 feat!: `HTMLToDocument` - allow choosing the boilerpy3 extractor
  haystack/components/converters/html.py
  releasenotes/notes/htmlconverter-allow-extractor-customizability-730ae129db17327a.yaml
  test/components/converters/test_html_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6555 feat: Add RAG based OpenAPI service integration
  haystack/components/connectors/__init__.py
  haystack/components/connectors/openapi_service.py
  haystack/components/converters/__init__.py
  haystack/components/converters/openapi_functions.py
  releasenotes/notes/add-rag-openapi-services-f3e377c49ff0f258.yaml
  test/components/connectors/test_openapi_service.py
  test/components/converters/test_openapi_functions.py
  test/test_requirements.txt
Labels: type:documentation, topic:tests, 2.x

#6586 chore: extract type serialization
  haystack/components/routers/conditional_router.py
  haystack/utils/type_serialization.py
  releasenotes/notes/extract_type_serialization-fc3ea6418ba5632d.yaml
  test/components/routers/test_conditional_router.py
  test/utils/test_type_serialization.py
Labels: topic:tests, 2.x

#6596 feat: Change `DocumentWriter` default `policy` from `DuplicatePolicy.FAIL` to `DuplicatePolicy.NONE`
  haystack/components/writers/document_writer.py
  releasenotes/notes/document-writer-default-policy-693027781629fc73.yaml
  test/components/writers/test_document_writer.py
Labels: type:documentation, topic:tests, 2.x

#6594 fix: Fix `Pipeline.connect()` when multiple compatible sockets are found
  haystack/core/component/connection.py
  releasenotes/notes/fix-connect-with-same-name-5ce470f7f0451362.yaml
  test/core/pipeline/test_connections.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#6592 feat: `Multiplexer`
  haystack/components/others/__init__.py
  haystack/components/others/multiplexer.py
  releasenotes/notes/multiplexer-a7b1259bd20c144c.yaml
  test/components/others/test_multiplexer.py
Labels: type:documentation, topic:tests, 2.x

#6604 docs: add docs config for `others` module
  docs/pydoc/config/others.yml
Labels: 2.x

#6420 example: self-correcting loop for RAG
  examples/rag/rag_self_correction.py
  releasenotes/notes/self-correcting-rag-2e77ac94b89dfe5b.yaml
Labels: 2.x

#6599 docs: fix formatting
  haystack/components/builders/answer_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  haystack/components/generators/chat/hugging_face_tgi.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6417 ci: Speed up tests.yml by caching dependencies
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#6585 test: Add fixture to block requests in tests
  test/conftest.py
  test/pipelines/test_indexing_pipeline.py
  test/pipelines/test_rag_pipelines.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6602 feat: Add HuggingFace TEI Embedders - `HuggingFaceTEITextEmbedder` and `HuggingFaceTEIDocumentEmbedder`
  haystack/components/embedders/__init__.py
  haystack/components/embedders/hf_utils.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  releasenotes/notes/add-TEI-embedders-8c76593bc25a7219.yaml
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_hugging_face_tei_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#6605 changed metadata to meta
  haystack/components/audio/whisper_local.py
  haystack/components/audio/whisper_remote.py
  haystack/components/builders/answer_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/converters/azure.py
  haystack/components/converters/html.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
  haystack/components/converters/utils.py
  haystack/components/fetchers/link_content.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/generators/openai.py
  haystack/components/routers/file_type_router.py
  haystack/dataclasses/byte_stream.py
  haystack/dataclasses/chat_message.py
  haystack/dataclasses/streaming_chunk.py
  haystack/pipeline_utils/rag.py
  releasenotes/notes/changed-metadata-to-meta-64cceb9ed19722fe.yaml
  test/components/audio/test_whisper_local.py
  test/components/audio/test_whisper_remote.py
  test/components/builders/test_answer_builder.py
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/converters/test_html_to_document.py
  test/components/converters/test_markdown_to_document.py
  test/components/converters/test_pypdf_to_document.py
  test/components/converters/test_textfile_to_document.py
  test/components/converters/test_tika_doc_converter.py
  test/components/fetchers/test_link_content_fetcher.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_hugging_face_tgi.py
  test/components/generators/test_openai.py
  test/components/routers/test_file_router.py
  test/dataclasses/test_streaming_chunk.py
Labels: type:documentation, topic:tests, 2.x

#6612 chore: replace metadata w meta in tests/examples
  e2e/pipelines/test_rag_pipelines.py
  examples/pipelines/rag_pipeline.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6606 feat: add support for single meta dict in `TextFileToDocument`
  haystack/components/converters/txt.py
  haystack/components/converters/utils.py
  releasenotes/notes/single-metadata-txt-converter-a02bf90c60262701.yaml
  test/components/converters/test_utils.py
Labels: type:documentation, topic:tests, 2.x

#5704 feat: Weights and score normalization for `JoinDocuments` node with reciprocal rank fusion
  haystack/nodes/other/join_docs.py
  releasenotes/notes/join-docs-weighting-rrf-c52ba00a25004fd4.yaml
  test/nodes/test_join_documents.py
Labels: topic:pipeline, type:documentation, topic:tests, 1.x

#6584 feat: Update OpenAI Python Client in Haystack 2.x
  haystack/components/audio/whisper_remote.py
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  pyproject.toml
  releasenotes/notes/upgrade-openai-client-15fda68fc769f95b.yaml
  test/components/audio/test_whisper_remote.py
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/generators/chat/test_openai.py
  test/components/generators/conftest.py
  test/components/generators/test_openai.py
  test/conftest.py
  test/pipelines/test_rag_pipelines.py
Labels: type:documentation, topic:tests, topic:build/distribution, 2.x

#6613 feat: support single metadata dictionary in `HTMLToDocument`
  haystack/components/converters/html.py
  releasenotes/notes/single-meta-in-htm2document-199ea44a4ae5c02b.yaml
  test/components/converters/test_html_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6610 chore: upgrade transformers to 4.36.2 in test requirements
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
  test/test_requirements.txt
Labels: topic:tests, topic:CI, 2.x

#6614 test: Check only top answer in extractive QA e2e test
  e2e/pipelines/test_extractive_qa_pipeline.py
Labels: ignore-for-release-notes, 2.x

#6615 feat: support single metadata dictionary in `PyPDFToDocument`
  haystack/components/converters/pypdf.py
  releasenotes/notes/single-meta-in-pypdf2document-99e15f1cb9f65892.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6627 feat: Add model kwargs to SentenceTransformersRanker
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/utils/torch_utils.py
  releasenotes/notes/ranker-model-kwargs-0f60508b69d7d46e.yaml
  test/nodes/test_ranker.py
  test/utils/test_torch_utils.py
Labels: type:documentation, topic:tests, 1.x

#6626 chore: Rename GPT generators, deprecate old names
  e2e/pipelines/test_rag_pipelines.py
  examples/pipeline_loop_to_autocorrect_json.py
  examples/pipelines/rag_pipeline.py
  examples/rag/rag_self_correction.py
  examples/retrievers/in_memory_bm25_rag.py
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/generators/__init__.py
  haystack/components/generators/chat/__init__.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  haystack/pipeline_utils/rag.py
  releasenotes/notes/rename-gpt-generators-f25011d251fafd6d.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests, 2.x

#6619 ci: make Tika service smoothly run on MacOs
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#6634 chore: Update and improve `TopPSampler` docs
  haystack/components/samplers/top_p.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6650 refactor!: rename all remaining `metadata` to `meta`
  examples/retrievers/in_memory_bm25_rag.py
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/rankers/meta_field.py
  haystack/pipeline_utils/indexing.py
  releasenotes/notes/change-metadata-to-meta-0fada93f04628c79.yaml
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/rankers/test_metafield.py
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests, 2.x

#6640 Add MongoDBAtlasDocumentStore api reference
  docs/pydoc/config/document-store.yml
  haystack/document_stores/__init__.py
  haystack/document_stores/mongodb_atlas.py
Labels: type:documentation, topic:document_store, ignore-for-release-notes

#6654 ci: skip Tika tests in macOS integration tests
  .github/workflows/tests.yml
Labels: topic:CI, 2.x

#6657 build: pin openai>=1.1.0
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#6639 feat: Update OpenAIChatGenerator to handle both tools and functions calling
  haystack/components/connectors/openapi_service.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  releasenotes/notes/update-openai-chat-tools-3d3636b2ffea9736.yaml
  test/components/connectors/test_openapi_service.py
Labels: type:documentation, topic:tests, 2.x

#6660 fix: Replace deprecated `text-davinci-003` model with `gpt-3.5-turbo-instruct` model
  e2e/pipelines/test_pipeline_topologies.py
  e2e/pipelines/test_standard_pipelines.py
  examples/web_lfqa.py
  examples/web_qa.py
  haystack/nodes/prompt/invocation_layer/azure_open_ai.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/sampler/top_p_sampler.py
  test/pipelines/test_standard_pipelines.py
  test/prompt/conftest.py
  test/prompt/invocation_layer/test_openai.py
  test/prompt/test_prompt_node.py
  test/utils/test_openai_utils.py
Labels: topic:pipeline, type:documentation, topic:tests, ignore-for-release-notes, topic:promptnode

#6663 Update README.md
  README.md
Labels: 2.x

#6666 chore: use GitHub markdown for warning about beta version in Readme
  README.md
Labels: 2.x
