Repository deepset-ai/haystack, pull requests merged in 2023-07, with the labels that each got.

#5221 Fix: `FAISSDocumentStore` - make `write_documents` properly work in combination w `update_embeddings`
  haystack/document_stores/faiss.py
  test/document_stores/test_faiss.py
Labels: topic:faiss, topic:document_store, topic:tests

#5252 fix: install `inference` in REST API tests
  .github/workflows/rest_api_tests.yml
  rest_api/rest_api/controller/feedback.py
Labels: topic:rest_api, type:documentation, topic:CI

#5199 fix: `import_utils fetch_archive_from_http` - improve url parsing for fetching archive from http
  haystack/utils/import_utils.py
  test/others/test_utils.py
Labels: type:documentation, topic:tests

#5257 fix: MultiLabel `to_json` works with Table Labels
  haystack/schema.py
  test/others/test_schema.py
Labels: topic:tests

#5245 refactor: remove Elasticsearch client version 8 deprecation warnings
  haystack/document_stores/elasticsearch/base.py
  haystack/document_stores/elasticsearch/es8.py
  haystack/document_stores/search_engine.py
Labels: topic:elasticsearch, topic:document_store, ignore-for-release-notes, topic:opensearch

#5264 chore: Remove deprecated return_table_cell from conftest.py
  test/conftest.py
Labels: topic:tests

#5281 test: Adapt batch size in retriever-reader benchmarks
  test/benchmarks/configs/retriever_reader/mpnetbase-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-tinyroberta-opensearch-100k.yml
Labels: topic:tests

#5288 fix: Add dependecies to build lxml successfully in base Docker image
  docker/Dockerfile.base
Labels: topic:docker

#5285 Remove requests_cache in tests
  test/conftest.py
Labels: topic:tests

#5271 refactor: Simplify selection of Azure vs OpenAI invocation layers
  haystack/nodes/prompt/invocation_layer/azure_chatgpt.py
  haystack/nodes/prompt/invocation_layer/azure_open_ai.py
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/prompt/invocation_layer/utils.py
  haystack/nodes/prompt/prompt_model.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:promptnode

#5284 fix: Improve robustness of get_task HF pipeline invocations
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/invocation_layer/test_hugging_face.py
  test/prompt/invocation_layer/test_invocation_layers.py
Labels: type:documentation, topic:tests

#5225 Add `cpu-remote-inference` Docker image
  .github/workflows/docker_release.yml
  docker/docker-bake.hcl
  haystack/nodes/retriever/web.py
  rest_api/rest_api/pipeline/pipelines_web_lfqa.haystack-pipeline.yaml
Labels: topic:rest_api, topic:docker, type:documentation, topic:retriever, topic:CI

#5291 fix: Support isolated node eval in run_batch in Generators
  haystack/nodes/answer_generator/base.py
  test/conftest.py
  test/nodes/test_generator.py
  test/pipelines/test_eval.py
Labels: topic:pipeline, topic:tests

#5292 feat: support `OpenAI-Organization` for authentication
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/nodes/retriever/dense.py
  test/nodes/test_generator.py
  test/nodes/test_retriever.py
  test/prompt/invocation_layer/test_openai.py
Labels: type:documentation, topic:tests, topic:retriever

#5259 feat: introduce `Store` protocol (v2)
  haystack/preview/document_stores/__init__.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/document_stores/protocols.py
  haystack/preview/pipeline.py
  test/preview/document_stores/_base.py
  test/preview/document_stores/test_memory.py
Labels: type:documentation, topic:tests

#5287 feat: batch mode for `MemoryRetriever` (v2)
  haystack/preview/components/retrievers/memory.py
  test/preview/components/retrievers/test_memory_retriever.py
Labels: topic:tests

#5113 fix: avoid conflicts with opensearch / elasticsearch magic attributes during bulk requests
  haystack/document_stores/search_engine.py
  test/document_stores/test_search_engine.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:opensearch

#5296 build: Add `elasticsearch7` and `elasticsearch8` extra
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5297 ci: Add job for ES8 integration tests
  .github/workflows/tests.yml
Labels: topic:CI

#5300 ci: Add unit test for Elasticsearch8
  .github/workflows/tests.yml
  test/document_stores/test_elasticsearch.py
Labels: topic:elasticsearch, topic:document_store, topic:tests, topic:CI

#5305 docs: Small documentation updates to dense.py
  haystack/nodes/retriever/dense.py
Labels: type:documentation, topic:retriever

#5318 ci: Update labeler.yml to account for Elasticsearch changes
  .github/labeler.yml
Labels: topic:CI

#5280 fix: num_return_sequences should be less than num_beams, not top_k
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5306 test: Refactor some retriever tests into unit tests
  test/nodes/test_retriever.py
Labels: topic:tests, topic:retriever

#5324 chore: deprecate `SklearnQueryClassifier`
  haystack/nodes/query_classifier/sklearn.py
  test/nodes/test_query_classifier.py
Labels: type:documentation, topic:tests

#5307 feat: Add support for meta fields that are lists when using embed_meta_fields
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/nodes/test_retriever.py
Labels: topic:tests, topic:retriever

#5322 chore: pin `scikit-learn>=1.3.0`
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5308 fix: Run HFLocalInvocationLayer.supports even if inference packages are not installed
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  haystack/nodes/prompt/invocation_layer/utils.py
  test/prompt/invocation_layer/test_hugging_face.py
  test/prompt/invocation_layer/test_hugging_face_inference.py
Labels: type:documentation, topic:tests

#5227 refactor: Extract link retrieval from WebRetriever, introduce LinkContentRetriever
  docs/pydoc/config/retriever.yml
  examples/link_content_blog_post_summary.py
  haystack/nodes/__init__.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/link_content.py
  test/nodes/test_link_content_fetcher.py
Labels: type:documentation, topic:tests, topic:retriever

#5352 fix: update WebRetriever docstrings and default mode
  haystack/nodes/retriever/web.py
Labels: type:documentation, topic:retriever

#5320 feat: Check version of Elasticsearch server and add support for Elasticsearch <= 7.5
  haystack/document_stores/elasticsearch/base.py
  haystack/document_stores/elasticsearch/es7.py
  haystack/document_stores/elasticsearch/es8.py
  haystack/document_stores/search_engine.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_opensearch.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:opensearch

#5316 fix: a small bug in StopWordsCriteria
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5356 chore: fix typo in base.py
  haystack/modeling/training/base.py
Labels: topic:modeling, type:documentation

#5351 tests: Improve token limit tests for OpenAI PromptNode layer
  test/prompt/invocation_layer/test_openai.py
Labels: topic:tests

#5261 feat: extend `pipeline.add_component` to support stores
  haystack/preview/components/retrievers/memory.py
  haystack/preview/document_stores/__init__.py
  haystack/preview/document_stores/mixins.py
  haystack/preview/document_stores/protocols.py
  haystack/preview/pipeline.py
  pyproject.toml
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#5289 proposal: Add `RecentnessRanker` component
  proposals/text/5289-recentness-ranker.md
Labels: type:documentation, proposal, type:enhancement, proposal:review

#5343 test: Re-activate end-to-end tests workflow
  .github/workflows/e2e.yml
  e2e/document_search/__init__.py
  e2e/document_search/test_standard_pipeline.py
  e2e/models_to_cache.txt
Labels: topic:CI

#5301 feat: Recentness Ranker
  docs/pydoc/config/ranker.yml
  haystack/nodes/ranker/recentness_ranker.py
  test/nodes/test_ranker.py
Labels: type:documentation, topic:tests

#5405 chore: bump pydoc-markdown version
  docs/pydoc/requirements.txt
Labels: ignore-for-release-notes

#5391 build: upgrade transformers to v4.31.0
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5406 feat: Update Claude support with the latest models, new streaming API, context window sizes
  examples/link_content_blog_post_summary.py
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
  haystack/nodes/prompt/invocation_layer/handlers.py
  test/prompt/invocation_layer/test_anthropic_claude.py
  test/prompt/test_handlers.py
Labels: type:documentation, topic:tests, topic:promptnode

#5376 added hybrid search example
  examples/hybrid_search_faq_pipeline.py
Labels: topic:pipeline, topic:retriever

#5397 feat: add `reno` to manage release notes
  .github/CODEOWNERS
  CONTRIBUTING.md
  pyproject.toml
  releasenotes/config.yaml
  releasenotes/notes/add-reno-e284cb173ab45ab3.yaml
Labels: topic:dependencies, topic:build/distribution, topic:CI, topic:DX

#5255 test: reactivate unit tests in `test_eval.py`
  haystack/testing/document_store.py
  test/pipelines/test_eval.py
Labels: topic:pipeline, type:documentation, topic:tests

#5434 Revert "fix: num_return_sequences should be less than num_beams, not …
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/invocation_layer/test_hugging_face.py
Labels: topic:tests, topic:promptnode

#5381 fix:Improve log warnings in REST API /health endpoint
  rest_api/rest_api/controller/health.py
Labels: topic:rest_api, type:documentation

#5438 feat: Add @store decorator
  haystack/preview/__init__.py
  haystack/preview/document_stores/__init__.py
  haystack/preview/document_stores/decorator.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/document_stores/mixins.py
  haystack/preview/document_stores/protocols.py
  haystack/preview/pipeline.py
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, v2

#5441 build: Unpin mlflow, constraint dulwich and botocore
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5437 feat: Enable Support for Meta LLama-2 Models in Amazon Sagemaker
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/sagemaker_base.py
  haystack/nodes/prompt/invocation_layer/sagemaker_meta.py
  test/prompt/invocation_layer/test_invocation_layers.py
  test/prompt/invocation_layer/test_sagemaker_meta.py
Labels: type:documentation, topic:tests

#5449 chore: Add a workflow to check the presence of release notes
  .github/workflows/release_notes.yml
Labels: ignore-for-release-notes, topic:CI

#5459 feat!: remove original files after indexing
  rest_api/rest_api/controller/file_upload.py
  rest_api/test/test_rest_api.py
Labels: topic:rest_api, breaking change, type:documentation

#5458 fix: restrict `supports` method in the OpenAI invocation layer and a similar method in the `EmbeddingRetriever`
  haystack/nodes/prompt/invocation_layer/azure_open_ai.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/retriever/dense.py
  releasenotes/notes/restrict-openai-supports-method-fb126583e4beb057.yaml
  test/prompt/invocation_layer/test_openai.py
Labels: topic:tests, topic:retriever

#5402 Add AgentStep to documentation
  docs/pydoc/config/agent.yml
  haystack/agents/agent_step.py
Labels: type:documentation, ignore-for-release-notes, topic:agent
