Repository deepset-ai/haystack, pull requests merged in 2023-03, with the labels that each got.

#4295 fix: `OpenSearchDocumentStore.delete_index` doesn't raise
  haystack/document_stores/opensearch.py
  haystack/testing/document_store.py
Labels: topic:document_store, topic:opensearch

#4293 ci: Change docker_release.yml workflow to run after successful PyPi release
  .github/workflows/docker_release.yml
  .github/workflows/pypi_release.yml
Labels: topic:CI

#4280 ci: Refactor docs config and generation
  .github/utils/change_api_category_id.py
  .github/workflows/minor_version_release.yml
  .github/workflows/readme_sync.yml
  docs/pydoc/config/answer-generator.yml
  docs/pydoc/config/crawler.yml
  docs/pydoc/config/document-classifier.yml
  docs/pydoc/config/document-store.yml
  docs/pydoc/config/extractor.yml
  docs/pydoc/config/file-classifier.yml
  docs/pydoc/config/file-converters.yml
  docs/pydoc/config/other.yml
  docs/pydoc/config/pipelines.yml
  docs/pydoc/config/preprocessor.yml
  docs/pydoc/config/primitives.yml
  docs/pydoc/config/prompt-node.yml
  docs/pydoc/config/pseudo-label-generator.yml
  docs/pydoc/config/query-classifier.yml
  docs/pydoc/config/question-generator.yml
  docs/pydoc/config/ranker.yml
  docs/pydoc/config/reader.yml
  docs/pydoc/config/retriever.yml
  docs/pydoc/config/summarizer.yml
  docs/pydoc/config/transformers-img-to-text.yml
  docs/pydoc/config/translator.yml
  docs/pydoc/config/utils.yml
  docs/pydoc/renderers.py
  docs/pydoc/requirements.txt
Labels: type:documentation, topic:CI

#4288 Docs: Add shaper API
  docs/pydoc/config/crawler.yml
  docs/pydoc/config/document-classifier.yml
  docs/pydoc/config/extractor.yml
  docs/pydoc/config/file-classifier.yml
  docs/pydoc/config/file-converters.yml
  docs/pydoc/config/other.yml
  docs/pydoc/config/pipelines.yml
  docs/pydoc/config/preprocessor.yml
  docs/pydoc/config/primitives.yml
  docs/pydoc/config/prompt-node.yml
  docs/pydoc/config/pseudo-label-generator.yml
  docs/pydoc/config/query-classifier.yml
  docs/pydoc/config/question-generator.yml
  docs/pydoc/config/ranker.yml
  docs/pydoc/config/reader.yml
  docs/pydoc/config/retriever.yml
  docs/pydoc/config/shaper.yml
  docs/pydoc/config/transformers-img-to-text.yml
  docs/pydoc/config/translator.yml
Labels: ignore-for-release-notes

#4290 test: mock all `Translator` tests and move one to `e2e`
  e2e/__init__.py
  e2e/conftest.py
  e2e/document_stores/test_cosine_similarity.py
  e2e/document_stores/test_similarity_score.py
  e2e/document_stores/test_update_embeddings.py
  e2e/nodes/__init__.py
  e2e/nodes/test_translator.py
  e2e/pipelines/__init__.py
  e2e/pipelines/test_extractive_qa.py
  e2e/pipelines/test_generative_qa.py
  test/conftest.py
  test/nodes/test_extractor_translation.py
  test/nodes/test_generator.py
  test/nodes/test_translator.py
  test/pipelines/test_pipeline_extractive_qa.py
Labels: topic:pipeline, topic:tests

#4299 test: mock all Summarizer tests and move a few into e2e
  e2e/conftest.py
  e2e/nodes/test_summarizer.py
  e2e/pipelines/test_summarization_pipelines.py
  haystack/nodes/summarizer/transformers.py
  test/conftest.py
  test/nodes/test_summarizer.py
Labels: topic:tests

#4307 ci: Fix docstring-labeler.yml workflow
  .github/workflows/docstring-labeler.yml
Labels: topic:CI

#4226 feat: Enable PDFToTextConverter multiprocessing, increase general performance and simplify installation
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/pdf.py
  pyproject.toml
  test/nodes/test_file_converter.py
  test/samples/pdf/sample_pdf_5.pdf
  test/samples/pdf/sample_pdf_6.pdf
Labels: topic:file_converter, breaking change, topic:tests, topic:dependencies, topic:build/distribution

#4170 feat: Add Azure as OpenAI endpoint
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/prompt_node.py
  test/conftest.py
  test/nodes/test_generator.py
  test/nodes/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM

#4314 build: Remove xpdf dependencies
  .github/workflows/tests.yml
  .github/workflows/xpdf_release.yml
  docker/Dockerfile.base
  docker/Dockerfile.xpdf
  docker/docker-bake-xpdf.hcl
  docker/docker-bake.hcl
Labels: topic:docker, topic:CI

#4325 test: Pin requests-cache test dependency to <1.0.0
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4179 fix: Prevent going past token limit in OpenAI calls in PromptNode
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/utils/openai_utils.py
  pyproject.toml
  test/nodes/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:retriever, topic:build/distribution, topic:LLM

#4332 feat: Add Azure OpenAI embeddings support
  haystack/nodes/retriever/_openai_encoder.py
  haystack/nodes/retriever/dense.py
  test/conftest.py
  test/nodes/test_retriever.py
Labels: topic:tests, topic:retriever

#4327 refactor: Separate PromptModelInvocationLayers in providers.py
  haystack/nodes/__init__.py
  haystack/nodes/prompt/__init__.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/providers.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4309 test: move tests on standard pipelines in `e2e/`
  e2e/conftest.py
  e2e/pipelines/test_pipeline_topologies.py
  e2e/pipelines/test_standard_pipelines.py
  e2e/pipelines/test_standard_pipelines_batch.py
  e2e/samples/pipelines/sample_pdf_1.pdf
  e2e/samples/pipelines/test.haystack-pipeline.yml
  test/conftest.py
  test/pipelines/test_standard_pipelines.py
Labels: topic:pipeline, topic:tests

#4336 ci: Add workflow to push CI metrics to Datadog
  .github/workflows/ci_metrics.yml
  .github/workflows/e2e.yml
  .github/workflows/linting-skipper.yml
  .github/workflows/linting.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
Labels: topic:CI

#4289 fix: EvalResult load migration
  haystack/schema.py
  test/pipelines/test_eval.py
Labels: type:bug, topic:eval, topic:pipeline, topic:tests

#4326 refactor: Allow flexible document id generation
  haystack/schema.py
  test/others/test_schema.py
Labels: type:documentation, topic:tests

#4303 refactor: Use TableQuestionAnsweringPipeline from transformers
  haystack/nodes/reader/table.py
  test/nodes/test_table_reader.py
Labels: topic:reader, type:refactor, topic:tests

#4339 refactor: simplify registration of `PromptModelInvocationLayer`
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/providers.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4347 chore: add `topic:promptnode` label
  .github/labeler.yml
Labels: ignore-for-release-notes, topic:CI

#4333 fix: increase `MetaDocumentORM` value length in `SQLDocumentStore`
  haystack/document_stores/sql.py
Labels: topic:sql, topic:document_store

#4304 build: Use `uvicorn` instead of `gunicorn` as server in REST API's Dockerfile
  docker/Dockerfile.api
  rest_api/pyproject.toml
Labels: topic:rest_api, breaking change, topic:docker

#4273 fix: Fix `print_answers` for output of query `run_batch`
  haystack/utils/export_utils.py
  test/others/test_utils.py
Labels: topic:tests

#4363 fix: hf-tiny-roberta model loading from disk and mypy errors
  haystack/document_stores/sql.py
  haystack/nodes/file_converter/azure.py
  haystack/utils/export_utils.py
  test/nodes/test_reader.py
Labels: topic:file_converter, topic:reader, topic:sql, topic:document_store, topic:tests

#4310 docs: `TransformersImageToText`- inform about supported models, better exception handling
  haystack/nodes/image_to_text/transformers.py
  test/nodes/test_image_to_text.py
Labels: topic:tests, topic:images

#4377 refactor: minor WebRetriever improvements
  haystack/nodes/retriever/web.py
Labels: topic:retriever

#4362 refactor: Simplify agent and tool interaction
  haystack/agents/base.py
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#4284 proposal: drop `BaseComponent` and re-implement `Pipeline`
  proposals/text/4284-drop-basecomponent.md
  proposals/text/images/4284-drop-basecomponent/complex_pipeline.png
  proposals/text/images/4284-drop-basecomponent/decision_and_merge_pipeline.png
  proposals/text/images/4284-drop-basecomponent/decision_pipeline.png
  proposals/text/images/4284-drop-basecomponent/looping_and_merge_pipeline.png
  proposals/text/images/4284-drop-basecomponent/looping_pipeline.png
  proposals/text/images/4284-drop-basecomponent/merging_pipeline.png
  proposals/text/images/4284-drop-basecomponent/parallel_branches_pipeline.png
  proposals/text/images/4284-drop-basecomponent/pipeline.png
  proposals/text/images/4284-drop-basecomponent/query_pipeline.png
Labels: proposal

#4376 fix: check that `answer` is not `None` before accessing it in `table.py`
  haystack/nodes/reader/table.py
Labels: topic:reader

#2994 feat: `LanguageClassifier`
  haystack/nodes/doc_language_classifier/__init__.py
  haystack/nodes/doc_language_classifier/base.py
  haystack/nodes/doc_language_classifier/langdetect.py
  haystack/nodes/doc_language_classifier/transformers.py
  test/nodes/test_doc_language_classifier.py
Labels: action:needs documentation, type:feature, topic:metadata, topic:tests

#4329 feat: add automatic OCR detection mechanism and improve performance
  .github/workflows/tests.yml
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/file_converter/pdf_ocr.py
  test/nodes/test_file_converter.py
Labels: topic:file_converter, topic:tests, topic:CI

#4361 chore!: remove deprecated OpenDistroElasticsearchDocumentStore
  haystack/document_stores/__init__.py
  haystack/document_stores/opensearch.py
  haystack/nodes/retriever/sparse.py
  test/document_stores/test_opensearch.py
Labels: action:needs documentation, breaking change, topic:document_store, topic:tests, topic:retriever, topic:opensearch

#4405 chore: make the docs generator runnable without an API key
  .github/utils/pydoc-markdown.sh
  docs/pydoc/renderers.py
  docs/pydoc/requirements.txt
Labels: topic:CI

#4311 fix: when using IVF* indexing, ensure the index is trained frist
  haystack/document_stores/faiss.py
  test/document_stores/test_faiss.py
Labels: topic:faiss, topic:document_store, topic:tests

#4422 ci: Use bigger runner for integration-tests-linux
  .github/workflows/tests.yml
Labels: topic:CI

#4418 test: Fix audio tests failing
  pyproject.toml
  test/nodes/test_whisper.py
Labels: topic:tests, topic:dependencies, topic:build/distribution

#4296 Docs: Update Agent docstrings + add api docs
  docs/pydoc/config/agent.yml
  haystack/agents/base.py
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#4409 refactor: rename `v2` package to `preview`
  .github/workflows/compliance.yml
  .github/workflows/tests.yml
  haystack/preview/__init__.py
  haystack/preview/pipeline.py
  haystack/v2/__init__.py
  pyproject.toml
  test/preview/pipeline/test_pipeline.py
Labels: topic:tests, topic:dependencies, topic:build/distribution, topic:CI

#4397 feat: add PromptNode OpenAI token streaming
  haystack/nodes/prompt/providers.py
  haystack/utils/openai_utils.py
  pyproject.toml
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:dependencies, topic:build/distribution, topic:LLM, topic:promptnode

#4420 feat: Isolate integration PromptNode tests into a separate test unit
  .github/labeler.yml
  .github/workflows/tests.yml
  test/prompt/__init__.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:CI

#4435 tests: Mark Crawler tests correctly
  test/nodes/test_connector.py
Labels: topic:tests, topic:crawler

#4434 test: Remove unnecessary imports in conftest.py
  test/conftest.py
Labels: topic:tests

#4443 test: stop running the CI on macos
  .github/workflows/tests.yml
Labels: topic:CI

#4442 ci: Run readme_sync.yml in PRs
  .github/workflows/readme_sync.yml
Labels: topic:CI

#4444 test: Skip flaky test_multimodal_retriever_query
  test/nodes/test_retriever.py
Labels: topic:tests, topic:retriever

#4181 fix: issue evaluation check for content type
  haystack/nodes/reader/base.py
  test/pipelines/test_eval.py
Labels: topic:pipeline, topic:reader, topic:tests

#4331 feat: Add the New Tokenizer of `gpt-3.5-turbo`
  haystack/utils/openai_utils.py
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4451 fix: Update test to reflect change in max token length
  test/prompt/test_prompt_node.py
Labels: topic:tests, ignore-for-release-notes, topic:promptnode

#4429 ci: remove python_cache internal action
  .github/actions/python_cache/action.yml
  .github/workflows/e2e.yml
  .github/workflows/examples-tests.yml
  .github/workflows/linting.yml
  .github/workflows/minor_version_release.yml
  .github/workflows/openapi_sync.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:CI

#4456 chore: Make version semver compliant
  VERSION.txt
  test/others/test_utils.py
Labels: topic:tests

#4389 feat: break retry loop for 401 unauthorized errors in promptnode
  haystack/errors.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/utils/openai_utils.py
Labels: topic:retriever

#4275 refactor: consolidate telemetry events
  haystack/modeling/evaluation/eval.py
  haystack/modeling/training/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/pipelines/base.py
  haystack/pipelines/ray.py
  haystack/telemetry_2.py
Labels: topic:modeling, topic:pipeline, topic:reader, type:refactor, topic:retriever, ignore-for-release-notes, topic:telemetry

#4431 refactor: Add AgentStep
  haystack/agents/__init__.py
  haystack/agents/agent_step.py
  haystack/agents/base.py
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#4349 feat: Enable PromptNode to use text-generation models
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/providers.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:promptnode

#4445 feat: add additional params to file upload endpoint
  rest_api/rest_api/controller/file_upload.py
Labels: topic:rest_api

#4460 refactor: Remove retry_with_exponential_backoff in favor of tenacity
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/utils/openai_utils.py
  haystack/utils/reflection.py
  test/others/test_utils.py
Labels: topic:tests, topic:retriever

#4396 fix: stop loading FAISS and InMem doc Store for indexing pipelines
  rest_api/rest_api/pipeline/__init__.py
  rest_api/test/samples/test.in-memory-haystack-pipeline.yml
  rest_api/test/test_rest_api.py
Labels: topic:rest_api

#4483 fix: Fix debug on PromptNode
  haystack/nodes/prompt/prompt_node.py
  test/prompt/test_prompt_node.py
Labels: breaking change, topic:tests, topic:LLM, topic:promptnode

#4491 feat:Add agent event callbacks
  haystack/agents/base.py
  haystack/agents/types.py
  haystack/agents/utils.py
  haystack/nodes/prompt/prompt_node.py
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:LLM, topic:agent, topic:promptnode

#4495 bug: Exclude rdflib 6.3.2 because of license issues
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4378 feat: PromptTemplate extensions
  haystack/agents/base.py
  haystack/environment.py
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/other/shaper.py
  haystack/nodes/prompt/prompt_node.py
  test/agents/test_agent.py
  test/conftest.py
  test/nodes/test_generator.py
  test/nodes/test_shaper.py
  test/prompt/test_prompt_node.py
Labels: breaking change, topic:pipeline, topic:tests, topic:LLM, topic:agent, topic:promptnode

#4499 refactor: Remove ElasticsearchRetriever and ElasticsearchFilterOnlyRetriever
  haystack/nodes/__init__.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/sparse.py
  haystack/pipelines/ray.py
Labels: topic:pipeline, topic:retriever

#4454 feat: prompt at query time
  haystack/agents/base.py
  haystack/nodes/prompt/prompt_node.py
  test/conftest.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:agent, topic:promptnode

#4498 refactor: Mark MilvusDocumentStore as deprecated
  haystack/document_stores/milvus.py
  test/document_stores/test_milvus.py
Labels: topic:document_store, topic:tests, topic:milvus

#4496 refactor: remove telemetry v1
  haystack/__init__.py
  haystack/agents/base.py
  haystack/environment.py
  haystack/errors.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/training/base.py
  haystack/nodes/base.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/pipelines/base.py
  haystack/pipelines/ray.py
  haystack/telemetry.py
  haystack/telemetry_2.py
  haystack/utils/experiment_tracking.py
  haystack/utils/import_utils.py
  rest_api/rest_api/controller/search.py
  test/pipelines/test_pipeline_debug_and_validation.py
Labels: topic:rest_api, topic:modeling, topic:pipeline, topic:reader, topic:tests, topic:retriever, topic:LLM, topic:agent, topic:promptnode

#4437 feat: Add agent tools
  e2e/pipelines/test_standard_pipelines.py
  examples/agent_multihop_qa.py
  examples/web_lfqa.py
  examples/web_qa.py
  haystack/agents/base.py
  haystack/nodes/__init__.py
  haystack/nodes/other/shaper.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/retriever/web.py
  haystack/nodes/sampler/__init__.py
  haystack/nodes/sampler/base.py
  haystack/nodes/sampler/top_p_sampler.py
  haystack/nodes/search_engine/__init__.py
  haystack/nodes/search_engine/base.py
  haystack/nodes/search_engine/providers.py
  haystack/nodes/search_engine/utils.py
  haystack/nodes/search_engine/web.py
  haystack/pipelines/__init__.py
  haystack/pipelines/standard_pipelines.py
  pyproject.toml
  test/agents/test_agent.py
  test/conftest.py
  test/nodes/test_retriever.py
  test/nodes/test_sampler.py
  test/nodes/test_web_search.py
  test/pipelines/test_standard_pipelines.py
Labels: topic:pipeline, type:documentation, topic:tests, topic:dependencies, topic:retriever, topic:build/distribution, topic:LLM, topic:agent, topic:promptnode

#4501 refactor: reduce telemetry events count
  haystack/__init__.py
  haystack/agents/base.py
  haystack/nodes/prompt/prompt_node.py
  haystack/pipelines/base.py
  haystack/pipelines/ray.py
  haystack/telemetry.py
Labels: topic:pipeline, topic:LLM, topic:agent, topic:promptnode

#4505 chore: wire up `AnswerParser`
  haystack/nodes/__init__.py
  haystack/nodes/prompt/__init__.py
Labels: topic:LLM, topic:promptnode

#4459 ci: Enhance release_docs.py
  .github/utils/release_docs.py
  .github/workflows/minor_version_release.yml
Labels: topic:CI

#4464 ci: Use new Slack action to send failure messages
  .github/workflows/compliance.yml
  .github/workflows/examples-tests.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4510 refactor: Adjust WhisperTranscriber to pipeline run methods
  haystack/nodes/audio/whisper_transcriber.py
  test/nodes/test_whisper.py
Labels: topic:tests, topic:audio

#4513 ci: Fix docker release process after PyPi release
  .github/workflows/docker_release.yml
  .github/workflows/pypi_release.yml
Labels: topic:CI

#4518 fix: do not override bake's platform definitions
  .github/workflows/docker_release.yml
Labels: topic:CI

#4520 ci: Fix Slack messages formatting on job failure
  .github/config/failure-message-slack-payload.json
  .github/workflows/compliance.yml
  .github/workflows/examples-tests.yml
  .github/workflows/rest_api_tests.yml
  .github/workflows/tests.yml
Labels: topic:CI

#4534 fix: add back `tutorial_running()`
  haystack/telemetry.py
Labels: ignore-for-release-notes, topic:telemetry

#4385 Adding filtering support for Weaviate when used for BM25 querying
  haystack/document_stores/weaviate.py
  test/nodes/test_retriever.py
Labels: topic:document_store, topic:tests, topic:retriever, topic:weaviate

#4504 refactor: `OpenAIAnswerGenerator` - avoid tokenizing all documents several times
  haystack/nodes/answer_generator/openai.py
  test/nodes/test_generator.py
Labels: topic:tests

#4553 feat: Change default save_dir for FARMReader.train
  haystack/nodes/reader/farm.py
Labels: breaking change, topic:reader

#4533 update to readme
  README.md
Labels: ignore-for-release-notes

#4549 Docs: Update PromptNode API docs
  docs/pydoc/config/prompt-node.yml
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/providers.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:promptnode

#4567 test: Remove duplicate whisper test
  haystack/nodes/audio/whisper_transcriber.py
  test/nodes/test_whisper.py
Labels: type:documentation, topic:tests, topic:audio

#4564 fix: provide a fallback for PyMuPDF
  .github/workflows/xpdf_release.yml
  docker/Dockerfile.base
  docker/Dockerfile.xpdf
  docker/docker-bake-xpdf.hcl
  docker/docker-bake.hcl
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/pdf_xpdf.py
Labels: topic:file_converter, topic:docker, type:documentation, topic:CI
