Repository deepset-ai/haystack, pull requests merged in 2023-01, with the labels that each got.

#3798 feat: utility function to explicitly invoke JSON schema generation
  docker/Dockerfile.base
  haystack/utils/docker.py
Labels: topic:docker

#3783 feat: change PipelineConfigError to DocumentStoreError with more details
  haystack/pipelines/base.py
  test/pipelines/test_pipeline_yaml.py
Labels: topic:pipeline

#3673 feat: Change `docker-compose.yml` file
  README.md
  docker-compose.yml
Labels: topic:docker, ignore-for-release-notes

#3786 fix(docker): Use IMAGE_NAME in api image
  docker/Dockerfile.api
  docker/docker-bake.hcl
Labels: topic:docker

#3773 bug: skip empty documents in reader
  haystack/modeling/infer.py
  haystack/nodes/reader/base.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/transformers.py
  test/nodes/test_reader.py
  test/pipelines/test_eval.py
Labels: topic:reader

#3793 fix: adjust max token size for openai ADA-v2 embeddings
  haystack/nodes/retriever/_embedding_encoder.py
Labels: topic:models, topic:retriever

#2827 Migrating to use native Pytorch AMP
  docs/_src/api/api/evaluation.md
  docs/_src/api/api/reader.md
  docs/_src/api/api/retriever.md
  haystack/modeling/data_handler/processor.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/predictions.py
  haystack/modeling/training/base.py
  haystack/modeling/utils.py
  haystack/nodes/evaluator/evaluator.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/dense.py
  haystack/schema.py
  test/nodes/test_reader.py
Labels: action:needs documentation, topic:speed, breaking change

#3774 bug: skip validating empty embeddings
  haystack/document_stores/pinecone.py
  test/document_stores/test_pinecone.py
  test/nodes/test_retriever.py
Labels: topic:document_store, topic:pinecone

#3813 fix: linefeeds in custom_query
  haystack/document_stores/search_engine.py
  test/nodes/test_retriever.py
Labels: type:bug, topic:elasticsearch, topic:document_store, topic:retriever, topic:opensearch

#3824 CI: skip fossa check from forks
  .github/workflows/compliance.yml
Labels: ignore-for-release-notes, topic:CI

#3825 CI: fix `if` clause in job skip logic
  .github/workflows/compliance.yml
Labels: ignore-for-release-notes, topic:CI

#3762 fix: Convert table cells to strings for compatibility with TableReader
  haystack/nodes/reader/table.py
  test/nodes/test_table_reader.py
Labels: type:bug, topic:tableQA

#3743 fix: Ensure eval mode for TableReader model for predictions
  haystack/nodes/reader/table.py
  test/nodes/test_table_reader.py
Labels: topic:tableQA

#3662 fix: Despite return_embedding=False SearchEngineDocumentStore.query retrieves embedding_field
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_opensearch.py
  test/document_stores/test_search_engine.py
Labels: topic:speed, topic:elasticsearch, topic:document_store, topic:opensearch, type:enhancement

#3829 refactor: remove haystack demo along with deprecated Dockerfiles
  .github/actions/python_cache/action.yml
  .github/workflows/compliance.yml
  .github/workflows/demo.yaml
  .github/workflows/demo/docker-compose.demo.yml
  .github/workflows/demo/ec2-autoscaling-group.yaml
  .github/workflows/docker_build.yml
  .github/workflows/tests.yml
  Dockerfile
  Dockerfile-GPU
  Dockerfile-GPU-minimal
  docker-compose-gpu.yml
  docker-compose.mitm.yml
  ui/Dockerfile
  ui/LICENSE
  ui/README.md
  ui/pyproject.toml
  ui/test/__init__.py
  ui/test/test_ui_utils.py
  ui/ui/__about__.py
  ui/ui/__init__.py
  ui/ui/eval_labels_example.csv
  ui/ui/utils.py
  ui/ui/webapp.py
Labels: topic:ui, topic:CI

#3816 fix: gracefully handle `FileExistsError` during `Preprocessor` resource download
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_preprocessor.py
Labels: topic:preprocessing

#3811 bug: consistent batch_size parameter names in distillation
  haystack/nodes/reader/farm.py
Labels: breaking change, topic:reader

#3836 docs: list conventional commit types in the PR template
  .github/pull_request_template.md
Labels: ignore-for-release-notes

#3830 fix: make the crawler runnable and testable on Windows
  .github/workflows/tests.yml
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
Labels: topic:windows, topic:crawler

#3835 feat: update the docker image for haystack-api service
  docker-compose.yml
Labels: topic:docker

#3784 proposal: Shaper pipeline component
  proposals/text/3784-shaper.md
Labels: proposal

#3842 fix: ignore non-serializable params when hashing pipeline objects
  haystack/pipelines/base.py
  test/pipelines/test_pipeline.py
Labels: topic:pipeline, topic:telemetry

#3847 chore: enable `trailing-whitespace` and cleanup
  haystack/modeling/visual.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/pdf.py
  pyproject.toml
  rest_api/rest_api/application.py
Labels: ignore-for-release-notes, topic:DX

#3638 docs: Proposal - CSV FAQ indexing feature
  proposals/text/3550-csv-converter.md
Labels: proposal, proposal:review

#3846 chore: enable `unused-variable` and cleanup
  haystack/document_stores/search_engine.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/input_features.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/evaluation/metrics.py
  haystack/modeling/infer.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/multimodal/__init__.py
  haystack/modeling/model/multimodal/sentence_transformers.py
  haystack/modeling/model/triadaptive_model.py
  haystack/modeling/utils.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/file_classifier/file_type.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/text2sparql.py
  haystack/pipelines/config.py
  haystack/schema.py
  haystack/utils/augment_squad.py
  haystack/utils/deepsetcloud.py
  haystack/utils/squad_data.py
  haystack/utils/squad_to_dpr.py
  pyproject.toml
Labels: type:refactor, ignore-for-release-notes, topic:DX

#3851 test: add version deprecation fixture
  test/conftest.py
  test/others/test_utils.py
Labels: type:feature, topic:tests, ignore-for-release-notes

#3858 fix: upgrade `launch_es()` to the version used in CI
  haystack/utils/doc_store.py
Labels: topic:elasticsearch

#3837 feat: preprocessor raises warning when doc length exceeds threshold
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_preprocessor.py
Labels: type:feature, topic:preprocessing

#3856 chore: make Mypy work when Haystack is installed
  .github/actions/python_cache/action.yml
  .github/workflows/tests.yml
  haystack/document_stores/graphdb.py
  haystack/document_stores/memory.py
  haystack/document_stores/memory_knowledgegraph.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/sql.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/evaluation/metrics.py
  haystack/modeling/infer.py
  haystack/modeling/model/adaptive_model.py
  haystack/modeling/model/biadaptive_model.py
  haystack/modeling/model/feature_extraction.py
  haystack/modeling/model/language_model.py
  haystack/modeling/model/multimodal/__init__.py
  haystack/modeling/model/optimization.py
  haystack/modeling/model/triadaptive_model.py
  haystack/modeling/training/base.py
  haystack/modeling/utils.py
  haystack/nodes/audio/_text_to_speech.py
  haystack/nodes/reader/farm.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/pipelines/standard_pipelines.py
  haystack/schema.py
  haystack/utils/augment_squad.py
  haystack/utils/context_matching.py
Labels: type:refactor, ignore-for-release-notes

#3768 Adding condition to `pinecone` object.
  haystack/document_stores/pinecone.py
  test/document_stores/test_pinecone.py
Labels: topic:document_store, topic:pinecone

#3868 fix: Allowing InMemStore and FAISSDocStore for indexing using single worker
  rest_api/rest_api/pipeline/__init__.py
  rest_api/test/samples/test.bogus_pipeline.yml
  rest_api/test/samples/test.in-memory-haystack-pipeline.yml
  rest_api/test/test_rest_api.py
Labels: topic:rest_api, topic:document_store, journey:intermediate, topic:indexing

#3854 fix: remove string validation in YAML
  haystack/pipelines/config.py
  test/pipelines/test_pipeline.py
  test/pipelines/test_pipeline_yaml.py
Labels: topic:pipeline, type:refactor

#3849 chore: enable `singleton-comparison` and cleanup
  haystack/document_stores/base.py
  haystack/document_stores/pinecone.py
  haystack/modeling/infer.py
  haystack/modeling/model/triadaptive_model.py
  haystack/nodes/reader/farm.py
  haystack/schema.py
  haystack/utils/labels.py
Labels: type:refactor, ignore-for-release-notes, topic:DX

#3888 refactor: Move invocation_context from meta to own pipeline variable
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: breaking change, topic:prompt_node

#3884 feat: PromptNode - implement stop words
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:LLM

#3865 feat: Use truncate option for Cohere.embed
  haystack/nodes/retriever/_embedding_encoder.py
Labels: type:feature, topic:retriever

#3859 feat: `ImageToText` (caption generator)
  haystack/errors.py
  haystack/nodes/image_to_text/__init__.py
  haystack/nodes/image_to_text/base.py
  haystack/nodes/image_to_text/transformers.py
  test/nodes/test_image_to_text.py
Labels: type:feature, topic:images, topic:indexing

#3895 chore: Add timeouts to external requests calls
  haystack/document_stores/graphdb.py
  haystack/modeling/data_handler/processor.py
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/file_converter/parsr.py
  haystack/nodes/file_converter/tika.py
  haystack/utils/augment_squad.py
  haystack/utils/deepsetcloud.py
  haystack/utils/doc_store.py
  haystack/utils/import_utils.py
Labels: topic:CI

#3896 fix: Remove double super class init from ParsrConverter init
  haystack/nodes/file_converter/parsr.py
Labels: type:bug, topic:file_converter

#3904 docs: `OpensearchDocumentStore` docstring
  haystack/document_stores/opensearch.py
Labels: type:documentation, topic:document_store

#3587 feat: Add `CsvTextConverter`
  haystack/nodes/__init__.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/csv.py
  rest_api/rest_api/pipeline/pipelines_faq.haystack-pipeline.yml
  test/nodes/test_file_converter.py
Labels: type:feature, journey:first steps, topic:indexing

#3769 feat: adding the ability to use Ray Serve async functionality
  haystack/pipelines/ray.py
  pyproject.toml
  test/pipelines/test_ray.py
Labels: type:feature, topic:speed, topic:pipeline

#3906 chore: enable `f-string-without-interpolation`
  haystack/document_stores/base.py
  haystack/document_stores/search_engine.py
  haystack/modeling/infer.py
  haystack/nodes/_json_schema.py
  haystack/nodes/audio/_text_to_speech.py
  haystack/nodes/file_classifier/file_type.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/pipelines/base.py
  haystack/schema.py
  pyproject.toml
Labels: ignore-for-release-notes

#3741 fix: authenticate with aws4auth if set in OpenSearchDocumentStore
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_opensearch.py
Labels: topic:document_store, topic:opensearch

#3897 feat: support cl100k_base tokenization and increase performance for GPT2
  haystack/nodes/answer_generator/__init__.py
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/retriever/_base_embedding_encoder.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/utils/import_utils.py
  pyproject.toml
Labels: type:feature, topic:speed, topic:retriever, topic:LLM

#3901 feat: adding secure loading of models by default for haystack
  haystack/__init__.py
  haystack/environment.py
  test/others/test_utils.py
Labels: topic:models

#3956 ci: Remove mypy deps install step in python_cache action
  .github/actions/python_cache/action.yml
  .github/workflows/tests.yml
Labels: topic:CI

#3955 chore: bump pydoc-markdown version used in the CI
  .github/workflows/readme_sync.yml
  docs/pydoc/renderers.py
Labels: ignore-for-release-notes, topic:CI

#3934 chore: Fixing twitter badge
  README.md
Labels: ignore-for-release-notes

#3943 ci: Add Docker images testing
  .github/workflows/docker_release.yml
  docker/Dockerfile.base
  docker/docker-bake.hcl
Labels: topic:docker, topic:CI

#3949 feat: Allow users to set a timeout for remote APIs
  haystack/environment.py
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/_openai_encoder.py
Labels: action:needs documentation, type:feature, topic:LLM

#3968 Docs: Add CSVconverter to API docs
  docs/_src/api/pydoc/file-converters.yml
Labels: ignore-for-release-notes

#3976 ci: Fix docker image testing on release
  .github/workflows/docker_release.yml
Labels: topic:CI

#3974 Docs: Csvconverter docstrings update
  haystack/nodes/file_converter/csv.py
Labels: ignore-for-release-notes

#3588 Adding Example Scripts to Haystack
  .github/workflows/examples-tests.yml
  examples/__init__.py
  examples/basic_faq_pipeline.py
  examples/basic_qa_pipeline.py
  examples/test_basic_faq_pipeline.py
  examples/test_basic_qa_pipeline.py
Labels: type:documentation, ignore-for-release-notes

#3972 fix: PromptNode doesn't have run_batch support (yet)
  haystack/nodes/prompt/prompt_node.py
Labels: topic:LLM

#3960 fix: removing code block in `MarkdownConverter`
  haystack/nodes/file_converter/markdown.py
  test/nodes/test_file_converter.py
  test/samples/markdown/sample.md
Labels: type:bug, topic:file_converter

#3950 Align with the docs install guide + correct lg
  README.md
Labels: type:documentation

#3979 docs: Update Crawler docstring for correct usage in Google colab
  haystack/nodes/connector/crawler.py
Labels: type:documentation

#3981 ci: do not run `launch_es` in the CI
  .github/workflows/examples-tests.yml
  examples/basic_faq_pipeline.py
  examples/basic_qa_pipeline.py
Labels: ignore-for-release-notes, topic:CI

#3962 chore: make the benchmark workflow run only manually
  .github/workflows/cml.yaml
Labels: ignore-for-release-notes, topic:CI

#3983 ci: pin weaviate version
  .github/workflows/tests.yml
Labels: ignore-for-release-notes

#3939 refactor: use weaviate client to build BM25 query
  haystack/document_stores/weaviate.py
  test/nodes/test_retriever.py
Labels: topic:weaviate

#3965 feat: Add page range support to PDF converters.
  haystack/nodes/file_converter/pdf.py
  test/nodes/test_file_converter.py
Labels: type:feature, topic:file_converter

#3982 Simplifies and fix docker images tests on release
  .github/workflows/docker_release.yml
Labels: topic:CI

#4000 fix: Update telemetry to not serialize Pipeline if disabled.
  haystack/pipelines/base.py
  haystack/pipelines/ray.py
Labels: type:bug, topic:pipeline, topic:telemetry

#3997 chore: add `topic:*` labels automatically whenever possible
  .github/labeler.yml
Labels: ignore-for-release-notes

#3898 fix: Add a verbose option to PromptNode to let users understand the prompts being used #2
  haystack/nodes/prompt/prompt_node.py
  test/nodes/test_prompt_node.py
Labels: topic:tests, topic:LLM

#4008 fix: prevent posthog from sending errors to stderr
  haystack/telemetry.py
Labels: topic:telemetry, P0

#3891 fix: extend schema for prompt node results
  docs/_src/api/openapi/openapi-1.14.0rc0.json
  docs/_src/api/openapi/openapi.json
  rest_api/rest_api/schema.py
  rest_api/test/test_rest_api.py
Labels: type:feature, topic:rest_api, topic:LLM
