Repository deepset-ai/haystack, pull requests merged in 2023-11, with the labels that each got.

#6220 feat: `HuggingFaceLocalGenerator`- allow passing `generation_kwargs` in `run` method
  haystack/preview/components/generators/hugging_face/hugging_face_local.py
  releasenotes/notes/hflocalgenerator-generation-kwargs-in-run-2bde10d398a3712a.yaml
  test/preview/components/generators/hugging_face/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests, 2.x

#6205 feat: Add `HuggingFaceTGIGenerator` Haystack 2.x component
  haystack/preview/components/generators/__init__.py
  haystack/preview/components/generators/hf_utils.py
  haystack/preview/components/generators/hugging_face_tgi.py
  releasenotes/notes/add-huggingface-tgi-generator-9d7eed86f5246ea9.yaml
  test/preview/components/generators/test_hugging_face_tgi.py
Labels: type:documentation, topic:tests, 2.x

#6223 refactor!: rename `TextDocumentSplitter` to `DocumentSplitter`
  e2e/preview/pipelines/test_preprocessing_pipeline.py
  haystack/preview/components/preprocessors/__init__.py
  haystack/preview/components/preprocessors/document_cleaner.py
  haystack/preview/components/preprocessors/document_splitter.py
  pyproject.toml
  releasenotes/notes/rename-text-document-splitter-1e9fcd292c4591dd.yaml
  test/preview/components/preprocessors/test_document_cleaner.py
  test/preview/components/preprocessors/test_document_splitter.py
Labels: topic:tests, topic:dependencies, topic:build/distribution, 2.x

#6227 chore: pin trio to <0.23
  docker/Dockerfile.base
Labels: topic:docker

#6239 chore: unpin trio in Docker image build
  docker/Dockerfile.base
Labels: topic:docker, ignore-for-release-notes

#6243 fix: fix failing e2e test (after moving classifiers)
  e2e/preview/pipelines/test_preprocessing_pipeline.py
Labels: ignore-for-release-notes

#6248 chore: Update README links and badges
  README.md
Labels: ignore-for-release-notes

#6214 feat: Adapt `GPTGenerator` to use str input/output format in Haystack 2.x
  e2e/preview/pipelines/test_rag_pipelines.py
  haystack/preview/components/generators/__init__.py
  haystack/preview/components/generators/openai.py
  haystack/preview/components/generators/openai/__init__.py
  haystack/preview/components/generators/openai/gpt.py
  haystack/preview/components/generators/utils.py
  releasenotes/notes/adapt-gpt-generator-bb7f52bd67f6b197.yaml
  test/preview/components/generators/openai/test_gpt_generator.py
  test/preview/components/generators/test_openai.py
  test/preview/components/generators/test_utils.py
Labels: type:documentation, topic:tests, 2.x

#6252 fix: lazy import transformers in TGI Generators
  haystack/preview/components/generators/chat/hugging_face_tgi.py
  haystack/preview/components/generators/hf_utils.py
  haystack/preview/components/generators/hugging_face_tgi.py
Labels: ignore-for-release-notes, 2.x

#6249 refactor: Change Document.blob type and remove mime_type field
  haystack/preview/dataclasses/document.py
  releasenotes/notes/document-blob-ae28734c5be561d9.yaml
  test/preview/dataclasses/test_document.py
Labels: type:documentation, topic:tests, 2.x

#6250 feat: add tokenization details for gpt-4-1106-preview
  haystack/utils/openai_utils.py
  releasenotes/notes/support-gpt-4-1106-preview-ce8e551b11d96471.yaml
Labels: type:documentation, topic:LLM

#6211 ci: Generate release notes in a Github workflow
  .github/workflows/github_release.yml
  releasenotes/config.yaml
Labels: topic:CI

#6255 fix: replace `haystack.lazy_imports` with `haystack.preview.lazy_imports`
  haystack/preview/components/generators/chat/hugging_face_tgi.py
  haystack/preview/components/generators/hf_utils.py
  haystack/preview/components/generators/hugging_face_tgi.py
Labels: ignore-for-release-notes, 2.x

#6209 docs: fix whisper_local indentations docstrings
  haystack/preview/components/audio/whisper_local.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6257 feat: Add `model_kwargs` to ExtractiveReader to impact model loading
  haystack/preview/components/readers/extractive.py
  releasenotes/notes/add-model-kwargs-extractive-reader-c0b65ab34572408f.yaml
  test/preview/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, 2.x

#6189 feat: MetaField Ranker
  haystack/preview/components/rankers/meta_field.py
  releasenotes/notes/add-metadata-field-ranker-a8afd5bf15f29a0a.yaml
  test/preview/components/rankers/test_metafield.py
Labels: type:documentation, topic:tests, 2.x

#6261 fix: make `JoinDocuments` correctly handle duplicate documents w null scores
  haystack/nodes/other/join_docs.py
  releasenotes/notes/fix-join-docs-null-score-746c392a87adffcc.yaml
  test/nodes/test_join_documents.py
Labels: topic:pipeline, type:documentation, topic:tests

#6264 chore: move `HuggingFaceLocalGenerator` to the `generators` directory
  haystack/preview/components/generators/__init__.py
  haystack/preview/components/generators/hugging_face/__init__.py
  haystack/preview/components/generators/hugging_face_local.py
  test/preview/components/generators/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6267 chore: Fix deprecation warning when calling Document.from_dict()
  haystack/preview/dataclasses/document.py
Labels: ignore-for-release-notes, 2.x

#6263 Update openai.py
  haystack/preview/components/generators/openai.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6260 Docs: Update docstrings lg
  haystack/preview/components/retrievers/in_memory_bm25_retriever.py
  haystack/preview/components/retrievers/in_memory_embedding_retriever.py
  test/preview/components/retrievers/test_in_memory_bm25_retriever.py
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6258 feat: Add custom conversion callable to PyPDFToDocument - Haystack 2.x
  haystack/preview/components/file_converters/pypdf.py
  releasenotes/notes/add-custom-converter-hook-to-pypdf-cc7c333a6e7fc5f7.yaml
  test/preview/components/file_converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6269 fix: make types work without installing pypdf
  haystack/preview/components/file_converters/pypdf.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6278 chore: ignore new mypy errors (due to 1.7 release)
  examples/seq2seq_replacement.py
  haystack/modeling/data_handler/data_silo.py
  haystack/utils/augment_squad.py
Labels: topic:modeling, ignore-for-release-notes

#6280 Update transformers_similarity.py
  haystack/preview/components/rankers/transformers_similarity.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6286 Fix Document init when passing non existing fields
  haystack/preview/dataclasses/document.py
  releasenotes/notes/fix-document-init-09c1cbb14202be7d.yaml
  test/preview/dataclasses/test_document.py
Labels: type:documentation, topic:tests, 2.x

#6276 refactor!: set `scale_score` default value to False
  haystack/preview/components/retrievers/in_memory_bm25_retriever.py
  haystack/preview/components/retrievers/in_memory_embedding_retriever.py
  haystack/preview/document_stores/in_memory/document_store.py
  releasenotes/notes/scale-score-false-h2-3c8e4e7e543e8cce.yaml
  test/preview/components/retrievers/test_in_memory_bm25_retriever.py
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
Labels: type:documentation, topic:tests, 2.x

#6279 Update docstring in html.py
  haystack/preview/components/file_converters/html.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6262 docs: 2.0 API reference
  docs/pydoc/config-preview/builder.yml
  docs/pydoc/config-preview/caching.yml
  docs/pydoc/config-preview/classifier.yml
  docs/pydoc/config-preview/document_store.yml
  docs/pydoc/config-preview/embedder.yml
  docs/pydoc/config-preview/fetcher.yml
  docs/pydoc/config-preview/file_converter.yml
  docs/pydoc/config-preview/generator.yml
  docs/pydoc/config-preview/pipeline.yml
  docs/pydoc/config-preview/preprocessor.yml
  docs/pydoc/config-preview/ranker.yml
  docs/pydoc/config-preview/reader.yml
  docs/pydoc/config-preview/retriever.yml
  docs/pydoc/config-preview/router.yml
  docs/pydoc/config-preview/sampler.yml
  docs/pydoc/config-preview/websearch.yml
  docs/pydoc/config-preview/whisper.yml
  docs/pydoc/config-preview/writer.yml
Labels: ignore-for-release-notes

#6300 feat!: Remove unused query parameter from `MetaFieldRanker`
  haystack/preview/components/rankers/meta_field.py
  releasenotes/notes/remove-query-param-MetaFieldRanker-56883ab0377b7605.yaml
  test/preview/components/rankers/test_metafield.py
Labels: breaking change, type:documentation, topic:tests, 2.x

#6302 chore: Add `MetaFieldRanker` to rankers `__init__.py`
  haystack/preview/components/rankers/__init__.py
Labels: ignore-for-release-notes, 2.x

#6306 docs: Reader returns top_k+1 answers if no_answer is enabled
  haystack/preview/components/readers/extractive.py
  releasenotes/notes/fix-reader-top-k-b4f7e29be5ba5ee1.yaml
Labels: type:documentation, 2.x

#6226 feat: add Amazon Bedrock support
  .github/workflows/linting_preview.yml
  haystack/errors.py
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/amazon_bedrock.py
  haystack/nodes/prompt/invocation_layer/aws_base.py
  haystack/nodes/prompt/invocation_layer/sagemaker_base.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_infer.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_text_gen.py
  haystack/nodes/prompt/invocation_layer/sagemaker_meta.py
  pyproject.toml
  releasenotes/notes/bedrock-support-bce28e3078c85c12.yaml
  test/prompt/invocation_layer/test_amazon_bedrock.py
  test/prompt/invocation_layer/test_invocation_layers.py
  test/prompt/invocation_layer/test_sagemaker_hf_infer.py
  test/prompt/invocation_layer/test_sagemaker_hf_text_gen.py
  test/prompt/invocation_layer/test_sagemaker_meta.py
Labels: type:feature, type:documentation, topic:tests, topic:dependencies, topic:build/distribution, topic:CI, topic:LLM

#6297 Docs: Update docstrings
  haystack/preview/components/fetchers/link_content.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6316 chore: improve the error messages of `LazyImport`
  haystack/nodes/file_converter/azure.py
  haystack/pipelines/base.py
  haystack/preview/components/audio/whisper_local.py
  haystack/preview/components/embedders/backends/sentence_transformers_backend.py
  haystack/preview/components/file_converters/azure.py
  haystack/preview/components/rankers/transformers_similarity.py
  haystack/preview/components/readers/extractive.py
  haystack/preview/components/samplers/top_p.py
  haystack/utils/import_utils.py
Labels: topic:file_converter, topic:pipeline, ignore-for-release-notes, 2.x

#6301 fix: Load additional fields from SQUAD-format file to meta field for labels #5978
  haystack/document_stores/utils.py
  releasenotes/notes/metadata_enhancement_for_SQuAD_files-2247c72f07760465.yaml
  test/others/test_eval_data_from_json.py
Labels: type:documentation, topic:document_store, topic:tests

#6319 build: Upgrade openai-whisper and re-introduce audio extra
  .github/workflows/e2e_preview.yml
  .github/workflows/linting.yml
  .github/workflows/linting_preview.yml
  .github/workflows/tests_preview.yml
  haystack/nodes/audio/whisper_transcriber.py
  haystack/preview/components/audio/whisper_local.py
  pyproject.toml
  releasenotes/notes/simplify-whisper-installation-1e347e2527cbf913.yaml
Labels: type:documentation, topic:dependencies, topic:audio, topic:build/distribution, topic:CI, 2.x

#6318 fix: fix un-flattening of metadata
  haystack/preview/dataclasses/document.py
  releasenotes/notes/fix-document-flatten-metadata-ef61dbbae08b1db7.yaml
  test/preview/dataclasses/test_document.py
Labels: topic:tests, 2.x

#6323 feat: Change `Document.__eq__` to compare all fields
  haystack/preview/dataclasses/document.py
  releasenotes/notes/document-equality-4bc1b5273bd5b7f1.yaml
  test/preview/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests, 2.x

#6327 test: Add langdetect installation to e2e tests
  .github/workflows/e2e.yml
  e2e/preview/pipelines/test_extractive_qa_pipeline.py
Labels: ignore-for-release-notes, topic:CI

#6322 build: upgrade to `transformers==4.35.2`
  .github/workflows/e2e_preview.yml
  .github/workflows/linting_preview.yml
  .github/workflows/tests_preview.yml
  pyproject.toml
  releasenotes/notes/transformers-4-35-2-1739bbaa8c6f0111.yaml
Labels: topic:dependencies, topic:build/distribution, topic:CI

#6277 feat: Convert OpenAI GPT function call JSON response to string
  haystack/preview/components/generators/chat/openai.py
Labels: ignore-for-release-notes, 2.x

#6309 feat: upgrade canals to 0.10.1
  e2e/preview/pipelines/test_extractive_qa_pipeline.py
  haystack/preview/document_stores/decorator.py
  pyproject.toml
  releasenotes/notes/canals-0.10.0-bfa4020a8cf207c4.yaml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/components/builders/test_prompt_builder.py
  test/preview/components/caching/test_url_cache_checker.py
  test/preview/components/embedders/test_openai_document_embedder.py
  test/preview/components/embedders/test_openai_text_embedder.py
  test/preview/components/embedders/test_sentence_transformers_document_embedder.py
  test/preview/components/embedders/test_sentence_transformers_text_embedder.py
  test/preview/components/file_converters/test_azure_ocr_doc_converter.py
  test/preview/components/generators/chat/test_openai.py
  test/preview/components/generators/test_hugging_face_local_generator.py
  test/preview/components/generators/test_openai.py
  test/preview/components/rankers/test_metafield.py
  test/preview/components/rankers/test_transformers_similarity.py
  test/preview/components/readers/test_extractive.py
  test/preview/components/retrievers/test_in_memory_bm25_retriever.py
  test/preview/components/retrievers/test_in_memory_embedding_retriever.py
  test/preview/components/websearch/test_serperdev.py
  test/preview/components/writers/test_document_writer.py
  test/preview/document_stores/test_in_memory.py
  test/preview/test_files/yaml/test_pipeline.yaml
  test/preview/test_telemetry.py
  test/preview/testing/test_factory.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution, 2.x

#6325 ci: Change preview tests to run all tests except integration ones
  .github/workflows/tests_preview.yml
  test/preview/components/builders/test_answer_builder.py
Labels: topic:tests, ignore-for-release-notes, topic:CI, 2.x

#6333 refactor: improve Document representation
  haystack/preview/dataclasses/document.py
  releasenotes/notes/better-doc-repr-6d35de1cf4b25697.yaml
Labels: 2.x

#6332 refactor: Move tests for `count_documents` from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6334 refactor: Move tests for `write_documents` from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6349 Move `filter_documents` tests with nested logical filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6348 Move `filter_documents` tests with simple logical filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6347 Move `filter_documents` tests with less than equal filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6346 Move `filter_documents` tests with less than filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6345 Move `filter_documents` tests with greater than equal filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6344 Move `filter_documents` tests with greater than filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6343 Move `filter_documents` tests with not in filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6342 Move `filter_documents` tests with in filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6341 Move `filter_documents` tests with not equal filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6340 Move `filter_documents` tests with equal filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6339 refactor: Move `filter_documents` tests with invalid filters from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6338 refactor: Move generic `filter_documents` tests from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6336 refactor: Move tests for `delete_documents` from `DocumentStoreBaseTests` to separate class
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6282 Promptnode timeout
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
  haystack/utils/openai_utils.py
  releasenotes/notes/add-timeout-arg-to-promptnode-de11f17733344052.yaml
Labels: type:documentation, topic:LLM, topic:promptnode

#6274 feat: make `InMemoryDocumentStore` return the number of docs actually written
  haystack/preview/document_stores/in_memory/document_store.py
  releasenotes/notes/inmemory-return-written-documents-488b7f90df84bc59.yaml
  test/preview/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests, 2.x

#6105 feat: Add DocumentJoiner component 2.0
  e2e/preview/pipelines/test_hybrid_doc_search_pipeline.py
  e2e/preview/pipelines/test_preprocessing_pipeline.py
  haystack/preview/components/routers/document_joiner.py
  releasenotes/notes/document-joiner-2-126bd60c84be6efa.yaml
  test/preview/components/routers/test_document_joiner.py
Labels: type:documentation, topic:tests, 2.x

#6006 feat: extend `write_documents` to return the number of documents actually written in the document store
  haystack/preview/document_stores/protocols.py
  releasenotes/notes/extend-write-documents-855ffc315974f03b.yaml
Labels: type:documentation, 2.x

#6354 fix: InMemoryDocumentStore - recreate Documents in the right way during embedding retrieval
  haystack/preview/document_stores/in_memory/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6296 Docs: Update Rankers docstrings and messages
  haystack/preview/components/rankers/meta_field.py
  haystack/preview/components/rankers/transformers_similarity.py
  test/preview/components/rankers/test_metafield.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6314 feat: Implement function to convert legacy filters to new style
  haystack/preview/utils/filters.py
  releasenotes/notes/filters-converter-485cd24cf38407d0.yaml
  test/preview/utils/test_filters.py
Labels: type:documentation, topic:tests, 2.x

#6361 test: Prevent `pytest_generate_tests` from polluting `preview` tests
  conftest.py
Labels: topic:tests, ignore-for-release-notes

#6362 refactor: Rework `write_documents` tests
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6363 refactor: Rework `delete_documents` tests
  haystack/preview/document_stores/in_memory/document_store.py
  haystack/preview/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6365 docs: Add DocumentJoiner 2.0 to API docs
  docs/pydoc/config-preview/router.yml
Labels: ignore-for-release-notes

#6368 fix: Add DocumentJoiner to routers' init
  haystack/preview/components/routers/__init__.py
Labels: ignore-for-release-notes, 2.x

#6358 fix: `HuggingFaceLocalGenerator` - merge lazy import blocks
  haystack/preview/components/generators/hugging_face_local.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6369 docs: Include TextEmbedder in DocumentJoiner usage example
  haystack/preview/components/routers/document_joiner.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6372 feat: embedding instructions for dense retrieval
  haystack/nodes/retriever/dense.py
  releasenotes/notes/embedding-instructions-4feb216cbf796678.yaml
  test/conftest.py
  test/nodes/test_retriever.py
Labels: type:documentation, topic:tests, topic:retriever

#6375 test: Remove Document Store test with invalid filter
  haystack/preview/testing/document_store.py
Labels: ignore-for-release-notes, 2.x

#6366 feat: make `DocumentWriter` return the actual number of documents written
  haystack/preview/components/writers/document_writer.py
  test/preview/components/writers/test_document_writer.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6376 fix: Fix corner cases and error handling with filters conversion
  haystack/preview/utils/filters.py
  test/preview/utils/test_filters.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6304 feat: Add `ByteStream` metadata and other metadata to `Documents` created by `HTMLToDocument`
  haystack/preview/components/file_converters/html.py
  releasenotes/notes/add-metadata-HTMLToDocument-42dbd074a46c979e.yaml
  test/preview/components/file_converters/test_html_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6374 refactor!: improve the public interface of Generators
  haystack/preview/components/generators/chat/openai.py
  haystack/preview/components/generators/hugging_face_local.py
  haystack/preview/components/generators/openai.py
  releasenotes/notes/refactor-generator-public-interface-b588e9f23778e0ee.yaml
  test/preview/components/generators/chat/test_openai.py
  test/preview/components/generators/test_hugging_face_local_generator.py
  test/preview/components/generators/test_openai.py
Labels: type:documentation, topic:tests, 2.x

#6383 fix: fix type hints on `DocumentStore` protocol
  haystack/preview/document_stores/protocols.py
Labels: ignore-for-release-notes, 2.x

#6147 feat: Add `ConditionalRouter` Haystack 2.x component
  haystack/preview/components/routers/__init__.py
  haystack/preview/components/routers/conditional_router.py
  releasenotes/notes/add-router-f1f0cec79b1efe9a.yaml
  test/preview/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests, 2.x

#6390 fix: Rename preview package file_converters to converters
  docs/pydoc/config-preview/converter.yml
  e2e/preview/pipelines/test_preprocessing_pipeline.py
  haystack/preview/components/converters/__init__.py
  haystack/preview/components/converters/azure.py
  haystack/preview/components/converters/html.py
  haystack/preview/components/converters/markdown.py
  haystack/preview/components/converters/pypdf.py
  haystack/preview/components/converters/tika.py
  haystack/preview/components/converters/txt.py
  haystack/preview/components/file_converters/__init__.py
  test/preview/components/converters/__init__.py
  test/preview/components/converters/test_azure_ocr_doc_converter.py
  test/preview/components/converters/test_html_to_document.py
  test/preview/components/converters/test_markdown_to_document.py
  test/preview/components/converters/test_pypdf_to_document.py
  test/preview/components/converters/test_textfile_to_document.py
  test/preview/components/converters/test_tika_doc_converter.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6355 Feat: Create code snippets for each component
  examples/preview/retrievers/in_memory_bm25_documentsearch.py
  examples/preview/retrievers/in_memory_bm25_rag.py
Labels: ignore-for-release-notes, 2.x

#6335 fix: Revert back to straightforward PromptBuilder
  haystack/preview/components/builders/prompt_builder.py
  test/preview/components/builders/test_prompt_builder.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6328 feat: Add DynamicPromptBuilder to Haystack 2.x
  docs/pydoc/config-preview/builder.yml
  haystack/preview/components/builders/__init__.py
  haystack/preview/components/builders/dynamic_prompt_builder.py
  pyproject.toml
  releasenotes/notes/add-dynamic-prompt-builder-e61c4b11405b8d80.yaml
  test/preview/components/builders/test_dynamic_prompt_builder.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution, 2.x

#6396 fix!: make `PyPDFToDocument` JSON-serializable
  haystack/preview/components/converters/pypdf.py
  releasenotes/notes/fix-pypdf-serialization-93744fd01ef5b841.yaml
  test/preview/components/converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6398 chore: Remove `pydoc-markdown` from dev dependencies
  pyproject.toml
  rest_api/pyproject.toml
Labels: topic:rest_api, topic:dependencies, ignore-for-release-notes, topic:build/distribution

#6399 feat: add microsoft pptx file converter
  haystack/nodes/__init__.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/pptx.py
  pyproject.toml
  releasenotes/notes/pptx-file-converter-3e494d2747637eb2.yaml
  test/nodes/test_file_converter.py
  test/samples/pptx/sample_pptx.pptx
Labels: topic:file_converter, type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#6102 test: Add end-to-end test for dense doc search 2.0
  e2e/preview/conftest.py
  e2e/preview/pipelines/test_dense_doc_search.py
  e2e/preview/pipelines/test_rag_pipelines.py
  e2e/preview/samples/doc_1.txt
  e2e/preview/samples/sample_pdf_1.pdf
Labels: ignore-for-release-notes

#6395 feat: `CohereGenerator`
  .github/workflows/linting_preview.yml
  .github/workflows/tests_preview.yml
  haystack/preview/components/generators/__init__.py
  haystack/preview/components/generators/cohere.py
  releasenotes/notes/add-CohereGenerator-ca55e5b8e46df754.yaml
  test/preview/components/generators/test_cohere_generators.py
Labels: type:documentation, topic:tests, topic:CI, 2.x

#6401 refactor: add batch_size to FAISS __init__
  haystack/document_stores/faiss.py
  releasenotes/notes/add-batch_size_faiss_init-5e97c1fb9409f873.yaml
Labels: topic:faiss, type:documentation, topic:document_store

#6404 chore: add `PptxConverter` to pydoc configuration
  docs/pydoc/config/file-converters.yml
Labels: ignore-for-release-notes

#6405 Fix wrong import in `cohere.py` and change `model` to `model_name` for consistency
  haystack/preview/components/generators/cohere.py
  test/preview/components/generators/test_cohere_generators.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6382 fix: make `ExtractiveReader` handle situations where `token_to_chars` returns None instead of a (start, end) tuple
  haystack/preview/components/readers/extractive.py
  test/preview/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6407 fix: Cohere - better handling of `COHERE_API_URL`
  haystack/preview/components/generators/cohere.py
Labels: ignore-for-release-notes, 2.x

#6312 Docs: Update Reader's doc strings
  haystack/preview/components/readers/extractive.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6400 feat: Add SearchApi integration
  haystack/nodes/retriever/web.py
  haystack/nodes/search_engine/providers.py
  haystack/nodes/search_engine/web.py
  haystack/preview/components/websearch/__init__.py
  haystack/preview/components/websearch/searchapi.py
  proposals/text/4084-agent-demo.md
  releasenotes/notes/add-searchapi-integration-bb9130485c3c9429.yaml
  test/nodes/test_web_search.py
  test/preview/components/websearch/test_searchapi.py
Labels: type:documentation, topic:tests, topic:retriever, proposal, 2.x

#6397 refactor: Add support for new filters declaration
  e2e/preview/pipelines/test_preprocessing_pipeline.py
  haystack/preview/components/routers/metadata_router.py
  haystack/preview/document_stores/in_memory/document_store.py
  haystack/preview/document_stores/protocols.py
  haystack/preview/testing/document_store.py
  haystack/preview/utils/filters.py
  releasenotes/notes/rework-filters-1bb103d196a1912b.yaml
  test/preview/components/routers/test_metadata_router.py
  test/preview/document_stores/test_in_memory.py
  test/preview/utils/test_filters.py
Labels: type:documentation, topic:tests, 2.x

#6419 ci: Add `catch-all` job in `tests.yml`
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#6418 docs: Add example for loop in pipeline to autocorrect JSON
  .github/workflows/snippets_tests.yml
  examples/pipeline_loop_to_autocorrect_json.py
Labels: ignore-for-release-notes, topic:CI

#6412 docs: Add indexing example
  examples/pipelines/indexing_pipeline.py
Labels: ignore-for-release-notes

#6429 ci: Fix `mypy` failures in CI
  .github/workflows/linting.yml
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI

#6428 refactor: Add new filters tests for Document Store testing
  haystack/document_stores/in_memory/document_store.py
  haystack/testing/document_store.py
  releasenotes/notes/document-store-testing-c1a8050f06ff3e97.yaml
Labels: type:documentation, 2.x

#6438 feat: Change default `DuplicatePolicy` in `DocumentStore.write_documents()`
  haystack/document_stores/in_memory/document_store.py
  haystack/document_stores/protocols.py
  haystack/testing/document_store.py
  releasenotes/notes/default-write-documents-policy-95afe5fb34fc73ad.yaml
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests, 2.x

#6440 chore: add label for `core` PRs
  .github/labeler.yml
Labels: ignore-for-release-notes, topic:CI

#6442 refactor: Reworked Document Store testing comparison to be more versatile
  haystack/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6448 refactor: Rename `document_store/protocols.py` to `document_store/protocol.py`
  haystack/document_stores/__init__.py
  haystack/document_stores/in_memory/document_store.py
  haystack/document_stores/protocol.py
Labels: ignore-for-release-notes, 2.x

#6449 chore: make `core` tests layout consistent
  test/core/pipeline/integration/__init__.py
  test/core/pipeline/test_complex_pipeline.py
  test/core/pipeline/test_connections.py
  test/core/pipeline/test_default_value.py
  test/core/pipeline/test_distinct_loops_pipeline.py
  test/core/pipeline/test_double_loop_pipeline.py
  test/core/pipeline/test_draw.py
  test/core/pipeline/test_draw_graphviz.py
  test/core/pipeline/test_dynamic_inputs_pipeline.py
  test/core/pipeline/test_fixed_decision_and_merge_pipeline.py
  test/core/pipeline/test_fixed_decision_pipeline.py
  test/core/pipeline/test_fixed_merging_pipeline.py
  test/core/pipeline/test_joiners.py
  test/core/pipeline/test_linear_pipeline.py
  test/core/pipeline/test_looping_and_merge_pipeline.py
  test/core/pipeline/test_looping_pipeline.py
  test/core/pipeline/test_mutable_inputs.py
  test/core/pipeline/test_parallel_branches_pipeline.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_self_loop.py
  test/core/pipeline/test_validation_pipeline_io.py
  test/core/pipeline/test_variable_decision_and_merge_pipeline.py
  test/core/pipeline/test_variable_decision_pipeline.py
  test/core/pipeline/test_variable_merging_pipeline.py
  test/core/pipeline/unit/__init__.py
Labels: topic:tests, ignore-for-release-notes

#6450 chore: remove unit marker
  haystack/testing/document_store.py
  test/components/audio/test_whisper_local.py
  test/components/audio/test_whisper_remote.py
  test/components/builders/test_answer_builder.py
  test/components/builders/test_prompt_builder.py
  test/components/caching/test_url_cache_checker.py
  test/components/classifiers/test_document_language_classifier.py
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/converters/test_html_to_document.py
  test/components/converters/test_markdown_to_document.py
  test/components/converters/test_pypdf_to_document.py
  test/components/converters/test_textfile_to_document.py
  test/components/converters/test_tika_doc_converter.py
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/fetchers/test_link_content_fetcher.py
  test/components/generators/chat/test_hugging_face_tgi.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_cohere_generators.py
  test/components/generators/test_hf_utils.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/generators/test_hugging_face_tgi.py
  test/components/generators/test_openai.py
  test/components/generators/test_utils.py
  test/components/preprocessors/test_document_cleaner.py
  test/components/preprocessors/test_document_splitter.py
  test/components/rankers/test_metafield.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
  test/components/retrievers/test_in_memory_bm25_retriever.py
  test/components/retrievers/test_in_memory_embedding_retriever.py
  test/components/routers/test_document_joiner.py
  test/components/routers/test_file_router.py
  test/components/routers/test_metadata_router.py
  test/components/routers/test_text_language_router.py
  test/components/samplers/test_top_p.py
  test/components/websearch/test_searchapi.py
  test/components/websearch/test_serperdev.py
  test/components/writers/test_document_writer.py
  test/dataclasses/test_byte_stream.py
  test/dataclasses/test_chat_message.py
  test/dataclasses/test_document.py
  test/dataclasses/test_streaming_chunk.py
  test/document_stores/test_in_memory.py
  test/test_pipeline.py
  test/test_telemetry.py
  test/testing/test_factory.py
Labels: topic:tests, ignore-for-release-notes

#6453 Fix: torch type hints put into quotes
  haystack/components/generators/hugging_face_local.py
  haystack/components/readers/extractive.py
Labels: ignore-for-release-notes

#6413 feat: Allow flat dictionary `Pipeline.run()` inputs
  haystack/pipeline.py
  releasenotes/notes/allow-simplified-pipeline-run-input-e3dd98ff38f0bc01.yaml
  test/test_pipeline.py
Labels: type:documentation, topic:tests

#6455 docs: add CohereGenerator and ConditionalRouter API docs
  docs/pydoc/config-preview/generator.yml
  docs/pydoc/config-preview/router.yml
Labels: ignore-for-release-notes
