Repository deepset-ai/haystack, pull requests merged in 2023-08, with the labels that each got.

#5444 feat: add optional index selection for endpoints
  rest_api/rest_api/controller/document.py
  rest_api/rest_api/controller/feedback.py
  rest_api/test/test_rest_api.py
Labels: topic:rest_api, type:documentation

#5481 chore: Rework docs generation
  .github/workflows/readme_sync.yml
  docs/pydoc/renderers.py
Labels: ignore-for-release-notes, topic:CI

#5482 chore: Skip running tests in CI when editing docs Python files
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
Labels: ignore-for-release-notes, topic:CI

#5480 docs: update installation instructions in README.md
  README.md
Labels: type:documentation

#5398 feat: Add DiversityRanker
  docs/pydoc/config/ranker.yml
  examples/web_lfqa_improved.py
  haystack/nodes/ranker/diversity.py
  releasenotes/notes/add-most-diverse-ranker-21cf310be4554551.yaml
  test/nodes/test_diversity_ranker.py
Labels: type:documentation, topic:tests

#5483 Fix Agent API
  docs/pydoc/config/agent.yml
  haystack/agents/conversational.py
Labels: type:documentation, ignore-for-release-notes, topic:agent

#5486 build: Remove upper bound for weaviate client
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5314 feat: enable loading tokenizer for models that are not supported by the transformers library
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  releasenotes/notes/load-tokenizer-if-not-load-by-transformers-5841cdc9ff69bcc2.yaml
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5229 refactor: Update WebRetriever to use LinkContentFetcher
  examples/web_lfqa.py
  haystack/nodes/retriever/web.py
  haystack/nodes/search_engine/web.py
  releasenotes/notes/refactor-web-retriever-a0604ead72b84fdc.yaml
  test/nodes/test_web_retriever.py
Labels: type:documentation, topic:tests, topic:retriever

#5420 fix: enable passing `max_length` for text2text-generation task
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  releasenotes/notes/enable-set-max-length-during-runtime-097d65e537bf800b.yaml
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5461 fix: hf agent outputs the prompt text while the openai agent not
  haystack/nodes/prompt/invocation_layer/handlers.py
  releasenotes/notes/add-skip-prompt-for-hf-model-agent-89aef2838edb907c.yaml
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5494 feat: Add `top_k` parameter to `DiversityRanker` init method
  haystack/nodes/ranker/diversity.py
  releasenotes/notes/diversity-ranker-add-topk-24f23136f316129a.yaml
  test/nodes/test_diversity_ranker.py
Labels: type:documentation, topic:tests

#5457 feat: Add LostInTheMiddleRanker
  docs/pydoc/config/ranker.yml
  examples/web_lfqa_improved.py
  haystack/nodes/ranker/lost_in_the_middle.py
  releasenotes/notes/add-lost-in-the-middle-ranker-6ad7dda754fad5a9.yaml
  test/nodes/test_lost_in_the_middle.py
Labels: type:documentation, topic:tests

#5273 docs: Add inherited methods to API reference documentation
  docs/pydoc/config/agent.yml
  docs/pydoc/config/answer-generator.yml
  docs/pydoc/config/crawler.yml
  docs/pydoc/config/doc-language-classifier.yml
  docs/pydoc/config/document-classifier.yml
  docs/pydoc/config/document-store.yml
  docs/pydoc/config/extractor.yml
  docs/pydoc/config/file-classifier.yml
  docs/pydoc/config/file-converters.yml
  docs/pydoc/config/other.yml
  docs/pydoc/config/pipelines.yml
  docs/pydoc/config/preprocessor.yml
  docs/pydoc/config/primitives.yml
  docs/pydoc/config/prompt-node.yml
  docs/pydoc/config/pseudo-label-generator.yml
  docs/pydoc/config/query-classifier.yml
  docs/pydoc/config/question-generator.yml
  docs/pydoc/config/ranker.yml
  docs/pydoc/config/reader.yml
  docs/pydoc/config/retriever.yml
  docs/pydoc/config/shaper.yml
  docs/pydoc/config/summarizer.yml
  docs/pydoc/config/transformers-img-to-text.yml
  docs/pydoc/config/translator.yml
  docs/pydoc/config/utils.yml
  docs/pydoc/config/whisper.yml
  docs/pydoc/loaders.py
Labels: type:documentation, ignore-for-release-notes

#5432 test: Add scripts to send benchmark results to datadog
  test/benchmarks/datadog/metric_handler.py
  test/benchmarks/datadog/requirements.txt
  test/benchmarks/datadog/send_metrics.py
  test/benchmarks/reader.py
  test/benchmarks/run.py
  test/benchmarks/utils.py
Labels: topic:tests, ignore-for-release-notes

#5488 docs: update docstrings in HF invocation layer
  haystack/nodes/prompt/invocation_layer/hugging_face.py
Labels: type:documentation, ignore-for-release-notes

#5446 test: Convert two HFLocalInvocationLayer integration to unit tests
  releasenotes/notes/improve-hf-invocation-layer-tests-c42250d11d1d06c1.yaml
  test/prompt/invocation_layer/test_hugging_face.py
Labels: topic:tests

#5455 feat: support search_fields in DeepsetCloudDocumentStore
  haystack/document_stores/deepsetcloud.py
  releasenotes/notes/deepset-cloud-document-store-search-fields-40b2322466f808a3.yaml
Labels: type:documentation, topic:document_store, topic:dc_document_store

#5509 chore: move base test class into haystack core
  haystack/testing/preview/__init__.py
  haystack/testing/preview/document_store.py
  pyproject.toml
  test/preview/document_stores/test_memory.py
Labels: type:documentation, topic:tests, topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5504 feat: Improve LFQA Web Example
  examples/web_lfqa_improved.py
Labels: ignore-for-release-notes

#5522 chore: contributing guidelines - remove references to the ui directory
  CONTRIBUTING.md
Labels: ignore-for-release-notes, topic:DX

#5524 fix: Fix datadog client init in benchmarks
  test/benchmarks/datadog/metric_handler.py
Labels: topic:tests, ignore-for-release-notes

#5503 fix: StopWordsCriteria doesn't compare the stop word token ids with the input ids in a continuous and sequential order
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  releasenotes/notes/fix-stop-words-criteria-check-order-bug-4badfcc021dfc92a.yaml
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5454 tests: Removal of redundant nodes e2e tests
  e2e/nodes/__init__.py
  e2e/nodes/test_summarizer.py
  e2e/nodes/test_translator.py
Labels: ignore-for-release-notes

#5515 refactor: update Crawler to support selenium>=4.11.0 and simplify it
  haystack/nodes/connector/crawler.py
  pyproject.toml
  releasenotes/notes/update-crawler-selenium-4.11-30fec9f6e345834f.yaml
  test/nodes/test_connector.py
Labels: topic:tests, topic:dependencies, topic:crawler, topic:build/distribution

#5427 feat: support dynamic filters in custom_query
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  haystack/nodes/retriever/sparse.py
  releasenotes/notes/custom-query-dynamic-filters-dd83ec358d2f64a6.yaml
  test/document_stores/test_search_engine.py
  test/nodes/test_retriever.py
Labels: breaking change, topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:retriever, topic:opensearch

#5083 feat: Improve performance and add default media support in FileTypeClassifier
  haystack/nodes/file_classifier/file_type.py
  releasenotes/notes/file-classifier-add-media-files-support-e970524f726dd844.yaml
  test/nodes/test_filetype_classifier.py
Labels: type:documentation, topic:tests

#5526 feat: Remove template variables from PromptNode invocation kwargs
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/prompt_template.py
  releasenotes/notes/remove-template-vars-invocation-kwargs-060f186fd1250fe4.yaml
  test/prompt/test_prompt_node.py
  test/prompt/test_prompt_template.py
Labels: breaking change, type:documentation, topic:tests, topic:LLM, topic:promptnode

#5528 build: pin safetensors
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5251 chore: normalize more optional imports
  haystack/document_stores/filter_utils.py
  haystack/modeling/evaluation/metrics.py
  haystack/nodes/doc_language_classifier/langdetect.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/file_converter/docx.py
  haystack/nodes/file_converter/tika.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/utils/context_matching.py
Labels: topic:file_converter, topic:modeling, topic:preprocessing, topic:document_store

#5491 fix: TransformersImageToText.generate_captions accepts "str" #5485
  haystack/nodes/image_to_text/transformers.py
  releasenotes/notes/fix-issue-#5485-efa4486a414ce584.yaml
Labels: type:documentation, topic:images

#5530 Add Store class factory
  haystack/preview/testing/__init__.py
  haystack/preview/testing/factory.py
  releasenotes/notes/store-factory-91e7da46aeb7ff21.yaml
  test/preview/testing/test_factory.py
Labels: type:documentation, topic:tests

#5532 Migrate existing v2 components to Canals 0.4.0
  haystack/preview/components/audio/whisper_local.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/preview/components/file_converters/txt.py
  haystack/preview/components/retrievers/memory.py
  pyproject.toml
  releasenotes/notes/canals-0.4.0-b69b19069c4a9e0f.yaml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/components/file_converters/test_textfile_to_document.py
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#5469 docs: update weaviate.py docstrings
  haystack/document_stores/weaviate.py
Labels: type:documentation, topic:document_store, ignore-for-release-notes, topic:weaviate

#5536 feat: Update Docker readme
  docker/README.md
Labels: topic:docker, ignore-for-release-notes

#5541 Add `to_dict` and `from_dict` methods for Stores
  haystack/preview/document_stores/decorator.py
  haystack/preview/document_stores/errors.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/document_stores/protocols.py
  releasenotes/notes/stores-serialisation-a09398d158b01ae6.yaml
  test/preview/document_stores/test_decorator.py
  test/preview/document_stores/test_memory.py
Labels: type:documentation, topic:tests

#5547 chore: rename `store` to `document_store` for clarity
  haystack/preview/__init__.py
  haystack/preview/components/retrievers/memory.py
  haystack/preview/document_stores/__init__.py
  haystack/preview/document_stores/decorator.py
  haystack/preview/document_stores/errors.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/document_stores/mixins.py
  haystack/preview/document_stores/protocols.py
  haystack/preview/pipeline.py
  haystack/preview/testing/factory.py
  haystack/testing/preview/document_store.py
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/document_stores/test_decorator.py
  test/preview/document_stores/test_memory.py
  test/preview/pipeline/test_pipeline.py
  test/preview/testing/test_factory.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5570 fix: Use correct type for points in datadog (benchmarks)
  test/benchmarks/datadog/metric_handler.py
Labels: topic:tests, ignore-for-release-notes

#5564 Update `canals` to `0.5.0`
  haystack/preview/components/audio/whisper_remote.py
  pyproject.toml
Labels: topic:dependencies, ignore-for-release-notes, topic:build/distribution

#5514 feat: Add FileExtensionClassifier to previews
  haystack/preview/components/__init__.py
  haystack/preview/components/classifiers/__init__.py
  haystack/preview/components/classifiers/file_classifier.py
  releasenotes/notes/add-file-extension-classifier-preview-40f31c27bbd7cff9.yaml
  test/preview/components/classifiers/__init__.py
  test/preview/components/classifiers/test_file_classifier.py
Labels: type:documentation, topic:tests

#5563 Add Answer class
  haystack/preview/__init__.py
  haystack/preview/dataclasses/__init__.py
  haystack/preview/dataclasses/answer.py
  releasenotes/notes/add-v2-answer-class-31bc8d3116922594.yaml
Labels: type:documentation

#5569 chore: remove haystack dependencies from preview
  haystack/preview/components/audio/whisper_remote.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/utils/__init__.py
  haystack/preview/utils/expit.py
  haystack/preview/utils/requests_utils.py
  test/preview/components/audio/test_whisper_remote.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5435 feat: Add DocumentWriter v2
  haystack/preview/components/__init__.py
  haystack/preview/components/writers/document_writer.py
  releasenotes/notes/document-writer-v2-bbe0a62b3066f9cf.yaml
  test/preview/components/writers/__init__.py
  test/preview/components/writers/document_writer.py
Labels: type:documentation, topic:tests

#5566 refactor: Rework WebRetriever caching, adjust tests
  haystack/nodes/retriever/web.py
  releasenotes/notes/adjust-web-retriever-caching-logic-2e05fbc972a86f29.yaml
  test/nodes/test_web_retriever.py
Labels: type:documentation, topic:tests, topic:retriever

#5399 ci: Add Github workflow to automate benchmark runs
  .github/workflows/benchmarks.yml
  .github/workflows/cml.yml
  test/benchmarks/configs/reader/debertabase.yml
  test/benchmarks/configs/reader/debertalarge.yml
  test/benchmarks/configs/reader/tinyroberta.yml
  test/benchmarks/configs/retriever/bm25-elasticsearch-100k.yml
  test/benchmarks/configs/retriever/bm25-opensearch-100k.yml
  test/benchmarks/configs/retriever/bm25-weaviate-100k.yml
  test/benchmarks/configs/retriever/minilm-elasticsearch-100k.yml
  test/benchmarks/configs/retriever/minilm-opensearch-100k.yml
  test/benchmarks/configs/retriever/minilm-weaviate-100k.yml
  test/benchmarks/configs/retriever/mpnetbase-elasticsearch-100k.yml
  test/benchmarks/configs/retriever/mpnetbase-opensearch-100k.yml
  test/benchmarks/configs/retriever/mpnetbase-weaviate-100k.yml
  test/benchmarks/configs/retriever_reader/bm25-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/bm25-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/bm25-tinyroberta-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/minilm-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/minilm-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/minilm-tinyroberta-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-tinyroberta-opensearch-100k.yml
  test/benchmarks/datadog/send_metrics.py
  test/benchmarks/retriever.py
  test/benchmarks/retriever_reader.py
  test/benchmarks/run.py
  test/benchmarks/utils.py
Labels: topic:tests, ignore-for-release-notes, topic:CI

#5588 fix: Rename web_lfqa_improved example and update questions
  examples/web_lfqa_with_rankers.py
Labels: ignore-for-release-notes

#5591 chore: add `preview` section to release notes
  releasenotes/config.yaml
  releasenotes/notes/add-file-extension-classifier-preview-40f31c27bbd7cff9.yaml
  releasenotes/notes/add-v2-answer-class-31bc8d3116922594.yaml
  releasenotes/notes/canals-0.4.0-b69b19069c4a9e0f.yaml
  releasenotes/notes/document-writer-v2-bbe0a62b3066f9cf.yaml
  releasenotes/notes/lazy-import-v2-82902270867d9899.yaml
  releasenotes/notes/store-factory-91e7da46aeb7ff21.yaml
  releasenotes/notes/stores-serialisation-a09398d158b01ae6.yaml
  releasenotes/notes/textfile-to-document-v2-341987623765ec95.yaml
Labels: ignore-for-release-notes

#5590 chore: improve error message in FileExtensionClassifier
  haystack/preview/components/classifiers/file_classifier.py
  releasenotes/notes/better-error-FileExtensionClassifier-4defc51ed116c2a2.yaml
  test/preview/components/classifiers/test_file_classifier.py
Labels: type:documentation, topic:tests

#5592 chore: change import paths under `preview`
  haystack/preview/__init__.py
  haystack/preview/components/__init__.py
  haystack/preview/components/audio/__init__.py
  haystack/preview/components/classifiers/__init__.py
  haystack/preview/components/file_converters/__init__.py
  haystack/preview/components/retrievers/__init__.py
  haystack/preview/components/writers/__init__.py
  haystack/preview/document_stores/__init__.py
  releasenotes/notes/change-import-paths-3d4eae690412e545.yaml
  test/preview/components/audio/__init__.py
  test/preview/components/audio/test_whisper_local.py
  test/preview/pipeline/test_pipeline.py
Labels: topic:tests

#5593 chore: leftover from #5580
  haystack/preview/components/file_converters/txt.py
Labels: ignore-for-release-notes

#5582 Rework `MemoryRetriever`
  haystack/preview/components/retrievers/memory.py
  releasenotes/notes/rework-memory-retriever-73c5d3221bd96759.yaml
  test/preview/components/retrievers/test_memory_retriever.py
Labels: type:documentation, topic:tests

#5583 Rework `DocumentWriter`
  haystack/preview/components/writers/document_writer.py
  releasenotes/notes/rework-document-writer-4958db2024070f6f.yaml
  test/preview/components/writers/document_writer.py
Labels: type:documentation, topic:tests

#5584 Remove specialised `Pipeline`
  haystack/preview/__init__.py
  haystack/preview/pipeline.py
  releasenotes/notes/remove-pipeline-c02067516c387f0b.yaml
  test/preview/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests

#5598 Add missing integration tests to catch-all required step in tests.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI

#5599 Fix release notes
  releasenotes/notes/remove-document-store-aware-mixin-8eef714844ee04f2.yaml
Labels: ignore-for-release-notes

#5613 Remove BaseTestComponent
  releasenotes/notes/remove-base-test-component-ee1986a2bbbace46.yaml
  test/preview/components/audio/test_whisper_local.py
  test/preview/components/audio/test_whisper_remote.py
  test/preview/components/base.py
  test/preview/components/classifiers/test_file_classifier.py
  test/preview/components/file_converters/test_textfile_to_document.py
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/components/writers/document_writer.py
Labels: topic:tests

#5611 Add terminate-runner job in benchmarks.yml
  .github/workflows/benchmarks.yml
Labels: ignore-for-release-notes, topic:CI

#5499 fix: in a containerized environment (like AWS ECS) there is a file wr…
  rest_api/rest_api/controller/feedback.py
Labels: topic:rest_api, type:documentation

#5619 build: upgrade Transformers to 4.32.0
  pyproject.toml
  releasenotes/notes/bump-transformers-to-4-32-341a42ff09796725.yaml
Labels: topic:dependencies, topic:build/distribution

#5631 Add workflow to trigger preview package release
  .github/workflows/pypi_release_preview.yml
Labels: ignore-for-release-notes, topic:CI

#5540 proposal: LLM support in Haystack 2.0
  proposals/text/5540-llm-support-2.0.md
Labels: proposal

#5572 feat: SentenceTransformersEmbeddingBackend (v2)
  haystack/preview/embedding_backends/__init__.py
  haystack/preview/embedding_backends/sentence_transformers_backend.py
  releasenotes/notes/sentence-transformers-embedding-backend-69bd9410ede08c8f.yaml
  test/preview/embedding_backends/test_sentence_transformers.py
Labels: type:documentation, topic:tests, 2.x

#5644 chore: remove `self.warm_up()`
  haystack/preview/components/audio/whisper_local.py
Labels: ignore-for-release-notes

#5634 chore: Add coverage badge
  README.md
Labels: ignore-for-release-notes

#5587 feat: Add domain scoping to WebRetriever
  examples/talk_to_website.py
  haystack/nodes/retriever/web.py
  haystack/nodes/search_engine/providers.py
  haystack/nodes/search_engine/web.py
  releasenotes/notes/web-retriever-add-domain-scoping-6594425e0c0ace3c.yaml
Labels: type:documentation, topic:retriever

#5656 fix: LinkContentFetcher - when no content retrieved (i.e. request blocked), default to snippet text
  haystack/nodes/retriever/link_content.py
  releasenotes/notes/link-content-include-snippet-if-blocked-53b0e3108f010315.yaml
  test/nodes/test_link_content_fetcher.py
Labels: topic:tests, topic:retriever

#5576 chore: refactor pipeline tests for e2e testing
  .github/workflows/e2e.yml
  e2e/pipelines/test_standard_pipelines.py
  e2e/pipelines/test_standard_pipelines_batch.py
  e2e/pipelines/test_summarization_pipelines.py
Labels: ignore-for-release-notes, topic:CI

#5658 build: Upgrade transformers to v4.32.1
  pyproject.toml
  releasenotes/notes/bump-transformers-to-4-32-1-5b800ceff440b871.yaml
Labels: topic:dependencies, topic:build/distribution

#5651 chore: serialization methods for `FileExtensionClassifier`
  haystack/preview/components/classifiers/file_classifier.py
  test/preview/components/classifiers/test_file_classifier.py
Labels: topic:tests, ignore-for-release-notes

#5653 chore: serialization methods for `SentenceTransformersTextEmbedder`
  haystack/preview/components/embedders/sentence_transformers_text_embedder.py
  test/preview/components/embedders/test_sentence_transformers_text_embedder.py
Labels: topic:tests, ignore-for-release-notes

#5654 chore: serialization methods for `TextFileToDocument`
  haystack/preview/components/file_converters/txt.py
  test/preview/components/file_converters/test_textfile_to_document.py
Labels: topic:tests, ignore-for-release-notes

#5643 Add information about `preview` module
  haystack/preview/README.md
Labels: ignore-for-release-notes

#5659 fix: Change `use_auth_token` to `token` in `TransformersQueryClassifier`
  haystack/nodes/query_classifier/transformers.py
  test/nodes/test_query_classifier.py
Labels: topic:tests, ignore-for-release-notes

#5650 chore: serialization methods for `RemoteWhisperTranscriber`
  haystack/preview/components/audio/whisper_remote.py
  test/preview/components/audio/test_whisper_remote.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5662 feat: Allow WebRetrieve to use custom LinkContentFetcher
  haystack/nodes/retriever/web.py
  releasenotes/notes/web-retriever-allow-custom-link-content-fetcher-8728141d81d7a5e5.yaml
Labels: type:documentation, topic:retriever

#5667 chore: simplify serialization methods for `MemoryDocumentStore`
  haystack/preview/document_stores/decorator.py
  haystack/preview/document_stores/errors.py
  haystack/preview/document_stores/memory/document_store.py
  test/preview/document_stores/test_decorator.py
  test/preview/document_stores/test_memory.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5663 chore: serialization methods for `MemoryRetriever`
  haystack/preview/components/retrievers/memory.py
  test/preview/components/retrievers/test_memory_retriever.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#5655 feat: enable passing `use_fast` to the underlying transformers' pipeline
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  releasenotes/notes/enable_pass_use_fast_to_transformers-b5fdf14d69aa58ec.yaml
  test/prompt/invocation_layer/test_hugging_face.py
Labels: type:documentation, topic:tests

#5684 ci: auto trigger e2e workflow on PRs that affect it
  .github/workflows/e2e.yml
Labels: ignore-for-release-notes, topic:CI

#5685 test: fix e2e test failures
  .github/workflows/e2e.yml
  e2e/pipelines/test_pipeline_topologies.py
  e2e/pipelines/test_standard_pipelines.py
  e2e/samples/pipelines/test.haystack-pipeline.yml
Labels: ignore-for-release-notes, topic:CI

#5689 Update squad_to_dpr.py (Fixed spelling mistake)
  haystack/utils/squad_to_dpr.py
Labels: ignore-for-release-notes

#5696 fix: Improve imports for new rankers
  examples/talk_to_website.py
  examples/web_lfqa_with_rankers.py
  haystack/nodes/ranker/__init__.py
  haystack/nodes/ranker/diversity.py
Labels: ignore-for-release-notes

#5690 feat: `generators` (2.0)
  haystack/preview/components/generators/__init__.py
  haystack/preview/components/generators/openai/__init__.py
  haystack/preview/components/generators/openai/_helpers.py
  releasenotes/notes/generators-module-261376beb9c031cc.yaml
  test/preview/components/generators/openai/test_openai_helpers.py
  test/preview/conftest.py
Labels: type:documentation, topic:tests, 2.x
