Repository deepset-ai/haystack, pull requests merged in 2023-04, with the labels that each got.

#4572 test: Skip flaky prompt node integration test
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:promptnode

#4421 feat!: drop Python3.7 support
  pyproject.toml
Labels: breaking change, topic:dependencies, topic:build/distribution

#4580 refactor: Refactor prompt node
  haystack/nodes/prompt/__init__.py
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/prompt/prompt_template.py
  haystack/nodes/prompt/shapers.py
  test/prompt/test_prompt_model.py
  test/prompt/test_prompt_node.py
  test/prompt/test_prompt_template.py
Labels: type:refactor, topic:tests, topic:LLM, topic:promptnode

#4542 Docs: Shaper API update
  haystack/nodes/other/shaper.py
Labels: topic:pipeline

#4539 Docs: Update Whisper API.
  haystack/nodes/audio/whisper_transcriber.py
Labels: type:documentation, topic:audio

#4555 Docs: Hide private modules from API docs
  docs/pydoc/config/answer-generator.yml
  docs/pydoc/config/pipelines.yml
Labels: ignore-for-release-notes

#4581 refactor: remove variadic parameters in `WebSearch` initialization; make new nodes directly importable
  haystack/nodes/__init__.py
  haystack/nodes/retriever/__init__.py
  haystack/nodes/search_engine/providers.py
  haystack/nodes/search_engine/web.py
Labels: topic:retriever

#4568 feat: Haystack CLI
  haystack/preview/cli/__init__.py
  haystack/preview/cli/entry_point.py
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, v2

#4584 fix: Adjust HF stop words (single stop word)
  haystack/nodes/prompt/providers.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:promptnode

#4606 build xpdf on bionic
  docker/Dockerfile.xpdf
Labels: topic:docker

#4545 feat: Load documents from remote - helper function
  haystack/errors.py
  haystack/utils/import_utils.py
Labels: type:feature, type:documentation

#4613 chore: Adding missing emoji
  README.md
Labels: ignore-for-release-notes

#4594 Docs: Fix QuestionGenerator and Summarizer docstrings
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/summarizer/transformers.py
Labels: type:documentation

#4600 refactor: Rework prompt tests
  test/conftest.py
  test/prompt/conftest.py
  test/prompt/test_prompt_model.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:promptnode

#4433 test: Add pytest fixture to block requests in unit tests
  test/conftest.py
  test/nodes/test_connector.py
  test/nodes/test_sampler.py
Labels: topic:tests, topic:crawler

#4627 feat: Add util method to make HTTP requests with configurable retry
  haystack/utils/requests.py
  test/utils/__init__.py
  test/utils/test_requests.py
Labels: type:documentation, topic:tests

#4623 feat: arbitrary `crawler_depth` for `Crawler` class
  haystack/nodes/connector/crawler.py
  test/nodes/test_connector.py
  test/samples/crawler/page1.html
  test/samples/crawler/page1_subpage1.html
  test/samples/crawler/page1_subpage2.html
  test/samples/crawler/page2.html
  test/samples/crawler/page2_subpage1.html
Labels: topic:tests, topic:crawler

#4640 refactor: Add 503 as status code that triggers retry in request_with_retry
  haystack/utils/requests.py
Labels: type:documentation

#4620 feat: support for gpt-4
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/nodes/prompt/prompt_model.py
Labels: topic:LLM, topic:promptnode

#4648 ci: Fix docstring-labeler.yml not working in PR from forks
  .github/workflows/docstring-labeler.yml
Labels: topic:CI

#4447 feat: initial implementation of `MemoryDocumentStore` for new Pipelines
  haystack/preview/README.md
  haystack/preview/__init__.py
  haystack/preview/dataclasses/__init__.py
  haystack/preview/dataclasses/document.py
  haystack/preview/document_stores/__init__.py
  haystack/preview/document_stores/errors.py
  haystack/preview/document_stores/memory/__init__.py
  haystack/preview/document_stores/memory/_filters.py
  haystack/preview/document_stores/memory/document_store.py
  haystack/preview/pipeline.py
  haystack/preview/utils/import_utils.py
  test/preview/dataclasses/test_dataclasses.py
  test/preview/document_stores/_base.py
  test/preview/document_stores/test_memory.py
  test/preview/test_files/images/apple.jpg
Labels: type:documentation, topic:tests, v2

#4649 feat: Add GenerationConfig option to PromptNode's HuggingFace invocation layer
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:promptnode

#4371 fix: Check for date fields in weaviate meta update
  haystack/document_stores/weaviate.py
Labels: topic:document_store, topic:weaviate

#4656 docs: Add PDFToTextOCRConverter to API Docs
  docs/pydoc/config/file-converters.yml
Labels: type:documentation

#4601 Docs: Add max length unit to PromptNode API docs
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
Labels: type:documentation, topic:LLM, topic:promptnode

#4605 refactor!: extract preprocessing and file conversion deps
  .github/workflows/tests.yml
  docker/docker-bake.hcl
  haystack/nodes/doc_language_classifier/langdetect.py
  haystack/nodes/file_converter/docx.py
  haystack/nodes/file_converter/tika.py
  haystack/nodes/preprocessor/preprocessor.py
  pyproject.toml
Labels: topic:file_converter, breaking change, topic:docker, type:documentation, topic:preprocessing, topic:dependencies, topic:build/distribution, topic:CI

#4651 fix: Add model_max_length model_kwargs parameter to HF PromptNode
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:promptnode

#4641 feat: Add Hugging Face inferencing PromptNode layer
  docs/pydoc/config/pipelines.yml
  docs/pydoc/config/prompt-node.yml
  docs/pydoc/config/whisper.yml
  haystack/agents/base.py
  haystack/agents/utils.py
  haystack/errors.py
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  test/agents/test_agent.py
  test/conftest.py
Labels: type:documentation, topic:tests, topic:agent

#4671 test: Add requests blocker fixture
  test/conftest.py
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:promptnode

#4672 docs: Add docstring for PromptNode debug attribute
  haystack/nodes/prompt/prompt_node.py
Labels: type:documentation, topic:LLM, topic:promptnode

#4609 fix: PineconeDocumentStore error when delete_documents right after initialization
  haystack/document_stores/pinecone.py
Labels: topic:document_store, topic:pinecone

#4686 fix: make `langdetect` truly optional
  .github/workflows/imports.yml
  haystack/nodes/doc_language_classifier/langdetect.py
  haystack/nodes/file_converter/base.py
Labels: topic:file_converter, type:documentation, topic:CI

#4687 refactor: `node->component`
  haystack/preview/__init__.py
  test/preview/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, v2

#4690 feat: More flexible routing for RouteDocuments node
  haystack/nodes/other/route_documents.py
  test/nodes/test_route_documents.py
Labels: type:feature, topic:pipeline, type:documentation, topic:metadata, topic:tests

#4602 fix: remove warnings from the more recent Elasticsearch client
  .github/workflows/tests.yml
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  pyproject.toml
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_opensearch.py
  test/document_stores/test_search_engine.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:dependencies, topic:opensearch, topic:build/distribution, topic:CI

#4696 test: Block requests_cache in unit tests
  test/conftest.py
Labels: topic:tests

#4616 feat: Implementation of Table Cell Proposal
  haystack/__init__.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/pipelines/base.py
  haystack/schema.py
  rest_api/test/test_rest_api.py
  test/conftest.py
  test/nodes/test_table_reader.py
  test/others/test_schema.py
  test/pipelines/test_eval.py
Labels: topic:rest_api, breaking change, topic:pipeline, topic:reader, type:documentation, topic:tests

#4655 docs: Adapt Shaper docstrings regarding dropping metadata
  haystack/nodes/other/shaper.py
Labels: topic:pipeline, type:documentation

#4704 fix: Log 'Observation on new line
  haystack/agents/base.py
Labels: topic:agent

#4703 fix: Fixing the Weaviate BM25 query builder bug
  haystack/document_stores/weaviate.py
Labels: topic:document_store, topic:weaviate

#4714 chore: Updating readme
  README.md
Labels: type:documentation, ignore-for-release-notes

#4675 feat: Add AzureChatGPT Capability using new InvocationLayer style
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/azure_chatgpt.py
  haystack/nodes/prompt/prompt_model.py
Labels: type:documentation, topic:LLM, topic:promptnode

#4715 build: Update weaviate-client
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4749 ci: Execute pipelines and utils unit tests in CI
  .github/workflows/tests.yml
Labels: topic:CI

#4668 refactor!: extract `elasticsearch`
  .github/workflows/tests.yml
  haystack/document_stores/__init__.py
  haystack/document_stores/es_converter.py
  haystack/utils/squad_to_dpr.py
  pyproject.toml
  test/conftest.py
  test/document_stores/test_pinecone.py
  test/nodes/test_retriever.py
Labels: breaking change, type:documentation, topic:document_store, topic:tests, topic:dependencies, topic:retriever, topic:pinecone, topic:build/distribution, topic:CI

#4708 docs: add deprecation notes to docstrings
  haystack/document_stores/base.py
  haystack/document_stores/graphdb.py
  haystack/document_stores/memory_knowledgegraph.py
  haystack/nodes/retriever/text2sparql.py
Labels: topic:knowledge_graph, type:documentation, topic:document_store, topic:retriever, topic:graphdb

#4751 chore: Revert "fix: Log 'Observation' on new line (#4704)"
  haystack/agents/base.py
Labels: topic:agent

#4670 fix: loads local HF Models in PromptNode pipeline
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/test_prompt_model.py
Labels: type:documentation, topic:tests, topic:promptnode

#4673 fix: gpt-3.5-turbo is an agent streaming model
  docs/pydoc/config/retriever.yml
  haystack/agents/utils.py
Labels: type:documentation, topic:agent

#4691 fix: recursion of death while loading PromptTemplate from yaml
  haystack/pipelines/base.py
  test/pipelines/test_pipeline.py
  test/prompt/test_prompt_template.py
Labels: topic:pipeline, type:documentation, topic:tests, topic:promptnode

#4745 fix: Deprecate Seq2SeqGenerator and RAGenerator
  examples/seq2seq_replacement.py
  haystack/nodes/answer_generator/transformers.py
Labels: type:documentation

#4741 fix: README latest and main installation
  README.md
Labels: type:documentation

#4730 Enhance the error logging in PromptTemplate variable resolution
  haystack/nodes/prompt/prompt_template.py
  test/prompt/test_prompt_template.py
Labels: type:documentation, topic:tests, topic:LLM, topic:promptnode

#4764 fix: Add separate query method for OpenSearchDocumentStore
  haystack/document_stores/opensearch.py
  test/document_stores/test_opensearch.py
Labels: type:documentation, topic:document_store, topic:tests, topic:opensearch

#4665 Upgrade transformers to 4.28.1
  README.md
  pyproject.toml
  test/nodes/test_image_to_text.py
  test/pipelines/test_eval.py
  test/pipelines/test_eval_batch.py
Labels: topic:pipeline, topic:tests, topic:dependencies, topic:images, topic:build/distribution

#4767 refactor: Make agent test more robust
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#4756 fix: SentenceTransformersRanker's predict_batch returns wrong number of documents
  haystack/nodes/ranker/sentence_transformers.py
  test/nodes/test_ranker.py
Labels: type:documentation, topic:tests

#4772 ci: Add coverage tracking with Coveralls
  .github/workflows/tests.yml
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution, topic:CI

#4778 fix: update ImportError for 'metrics' dependency
  haystack/modeling/evaluation/metrics.py
  haystack/utils/context_matching.py
  haystack/utils/experiment_tracking.py
Labels: topic:modeling

#4308 test: move several modeling tests in e2e/
  e2e/conftest.py
  e2e/modeling/__init__.py
  e2e/modeling/test_adaptive_qa_inference.py
  e2e/modeling/test_distillation.py
  e2e/modeling/test_dpr.py
  e2e/modeling/test_feature_extraction.py
  test/modeling/test_feature_extraction.py
  test/modeling/test_language.py
  test/modeling/test_model_loading.py
  test/modeling/test_question_answering.py
Labels: topic:modeling, topic:tests
