Repository deepset-ai/haystack, pull requests merged in 2023-06, with the labels that each got.

#5054 fix: Use queries from aggregated labels in benchmarks
  test/benchmarks/retriever.py
  test/benchmarks/retriever_reader.py
  test/benchmarks/run.py
Labels: topic:tests

#5060 ci: `cli` tests not running in CI
  .github/workflows/tests.yml
Labels: topic:CI

#5063 feat: Add batching for querying in `ElasticsearchDocumentStore` and `OpenSearchDocumentStore`
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_opensearch.py
  test/document_stores/test_search_engine.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:opensearch

#5064 refactor: Use globally defined request timeout in `ElasticsearchDocumentStore` and `OpenSearchDocumentStore`
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
Labels: breaking change, topic:elasticsearch, type:documentation, topic:document_store, topic:opensearch

#5074 fix: pin `generalimport`
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5033 feat: Allow setting custom api_base for OpenAI nodes
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/audio/whisper_transcriber.py
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/preview/components/audio/whisper_remote.py
  test/nodes/test_generator.py
  test/nodes/test_retriever.py
  test/preview/components/audio/test_whisper_remote.py
  test/prompt/invocation_layer/test_chatgpt.py
  test/prompt/invocation_layer/test_openai.py
Labels: type:documentation, topic:tests, topic:retriever, topic:audio

#5061 fix: Update prompthub-py
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#5078 revert fix: change the Docker workflow runner
  .github/workflows/docker_release.yml
Labels: topic:CI

#5079 feat: Add batch_size parameter and cast timeout_config value to tuple for `WeaviateDocumentStore`
  haystack/document_stores/search_engine.py
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:weaviate, topic:opensearch

#4993 fix: Fix handling of streaming response in AnthropicClaudeInvocationLayer
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
  haystack/nodes/prompt/invocation_layer/handlers.py
  test/prompt/invocation_layer/test_anthropic_claude.py
  test/prompt/test_handlers.py
Labels: type:documentation, topic:tests, topic:promptnode

#5094 build: Pin mlflow
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#4956 feat: pass model parameters to HFLocalInvocationLayer via `model_kwargs`, enabling direct model usage
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  test/prompt/invocation_layer/test_hugging_face.py
  test/prompt/test_prompt_model.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:promptnode

#5084 feat: introduce `lazy_import`
  haystack/__init__.py
  haystack/document_stores/sql.py
  haystack/lazy_imports.py
  haystack/modeling/model/feature_extraction.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/pdf.py
  haystack/schema.py
  haystack/utils/squad_data.py
  pyproject.toml
Labels: topic:file_converter, topic:modeling, type:documentation, topic:sql, topic:document_store, topic:dependencies, topic:build/distribution

#5095 feat: Consider prompt_node's default_prompt_template in agent
  haystack/agents/base.py
  test/agents/test_agent.py
Labels: type:documentation, topic:tests, topic:agent

#5106 fix: WebRetriever top_k is ignored in a pipeline
  haystack/nodes/retriever/web.py
  haystack/nodes/search_engine/web.py
  test/nodes/conftest.py
  test/nodes/test_retriever.py
  test/nodes/test_web_retriever.py
  test/nodes/test_web_search.py
Labels: type:documentation, topic:tests, topic:retriever

#5096 build: Move Azure's Form Recognizer dependency to extras
  haystack/nodes/file_converter/azure.py
  pyproject.toml
Labels: topic:file_converter, type:documentation, topic:dependencies, topic:build/distribution

#5099 fix: rename `requests.py` into `requests_utils.py`
  haystack/nodes/prompt/invocation_layer/anthropic_claude.py
  haystack/nodes/prompt/invocation_layer/cohere.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/utils/__init__.py
  haystack/utils/requests_utils.py
  test/preview/components/audio/test_whisper_remote.py
  test/utils/test_requests.py
Labels: type:documentation, topic:tests

#5120 build: Upgrade transformers to v4.30.1
  pyproject.toml
Labels: topic:dependencies

#5127 fix: Don't log info message in DataSilo with SquadProcessor about clipping
  haystack/modeling/data_handler/data_silo.py
Labels: topic:modeling

#5088 chore: block all HTTP requests in CI
  test/agents/test_agent.py
  test/agents/test_conversational_agent.py
  test/agents/test_tools_manager.py
  test/conftest.py
  test/nodes/test_generator.py
  test/prompt/invocation_layer/test_anthropic_claude.py
  test/prompt/invocation_layer/test_cohere.py
  test/prompt/invocation_layer/test_hugging_face.py
  test/prompt/invocation_layer/test_hugging_face_inference.py
  test/prompt/test_handlers.py
Labels: topic:tests, topic:agent, topic:promptnode

#5039 test: Skip flaky PromptNode test
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:promptnode

#5132 fix: PromptNode falls back to empty list of documents if none are provided but expected
  haystack/nodes/prompt/prompt_template.py
  test/prompt/test_prompt_node.py
  test/prompt/test_prompt_template.py
Labels: topic:tests, topic:LLM, topic:promptnode

#5142 fix: Relax ChatGPT model name check to support gpt-3.5-turbo-0613
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  test/prompt/invocation_layer/test_chatgpt.py
Labels: topic:tests

#5101 feat: optional `transformers`
  haystack/document_stores/memory.py
  haystack/environment.py
  haystack/modeling/__init__.py
  haystack/nodes/_json_schema.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/audio/whisper_transcriber.py
  haystack/nodes/doc_language_classifier/transformers.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/image_to_text/transformers.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/prompt/invocation_layer/cohere.py
  haystack/nodes/prompt/invocation_layer/handlers.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/nodes/retriever/multimodal/retriever.py
  haystack/nodes/sampler/top_p_sampler.py
  haystack/nodes/summarizer/transformers.py
  haystack/nodes/translator/transformers.py
  haystack/pipelines/base.py
  haystack/preview/components/audio/whisper_remote.py
  haystack/utils/experiment_tracking.py
  haystack/utils/squad_data.py
Labels: topic:modeling, topic:pipeline, topic:reader, type:documentation, topic:document_store, topic:retriever, topic:images, topic:audio, topic:LLM, topic:promptnode

#5145 fix: increase max token length for openai 16k models
  haystack/utils/openai_utils.py
Labels: topic:promptnode

#5093 test: Add benchmark config files
  test/benchmarks/configs/reader/debertabase.yaml
  test/benchmarks/configs/reader/debertalarge.yaml
  test/benchmarks/configs/reader/tinyroberta.yaml
  test/benchmarks/configs/retriever/bm25-elasticsearch-100k.yml
  test/benchmarks/configs/retriever/bm25-opensearch-100k.yml
  test/benchmarks/configs/retriever/bm25-weaviate-100k.yml
  test/benchmarks/configs/retriever/minilm-elasticsearch-100k.yml
  test/benchmarks/configs/retriever/minilm-opensearch-100k.yml
  test/benchmarks/configs/retriever/minilm-weaviate-100k.yml
  test/benchmarks/configs/retriever/mpnetbase-elasticsearch-100k.yml
  test/benchmarks/configs/retriever/mpnetbase-opensearch-100k.yml
  test/benchmarks/configs/retriever/mpnetbase-weaviate-100k.yml
  test/benchmarks/configs/retriever_reader/bm25-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/bm25-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/bm25-tinyroberta-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/minilm-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/minilm-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/minilm-tinyroberta-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-debertabase-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-debertalarge-opensearch-100k.yml
  test/benchmarks/configs/retriever_reader/mpnetbase-tinyroberta-opensearch-100k.yml
Labels: topic:tests

#5087 feat: Add AgentToolLogger
  examples/agent_multihop_qa.py
  haystack/agents/base.py
  haystack/agents/types.py
  test/agents/test_agent.py
Labels: topic:tests, topic:agent

#5153 fix: small improvement to pipeline v2 tests
  haystack/preview/pipeline.py
  test/preview/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests

#5105 fix: azure openai authentication error
  haystack/nodes/prompt/prompt_model.py
Labels: topic:LLM, topic:promptnode

#5017 feat: Optional Content Moderation for OpenAI PromptNode & OpenAIAnswerGenerator
  haystack/nodes/answer_generator/openai.py
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/nodes/prompt/invocation_layer/open_ai.py
  haystack/utils/openai_utils.py
  test/prompt/test_prompt_node.py
  test/utils/test_openai_utils.py
Labels: type:documentation, topic:tests, topic:promptnode

#5115 feat!: simplify weaviate auth
  haystack/document_stores/weaviate.py
  test/document_stores/test_weaviate.py
Labels: breaking change, type:documentation, topic:document_store, topic:tests, topic:weaviate

#5147 feat!: Add extra for inference dependencies such as torch
  .github/workflows/tests.yml
  README.md
  haystack/document_stores/memory.py
  haystack/environment.py
  haystack/modeling/model/feature_extraction.py
  haystack/nodes/answer_generator/transformers.py
  haystack/nodes/audio/whisper_transcriber.py
  haystack/nodes/doc_language_classifier/transformers.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/image_to_text/transformers.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/prompt/invocation_layer/hugging_face.py
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/reader/farm.py
  haystack/nodes/reader/table.py
  haystack/nodes/reader/transformers.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/nodes/retriever/multimodal/retriever.py
  haystack/nodes/sampler/top_p_sampler.py
  haystack/nodes/summarizer/transformers.py
  haystack/nodes/translator/transformers.py
  pyproject.toml
Labels: breaking change, topic:modeling, topic:installation, topic:reader, type:documentation, topic:document_store, topic:dependencies, topic:retriever, topic:images, topic:audio, topic:build/distribution, topic:CI, topic:LLM, topic:promptnode

#5065 feat: Update ConversationalAgent
  docs/pydoc/config/agent.yml
  examples/conversational_agent.py
  haystack/agents/base.py
  haystack/agents/conversational.py
  haystack/agents/utils.py
  haystack/nodes/prompt/prompt_template.py
  test/agents/test_conversational_agent.py
  test/agents/test_tools_manager.py
Labels: type:documentation, topic:tests, topic:LLM, topic:agent, topic:promptnode

#5166 feat: add ensure token limit for direct prompting of ChatGPT
  haystack/nodes/prompt/invocation_layer/chatgpt.py
  haystack/utils/openai_utils.py
  test/prompt/invocation_layer/conftest.py
  test/prompt/invocation_layer/test_chatgpt.py
  test/prompt/invocation_layer/test_openai.py
  test/prompt/test_prompt_node.py
Labels: type:feature, type:documentation, topic:tests, topic:promptnode

#5180 chore: remove deprecated `Seq2SeqGenerator` and `RAGenerator`
  .github/workflows/e2e.yml
  e2e/pipelines/test_generative_qa.py
  haystack/nodes/__init__.py
  haystack/nodes/answer_generator/__init__.py
  haystack/nodes/answer_generator/transformers.py
  test/conftest.py
  test/nodes/conftest.py
  test/nodes/test_generator.py
Labels: type:documentation, topic:tests, topic:CI

#5104 fix: model_tokenizer in openai text completion tokenization details
  haystack/utils/openai_utils.py
  test/utils/test_openai_utils.py
Labels: type:bug, type:documentation, topic:tests

#5167 test: Adding unit tests to Ranker
  test/nodes/test_ranker.py
Labels: topic:tests

#5192 chore: Remove `add_tool` from `ToolsManager`
  haystack/agents/base.py
  test/agents/test_agent.py
  test/agents/test_tools_manager.py
Labels: type:documentation, topic:tests, topic:agent

#5195 feat: `current_datetime` shaper function
  haystack/nodes/other/shaper.py
  haystack/nodes/prompt/prompt_template.py
  haystack/nodes/prompt/shapers.py
  test/nodes/test_shaper.py
Labels: topic:pipeline, type:documentation, topic:tests, topic:LLM, topic:promptnode

#5191 feat: hard document length limit at `max_chars_check`
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_preprocessor.py
Labels: type:documentation, topic:preprocessing, topic:tests

#5155 feat: enable LLMs hosted via AWS SageMaker in PromptNode
  haystack/errors.py
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/sagemaker.py
  pyproject.toml
  test/prompt/invocation_layer/test_sagemaker.py
Labels: type:feature, type:documentation, topic:tests, topic:dependencies, topic:build/distribution

#5152 feat: Add CohereRanker node using Cohere reranking endpoint
  haystack/nodes/__init__.py
  haystack/nodes/ranker/__init__.py
  haystack/nodes/ranker/cohere.py
  haystack/nodes/ranker/sentence_transformers.py
  test/nodes/test_ranker.py
Labels: type:feature, type:documentation, topic:tests

#5197 Fix: `FARMReader` - Consider the max number of labels/answers during training
  haystack/modeling/data_handler/dataloader.py
  test/modeling/test_dataloader.py
Labels: topic:modeling, type:documentation, topic:tests

#5204 fix:Rename SageMakerInvocationLayer -> SageMakerHFTextGenerationInvocationLayer
  haystack/nodes/prompt/invocation_layer/__init__.py
  haystack/nodes/prompt/invocation_layer/sagemaker_hf_text_gen.py
  test/prompt/invocation_layer/test_sagemaker_hf_text_gen.py
Labels: topic:tests

#5139 chore: remove `safe_import` and all usages
  haystack/document_stores/__init__.py
  haystack/document_stores/elasticsearch.py
  haystack/document_stores/es_converter.py
  haystack/document_stores/faiss.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/sql.py
  haystack/document_stores/weaviate.py
  haystack/nodes/__init__.py
  haystack/nodes/answer_generator/__init__.py
  haystack/nodes/base.py
  haystack/nodes/connector/__init__.py
  haystack/nodes/connector/crawler.py
  haystack/nodes/file_classifier/__init__.py
  haystack/nodes/file_classifier/file_type.py
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/image.py
  haystack/nodes/file_converter/markdown.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/utils/import_utils.py
  haystack/utils/preprocessing.py
  haystack/utils/squad_to_dpr.py
Labels: topic:faiss, topic:file_converter, topic:elasticsearch, type:documentation, topic:sql, topic:document_store, topic:retriever, topic:pinecone, topic:weaviate, topic:crawler, topic:opensearch

#5203 Change 'history' to 'memory' in the ConversationalAgent prompts
  haystack/agents/utils.py
  haystack/nodes/prompt/prompt_template.py
Labels: topic:LLM, topic:agent, topic:promptnode

#5125 fix: Send batches of query-doc pairs to inference_from_objects
  haystack/document_stores/base.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  haystack/document_stores/weaviate.py
  haystack/nodes/reader/farm.py
  haystack/utils/__init__.py
  haystack/utils/batching.py
  test/nodes/test_reader.py
Labels: topic:faiss, topic:elasticsearch, topic:reader, type:documentation, topic:document_store, topic:tests, topic:weaviate, topic:opensearch

#5207 feat: globally disable progress bars
  haystack/__init__.py
  haystack/document_stores/es_converter.py
  haystack/document_stores/faiss.py
  haystack/document_stores/memory.py
  haystack/document_stores/opensearch.py
  haystack/document_stores/pinecone.py
  haystack/document_stores/search_engine.py
  haystack/document_stores/weaviate.py
  haystack/modeling/data_handler/data_silo.py
  haystack/modeling/data_handler/processor.py
  haystack/modeling/evaluation/eval.py
  haystack/modeling/infer.py
  haystack/modeling/training/base.py
  haystack/nodes/answer_generator/base.py
  haystack/nodes/doc_language_classifier/transformers.py
  haystack/nodes/document_classifier/transformers.py
  haystack/nodes/extractor/entity.py
  haystack/nodes/file_converter/base.py
  haystack/nodes/image_to_text/transformers.py
  haystack/nodes/label_generator/pseudo_label_generator.py
  haystack/nodes/other/docs2answers.py
  haystack/nodes/preprocessor/preprocessor.py
  haystack/nodes/query_classifier/sklearn.py
  haystack/nodes/query_classifier/transformers.py
  haystack/nodes/question_generator/question_generator.py
  haystack/nodes/ranker/sentence_transformers.py
  haystack/nodes/retriever/_embedding_encoder.py
  haystack/nodes/retriever/_openai_encoder.py
  haystack/nodes/retriever/base.py
  haystack/nodes/retriever/dense.py
  haystack/nodes/retriever/multimodal/embedder.py
  haystack/nodes/summarizer/transformers.py
  haystack/nodes/translator/transformers.py
  haystack/pipelines/base.py
  haystack/silenceable_tqdm.py
  haystack/utils/augment_squad.py
  haystack/utils/context_matching.py
  haystack/utils/deepsetcloud.py
  haystack/utils/squad_data.py
  haystack/utils/squad_to_dpr.py
  test/utils/test_tqdm.py
Labels: topic:faiss, topic:file_converter, topic:elasticsearch, topic:modeling, topic:pipeline, type:documentation, topic:preprocessing, topic:document_store, topic:tests, topic:retriever, topic:pinecone, topic:weaviate, topic:images, topic:dc-api, topic:opensearch

#5218 Remove deprecated param `return_table_cell`
  haystack/nodes/reader/table.py
  test/nodes/test_table_reader.py
Labels: topic:reader, type:documentation, topic:tests

#5151 feat: BM25 retrieval for `MemoryDocumentStore`
  haystack/preview/components/retrievers/__init__.py
  haystack/preview/components/retrievers/memory.py
  haystack/preview/document_stores/memory/document_store.py
  test/preview/components/retrievers/__init__.py
  test/preview/components/retrievers/test_memory_retriever.py
  test/preview/document_stores/test_memory.py
Labels: type:documentation, topic:tests

#5226 refactor: prepare support to Elasticsearch 8
  haystack/document_stores/elasticsearch/__init__.py
  haystack/document_stores/elasticsearch/es7.py
  test/document_stores/test_elasticsearch.py
Labels: topic:elasticsearch, topic:document_store, topic:tests, ignore-for-release-notes

#5208 fix: Allow filtering on list fields in `InMemoryDocumentStore` with all operators
  haystack/document_stores/filter_utils.py
  test/document_stores/test_memory.py
Labels: topic:document_store, topic:tests

#5228 refactor: introduce a base class for ElasticsearchDocumentStore
  haystack/document_stores/elasticsearch/base.py
  haystack/document_stores/elasticsearch/es7.py
Labels: type:documentation, ignore-for-release-notes

#5231 refactor: add a new Document Store supporting Elasticsearch 8
  haystack/document_stores/elasticsearch/__init__.py
  haystack/document_stores/elasticsearch/es8.py
  pyproject.toml
  test/document_stores/test_elasticsearch.py
  test/document_stores/test_search_engine.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:dependencies, topic:build/distribution

#5235 refactor: fix method type and add comments
  haystack/document_stores/elasticsearch/es7.py
  haystack/document_stores/elasticsearch/es8.py
  test/document_stores/test_elasticsearch.py
Labels: topic:elasticsearch, topic:document_store, topic:tests, ignore-for-release-notes

#5241 refactor: isolate Elasticsearch client calls
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
Labels: topic:elasticsearch, topic:document_store, ignore-for-release-notes, topic:opensearch

#5244 Pin pydantic to 1.x
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution
