Repository deepset-ai/haystack, pull requests merged in 2024-06, with the labels that each got.

#7777 test: Migrate `Pipeline.run()` tests with run arguments
  test/core/pipeline/features/conftest.py
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_intermediate_outputs.py
Labels: topic:tests, ignore-for-release-notes

#7780 docs: add examples to preprocessors
  haystack/components/preprocessors/document_splitter.py
  haystack/components/preprocessors/text_cleaner.py
Labels: type:documentation, ignore-for-release-notes

#7790 test: Rework `Pipeline.run()` tests to ease declaration with dataclasses
  test/core/pipeline/features/README.md
  test/core/pipeline/features/conftest.py
  test/core/pipeline/features/test_run.py
Labels: topic:tests, ignore-for-release-notes

#7792 fix: `InMemoryDocumentStore` not sharing some document stats with other instances
  e2e/pipelines/test_hybrid_doc_search_pipeline.py
  haystack/document_stores/in_memory/document_store.py
Labels: ignore-for-release-notes

#7796 chore: export `ChatPromptBuilder` and add it to pydoc config
  docs/pydoc/config/builders_api.yml
  haystack/components/builders/__init__.py
Labels: ignore-for-release-notes

#7782 chore: Update indexing and rag default templates to use `InMemoryDocumentStore`
  haystack/core/pipeline/predefined/indexing.yaml.jinja2
  haystack/core/pipeline/predefined/rag.yaml.jinja2
  pyproject.toml
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_templates.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, topic:core

#7795 feat: Add filter_policy init parameter to in memory retrievers
  haystack/components/retrievers/in_memory/bm25_retriever.py
  haystack/components/retrievers/in_memory/embedding_retriever.py
  haystack/document_stores/types/__init__.py
  haystack/document_stores/types/filter_policy.py
  releasenotes/notes/add-pdfminer-converter-f08f68e38ef82f4a.yaml
  releasenotes/notes/retrievers-filter-policy-enhancement-af52d026c346e9c0.yaml
  test/components/retrievers/test_in_memory_bm25_retriever.py
  test/components/retrievers/test_in_memory_embedding_retriever.py
Labels: type:documentation, topic:tests

#7802 docs: fixing ContextRelevance documentation
  haystack/components/evaluators/context_relevance.py
Labels: type:documentation, ignore-for-release-notes

#7805 docs: Update doc string of pypdf.py
  haystack/components/converters/pypdf.py
Labels: type:documentation, ignore-for-release-notes

#7806 feat: Add `fetch_archive_from_http` to fetch zip or gzip archives
  haystack/utils/import_utils.py
  releasenotes/notes/safe-fetch-4ba829def3241eec.yaml
Labels: type:documentation, 1.x

#7801 feat: Add `TransformersTextRouter` component
  docs/pydoc/config/routers_api.yml
  haystack/components/routers/__init__.py
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
  releasenotes/notes/add-transformers-text-router-5542b9d13a3c91c9.yaml
  test/components/routers/test_transformers_text_router.py
  test/components/routers/test_zero_shot_text_router.py
Labels: type:documentation, topic:tests

#7809 chore: Change trafilatura dependency to use lazy import
  haystack/components/converters/html.py
  pyproject.toml
  releasenotes/notes/change-trafilatura-dependency-575985a2271c8370.yaml
Labels: topic:build/distribution

#7813 Add fetch_archive_from_http to utils/__init__.py
  haystack/utils/__init__.py
Labels: topic:tests, topic:build/distribution, topic:CI, topic:DX

#7811 fix: specify embedding retriever version
  haystack/nodes/retriever/_embedding_encoder.py
  pyproject.toml
  releasenotes/notes/specify-sentence-transformer-model-version-55b633e8b294189c.yaml
Labels: topic:dependencies, topic:retriever, topic:build/distribution

#7817 fix: `EvaluationRunResult.score_report()` is missing the `metrics` column
  haystack/evaluation/eval_run_result.py
  test/evaluation/test_eval_run_result.py
Labels: topic:tests, ignore-for-release-notes

#7799 fix: Fix running `Pipeline` with conditional branch and Component with default inputs
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/fix-conditional-branching-a0f0d65c7ac97f71.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#7815 chore: upgrade transformers test dependency
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#7823 fix: end2end evaluation pipeline failing
  e2e/pipelines/test_evaluation_pipeline.py
Labels: ignore-for-release-notes

#7818 fix: Fix `LLMEvaluator` serialization
  haystack/components/evaluators/llm_evaluator.py
  releasenotes/notes/llm-evaluator-serde-fix-aa5b27d2524db9c5.yaml
  test/components/evaluators/test_llm_evaluator.py
Labels: type:bug, topic:eval, type:documentation, topic:tests, 2.x

#7832 Added NOS Portugal to list of companies in README.md
  README.md
Labels: ignore-for-release-notes

#7834 ci: only run Docker release workflow under GitHub org
  .github/workflows/docker_release.yml
Labels: topic:CI

#7837 refactor: Isolate code that runs single Pipeline Component
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_tracing.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#7840 refactor: Isolate logic to check if a Component can run
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#7700 feat: Add options for what to do with missing metadata fields in `MetaFieldRanker`
  haystack/components/rankers/meta_field.py
  releasenotes/notes/metaranker-missing-meta-options-1a969008d632a523.yaml
  test/components/rankers/test_metafield.py
Labels: type:documentation, topic:tests

#7852 fix: `DocxToDocument` - use forward reference
  haystack/components/converters/docx.py
  test/components/converters/test_docx_file_to_document.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#7854 docs: update contributor guidelines
  CONTRIBUTING.md
Labels: ignore-for-release-notes, topic:DX

#7858 chore: clean up `default` env and add a script to generate release notes.
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI, topic:DX

#7845 refactor: Isolate logic that distributes Components output after run
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#7866 ci: merge linting steps into the test workflow
  .github/workflows/linting.yml
  .github/workflows/linting_skipper.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI

#7853 feat: Extend YAML serialization to allow Python tuples
  haystack/marshal/yaml.py
  releasenotes/notes/serialization-tuple-support-ffe176417e7099f5.yaml
  test/marshal/__init__.py
  test/marshal/test_yaml.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7874 ci: add dependency cache step
  .github/workflows/tests.yml
  haystack/__init__.py
Labels: ignore-for-release-notes, topic:CI

#7876 chore: pin numpy<2; tenacity!=8.4.0
  pyproject.toml
  releasenotes/notes/pin-numpy-2304f88504d5041a.yaml
Labels: topic:build/distribution

#7879 feat: `EvaluationRunResult` add parameter to specify columns to keep in the comparative `Dataframe`
  haystack/evaluation/eval_run_result.py
  releasenotes/notes/add-keep-columns-to-EvalRunResult-comparative-be3e15ce45de3e0b.yaml
  test/evaluation/test_eval_run_result.py
Labels: type:documentation, topic:tests

#7883 chore: add Ruff badge
  README.md
Labels: ignore-for-release-notes

#7859 fix: enable tracing upon import / improve logging setup
  haystack/__init__.py
  haystack/logging.py
  releasenotes/notes/fix-auto-tracing-51ed3a590000d6c8.yaml
  releasenotes/notes/structlog-contextvars-c13bb3c59a6a92c7.yaml
  test/test_logging.py
Labels: type:documentation, topic:tests

#7886 chore: remove unused import
  haystack/logging.py
Labels: ignore-for-release-notes

#7880 refactor: Isolate logic that finds next runnable component waiting for input
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#7885 docs: add docstrings for EvaluationRunResult
  docs/pydoc/config/evaluation_api.yml
  haystack/evaluation/__init__.py
  haystack/evaluation/base.py
  haystack/evaluation/eval_run_result.py
Labels: type:documentation, ignore-for-release-notes

#7891 fix: Fix deserialization of pipelines that contain `LLMEvaluator` subclasses
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  releasenotes/notes/fix-llmevaluator-subclass-deserialization-c633b2f95c84fe4b.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
Labels: topic:eval, type:documentation, topic:tests, 2.x

#7857 refactor: DocxToDocument update
  haystack/components/converters/__init__.py
  haystack/components/converters/docx.py
  test/components/converters/test_docx_file_to_document.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#7895 Move utility functions from `_enqueue_next_runnable_component`
  haystack/core/pipeline/base.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#7849 fix: ChatPromptBuilder Fails to JSON Serialize
  haystack/components/builders/chat_prompt_builder.py
  haystack/dataclasses/chat_message.py
  releasenotes/notes/fix-chat-prompt-builder-serialization-345605337ca2584e.yaml
  test/components/builders/test_chat_prompt_builder.py
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#7902 feat: Add apply_filter_policy function
  haystack/document_stores/types/filter_policy.py
  releasenotes/notes/add-apply_filter_policy-function-ae3152e6afe0ca57.yaml
  test/document_stores/test_filter_policy.py
Labels: type:documentation, topic:tests

#7901 Add utility function to move `Component`s in queues
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#7906 chore: update sentence transformers import error message
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/rankers/sentence_transformers_diversity.py
  pyproject.toml
  releasenotes/notes/update-sentence-transformers-import-error-msg-895b8ed2355ae2fe.yaml
Labels: topic:build/distribution

#7894 fix: Prevent component pre-init hook from being called "recursively"
  haystack/core/component/component.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x, topic:core

#7907 chore: remove deprecated TEI embedders
  docs/pydoc/config/embedders_api.yml
  haystack/components/embedders/__init__.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  releasenotes/notes/rm-deprecated-tei-embedders-cfcd660c906ba69e.yaml
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_hugging_face_tei_text_embedder.py
Labels: type:documentation, topic:tests

#7556 fix(JsonSchemaValidator): fix recursive loop and general LLM (claude, mistral...) compatibility
  haystack/components/validators/json_schema.py
  releasenotes/notes/fix-recursive-json-schema-validator-cdb7684de3c75e4e.yaml
  test/components/validators/test_json_schema.py
Labels: type:documentation, topic:tests, 2.x

#7898 fix: CacheChecker filters syntax
  haystack/components/caching/cache_checker.py
  releasenotes/notes/fix-caching-filters-syntax-d4c165ce0b0f258f.yaml
  test/components/caching/test_url_cache_checker.py
Labels: type:documentation, topic:tests

#7909 fix: check for None in SAS eval input
  haystack/components/evaluators/sas_evaluator.py
  releasenotes/notes/check-for-None-SAS-eval-0b982ccc1491ee83.yaml
  test/components/evaluators/test_sas_evaluator.py
Labels: type:documentation, topic:tests

#7888 feat: InMemoryDocumentStore serialization
  haystack/document_stores/in_memory/document_store.py
  releasenotes/notes/add-serialization-to-inmemorydocumentstore-2aa4d9ac85b961c5.yaml
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests

#7910 chore: `PyPDFToDocument` - remove deprecated `converter_name` and `CONVERTERS_REGISTRY`
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-rm-deprecated-params-6c4c51489305bb85.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests

#7841 bug: fix MRR and MAP calculations
  haystack/components/evaluators/document_map.py
  haystack/components/evaluators/document_mrr.py
  releasenotes/notes/fix-issue-7758-d35b687ca226a707.yaml
  test/components/evaluators/test_document_map.py
Labels: type:documentation, topic:tests

#7904 fix: explicitly tell `ContextRelevanceEvaluator` that each statement should be scored
  haystack/components/evaluators/context_relevance.py
  releasenotes/notes/improve-ContextRelevance-evaluator-prompt-6b80229c99e3bc38.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
Labels: topic:eval, type:documentation, topic:tests

#7929 Add the missing parameter for serialization
  haystack/components/generators/openai.py
  releasenotes/notes/fix-serialization-openai-generator-cf7e9a04562dde75.yaml
  test/components/generators/test_openai.py
Labels: topic:tests

#7934 ci: Disable tracing when running tests
  test/conftest.py
Labels: topic:tests, ignore-for-release-notes

#7931 chore: Capitalize DOCX in DOCXToDocument converter
  haystack/components/converters/__init__.py
  haystack/components/converters/docx.py
  releasenotes/notes/docxtodocument-rename-3acf592c89aea430.yaml
  test/components/converters/test_docx_file_to_document.py
Labels: type:documentation, topic:tests

#7942 feat: Add option to use `HF_TOKEN` as env var for authentication across all HF components
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
  releasenotes/notes/flexible-hf-api-token-env-vars-5fe383cdc1a9cc29.yaml
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/evaluators/test_sas_evaluator.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/test_hugging_face_api.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
  test/components/routers/test_transformers_text_router.py
  test/components/routers/test_zero_shot_text_router.py
Labels: topic:tests

#7920 feat: Improve LinkContentFetcher content type handling
  haystack/components/fetchers/link_content.py
  releasenotes/notes/link-content-fetcher-enhancements-49babe1c60888043.yaml
  test/components/fetchers/test_link_content_fetcher.py
Labels: type:documentation, topic:tests

#7935 feat: Update LocalWhisperTranscriber, add tests
  haystack/components/audio/whisper_local.py
  test/components/audio/test_whisper_local.py
  test/components/audio/test_whisper_remote.py
Labels: topic:tests, ignore-for-release-notes

#7933 feat : adding `split_id` and `split_overlap` to `DocumentSplitter`
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/add-split_id_and_overlap_to_DocumentSplitter-8180ad8f13495741.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: type:documentation, topic:tests

#7948 fix: adjusting code due to new ruff version enforcing more strict linting
  haystack/core/pipeline/pipeline.py
Labels: ignore-for-release-notes, topic:core

#7941 ci: Fix `workflows_linting.yml` never running
  .github/workflows/workflows_linting.yml
Labels: ignore-for-release-notes, topic:CI
