Repository deepset-ai/haystack, pull requests merged in 2024-05, with the labels that each got.

#7607 feat: add converter based on pdfminer
  haystack/components/converters/__init__.py
  haystack/components/converters/pdfminer.py
  pyproject.toml
  releasenotes/notes/add-pdfminer-converter-f08f68e38ef82f4a.yaml
  test/components/converters/test_pdfminer_to_document.py
Labels: topic:file_converter, type:documentation, topic:tests, topic:build/distribution, 2.x

#7572 feat: Add document page number of ExtractedAnswer to meta
  haystack/components/readers/extractive.py
  releasenotes/notes/add-page-number-to-answer-1b6d68dc93508314.yaml
  test/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, 2.x

#7631 chore: Update huggingface_hub classes used after library upgrade
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/utils/hf.py
  pyproject.toml
  releasenotes/notes/upgrade-huggingface-hub-dependency-9b8a89d50eb88fea.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_tgi.py
  test/components/generators/test_hugging_face_api.py
  test/components/generators/test_hugging_face_tgi.py
Labels: type:documentation, topic:tests, topic:build/distribution, 2.x

#7642 ci: Rework `minor_version_release.yml` to create PR that bumps version
  .github/workflows/minor_version_release.yml
Labels: topic:CI, 2.x, 1.x

#7644 ci: Enhance version bump PR body description
  .github/workflows/minor_version_release.yml
Labels: ignore-for-release-notes, topic:CI, 2.x, 1.x

#7640 test: Rename `responses` and use preds instead of ground truth answers in e2e eval test
  e2e/pipelines/test_evaluation_pipeline.py
Labels: ignore-for-release-notes, 2.x

#7549 perf: enhanced `InMemoryDocumentStore` BM25 query efficiency with incremental indexing
  haystack/document_stores/in_memory/document_store.py
  pyproject.toml
  releasenotes/notes/enhance-inmemorydocumentstore-bm25-incremental-indexing-ebaf43b7163f3a24.yaml
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests, topic:build/distribution, 2.x

#7657 chore: remove fetch_from_http function
  .github/workflows/examples_tests.yml
  README.md
  examples/basic_faq_pipeline.py
  examples/basic_qa_pipeline.py
  examples/getting_started.py
  examples/hybrid_search_faq_pipeline.py
  examples/test_basic_faq_pipeline.py
  examples/test_basic_qa_pipeline.py
  examples/test_getting_started.py
  haystack/nodes/file_converter/docx.py
  haystack/utils/__init__.py
  haystack/utils/getting_started.py
  haystack/utils/import_utils.py
Labels: topic:file_converter, type:documentation, topic:CI

#7658 chore: remove PyMuPDF dependency
  .github/workflows/license_compliance.yml
  .github/workflows/release_notes.yml
  haystack/nodes/file_converter/__init__.py
  haystack/nodes/file_converter/pdf.py
  haystack/nodes/retriever/link_content.py
  pyproject.toml
  releasenotes/notes/remove-pymupdf-15fc66b581538adb.yaml
  test/nodes/test_file_converter.py
  test/nodes/test_link_content_fetcher.py
  test/nodes/test_preprocessor.py
Labels: topic:file_converter, breaking change, type:documentation, topic:preprocessing, topic:tests, topic:dependencies, topic:retriever, topic:build/distribution, topic:CI

#7659 Add "SentenceTransformersDiversityRanker" api reference
  docs/pydoc/config/rankers_api.yml
Labels: 2.x

#7662 fix: fix serialization of `DocumentRecallEvaluator`
  haystack/components/evaluators/document_recall.py
  releasenotes/notes/fix-serialization-docrecallevaluator-91ad772ffed119ed.yaml
  test/components/evaluators/test_document_recall.py
Labels: type:documentation, topic:tests, 2.x

#7665 chore: Stop labelling PRs with 2.x, assuming it's default now
  .github/labeler.yml
Labels: topic:CI, 2.x

#7664 chore: Remove leftovers from Haystack 1.x
  .github/workflows/license_compliance.yml
Labels: topic:CI, 2.x

#7676 chore: make Stalebot workflow work
  .github/workflows/stale.yml
Labels: topic:CI

#7678 refactor: Make `SparseEmbedding` a dataclass
  haystack/dataclasses/document.py
  haystack/dataclasses/sparse_embedding.py
  releasenotes/notes/sparse-embedding-dataclass-d75ae1ee6d75e646.yaml
Labels: type:documentation, 2.x

#7679 Remove logger line using forbidden logrecord property
  haystack/core/pipeline/pipeline.py
Labels: ignore-for-release-notes, topic:core

#7673 chore: extract BasePipeline
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/utils.py
  releasenotes/notes/pipeline-hierarchy-b980efcf8ac6b122.yaml
  test/core/pipeline/test_connect.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#7681 feat: Set ByteStream's mime_type attribute for web based resources
  haystack/components/fetchers/link_content.py
  haystack/components/routers/file_type_router.py
  releasenotes/notes/enhanced-mime-type-handling-182fb64a0f5fb852.yaml
  test/components/routers/test_file_router.py
Labels: topic:tests

#7686 fix: Update device deserialization for components that use local models
  haystack/components/audio/whisper_local.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/rankers/sentence_transformers_diversity.py
  releasenotes/notes/fix-device-deserialization-st-embedder-c4efad96dd3869d5.yaml
  test/components/audio/test_whisper_local.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/extractors/test_named_entity_extractor.py
  test/components/rankers/test_sentence_transformers_diversity.py
Labels: topic:tests

#7684 fix: Fix NamedEntityExtractor serde
  haystack/components/extractors/named_entity_extractor.py
  releasenotes/notes/named-entity-extractor-serde-improvements-28b594be5a38f175.yaml
  test/components/extractors/test_named_entity_extractor.py
Labels: topic:tests

#7697 fix: `Pipeline.run` correctly returns all outputs when the `include_outputs_from` parameter is used
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/pipeline-run-fix-extra-outputs-a6c750a91faaa8fd.yaml
  test/core/pipeline/test_intermediate_outputs.py
Labels: topic:pipeline, topic:tests, 2.x, topic:core

#7685 fix: avoid FaithfulnessEvaluator and ContextRelevanceEvaluator return `Nan`
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  releasenotes/notes/avoid-LLM-based-evaluators-returning-NaN-579bc4593febb691.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
Labels: topic:tests, ignore-for-release-notes

#7680 chore: Simplify `Pipeline.run` method by moving code to the base class
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#7698 fix: Adding missing `component` decorator to AzureOpenAIGenerator
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  releasenotes/notes/fix-azure-generators-serialization-18fcdc9cbcb3732e.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/test_azure.py
Labels: topic:tests

#7690 fix: Adjust serialization to handle PEP-585 generic types
  haystack/utils/type_serialization.py
  releasenotes/notes/improve-type-serialization-support-18822a5b978b1e77.yaml
  test/utils/test_type_serialization.py
Labels: topic:tests

#7653 feat: widen support of env vars in OpenAI components
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  haystack/telemetry/_environment.py
  releasenotes/notes/feat-widen-support-of-envars-vars-on-openai-components-efe6203c0c6bd7b3.yaml
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests, 2.x

#7703 feat: add keep-id to DocumentCleaner
  haystack/components/preprocessors/document_cleaner.py
  releasenotes/notes/add-keep-id-to-document-cleaner-2a9854b5f195bb78.yaml
  test/components/preprocessors/test_document_cleaner.py
Labels: type:documentation, topic:tests

#7705 feat: change HTML conversion backend from boilerpy3 to Trafilatura
  haystack/components/converters/html.py
  pyproject.toml
  releasenotes/notes/trafilatura-html-conversion-e9b9044d31fec794.yaml
  test/components/converters/test_html_to_document.py
Labels: type:documentation, topic:tests, topic:build/distribution

#7711 chore: fix release note
  releasenotes/notes/feat-widen-support-of-envars-vars-on-openai-components-efe6203c0c6bd7b3.yaml
Labels: ignore-for-release-notes

#7720 feat: LLMEvaluator uses OpenAI API with the the `seed` parameter
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/generators/openai.py
Labels: type:documentation, ignore-for-release-notes

#7725 fix: make SerperDevWebSearch more robust
  haystack/components/websearch/serper_dev.py
  releasenotes/notes/serperdev-more-robust-229ba25c8fc9306d.yaml
  test/components/websearch/test_serperdev.py
Labels: topic:tests

#7726 style: adding progress bar to llm-based evaluators
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  haystack/components/evaluators/llm_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#7732 fix: exit early if the component receives no documents
  haystack/components/readers/extractive.py
  releasenotes/notes/reader-crash-no-docs-53085ce48baaae81.yaml
  test/components/readers/test_extractive.py
Labels: topic:tests

#7709 feat: allow DocumentJoiner to accept top_k parameter in run method
  haystack/components/joiners/document_joiner.py
  releasenotes/notes/fix-documentjoiner-topk-173141a894e5c093.yaml
  test/components/joiners/test_document_joiner.py
Labels: type:documentation, topic:tests

#7655 feat: extend PromptBuilder and deprecate DynamicPromptBuilder
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  releasenotes/notes/extend-promptbuilder-0322790d82248039.yaml
  test/components/builders/test_prompt_builder.py
Labels: type:documentation, topic:tests, 2.x

#7724 add timeout to AzureOpenAIGenerator
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  releasenotes/notes/azure-openai-generator-timeout-c39ecd6d4b0cdb4b.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/test_azure.py
Labels: type:documentation, topic:tests

#7723 fix: failsafe for non-valid json and failed LLM calls
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  haystack/components/evaluators/llm_evaluator.py
  releasenotes/notes/add-failsafe-for-LLM-based-evaluators-34cdc183ab545315.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests

#7708 test: Fix telemetry tests so they don't fail
  test/tracing/test_tracer.py
Labels: topic:tests, ignore-for-release-notes

#7663 feat: add ChatPromptBuilder, deprecate DynamicChatPromptBuilder
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/builders/dynamic_chat_prompt_builder.py
  releasenotes/notes/add-chatpromptbuilder-19acd18a6486909d.yaml
  test/components/builders/test_chat_prompt_builder.py
Labels: type:documentation, topic:tests, 2.x

#7743 fix: Fix `NamedEntityExtractor` crashing in Python 3.12 if constructed using a string backend argument
  haystack/components/extractors/named_entity_extractor.py
  releasenotes/notes/fix-named-entity-entity-extractor-backend-enum-2e64e25f8d7f1b08.yaml
Labels: type:documentation

#7742 test: Move tests from `test_connect.py` in `test_pipeline.py` and `test_utils.py`
  test/core/pipeline/test_connect.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_utils.py
Labels: topic:tests, ignore-for-release-notes

#7721 feat: add split_threshold to document splitter to avoid excessively short splits
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/document-splitter-accept-split-threshold-467abb9fcd1c316b.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: type:documentation, topic:tests

#7748 test: Pipeline run tests rework
  pyproject.toml
  test/core/pipeline/features/README.md
  test/core/pipeline/features/conftest.py
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_linear_pipeline.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution

#7752 chore: make `warm_up()` usage consistent
  haystack/components/audio/whisper_local.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  releasenotes/notes/make-warm-up-consistent-0247da81b155b136.yaml
  test/components/generators/test_hugging_face_local_generator.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests

#7757 test: Update `Pipeline.run()` tests `README.md`
  test/core/pipeline/features/README.md
Labels: topic:tests, ignore-for-release-notes

#7765 Add BranchJoiner and deprecate Multiplexer
  docs/pydoc/config/joiners_api.yml
  haystack/components/joiners/__init__.py
  haystack/components/joiners/branch.py
  haystack/components/others/multiplexer.py
  releasenotes/notes/add-branch-joiner-037298459ca74077.yaml
  test/components/joiners/test_branch_joiner.py
Labels: type:documentation, topic:tests

#7773 fix: update Haystack version when Dynamic Builders are to be removed
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
Labels: ignore-for-release-notes

#7769 test: Check for RuntimeError instead of ComponentError in NamedEntityExtractor test
  e2e/pipelines/test_named_entity_extractor.py
Labels: ignore-for-release-notes

#7762 test: Support multiple runs for Pipeline run tests
  test/core/pipeline/features/README.md
  test/core/pipeline/features/conftest.py
Labels: topic:tests, ignore-for-release-notes

#7776 ci: ignore rc0 releases
  .github/workflows/github_release.yml
Labels: ignore-for-release-notes, topic:CI

#7775 test: Migrate pipeline run tests
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_complex_pipeline.py
  test/core/pipeline/test_default_value.py
  test/core/pipeline/test_distinct_loops_pipeline.py
  test/core/pipeline/test_double_loop_pipeline.py
  test/core/pipeline/test_dynamic_inputs_pipeline.py
  test/core/pipeline/test_fixed_decision_and_merge_pipeline.py
  test/core/pipeline/test_fixed_decision_pipeline.py
  test/core/pipeline/test_fixed_merging_pipeline.py
  test/core/pipeline/test_joiners.py
  test/core/pipeline/test_looping_and_merge_pipeline.py
  test/core/pipeline/test_looping_pipeline.py
  test/core/pipeline/test_mutable_inputs.py
  test/core/pipeline/test_parallel_branches_pipeline.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_same_input_different_components.py
  test/core/pipeline/test_self_loop.py
  test/core/pipeline/test_variable_decision_and_merge_pipeline.py
  test/core/pipeline/test_variable_decision_pipeline.py
  test/core/pipeline/test_variable_merging_pipeline.py
Labels: topic:tests, ignore-for-release-notes

#7781 feat: Add memory sharing between different instances of `InMemoryDocumentStore`
  haystack/document_stores/in_memory/document_store.py
  releasenotes/notes/in-memory-docstore-memory-share-82b75d018b3545fc.yaml
  test/components/retrievers/test_filter_retriever.py
  test/components/retrievers/test_in_memory_bm25_retriever.py
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests
