Repository deepset-ai/haystack, pull requests merged in 2024-12, with the labels that each got.

#8585 feat: Add store_full_path to converters (3/3)
  haystack/components/converters/azure.py
  haystack/components/converters/pypdf.py
  releasenotes/notes/add-store-full-path-param-to-converters-5bd32a7561abfe78.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests

#8602 chore: Mention breaking changes in PR template
  .github/pull_request_template.md
Labels: topic:CI

#8597 chore: adding a deprecation warning on the `SentenceWindowRetriever`
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/sentence-window-deprecation-b7db8efc56f33940.yaml
Labels: ignore-for-release-notes

#8599 refactor: moving `SentenceSplitter` outside `NLTKDocumentSplitter`
  haystack/components/preprocessors/nltk_document_splitter.py
  haystack/components/preprocessors/sentence_tokenizer.py
Labels: ignore-for-release-notes

#8590 feat!: `SentenceWindowRetriever` returns `List[Document]` with docs ordered by `split_idx_start`
  haystack/components/retrievers/in_memory/bm25_retriever.py
  haystack/components/retrievers/in_memory/embedding_retriever.py
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/sentence-window-retriever-change-output-7beca98e9951039e.yaml
  test/components/retrievers/test_sentence_window_retriever.py
Labels: breaking change, type:documentation, topic:tests

#8593 docs: complete docstring for DocumentJoiner code example
  haystack/components/joiners/document_joiner.py
Labels: type:documentation, ignore-for-release-notes

#8604 fix: docstring for normalization
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/fix-docstrings-normalize-embedding-fd2dba50ba9e51a1.yaml
Labels: type:documentation

#8613 chore: remove generate_openapi_specs.py
  .github/utils/generate_openapi_specs.py
Labels: topic:CI

#8596 fix: add missing stream mime type assignment to the `LinkContentFetcher`
  haystack/components/fetchers/link_content.py
  releasenotes/notes/add-missing-mime-type-assignment-to-the-link-content-fetcher-7581e2728e2130b8.yaml
  test/components/fetchers/test_link_content_fetcher.py
Labels: type:documentation, topic:tests

#8610 chore: fixing `pylint` issues
  haystack/components/classifiers/zero_shot_document_classifier.py
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/rankers/meta_field.py
  haystack/components/readers/extractive.py
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
  haystack/document_stores/in_memory/document_store.py
  haystack/logging.py
  haystack/testing/factory.py
  haystack/utils/hf.py
  pyproject.toml
  test/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:build/distribution

#8619 chore: update default value of `store_full_path` to `False` in converters
  haystack/components/converters/azure.py
  haystack/components/converters/csv.py
  haystack/components/converters/docx.py
  haystack/components/converters/html.py
  haystack/components/converters/json.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pdfminer.py
  haystack/components/converters/pptx.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
  releasenotes/notes/update-store-full-path-default-value-129f701ba07b944b.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/converters/test_csv_to_document.py
  test/components/converters/test_docx_file_to_document.py
  test/components/converters/test_html_to_document.py
  test/components/converters/test_json.py
  test/components/converters/test_pptx_to_document.py
  test/components/converters/test_pypdf_to_document.py
  test/components/converters/test_textfile_to_document.py
Labels: topic:tests

#8626 chore: remove deprecation warnings related to `store_full_path`
  haystack/components/converters/azure.py
  haystack/components/converters/csv.py
  haystack/components/converters/docx.py
  haystack/components/converters/html.py
  haystack/components/converters/json.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pdfminer.py
  haystack/components/converters/pptx.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
Labels: ignore-for-release-notes

#8617 !feat: unify NLTKDocumentSplitter and DocumentSplitter
  haystack/components/preprocessors/document_splitter.py
  haystack/components/preprocessors/sentence_tokenizer.py
  releasenotes/notes/unifying-docsplitter-and-nltkdocsplitter-f01a983c7e7f3ed3.yaml
  test/components/preprocessors/test_document_splitter.py
  test/components/preprocessors/test_sentence_tokenizer.py
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:documentation, topic:tests

#8632 chore: pin `openai>=1.56.1`
  pyproject.toml
  releasenotes/notes/pin-openai-1-56-1-43d50ebfbb8b5a8d.yaml
Labels: topic:build/distribution

#8634 test: ignore `HF_TOKEN` in some unit tests
  test/components/classifiers/test_zero_shot_document_classifier.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
  test/components/routers/test_transformers_text_router.py
  test/components/routers/test_zero_shot_text_router.py
Labels: topic:tests, ignore-for-release-notes

#8635 fix: end2end tests due to behaviour of DocumentSplitter "sentence" being replaced by "period"
  e2e/pipelines/test_dense_doc_search.py
  e2e/pipelines/test_preprocessing_pipeline.py
Labels: ignore-for-release-notes

#8636 fix: removing unused import
  e2e/pipelines/test_preprocessing_pipeline.py
Labels: ignore-for-release-notes

#8644 fix: adding `SentenceSplitter` to init imports
  haystack/components/preprocessors/__init__.py
Labels: ignore-for-release-notes

#8640 feat!: new `ChatMessage`
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/openai_utils.py
  haystack/dataclasses/__init__.py
  haystack/dataclasses/chat_message.py
  releasenotes/notes/new-chatmessage-7f47d5bdeb6ad6f5.yaml
  test/components/builders/test_chat_prompt_builder.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/test_openai_utils.py
  test/components/routers/test_conditional_router.py
  test/core/pipeline/features/test_run.py
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#8652 feat: `Tool` dataclass - unified abstraction to represent tools
  docs/pydoc/config/data_classess_api.yml
  haystack/dataclasses/__init__.py
  haystack/dataclasses/tool.py
  pyproject.toml
  releasenotes/notes/tool-dataclass-12756077bbfea3a1.yaml
  test/dataclasses/test_tool.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8660 fix: adding missing abbreviations files for SentenceSplitter
  .pre-commit-config.yaml
  haystack/components/preprocessors/sentence_tokenizer.py
  haystack/data/abbreviations/de.txt
  haystack/data/abbreviations/en.txt
  test/components/preprocessors/test_sentence_tokenizer.py
Labels: topic:tests, ignore-for-release-notes, topic:DX

#8661 feat: support for tools in `HuggingFaceAPIChatGenerator`
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/hugging_face_api.py
  haystack/dataclasses/tool.py
  haystack/utils/hf.py
  pyproject.toml
  releasenotes/notes/hfapi-tools-a7224150bce52564.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/dataclasses/test_tool.py
  test/utils/test_hf.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8658 Named entity extractor private models
  .github/workflows/e2e.yml
  e2e/pipelines/test_named_entity_extractor.py
  haystack/components/extractors/named_entity_extractor.py
  releasenotes/notes/add-token-to-named-entity-extractor-3124acb1ae297c0e.yaml
  test/components/extractors/test_named_entity_extractor.py
Labels: type:documentation, topic:tests, topic:CI

#8664 feat: add Tool Invoker component
  docs/pydoc/config/tools_api.yml
  haystack/components/tools/__init__.py
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/add-tool-invoker-3bc567b27aec2f32.yaml
  test/components/tools/__init__.py
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#8669 chore: `OpenAITextEmbedder` - remove unused constants
  haystack/components/embedders/openai_text_embedder.py
Labels: ignore-for-release-notes
