Repository deepset-ai/haystack, pull requests merged in 2024-07, with the labels that each got.

#7959 chore: Fix whisper test
  test/components/audio/test_whisper_remote.py
Labels: topic:tests, ignore-for-release-notes

#7947 feat: LLM-based evaluators return meta info from OpenAI
  haystack/components/evaluators/llm_evaluator.py
  releasenotes/notes/adding-metadata-info-from-OpenAI-f5309af5f59bb6a7.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests

#7915 Add Distribution based rank fusion mode
  haystack/components/joiners/document_joiner.py
  releasenotes/notes/add-distribution-based-rank-fusion-mode-JoinDocuments-6fca30b82fd535ce.yaml
  test/components/joiners/test_document_joiner.py
Labels: type:documentation, topic:tests

#7957 feat: add custom jinja filter handling to ConditionalRouter
  haystack/components/routers/conditional_router.py
  releasenotes/notes/add-custom-filters-to-conditional-router-631eba8bab3c2ae7.yaml
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests

#7955 fix: meta from ByteStream input for AzureOCRDocumentConverter
  haystack/components/converters/azure.py
  releasenotes/notes/fix-azure-ocr-bytestream-meta-0d2c8e6ea761b791.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
Labels: type:bug, topic:tests

#7979 build: Update pre-commit hooks versions
  .pre-commit-config.yaml
Labels: ignore-for-release-notes, topic:DX

#7980 chore: Fix project image and pypi url in slack configuration
  .github/config/pypi-release-slack-notification.yml
  README.md
Labels: ignore-for-release-notes, topic:CI

#7897 feat: Allow Connection of ChatGenerator to AnswerBuilder
  haystack/components/builders/answer_builder.py
  releasenotes/notes/support-ChatMessage-in-AnswerBuilder-d7958a72d3786f08.yaml
  test/components/builders/test_answer_builder.py
Labels: type:documentation, topic:tests

#7983 feat: Add max_retries to AzureOpenAIGenerator
  haystack/components/generators/azure.py
  releasenotes/notes/max-retries-for-AzureOpenAIGenerator-0f1a1807dd2af041.yaml
  test/components/generators/test_azure.py
Labels: type:documentation, topic:tests

#7991 fix: adding deprecation warning ContextEvaluator
  haystack/components/evaluators/context_relevance.py
  releasenotes/notes/add-deprecation-warning-context-relevance-937df7e807ac1a8d.yaml
Labels: topic:eval, type:documentation, 2.x

#7921 feat: Add haystack-experimental dependency
  pyproject.toml
  releasenotes/notes/add-haystack-experimental-dependency-96ff02e71bc2af13.yaml
Labels: topic:build/distribution

#7988 feat: Configure `max_retries` and timeout for `AzureOpenAIChatGenerator`
  haystack/components/generators/chat/azure.py
  releasenotes/notes/max_retries-for-AzureOpenAIChatGenerator-9e49b4c7bec5c72b.yaml
  test/components/generators/chat/test_azure.py
Labels: type:documentation, topic:tests

#7994 feat: Configure max_retries and timeout for AzureOpenAIDocumentEmbedder
  haystack/components/embedders/azure_document_embedder.py
  releasenotes/notes/retries-and-timeout-for-AzureOpenAIDocumentEmbedder-006fd84204942e43.yaml
  test/components/embedders/test_azure_document_embedder.py
Labels: type:documentation, topic:tests

#7993 feat: Configure max_retries & timeout for AzureOpenAITextEmbedder
  haystack/components/embedders/azure_text_embedder.py
  releasenotes/notes/timeout-and-retries-for-AzureOpenAITextEmbedder-b02b760e9d6f28aa.yaml
  test/components/embedders/test_azure_text_embedder.py
Labels: type:documentation, topic:tests

#7996 fix: make PyPDF backward compatible
  haystack/components/converters/pypdf.py
  releasenotes/notes/improve-pypdf-backwards-compatibility-bcc75871005e9aba.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests

#8002 fix: `TransformersZeroShotTextRouter` and `TransformersTextRouter` from_dict to work with default value for huggingface_pipeline_kwargs
  haystack/components/generators/hugging_face_local.py
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
  releasenotes/notes/transformer-router-from-dict-fix-04cb41b38ca61043.yaml
  test/components/routers/test_transformers_text_router.py
  test/components/routers/test_zero_shot_text_router.py
Labels: type:bug, topic:tests

#7975 fix: LinkContentFetcher html text encoding
  haystack/components/fetchers/link_content.py
  releasenotes/notes/fix-linkcontentfetcher-encoding-6c8df3c5b09fbc50.yaml
  test/components/fetchers/test_link_content_fetcher.py
Labels: type:documentation, topic:tests

#8003 fix: Fix from_dict methods of components using HF models to work with default values
  haystack/components/audio/whisper_local.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  releasenotes/notes/hf-models-from-dict-default-values-47c2c73136ea6643.yaml
  test/components/audio/test_whisper_local.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/extractors/test_named_entity_extractor.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
Labels: type:bug, topic:tests

#7997 feat: add sentence window retrieval
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/sentence_window_retrieval.py
  haystack/core/serialization.py
  releasenotes/notes/add-sentence-window-retrieval-5de4b0d6b2e8b0d6.yaml
  test/components/retrievers/test_sentence_window_retriever.py
  test/core/test_serialization.py
Labels: type:documentation, topic:tests, topic:core

#8007 Reorganize functions used by Pipeline.run
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: topic:tests, ignore-for-release-notes, topic:core

#7987 feat: add and expose api_params for OpenAIGenerator in LLMEvaluator based classes
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  haystack/components/evaluators/llm_evaluator.py
  releasenotes/notes/allow-parameters-for-openai-generator-8ce86ba1bac80817.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests

#8014 Revert "fix: make PyPDF backward compatible (#7996)"
  haystack/components/converters/pypdf.py
  releasenotes/notes/improve-pypdf-backwards-compatibility-bcc75871005e9aba.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: topic:tests, ignore-for-release-notes

#8012 chore: normalise the use of `importlib` in getting an object from a qualified name string across the codebase
  haystack/components/caching/cache_checker.py
  haystack/components/retrievers/filter_retriever.py
  haystack/components/writers/document_writer.py
Labels: ignore-for-release-notes

#8019 refactor: Pipeline.run()
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#8010 refactor: refactor DocumentJoiner to follow enum pattern for join_mode parameter
  haystack/components/joiners/document_joiner.py
  releasenotes/notes/refactor-documentjoiner-992e662bee8ca219.yaml
  test/components/joiners/test_document_joiner.py
Labels: type:documentation, topic:tests

#8016 refactor: Improve error messages shown during pipeline deserialization
  haystack/core/pipeline/base.py
  releasenotes/notes/better-deserialization-errors-f2b0e226534f4cd2.yaml
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8021 Fix bug in Pipeline.run() executing Components in a wrong and unexpected order
  haystack/core/pipeline/base.py
  releasenotes/notes/fix-execution-order-1121cedd9c68c560.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8020 chore: remove deprecated Multiplexer
  haystack/components/others/__init__.py
  haystack/components/others/multiplexer.py
  haystack/components/validators/json_schema.py
  releasenotes/notes/remove-deprecated-multiplexer-1f948f1f9b811195.yaml
  test/components/others/test_multiplexer.py
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests

#8031 docs: adding example to docstring to SentenceWindowRetrieval
  haystack/components/retrievers/sentence_window_retrieval.py
Labels: type:documentation, ignore-for-release-notes

#8034 updating sentence window retriever tests
  test/components/retrievers/test_sentence_window_retriever.py
Labels: topic:tests, ignore-for-release-notes

#8030 fix: Prevent `Pipeline.from_dict` from modifying the dictionary parameter passed to it
  haystack/core/pipeline/base.py
  releasenotes/notes/fix-pipeline-deserialization-a3909bb6b623c588.yaml
Labels: type:documentation, topic:core

#8032 docs: add sentence window retrieval to api reference
  docs/pydoc/config/others_api.yml
  docs/pydoc/config/retrievers_api.yml
Labels: ignore-for-release-notes

#8045 chore: Combined main unblock
  pyproject.toml
  releasenotes/notes/pin-structlog-39d991a70590dd6e.yaml
  test/components/generators/chat/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution

#7964 fix: improve context relevancy metric
  haystack/components/evaluators/context_relevance.py
  haystack/evaluation/eval_run_result.py
  releasenotes/notes/change-context-relevance-evaluator-da770bf05c83cfbd.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/evaluation/test_eval_run_result.py
Labels: breaking change, topic:eval, type:documentation, topic:tests, 2.x

#8056 chore: Remove deprecated init paramters from `HTMLToDocument`
  haystack/components/converters/html.py
  releasenotes/notes/remove-htmltodocument-deprecated-init-params-2f81cf6a3b13710d.yaml
Labels: type:documentation

#8066 Docs: Update DocumentWriter docstrings
  haystack/components/writers/document_writer.py
Labels: type:documentation, ignore-for-release-notes

#8070 chore: fix PPTX release note
  releasenotes/notes/pptx-import-edc6b8d6274e4023.yaml
Labels: ignore-for-release-notes

#8046 fix: Fix `split_start_idx` and `_split_overlap` information in `DocumentSplitter`
  haystack/components/preprocessors/document_splitter.py
  haystack/components/retrievers/sentence_window_retrieval.py
  releasenotes/notes/fix-document-splitter-split-info-1704f16c8b0f374a.yaml
  test/components/preprocessors/test_document_splitter.py
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:bug, topic:tests, 2.x

#8071 build: unpin structlog
  pyproject.toml
  test/test_logging.py
Labels: ignore-for-release-notes

#8075 chore: Deprecate the `debug` parameter in `Pipeline.run`
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/deprecate-pipeline-run-debug-param-e69190338a8e041b.yaml
Labels: topic:core

#8068 Docs: Update InMemoryEmbeddingRetriever docstrings
  haystack/components/retrievers/in_memory/embedding_retriever.py
Labels: type:documentation, ignore-for-release-notes

#8057 Docs: Simplify lg + standardize docstrings
  haystack/components/builders/prompt_builder.py
Labels: type:documentation, ignore-for-release-notes

#8060 Docs: Standardize and improve SentenceTransformersTextEmbedder docstrings
  haystack/components/embedders/sentence_transformers_text_embedder.py
Labels: type:documentation, ignore-for-release-notes

#8087 docs: clean up and clarify InMemoryBM25Retrieve docstrings
  haystack/components/retrievers/in_memory/bm25_retriever.py
Labels: type:documentation, ignore-for-release-notes

#8085 chore: Remove deprecated `DynamicPromptBuilder` and `DynamicChatPromptBuilder` components
  docs/pydoc/config/builders_api.yml
  haystack/components/builders/__init__.py
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  releasenotes/notes/deprecate-dynamic-promptbuilders-14de431d98ae3e39.yaml
  test/components/builders/test_dynamic_chat_prompt_builder.py
  test/components/builders/test_dynamic_prompt_builder.py
Labels: type:documentation, topic:tests

#8077 added truncate_dim to sentence transformers embedder
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/release-note-2b603a123cd36214.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests

#8095 fix: Fix issue that could lead to RCE if using unsecure Jinja templates
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  haystack/components/converters/output_adapter.py
  haystack/components/routers/conditional_router.py
  haystack/core/pipeline/template.py
  releasenotes/notes/fix-jinja-env-81c98225b22dc827.yaml
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests, topic:core

#8092 Rename SentenceWindowRetriever
  docs/pydoc/config/retrievers_api.yml
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/rename-sentence-window-retrieval-be4cd6e1d18ef10e.yaml
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:documentation, topic:tests

#8082 fix: Tika converter not yielding page break tags (`\f`)
  haystack/components/converters/tika.py
  releasenotes/notes/fix-tika-page_number-2d600b2dc8a4faa7.yaml
  test/components/converters/test_tika_doc_converter.py
Labels: type:documentation, topic:tests

#8109 Docs: Update DocumentJoiner docstrings
  haystack/components/joiners/document_joiner.py
Labels: type:documentation, ignore-for-release-notes

#8106 Docs: Update DocumentCleaner docstrings
  haystack/components/preprocessors/document_cleaner.py
Labels: type:documentation, ignore-for-release-notes

#8112 Docs: Update DocumentEmbedder docstrings
  haystack/components/embedders/sentence_transformers_document_embedder.py
Labels: type:documentation, ignore-for-release-notes

#8098 docs: clean up docstrings of FileTypeRouter
  haystack/components/routers/file_type_router.py
Labels: type:documentation, ignore-for-release-notes

#8105 Docs: Update OpenAIGen docstrings and add missing headers
  haystack/components/generators/openai.py
  haystack/components/retrievers/in_memory/embedding_retriever.py
  haystack/components/writers/document_writer.py
Labels: type:documentation, ignore-for-release-notes

#8094 docs: clean up docstrings of AnswerBuilder
  haystack/components/builders/answer_builder.py
Labels: type:documentation, ignore-for-release-notes

#8115 Docs: Update PyPDFToDocument docstrings
  haystack/components/converters/pypdf.py
Labels: type:documentation, ignore-for-release-notes

#8117 Docs: Update TextFileToDocument docstrings
  haystack/components/converters/txt.py
Labels: type:documentation, ignore-for-release-notes

#8123 fix: Fix infinite loop when running Pipeline
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/fix-run-loop-63bf0ffc26887e66.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8125 docs: clean up docstrings of OpenAIChatGenerator
  haystack/components/generators/chat/openai.py
Labels: type:documentation, ignore-for-release-notes

#8120 docs: clean up docstrings of OpenAITextEmbedder
  haystack/components/embedders/openai_text_embedder.py
Labels: type:documentation, ignore-for-release-notes

#8124 docs: clean up docstrings of TransformersSimilarityRanker
  haystack/components/rankers/transformers_similarity.py
Labels: type:documentation, ignore-for-release-notes

#8127 chore: fix `HTMLToDocument` test
  test/components/converters/test_html_to_document.py
Labels: topic:tests, ignore-for-release-notes
