Repository deepset-ai/haystack, pull requests merged in 2024-01, with the labels that each got.

#6677 docs: docstrings formatting
  docs/pydoc/config/builder.yml
  haystack/components/audio/whisper_remote.py
  haystack/components/preprocessors/document_splitter.py
  haystack/components/routers/metadata_router.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6668 chore: bump transformers version to 4.36.2 with vulnerability fix
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#6681 Update prompt builders examples
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  test/components/builders/test_dynamic_chat_prompt_builder.py
  test/components/builders/test_dynamic_prompt_builder.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6655 refactor: optimize API keys reading
  haystack/components/converters/azure.py
  haystack/components/websearch/searchapi.py
  haystack/components/websearch/serper_dev.py
  test/components/converters/test_azure_ocr_doc_converter.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6690 chore: Add AZURE keys for Haystack 2.x Azure integration
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#6648 feat: Add AzureOpenAIGenerator and AzureOpenAIChatGenerator
  haystack/components/generators/__init__.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/__init__.py
  haystack/components/generators/chat/azure.py
  releasenotes/notes/add-azure-generators-a30c786204b22e48.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/test_azure.py
Labels: type:documentation, topic:tests, 2.x

#6676 feat: Add Azure embedders support
  haystack/components/embedders/__init__.py
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  releasenotes/notes/add-azure-embedders-fd5f4fbcab0e1c48.yaml
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#6633 feat: Add model kwargs to FARMReader
  haystack/modeling/model/prediction_head.py
  haystack/nodes/reader/farm.py
  releasenotes/notes/farmreader-kwargs-130e0b1a89f75fef.yaml
  test/nodes/test_reader.py
Labels: topic:modeling, topic:reader, type:documentation, topic:tests, 1.x

#6628 feat: Add pipeline_kwargs to TransformersSummarizer
  haystack/nodes/summarizer/transformers.py
  releasenotes/notes/summarizer-kwargs-speed-148714d268773f60.yaml
  test/nodes/test_summarizer.py
Labels: type:documentation, topic:tests, 1.x

#6693 ci: re-enable coverage report
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#6697 chore: bump version
  VERSION.txt
Labels: 2.x

#6699 feat: Improve UrlCacheChecker, make it more generic
  haystack/components/caching/__init__.py
  haystack/components/caching/cache_checker.py
  releasenotes/notes/make-urlcachechecker-generic-e159d40bbd943081.yaml
  test/components/caching/test_url_cache_checker.py
Labels: topic:tests, 2.x

#6703 test: Skip integration tests if env var is missing
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/pipelines/test_indexing_pipeline.py
  test/pipelines/test_rag_pipelines.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6704 test: Fix skipif with empty env var
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/pipelines/test_indexing_pipeline.py
  test/pipelines/test_rag_pipelines.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6698 feat: support single metadata dictionary in `TikaDocumentConverter`
  haystack/components/converters/tika.py
  releasenotes/notes/single-meta-in-tikaconverter-89b454c451a2ed93.yaml
  test/components/converters/test_tika_doc_converter.py
Labels: type:documentation, topic:tests, 2.x

#6635 feat: support single metadata dictionary in `AzureOCRDocumentConverter`
  haystack/components/converters/azure.py
  releasenotes/notes/single-meta-in-azureconverter-ce1cc196a9b161f3.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
Labels: type:documentation, topic:tests, 2.x

#6709 feat: Pinecone upsert documents optimizations
  haystack/document_stores/pinecone.py
  releasenotes/notes/optimize-pinecone-upsert.yaml
  test/mocks/pinecone.py
Labels: type:documentation, topic:document_store, topic:tests, topic:pinecone

#6651 feat: store input's default value in `InputSocket`
  haystack/core/component/component.py
  haystack/core/component/descriptions.py
  haystack/core/component/sockets.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/add-default-value-to-input-socket-2e62116fc4be5214.yaml
  test/core/component/test_component.py
  test/core/component/test_connection.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_validation_pipeline_io.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#6629 feat: support single metadata dictionary in `MarkdownToDocument`
  haystack/components/converters/html.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pypdf.py
  releasenotes/notes/single-meta-in-markdown2document-082bae7b20bd605d.yaml
  test/components/converters/test_markdown_to_document.py
Labels: type:documentation, topic:tests, 2.x

#6702 feat: Add example script about routing metadata to converters in indexing pipelines
  examples/pipelines/indexing_pipeline_with_meta.py
  releasenotes/notes/route-meta-to-converters-ed85acc43b5aa96a.yaml
Labels: type:documentation, topic:tests, topic:build/distribution, topic:CI, 2.x

#6708 ci: Remove coverage reporting in 1.x tests.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 1.x

#6689 feat: Add `NamedEntityExtractor`component
  e2e/pipelines/test_named_entity_extractor.py
  haystack/components/extractors/__init__.py
  haystack/components/extractors/named_entity_extractor.py
  releasenotes/notes/named-entity-extractor-component-8fd647ee748892ca.yaml
  test/components/extractors/__init__.py
  test/components/extractors/test_named_entity_extractor.py
  test/test_requirements.txt
Labels: type:feature, type:documentation, topic:tests, 2.x, topic:core

#6680 feat: Add `calculate_metrics` and `MetricsResult`
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  haystack/evaluation/__init__.py
  haystack/evaluation/eval.py
  haystack/evaluation/metrics.py
  releasenotes/notes/add-calculate-metrics-metricsresults-03bf27ce8b16cff5.yaml
  test/evaluation/test_eval.py
Labels: type:documentation, topic:tests, 2.x

#6714 refact!: Remove symbols under the `haystack.document_stores` namespace
  docs/pydoc/config/retriever.yml
  e2e/pipelines/test_dense_doc_search.py
  e2e/pipelines/test_eval_dense_doc_search.py
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  e2e/pipelines/test_extractive_qa_pipeline.py
  e2e/pipelines/test_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_preprocessing_pipeline.py
  e2e/pipelines/test_rag_pipelines.py
  examples/getting_started/rag.py
  examples/getting_started/rag_custom_data.py
  examples/pipelines/indexing_pipeline.py
  examples/pipelines/indexing_pipeline_with_meta.py
  examples/pipelines/rag_pipeline.py
  examples/rag/rag_self_correction.py
  examples/retrievers/in_memory_bm25_documentsearch.py
  examples/retrievers/in_memory_bm25_rag.py
  haystack/components/caching/cache_checker.py
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/in_memory/__init__.py
  haystack/components/retrievers/in_memory/bm25_retriever.py
  haystack/components/retrievers/in_memory/embedding_retriever.py
  haystack/components/writers/document_writer.py
  haystack/document_stores/__init__.py
  haystack/document_stores/errors/__init__.py
  haystack/document_stores/errors/errors.py
  haystack/document_stores/in_memory/document_store.py
  haystack/document_stores/types/__init__.py
  haystack/document_stores/types/policy.py
  haystack/document_stores/types/protocol.py
  haystack/pipeline_utils/indexing.py
  haystack/pipeline_utils/rag.py
  haystack/testing/document_store.py
  haystack/testing/factory.py
  releasenotes/notes/refactor-document-store-namespace-33f4433a2b121efc.yaml
  test/components/retrievers/test_in_memory_bm25_retriever.py
  test/components/retrievers/test_in_memory_embedding_retriever.py
  test/components/writers/test_document_writer.py
  test/document_stores/test_in_memory.py
  test/pipelines/test_indexing_pipeline.py
  test/pipelines/test_rag_pipelines.py
Labels: type:documentation, topic:tests, 2.x

#6718 feat: expand `indexing_pipeline_with_metadata.py` to include per-file metadata
  examples/pipelines/indexing_pipeline_with_meta.py
Labels: ignore-for-release-notes, 2.x

#6719 feat: Tweak `CacheChecker` output type
  haystack/components/caching/cache_checker.py
  releasenotes/notes/cache_checker_output_type-0b05e75ca41aab61.yaml
  test/components/caching/test_url_cache_checker.py
Labels: topic:tests, 2.x

#6726 docs: reorder and rename Classifier and CacheChecker files
  docs/pydoc/config/caching.yml
  docs/pydoc/config/classifier.yml
  docs/pydoc/config/joiner.yml
  docs/pydoc/config/others.yml
Labels: type:documentation, ignore-for-release-notes, 2.x

#6730 fix: Fix error when calling `dir()` on a component instance
  .github/workflows/tests.yml
  haystack/core/component/component.py
  releasenotes/notes/fix-descriptor-__dict__-doesnt-apply-to-bf6d47872345ed24.yaml
Labels: topic:CI, 2.x, topic:core

#6713 fix: serialize/deserialize torch dtype in the components that need it
  haystack/components/generators/hugging_face_local.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  releasenotes/notes/serialize-torch-dtype-57c6c94f6114fc00.yaml
  test/components/generators/test_hugging_face_local_generator.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, 2.x

#6715 feat: rename `model_name` or `model_name_or_path` to `model` in generators
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/openai.py
  haystack/pipeline_utils/rag.py
  releasenotes/notes/renamed-model_name-or-model_name_or_path-to-model-184490cbb66c4d7c.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests, 2.x

#6732 fix: rename `model_name_or_path` to `model` in `HuggingFaceLocalGenerator` test
  test/components/generators/test_hugging_face_local_generator.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6731 feat!: Rename `model_name` or `model_name_or_path` to `model` in all Transcriber classes
  haystack/components/audio/whisper_local.py
  haystack/components/audio/whisper_remote.py
  releasenotes/notes/rename-model-param--transcribers-71dbe7cfb86950e0.yaml
  test/components/audio/test_whisper_local.py
  test/components/audio/test_whisper_remote.py
Labels: type:documentation, topic:tests, 2.x

#6737 fix: fix leftover `model_name_or_path` param in e2e tests
  e2e/pipelines/test_eval_rag_pipelines.py
Labels: ignore-for-release-notes, 2.x

#6733 feat!: Rename `model_name` or `model_name_or_path` to `model` in all Embedder classes
  e2e/pipelines/test_dense_doc_search.py
  e2e/pipelines/test_eval_dense_doc_search.py
  e2e/pipelines/test_eval_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  e2e/pipelines/test_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_preprocessing_pipeline.py
  e2e/pipelines/test_rag_pipelines.py
  examples/pipelines/indexing_pipeline.py
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/joiners/document_joiner.py
  haystack/pipeline_utils/indexing.py
  haystack/pipeline_utils/rag.py
  releasenotes/notes/rename-model-param-embedders-7cc87a768554724d.yaml
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#6728 feat: Add method to set a Component input type with default value
  haystack/core/component/component.py
  releasenotes/notes/set-input-type-328589ee51ffa21b.yaml
Labels: type:documentation, 2.x, topic:core

#6734 feat!: Rename `model_name_or_path` to `model` in `TransformersSimilarityRanker`
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/rename-model-param-rankers-be3d6163597e0a9b.yaml
  test/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests, 2.x

#6701 fix: `ComponentMeta.__call__` handles keyword- and positional-only parameters correctly
  haystack/core/component/component.py
  releasenotes/notes/component-kw-only-run-args-eedee8907232d2d4.yaml
  test/core/component/test_component.py
Labels: type:bug, type:documentation, topic:tests, 2.x, topic:core

#5465 feat: allow DI of webdriver into the Crawler
  haystack/nodes/connector/crawler.py
  releasenotes/notes/crawler-webdriver-di-71225500f3751983.yaml
  test/nodes/test_connector.py
Labels: type:documentation, topic:tests, topic:crawler, 1.x

#6717 fix!: `InMemoryBM25Retriever` no longer returns documents that have a score of 0.0
  haystack/document_stores/in_memory/document_store.py
  releasenotes/notes/inmemorybm25retriever-zero-score-docs-67406062a76aa7f4.yaml
  test/components/retrievers/test_in_memory_bm25_retriever.py
  test/document_stores/test_in_memory.py
Labels: breaking change, type:documentation, topic:document_store, topic:tests, 2.x

#6724 feat: Highlight optional connections in `Pipeline.draw()`
  haystack/core/pipeline/draw/draw.py
  haystack/core/pipeline/draw/mermaid.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/highlight-optional-conns-in-draw-cf107ee210b7b8e7.yaml
Labels: 2.x, topic:core

#6741 fix: fix Pipeline test error
  test/core/pipeline/test_pipeline.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6736 feat!: Rename `model_name_or_path` to `model` in `ExtractiveReader`
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_extractive_qa_pipeline.py
  haystack/components/readers/extractive.py
  releasenotes/notes/rename-model-param-reader-b8cbb0d638e3b8c2.yaml
  test/components/readers/test_extractive.py
Labels: type:documentation, topic:tests, 2.x

#6745 refactor: Extract HF stop words handling in `hf_utils.py`
  haystack/components/generators/hf_utils.py
  haystack/components/generators/hugging_face_local.py
  test/components/generators/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6742 feat: MetaFieldRanker update
  haystack/components/rankers/meta_field.py
  releasenotes/notes/metafieldranker_sort-order_refactor-2000d89dc40dc15a.yaml
  test/components/rankers/__init__.py
  test/components/rankers/test_metafield.py
Labels: type:documentation, topic:tests, 2.x

#6750 test: Rename RAG E2E test file
  e2e/pipelines/test_rag_pipelines_e2e.py
  releasenotes/notes/rag-e2e-test-rename-3e2c7265dbb6ba9e.yaml
Labels: topic:tests, 2.x

#6743 chore: fix docstrings using `model_name` instead of `model`
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6744 feat!: rename `model_name_or_path` to `model` in `NamedEntityExtractor`
  haystack/components/extractors/named_entity_extractor.py
  releasenotes/notes/rename-model-param-ner-dce7536f2e7866fe.yaml
  test/components/extractors/test_named_entity_extractor.py
Labels: type:documentation, topic:tests, 2.x

#6752 chore: Fix lazy import in HuggingFaceLocalGenerator
  haystack/components/generators/hugging_face_local.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6756 test: Update E2E tests to use `Pipeline.dump/load`
  e2e/pipelines/test_dense_doc_search.py
  e2e/pipelines/test_extractive_qa_pipeline.py
  e2e/pipelines/test_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_preprocessing_pipeline.py
  e2e/pipelines/test_rag_pipelines_e2e.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6753 feat: added split by page to `DocumentSplitter`
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/add-split-by-page-to-DocumentSplitter-63232c17d858d787.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: type:documentation, topic:tests, 2.x

#6757 chore: bump Haystack version to beta5
  VERSION.txt
Labels: 2.x

#6754 refactor: Move HF-specific model serde code to a new submodule.
  haystack/components/generators/hugging_face_local.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  haystack/utils/hf.py
Labels: type:refactor, type:documentation, ignore-for-release-notes, 2.x

#6755 feat: Add page breaks to default PDF to Document converter
  haystack/components/converters/pypdf.py
  haystack/components/converters/utils.py
  releasenotes/notes/pypdf-page-breaks-b6842d93f4c69185.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: breaking change, type:documentation, topic:tests, 2.x

#6758 feat: Add serde methods to `HTMLToDocument`
  haystack/components/converters/html.py
  test/components/converters/test_html_to_document.py
Labels: type:refactor, topic:tests, ignore-for-release-notes, 2.x

#6765 Fix `__version__` handling
  haystack/version.py
  releasenotes/notes/fix-version-47afaec913788a01.yaml
Labels: 2.x

#6767 perf: Speed up `Document` dataclass import
  haystack/dataclasses/document.py
  releasenotes/notes/speedup-import-b542f7a8323ef376.yaml
Labels: 2.x

#6751 feat: Add `HuggingFaceLocalChatGenerator`
  haystack/components/generators/chat/__init__.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/hf_utils.py
  releasenotes/notes/add-hugging-face-chat-local-5fe7a88e24fde11b.yaml
  test/components/generators/chat/test_hugging_face_local.py
Labels: type:documentation, topic:tests, 2.x

#6777 Pin `fastapi` version in `rest_api`
  rest_api/pyproject.toml
Labels: topic:rest_api

#6772 feat: Improve OpenAPIServiceConnector service response serialization
  haystack/components/connectors/openapi_service.py
  test/components/connectors/test_openapi_service.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6778 chore: Move import to lazy import section
  haystack/components/generators/chat/hugging_face_local.py
Labels: ignore-for-release-notes, 2.x

#6780 chore: Use forward references for type hints in HuggingFaceLocalChatGenerator method, avoid NameError
  haystack/components/generators/chat/hugging_face_local.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6782 add .haystack_debug to .gitignore
  .gitignore
Labels: topic:DX, 2.x

#6785 readme: add telemetry overview
  README.md
Labels: ignore-for-release-notes, 2.x

#6696 feat: Add Exact Match metric
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  haystack/evaluation/eval.py
  haystack/evaluation/eval_utils.py
  releasenotes/notes/add-exact-match-a7df21717238b771.yaml
  test/evaluation/__init__.py
  test/evaluation/test_eval_exact_match.py
  test/evaluation/test_eval_utils.py
Labels: type:documentation, topic:tests, 2.x

#6776 feat: Add support for `gpt-3.5-turbo-1106`
  haystack/utils/openai_utils.py
  releasenotes/notes/support-gpt-3.5-turbo-1106-6de58fee16cc0c0a.yaml
  test/utils/test_openai_utils.py
Labels: topic:tests, 1.x

#6784 proposal: Integration of 3rd party evaluation frameworks
  proposals/text/6784-integrations-for-eval-framworks.md
Labels: proposal, proposal:review, 2.x

#6811 fix: MongoDB Atlas Vector Search
  .github/workflows/tests.yml
  haystack/document_stores/mongodb_atlas.py
  releasenotes/notes/mongodb-vector-search-2f40a9c67eed6e7c.yaml
  test/document_stores/test_mongodb_atlas.py
Labels: type:documentation, topic:document_store, topic:tests, topic:CI

#6814 chore: mention cookbook repo in README
  README.md
Labels: 2.x

#6817 Readme updates
  README.md
  docs/img/deepset-cloud-logo-lightblue.png
Labels: 2.x

#6818 CI: use haystack-pydoc-tools package instead of local code
  .github/utils/pydoc-markdown.sh
  .github/workflows/readme_sync.yml
  docs/pydoc/__init__.py
  docs/pydoc/config/builder.yml
  docs/pydoc/config/caching.yml
  docs/pydoc/config/classifier.yml
  docs/pydoc/config/converter.yml
  docs/pydoc/config/dataclass.yml
  docs/pydoc/config/document_store.yml
  docs/pydoc/config/embedder.yml
  docs/pydoc/config/extractor.yml
  docs/pydoc/config/fetcher.yml
  docs/pydoc/config/generator.yml
  docs/pydoc/config/joiner.yml
  docs/pydoc/config/others.yml
  docs/pydoc/config/pipeline.yml
  docs/pydoc/config/preprocessor.yml
  docs/pydoc/config/ranker.yml
  docs/pydoc/config/reader.yml
  docs/pydoc/config/retriever.yml
  docs/pydoc/config/router.yml
  docs/pydoc/config/sampler.yml
  docs/pydoc/config/websearch.yml
  docs/pydoc/config/whisper.yml
  docs/pydoc/config/writer.yml
  docs/pydoc/loaders.py
  docs/pydoc/renderers.py
  docs/pydoc/requirements.txt
Labels: ignore-for-release-notes, topic:CI, 2.x

#6806 chore: Remove pipeline_utils package and dependent code
  examples/getting_started/rag.py
  examples/getting_started/rag_custom_data.py
  haystack/pipeline_utils/__init__.py
  haystack/pipeline_utils/indexing.py
  haystack/pipeline_utils/rag.py
  test/pipelines/test_indexing_pipeline.py
  test/pipelines/test_rag_pipelines.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6821 FileSimilarityRetriever - Add readme, fix mypy linter issues
  haystack/modeling/data_handler/data_silo.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  haystack/nodes/retriever/filesim.py
  releasenotes/notes/file-similarity-retriever-394427b2241e1396.yaml
Labels: topic:modeling, topic:retriever

#6735 feat: Weights and score normalization for DocumentJoiner with reciprocal rank fusion
  haystack/components/joiners/document_joiner.py
  releasenotes/notes/weights-normalize-docjoin-rrf-v2-9cad33012fe90a55.yaml
  test/components/joiners/test_document_joiner.py
Labels: topic:tests, 2.x

#6826 feat: Add query and document prefix options for the TransformerSimilarityRanker
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/ranker-prefix-bfaf09cd7da0852d.yaml
  test/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests, 2.x

#6827 chore: improve Reno configuration
  releasenotes/config.yaml
  releasenotes/notes/speedup-import-b542f7a8323ef376.yaml
Labels: ignore-for-release-notes, 2.x

#6822 feat: Add F1 metric
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  haystack/evaluation/eval.py
  releasenotes/notes/add-f1-d54cc900bec753f7.yaml
  test/evaluation/test_eval_f1.py
Labels: type:documentation, topic:tests, 2.x

#6834 fix: Fix missing format string prefixes in `pipeline.py`
  haystack/core/pipeline/pipeline.py
Labels: type:bug, type:documentation, ignore-for-release-notes, 2.x, topic:core

#6831 refact: Rename helper function
  docs/pydoc/config/generator.yml
  haystack/components/generators/utils.py
  releasenotes/notes/rename-streaming-callback-f4e6653c0aac8765.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_azure.py
  test/components/generators/test_openai.py
  test/components/generators/test_utils.py
Labels: type:documentation, topic:tests, 2.x

#6840 refactor: Simplify `Pipeline.__eq__` logic
  haystack/core/pipeline/pipeline.py
Labels: type:documentation, ignore-for-release-notes, 2.x, topic:core

#6842 refactor: Remove unnecessary `Connection` class
  haystack/core/component/connection.py
  haystack/core/pipeline/pipeline.py
  test/core/component/test_connection.py
  test/core/pipeline/test_connections.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x, topic:core

#6820 feat: allow passing API_BASE as optional parameter for openai provider
  examples/getting_started.py
  haystack/nodes/prompt/prompt_model.py
  haystack/nodes/prompt/prompt_node.py
  haystack/utils/getting_started.py
  releasenotes/notes/override-api-base-67bc046a5cc5f46d.yaml
Labels: topic:LLM, topic:promptnode

#6850 README: remove the mention to 1.23
  README.md
Labels: 2.x

#6847 feat: Change `Pipeline.add_component` to fail when reusing `Component` instances
  haystack/core/component/component.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/components-reuse-ccc5f2d4b9d7f9ff.yaml
  test/core/pipeline/test_connections.py
  test/core/pipeline/test_distinct_loops_pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: topic:tests, 2.x, topic:core

#6849 ci: bump Transformers to 4.37.2 in 1.x
  pyproject.toml
  releasenotes/notes/bump-transformers-4-37-2-d265006022c21671.yaml
Labels: topic:dependencies, topic:build/distribution

#6855 feat: Implement `Secret` for structured authentication
  haystack/utils/__init__.py
  haystack/utils/auth.py
  releasenotes/notes/secret-handling-for-components-d576a28135a224db.yaml
  test/utils/test_auth.py
Labels: type:feature, type:documentation, topic:tests, topic:security, 2.x

#6880 fix: add some tolerance to ExtractiveReader Roberta test
  test/components/readers/test_extractive.py
Labels: topic:tests, ignore-for-release-notes, 2.x
