Repository deepset-ai/haystack, pull requests merged in 2024-02, with the labels that each got.

#6857 feat: Allow setting metadata for `ByteStream` when created from file or from string
  haystack/dataclasses/byte_stream.py
  releasenotes/notes/meta-in-bytestream-a29816c919c0be5a.yaml
  test/dataclasses/test_byte_stream.py
Labels: type:documentation, topic:tests, 2.x

#6885 chore: rename categories in the API docs
  .github/workflows/readme_sync.yml
  docs/pydoc/config/audio_api.yml
  docs/pydoc/config/builders_api.yml
  docs/pydoc/config/caching_api.yml
  docs/pydoc/config/classifiers_api.yml
  docs/pydoc/config/converters_api.yml
  docs/pydoc/config/data_classess_api.yml
  docs/pydoc/config/document_stores_api.yml
  docs/pydoc/config/document_writers_api.yml
  docs/pydoc/config/embedders_api.yml
  docs/pydoc/config/extractors_api.yml
  docs/pydoc/config/fetchers_api.yml
  docs/pydoc/config/generators_api.yml
  docs/pydoc/config/joiners_api.yml
  docs/pydoc/config/others_api.yml
  docs/pydoc/config/pipeline_api.yml
  docs/pydoc/config/preprocessors_api.yml
  docs/pydoc/config/rankers_api.yml
  docs/pydoc/config/readers_api.yml
  docs/pydoc/config/retrievers_api.yml
  docs/pydoc/config/routers_api.yml
  docs/pydoc/config/samplers_api.yml
  docs/pydoc/config/websearch_api.yml
Labels: topic:CI, 2.x

#6893 fix: Fix language servers never working with Components
  haystack/core/component/component.py
  releasenotes/notes/fix-components-autocompletion-a2d87708309262b6.yaml
Labels: 2.x, topic:core

#6877 feat: Add Semantic Answer Similarity metric
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
  haystack/evaluation/eval.py
  haystack/evaluation/eval_utils.py
  releasenotes/notes/add-sas-b8dbf61c0d78ba19.yaml
  test/evaluation/test_eval_sas.py
Labels: type:documentation, topic:tests, 2.x

#6887 feat!: Use `Secret` for passing authentication secrets to components
  haystack/components/audio/whisper_remote.py
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/converters/azure.py
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/hf_utils.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hf_utils.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/generators/openai.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/websearch/searchapi.py
  haystack/components/websearch/serper_dev.py
  haystack/utils/__init__.py
  haystack/utils/auth.py
  releasenotes/notes/secret-handling-for-components-d576a28135a224db.yaml
  releasenotes/notes/update-secret-handling-in-components-925d4f3c3c9530db.yaml
  test/components/audio/test_whisper_remote.py
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_hugging_face_tei_text_embedder.py
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/generators/chat/test_azure.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/chat/test_hugging_face_tgi.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_azure.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/generators/test_hugging_face_tgi.py
  test/components/generators/test_openai.py
  test/components/rankers/test_transformers_similarity.py
  test/components/websearch/test_searchapi.py
  test/components/websearch/test_serperdev.py
Labels: breaking change, type:documentation, topic:tests, 2.x

#6914 chore: Tick version to 2.0.0-beta.6
  VERSION.txt
Labels: 2.x

#6892 Create breaking-change-proposal.md issue template
  .github/ISSUE_TEMPLATE/breaking-change-proposal.md
Labels: ignore-for-release-notes, topic:CI, 2.x

#6841 feat:Add dimensions parameter to OpenAI Embedders to fully support th…
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  releasenotes/notes/add-dimensions-parameter-to-OpenAI-Embedders-to-fully-support-the-new-models-1393cc235e457733.yaml
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#6916 feat: Change Component's I/O dunder type
  haystack/core/component/__init__.py
  haystack/core/component/component.py
  haystack/core/component/sockets.py
  haystack/core/component/types.py
  haystack/core/pipeline/descriptions.py
  haystack/core/pipeline/pipeline.py
  haystack/testing/sample_components/repeat.py
  test/components/builders/test_dynamic_chat_prompt_builder.py
  test/components/builders/test_dynamic_prompt_builder.py
  test/components/routers/test_conditional_router.py
  test/core/component/test_component.py
  test/core/component/test_sockets.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_validation_pipeline_io.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x, topic:core

#6917 chore: Rework `Pipeline.connect()` tests and restructure files
  test/core/pipeline/test_connect.py
  test/core/pipeline/test_connections.py
  test/core/pipeline/test_reconnect.py
  test/core/pipeline/test_type_utils.py
  test/core/test_utils.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6921 chore: merge hf utils modules into one
  haystack/components/embedders/hf_utils.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/hf_utils.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/utils/hf.py
  releasenotes/notes/merge-hf-utils-modules-5c16e04025123568.yaml
  test/components/generators/test_hf_utils.py
Labels: type:documentation, topic:tests, 2.x

#6924 test: Add flaky as dev dependency
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#6920 chore: Change HuggingFaceTGIChatGenerator default model to HuggingFaceH4/zephyr-7b-beta
  haystack/components/generators/chat/hugging_face_tgi.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6919 refactor: Rename `Pipeline.connect()` arguments
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/rename-connect-arguments-2d99d9d5cbe9ab4c.yaml
Labels: breaking change, type:documentation, 2.x, topic:core

#6925 fix: make Weaviate DS handle fields consisting in empty lists
  haystack/document_stores/weaviate.py
  releasenotes/notes/weaviate-handle-empty-list-8d3432080f8bfefd.yaml
  test/document_stores/test_weaviate.py
Labels: topic:document_store, topic:tests, topic:weaviate

#6930 feat: Add raise_on_failure to BaseConverter
  haystack/nodes/file_converter/base.py
  releasenotes/notes/add-raise-on-failure-to-base-converter-8c5e9b3dd51c0e0c.yaml
  test/nodes/test_file_converter.py
Labels: topic:file_converter, type:documentation, topic:tests, 2.x

#6934 fix: Change `PromptBuilder` to have default values for all inputs
  haystack/components/builders/prompt_builder.py
  releasenotes/notes/prompt-builder-default-value-95383dd6d17a05d5.yaml
Labels: 2.x

#6935 chore: bump version to 2.0.0-beta.7
  VERSION.txt
Labels: 2.x

#6932 Pinecone: change dummy vector
  haystack/document_stores/pinecone.py
  releasenotes/notes/pinecone-change-dummy-vector-b9fa90f2de6fb846.yaml
Labels: topic:document_store, topic:pinecone

#6836 Feat: Add FilterRetriever
  docs/pydoc/config/retrievers_api.yml
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/filter_retriever.py
  releasenotes/notes/add-filter-retriever-8901af26144d1a17.yaml
  test/components/retrievers/test_filter_retriever.py
Labels: type:documentation, topic:tests, 2.x

#6927 feat: Add `__repr__` method to all Components
  haystack/core/component/component.py
  haystack/core/component/sockets.py
  releasenotes/notes/component-repr-a6486af81530bc3b.yaml
  test/core/component/test_component.py
  test/core/component/test_sockets.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#6942 fix: Update Route docs validation to allow more types
  haystack/nodes/other/route_documents.py
  releasenotes/notes/route-documents-metadata-values-types-7b6bdbc916d2624b.yaml
  test/nodes/test_route_documents.py
Labels: topic:pipeline, topic:tests

#6958 docs: Add missing docstrings to `NamedEntityExtractor`
  haystack/components/extractors/named_entity_extractor.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6941 chore: Use the default Secret api key resolution in e2e rag pipeline test
  e2e/pipelines/test_rag_pipelines_e2e.py
Labels: ignore-for-release-notes, 2.x

#6961 feat: Enhance `Pipeline.draw()` to show image directly in Jupyter notebook
  haystack/core/pipeline/draw.py
  haystack/core/pipeline/draw/__init__.py
  haystack/core/pipeline/draw/draw.py
  haystack/core/pipeline/draw/graphviz.py
  haystack/core/pipeline/pipeline.py
  haystack/utils/__init__.py
  haystack/utils/jupyter.py
  releasenotes/notes/enhance-pipeline-draw-5fe3131db71f6f54.yaml
  test/core/conftest.py
  test/core/pipeline/test_default_value.py
  test/core/pipeline/test_double_loop_pipeline.py
  test/core/pipeline/test_draw.py
  test/core/pipeline/test_draw_graphviz.py
  test/core/pipeline/test_pipeline.py
  test/core/test_files/mermaid_mock/test_response.png
  test/core/test_files/test_mermaid_graph.png
Labels: type:documentation, topic:tests, 2.x, topic:core

#6962 feat: Add service_credentials to OpenAPIServiceConnector run
  .github/workflows/tests.yml
  haystack/components/connectors/openapi_service.py
  releasenotes/notes/openapi-connector-auth-enhancement-a78e0666d3cf6353.yaml
  test/components/connectors/test_openapi_service.py
  test/test_files/json/github_compare_branch_openapi_spec.json
Labels: type:documentation, topic:tests, topic:CI, 2.x

#6965 fix: Fix `Pipeline.draw()` failing cause of missing socket
  haystack/core/pipeline/draw.py
  test/core/pipeline/test_draw.py
  test/core/test_files/pipeline_draw/pygraphviz.jpg
  test/core/test_files/test_mermaid_graph.png
Labels: topic:tests, ignore-for-release-notes, 2.x, topic:core

#6967 chore: fixing a typo
  haystack/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6966 ci: Use better cache key for dependencies in tests.yml
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#6973 refactor: Merge `Pipeline`s definition in `core` package
  docs/pydoc/config/pipeline_api.yml
  haystack/__init__.py
  haystack/core/pipeline/pipeline.py
  haystack/pipeline.py
  haystack/telemetry/_telemetry.py
  releasenotes/notes/merge-pipeline-definitions-1da80e9803e2a8bb.yaml
  test/core/pipeline/test_pipeline.py
  test/test_files/yaml/test_pipeline.yaml
  test/test_pipeline.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#6979 feat: Externalize callable serialization so it can be reused
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
  haystack/utils/callable_serialization.py
  test/components/generators/test_utils.py
  test/utils/test_callable_serialization.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6936 feat: Add OutputAdapter
  haystack/components/converters/__init__.py
  haystack/components/converters/output_adapter.py
  releasenotes/notes/add-output-adapter-5fab4cfcb0218925.yaml
  test/components/converters/test_output_adapter.py
Labels: type:documentation, topic:tests, 2.x

#6977 feat: Meta field ranker add `meta_value_type`
  haystack/components/rankers/meta_field.py
  releasenotes/notes/metafieldranker-meta-value-type-365ff1bdb412257b.yaml
  test/components/rankers/test_metafield.py
Labels: type:documentation, topic:tests, 2.x

#6985 feat: Add OutputAdapter sede for custom filters
  haystack/components/converters/output_adapter.py
  test/components/converters/test_output_adapter.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6988 fix: Reintroduce serialize_callback_handler and deserialize_callback_handler
  haystack/components/generators/utils.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#6825 feat: Make system_messages optional in OpenAPIServiceToFunctions run
  haystack/components/converters/openapi_functions.py
  test/components/converters/test_openapi_functions.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6980 feat: Add `SASEvaluator` component
  haystack/components/eval/__init__.py
  haystack/components/eval/preprocess.py
  haystack/components/eval/sas_evaluator.py
  haystack/evaluation/eval.py
  haystack/evaluation/metrics.py
  releasenotes/notes/sas-evaluator-7858ea6c38f80bc7.yaml
  test/components/eval/test_preprocess.py
  test/components/eval/test_sas_evaluator.py
  test/evaluation/test_eval_sas.py
Labels: type:documentation, topic:tests, 2.x

#6982 feat: Add `StatisticalEvaluator` component
  haystack/components/eval/__init__.py
  haystack/components/eval/statistical_evaluator.py
  haystack/evaluation/eval.py
  releasenotes/notes/statistical-evaluator-d65b80e3ac24778a.yaml
  test/components/eval/test_statistical_evaluator.py
  test/evaluation/test_eval.py
  test/evaluation/test_eval_exact_match.py
  test/evaluation/test_eval_f1.py
Labels: type:documentation, topic:tests, 2.x

#6984 docs: Add eval Components docs config
  docs/pydoc/config/eval_api.yml
Labels: type:documentation, ignore-for-release-notes

#6983 chore: Delete old eval API
  haystack/evaluation/__init__.py
  haystack/evaluation/eval.py
  haystack/evaluation/eval_utils.py
  haystack/evaluation/metrics.py
  releasenotes/notes/delete-old-eval-api-d83b3b0c83f847f3.yaml
  test/evaluation/__init__.py
  test/evaluation/test_eval.py
  test/evaluation/test_eval_utils.py
Labels: type:documentation, topic:tests, 2.x

#6981 feat: Add split_by="page" to the preprocessor
  haystack/nodes/preprocessor/preprocessor.py
  releasenotes/notes/preprocessor-split-by-page-2de0b59175f4203e.yaml
  test/nodes/test_preprocessor.py
Labels: type:documentation, topic:preprocessing, topic:tests, 1.x

#6937 feat: Add JsonSchemaValidator
  docs/pydoc/config/validators_api.yml
  haystack/components/validators/__init__.py
  haystack/components/validators/json_schema.py
  releasenotes/notes/introduce-jsonschema-validator-65debc51a3b64975.yaml
  test/components/validators/test_json_schema.py
  test/test_requirements.txt
Labels: type:documentation, topic:tests, 2.x

#7002 test: Change Mermaid integration test to avoid comparing received image
  test/core/conftest.py
  test/core/pipeline/test_draw.py
  test/core/test_files/test_mermaid_graph.png
Labels: topic:tests, ignore-for-release-notes, 2.x

#6998 refactor: Refactor `SASEvaluator`
  haystack/components/eval/sas_evaluator.py
  test/components/eval/test_sas_evaluator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#6997 feat: Add `TextCleaner` component
  haystack/components/preprocessors/__init__.py
  haystack/components/preprocessors/text_cleaner.py
  releasenotes/notes/text-cleaner-eee0eecbdec21427.yaml
  test/components/preprocessors/test_text_cleaner.py
Labels: type:documentation, topic:tests, 2.x

#6999 refactor: Refactor `StatisticalEvaluator`
  haystack/components/eval/__init__.py
  haystack/components/eval/statistical_evaluator.py
  test/components/eval/test_statistical_evaluator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7005 refactor: Clean eval components
  haystack/components/eval/preprocess.py
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/evaluators/statistical_evaluator.py
  test/components/eval/test_preprocess.py
  test/components/evaluators/test_sas_evaluator.py
  test/components/evaluators/test_statistical_evaluator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7004 fix: Adding `api_base_url` to `OpenAITextEmbeder` self assignments
  haystack/components/embedders/openai_text_embedder.py
  releasenotes/notes/fix-openai-base-url-assignment-0570a494d88fe365.yaml
  test/components/embedders/test_openai_text_embedder.py
Labels: type:bug, type:documentation, topic:tests, 2.x

#7006 fix: fix docs config for evaluators
  docs/pydoc/config/eval_api.yml
Labels: 2.x

#7007 test: Mark OpenAPIServiceConnector integration test as flaky
  test/components/connectors/test_openapi_service.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7008 refactor!: LocalWhisperTranscriber - new devices mgmt
  haystack/components/audio/whisper_local.py
  releasenotes/notes/whisper-loc-new-devices-0665a24cd92ee4b6.yaml
  test/components/audio/test_whisper_local.py
Labels: type:documentation, topic:tests, 2.x

#6994 fix: Ensure `Secret` types are immutable
  haystack/utils/auth.py
  test/utils/test_auth.py
Labels: type:bug, type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7014 fix: specify CPU device in warm_up test
  test/components/audio/test_whisper_local.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6987 fix: deepcopy the inputs of components
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/pipeline-same-input-ref-different-components-68d74cb17b35f8db.yaml
  test/core/pipeline/test_same_input_different_components.py
Labels: topic:tests, 2.x, topic:core

#7009 feat: Add ByteStream to_string method
  haystack/dataclasses/byte_stream.py
  test/dataclasses/test_byte_stream.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7029 ci: update "Sync docs with Readme"
  .github/workflows/readme_sync.yml
Labels: topic:CI, 2.x

#7010 feat: Reintroduce `max_loops_allowed` check in `Pipeline.run()`
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/max-loops-in-run-df9f5c068a723f71.yaml
  test/core/pipeline/test_pipeline.py
Labels: topic:tests, 2.x, topic:core

#7016 feat: Add `is_greedy` argument in `@component` decorator
  haystack/components/others/multiplexer.py
  haystack/core/component/component.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/component-greedy-d6630af901e96a4c.yaml
  test/core/component/test_component.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7035 Add the Contributions wanted project
  README.md
Labels: 2.x

#7001 feat: Add PipelineTemplate for ready made pipelines
  haystack/templates/__init__.py
  haystack/templates/indexing.yaml.jinja2
  haystack/templates/pipelines.py
  haystack/templates/qa.yaml.jinja2
  haystack/templates/rag.yaml.jinja2
  haystack/templates/source.py
  releasenotes/notes/add-pipeline-templates-831f857c6387f8c3.yaml
  test/templates/test_templates.py
Labels: type:documentation, topic:tests, 2.x

#7033 refactor!: Sentence Transformers Embedders - new devices mgmt
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/sentence-transformers-embedders-new-devices-mgmt-07cb59c6b4a13280.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#7036 fix: Pipeline templates with new devices mgmt
  .github/workflows/tests.yml
  haystack/templates/indexing.yaml.jinja2
  haystack/templates/rag.yaml.jinja2
Labels: ignore-for-release-notes, topic:CI, 2.x

#7038 feat: Add Recall Multi Hit and Single Hit metric in `StatisticalEvaluator`
  haystack/components/evaluators/statistical_evaluator.py
  test/components/evaluators/test_statistical_evaluator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7040 chore: add `accelerate` to lazy imports
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
Labels: ignore-for-release-notes, 2.x

#7043 test: Simplify OpenAPIServiceConnector run test
  haystack/components/connectors/openapi_service.py
  test/components/connectors/test_openapi_service.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#6995 feat: Add Lost In The Middle Ranker
  haystack/components/rankers/__init__.py
  haystack/components/rankers/lost_in_the_middle.py
  releasenotes/notes/add-lost-in-the-middle-ranker-976f2e9bf83c3c68.yaml
  test/components/rankers/test_lost_in_the_middle.py
Labels: type:documentation, topic:tests, 2.x

#7048 chore: collect templates in a dedicated folder
  .github/workflows/tests.yml
  haystack/templates/predefined/indexing.yaml.jinja2
  haystack/templates/predefined/qa.yaml.jinja2
  haystack/templates/predefined/rag.yaml.jinja2
  haystack/templates/source.py
Labels: ignore-for-release-notes, topic:CI, 2.x

#7051 refact: remove the concept of `TemplateSource` from the public API
  haystack/templates/__init__.py
  haystack/templates/pipelines.py
  haystack/templates/source.py
  releasenotes/notes/add-pipeline-templates-831f857c6387f8c3.yaml
  test/templates/test_templates.py
Labels: type:documentation, topic:tests, 2.x

#7053 chore: Remove all `evaluator` components
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/evaluators/statistical_evaluator.py
  test/components/evaluators/test_sas_evaluator.py
  test/components/evaluators/test_statistical_evaluator.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7057 chore: update version for release v2.0.0-beta.8
  VERSION.txt
Labels: 2.x

#7059 chore: fix formatting of `add-pipeline-templates-831f857c6387f8c3.yaml`
  releasenotes/notes/add-pipeline-templates-831f857c6387f8c3.yaml
Labels: 2.x

#7060 fix: remove eval docs configuration
  docs/pydoc/config/eval_api.yml
Labels: 2.x

#7061 ci: only only skip tests if no code changes at all
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
Labels: topic:CI, 2.x, topic:core

#7046 feat: implement pipeline tracing
  haystack/core/pipeline/pipeline.py
  haystack/tracing/__init__.py
  haystack/tracing/tracer.py
  haystack/tracing/utils.py
  releasenotes/notes/code-instrumentation-9ef657728bec3508.yaml
  test/conftest.py
  test/core/pipeline/test_tracing.py
  test/tracing/__init__.py
  test/tracing/test_tracer.py
  test/tracing/test_utils.py
  test/tracing/utils.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7055 chore: Adjust json_schema.py slightly
  haystack/components/validators/json_schema.py
  test/components/validators/test_json_schema.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7067 chore: forward-reference opentelemetry
  haystack/tracing/opentelemetry.py
Labels: ignore-for-release-notes, 2.x

#7069 Export (de)serialize_callable and (de)serialize_type in haystack.utils
  haystack/components/converters/output_adapter.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
  haystack/components/others/multiplexer.py
  haystack/components/routers/conditional_router.py
  haystack/utils/__init__.py
  test/utils/test_callable_serialization.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7058 feat: datadog tracer
  haystack/tracing/datadog.py
  haystack/tracing/tracer.py
  releasenotes/notes/datadog-tracer-b084cf64fcc575c6.yaml
  test/test_requirements.txt
  test/tracing/test_datadog.py
  test/tracing/test_tracer.py
Labels: topic:tests, 2.x, topic:core

#7050 Add `AnswerExactMatchEvaluator`
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/answer_exact_match.py
  releasenotes/notes/exact-match-evaluator-197bb87b65e19d0c.yaml
  test/components/evaluators/test_answer_exact_match.py
Labels: type:documentation, topic:tests, 2.x

#7066 feat: allow content tracing
  haystack/core/pipeline/pipeline.py
  haystack/tracing/tracer.py
  haystack/tracing/utils.py
  releasenotes/notes/content-tracing-25df3909e11924b1.yaml
  test/core/pipeline/test_tracing.py
  test/tracing/test_tracer.py
  test/tracing/test_utils.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7080 build: fix CVE-2022-40897
  docker/Dockerfile.base
Labels: topic:docker, 2.x

#7086 fix: restore transparent background for Pipeline images
  haystack/core/pipeline/draw.py
  releasenotes/notes/pipe-draw-transparent-bg-2e0c8ff586f8e70c.yaml
Labels: 2.x, topic:core

#7093 chore: Remove eval end to end tests
  e2e/pipelines/test_eval_dense_doc_search.py
  e2e/pipelines/test_eval_extractive_qa_pipeline.py
  e2e/pipelines/test_eval_hybrid_doc_search_pipeline.py
  e2e/pipelines/test_eval_rag_pipelines.py
Labels: ignore-for-release-notes, 2.x

#7125 chore: Remove deprecated GPTGenerator and GPTChatGenerator
  haystack/components/generators/__init__.py
  haystack/components/generators/chat/__init__.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  releasenotes/notes/remove-gptgenerator-8eced280d3b720d3.yaml
Labels: 2.x

#7208 ci: Fix `snippets_tests.yml`
  .github/workflows/snippets_tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7205 `TopPSampler` docstrings
  haystack/components/samplers/top_p.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7126 feat: implement support for structured logging
  haystack/__init__.py
  haystack/logging.py
  pyproject.toml
  releasenotes/notes/structured-logging-2d6cef3fee2b4f0e.yaml
  test/test_logging.py
  test/tracing/test_datadog.py
Labels: type:documentation, topic:tests, topic:build/distribution, 2.x

#7206 feat: log trace correlation
  haystack/logging.py
  haystack/tracing/datadog.py
  haystack/tracing/opentelemetry.py
  haystack/tracing/tracer.py
  releasenotes/notes/log-trace-correlation-78bcf418718b24b4.yaml
  test/core/pipeline/test_tracing.py
  test/test_logging.py
  test/tracing/test_datadog.py
  test/tracing/test_opentelemetry.py
  test/tracing/utils.py
Labels: type:documentation, topic:tests, 2.x

#7219 docs: review `Preprocessors` docstrings
  docs/pydoc/config/preprocessors_api.yml
  haystack/components/preprocessors/document_cleaner.py
  haystack/components/preprocessors/document_splitter.py
  haystack/components/preprocessors/text_cleaner.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7224 docs: fix wrong docs config
  docs/pydoc/config/preprocessors_api.yml
Labels: ignore-for-release-notes, 2.x

#7210 docs: review `DocumentLanguageClassifier` docstrings
  docs/pydoc/config/classifiers_api.yml
  haystack/components/classifiers/document_language_classifier.py
  test/components/classifiers/test_document_language_classifier.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7213 refactor: Refactor pipeline templates
  haystack/templates/__init__.py
  haystack/templates/pipeline.py
  haystack/templates/pipelines.py
  haystack/templates/predefined/base.yaml.jinja2
  haystack/templates/predefined/generative_qa.yaml.jinja2
  haystack/templates/predefined/indexing.yaml.jinja2
  haystack/templates/predefined/qa.yaml.jinja2
  haystack/templates/predefined/rag.yaml.jinja2
  haystack/templates/source.py
  releasenotes/notes/add-pipeline-templates-831f857c6387f8c3.yaml
  test/templates/test_templates.py
Labels: type:documentation, topic:tests, 2.x

#7225 fixing docstrings
  haystack/document_stores/in_memory/document_store.py
  haystack/document_stores/types/protocol.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7065 feat: Add complex types in OpenAPI support
  haystack/components/connectors/openapi_service.py
  haystack/components/converters/openapi_functions.py
  releasenotes/notes/complex-types-openapi-support-84d3daf8927ad915.yaml
  test/components/connectors/test_openapi_service.py
  test/components/converters/test_openapi_functions.py
  test/test_files/json/complex_types_openai_spec.json
  test/test_files/json/complex_types_openapi_service.json
Labels: type:documentation, topic:tests, 2.x

#7226 feat: check tty / jupyter availability for logging config detection
  haystack/logging.py
  releasenotes/notes/logging-tty-detection-8136769cb4d1da67.yaml
  test/test_logging.py
Labels: topic:tests, 2.x

#7218 Fix/docstrings generators
  haystack/components/generators/azure.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7211 docs: replace `text` with `content` in usage examples
  haystack/components/rankers/meta_field.py
  haystack/components/samplers/top_p.py
  haystack/testing/factory.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7209 ci: Add script to delete documentation that don't exist anymore
  .github/utils/delete_outdated_docs.py
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7234 docs: review `Routers` docstrings
  docs/pydoc/config/routers_api.yml
  haystack/components/routers/conditional_router.py
  haystack/components/routers/file_type_router.py
  haystack/components/routers/metadata_router.py
  haystack/components/routers/text_language_router.py
  test/components/routers/test_text_language_router.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7227 refact: Remove the override feature in `PipelineTemplate`
  haystack/templates/pipeline.py
  haystack/templates/predefined/generative_qa.yaml.jinja2
  haystack/templates/predefined/indexing.yaml.jinja2
  haystack/templates/predefined/rag.yaml.jinja2
  releasenotes/notes/add-pipeline-templates-831f857c6387f8c3.yaml
  test/templates/test_templates.py
Labels: type:documentation, topic:tests, 2.x

#7241 ci: Fix delete outdated docs job in `readme_sync.yml`
  .github/workflows/readme_sync.yml
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#7242 ci: Fix delete_outdated_docs.py to get the correct api key
  .github/utils/delete_outdated_docs.py
Labels: ignore-for-release-notes, topic:CI, 2.x

#7245 build: pin typing-extensions
  pyproject.toml
  releasenotes/notes/pin-typing-extensions-c4026f59603445b7.yaml
Labels: topic:build/distribution, 2.x

#7221 Fix/docstrings dataclasses
  haystack/dataclasses/byte_stream.py
  haystack/dataclasses/chat_message.py
  haystack/dataclasses/document.py
  haystack/dataclasses/streaming_chunk.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7239 docs: docstrings - `generators.chat`
  docs/pydoc/config/generators_api.yml
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7249 docs: API Docs - haystack.dataclasses
  haystack/dataclasses/document.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7247 docs: Update docstrings for `haystack.components.caching`
  haystack/components/caching/cache_checker.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7238 docs: review docstrings in `haystack.components.validators`
  haystack/components/validators/json_schema.py
  test/components/validators/test_json_schema.py
Labels: type:documentation, topic:tests, 2.x

#7248 fix docstrings for the builder package
  haystack/components/builders/answer_builder.py
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  test/components/builders/test_prompt_builder.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7254 fix: missing init imports for retrievers
  haystack/components/retrievers/__init__.py
Labels: ignore-for-release-notes, 2.x

#7256 ci: fix rest-api tests
  .github/workflows/rest_api_tests.yml
Labels: topic:CI

#7260 docs: Update docstrings for `haystack.components.writers`
  haystack/components/writers/document_writer.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7262 ci: fix rest-api tests (#7256)
  .github/workflows/rest_api_tests.yml
Labels: topic:CI

#7261 chore: restore to_dict method
  haystack/components/builders/prompt_builder.py
  test/components/builders/test_prompt_builder.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7264 chore: run ruff with fix during precommit hook
  .pre-commit-config.yaml
Labels: topic:DX, 2.x

#7259 feat: Add new predefined template: chat with website
  haystack/core/pipeline/predefined/chat_with_website.yaml.jinja2
  haystack/core/pipeline/predefined/generative_qa.yaml.jinja2
  haystack/core/pipeline/predefined/rag.yaml.jinja2
  haystack/core/pipeline/template.py
  releasenotes/notes/chat-with-website-template-23bec121f1a78726.yaml
Labels: 2.x, topic:core

#7265 tests: make `test_tracing` 3.12 compatible
  test/core/pipeline/test_tracing.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7250 docs: Update `converters` docstrings
  haystack/components/converters/azure.py
  haystack/components/converters/html.py
  haystack/components/converters/markdown.py
  haystack/components/converters/openapi_functions.py
  haystack/components/converters/output_adapter.py
  haystack/components/converters/pypdf.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7268 docs: Update `embedders` docstrings
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
Labels: type:documentation, ignore-for-release-notes, 2.x
