Repository deepset-ai/haystack, pull requests merged in 2024-10, with the labels that each got.

#8419 feat: Add DocumentNDCGEvaluator component
  docs/pydoc/config/evaluators_api.yml
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/document_ndcg.py
  releasenotes/notes/document-ndcg-evaluator-d579f51dd76ae76a.yaml
  test/components/evaluators/test_document_ndcg.py
Labels: type:documentation, topic:tests

#8430 fix: `PyPDFToDocument` correctly serializes custom converters, deprecate `DefaultConverter`
  haystack/components/converters/pypdf.py
  haystack/utils/base_serialization.py
  releasenotes/notes/pypdf-serde-fixes-f33c29830508ee01.yaml
  test/components/converters/test_pypdf_to_document.py
  test/utils/test_base_serialization.py
Labels: type:documentation, topic:tests

#8434 chore: Fixing linting of `tracing/datadog.py`
  haystack/tracing/datadog.py
Labels: ignore-for-release-notes

#8435 docs: `MarkdownToDocument` example - adding missing import
  haystack/components/converters/markdown.py
Labels: type:documentation, ignore-for-release-notes

#8443 fix: (Temporarily) Re-add suport for pre-2.6.0 YAMLs with `PyPDFConverter`
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-serde-fixes-revert-22fcdad91951d3c2.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: topic:tests

#8454 fix: whisper tests using audio file from our github repo
  test/components/audio/test_whisper_local.py
  test/components/audio/test_whisper_remote.py
  test/test_files/audio/MLK_Something_happening.mp3
Labels: topic:tests, ignore-for-release-notes

#8433 feat: SentenceTransformersDocumentEmbedder supports `config_kwargs`
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  releasenotes/notes/sentence-transformer-doc-embedder-config_kwargs-d7d254c6b94887c4.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
Labels: type:documentation, topic:tests

#8432 feat: SentenceTransformersTextEmbedder supports `config_kwargs`
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/sentence-transformers-text-embedder-config_kwargs-11f10429e25a3a6e.yaml
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8456 fix: logs containing JSON getting lost
  haystack/logging.py
  releasenotes/notes/fix-logs-containing-json-1393a00b4904f996.yaml
  test/test_logging.py
Labels: topic:tests

#8313 ci: upgrade Hatch to 1.13.0 and adopt uv as installer
  .github/workflows/docstrings_linting.yml
  .github/workflows/e2e.yml
  .github/workflows/pypi_release.yml
  .github/workflows/readme_sync.yml
  .github/workflows/tests.yml
  pyproject.toml
  releasenotes/notes/upgrade-hatch-uv-5e5cccdf7450d01f.yaml
Labels: topic:build/distribution, topic:CI

#8461 nit: Fix variable naming in deserialize_callable
  haystack/utils/callable_serialization.py
Labels: ignore-for-release-notes

#8462 chore: update readme_sync.yml
  .github/workflows/readme_sync.yml
Labels: topic:CI

#8464 test: ensure compatibility with `huggingface_hub==0.26.0`
  releasenotes/notes/compatibility-hh-hub-0.26.0-a5b61f7bf99a97b7.yaml
  test/components/generators/test_hugging_face_api.py
Labels: topic:tests

#8466 docs: fix hatch command in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: topic:DX

#8475 ci: add `pip` to `test` dependencies
  pyproject.toml
  releasenotes/notes/pip-test-dep-b797879f1d73b3eb.yaml
Labels: topic:build/distribution

#8423 feat: allow `Generators` to run with a system prompt defined at run time
  haystack/components/generators/openai.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests

#8478 test: Pin `ddtrace` test dependency to fix tests
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8463 fix: window_size set during run instead of construction
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/add-window-size-parameter-runtime-e841c4471f9d6b9c.yaml
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:documentation, topic:tests

#8473 fix: Enforce basic Python types restriction on serialized component data and improve related errors
  haystack/core/pipeline/base.py
  haystack/core/serialization.py
  haystack/marshal/yaml.py
  releasenotes/notes/enforce-python-types-serde-0c5cd0a716bab7d0.yaml
  test/core/test_serialization.py
  test/marshal/test_yaml.py
Labels: type:documentation, topic:tests, topic:core

#8486 feat: allow passing `meta` in the `run` method of `FileTypeRouter`
  haystack/components/routers/file_type_router.py
  releasenotes/notes/meta-in-filetyperouter-d3cf007f940ce324.yaml
  test/components/routers/test_file_router.py
Labels: type:documentation, topic:tests

#8492 build: unpin `numpy` + use Python 3.9 in CI
  .github/workflows/e2e.yml
  .github/workflows/minor_version_release.yml
  .github/workflows/promote_unstable_docs.yml
  .github/workflows/tests.yml
  pyproject.toml
  releasenotes/notes/unpin-numpy-84575284e844628b.yaml
Labels: topic:build/distribution, topic:CI

#8477 fix: improve validation check in `raise_on_invalid_filter_syntax` in `haystack.utils`
  haystack/utils/filters.py
Labels: ignore-for-release-notes

#8406 feat: streaming_callback as run param from HF generators
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/hugging_face_local.py
  releasenotes/notes/add-streaming-callback-run-param-to-hf-generators-5ebde8fad75cb49f.yaml
  test/components/generators/test_hugging_face_api.py
Labels: type:documentation, topic:tests

#8431 feat: Rework `Pipeline.run()` to better handle cycles
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  haystack/testing/sample_components/__init__.py
  haystack/testing/sample_components/self_loop.py
  releasenotes/notes/pipeline-run-rework-23a972d83b792db2.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_validation_pipeline_io.py
Labels: type:documentation, topic:tests, topic:core

#8457 feat: DOCXToDocument: add table extraction
  haystack/components/converters/docx.py
  releasenotes/notes/enhance-docx-table-extraction-3232d3059d220550.yaml
  test/components/converters/test_docx_file_to_document.py
  test/test_files/docx/sample_docx_3.docx
Labels: type:documentation, topic:tests

#8496 test: reenable collection of `test_json_schema.py`
  test/conftest.py
Labels: topic:tests, ignore-for-release-notes

#8489 feat!: tracing with concurrency
  haystack/core/pipeline/pipeline.py
  haystack/tracing/datadog.py
  haystack/tracing/logging_tracer.py
  haystack/tracing/opentelemetry.py
  haystack/tracing/tracer.py
  releasenotes/notes/tracing-with-concurrency-5daadfde0a36f94a.yaml
  test/core/pipeline/test_tracing.py
  test/tracing/test_tracer.py
  test/tracing/utils.py
Labels: type:documentation, topic:tests, topic:core

#8500 feat: Add route output type validation in `ConditionalRouter`
  haystack/components/routers/conditional_router.py
  releasenotes/notes/conditional-routes-validation-b46fc506d35894d4.yaml
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests

#8506 ci: Fix `readme_sync.yml`
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI

#8357 feat: Adding StringJoiner
  README.md
  docs/pydoc/config/joiners_api.yml
  haystack/components/joiners/__init__.py
  haystack/components/joiners/string_joiner.py
  releasenotes/notes/add-string-joiner-a7754e6bff9332ea.yaml
  test/components/joiners/test_string_joiner.py
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
Labels: type:documentation, topic:tests

#8444 feat: Add TTFT support in OpenAI chat generator
  haystack/components/generators/chat/openai.py
  releasenotes/notes/openai-ttft-42b1ad551b542930.yaml
  test/components/generators/chat/test_openai.py
Labels: type:documentation, topic:tests
