Repository deepset-ai/haystack, pull requests merged in 2024-04, with the labels that each got.

#7449 feat: added dimensions parameters to Azure OpenAI Embedders
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  releasenotes/notes/add-dimensions-parameter-azureopeaniembedders-ef48fcc7c064b45c.yaml
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#7453 feat: Update searchapi format, default to Google, allow search engine selection
  haystack/components/websearch/searchapi.py
  releasenotes/notes/update-searchapi-new-format-74d8794a8a6f5581.yaml
  test/components/websearch/test_searchapi.py
Labels: type:documentation, topic:tests, 2.x

#7458 chore: Remove example
  examples/retrievers/in_memory_bm25_documentsearch.py
Labels: ignore-for-release-notes, 2.x

#7460 feat: Add `truncate` and `normalize` parameters to TEI Embedders
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  releasenotes/notes/add-truncate-normalize-tei-6c998b14154267bb.yaml
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_hugging_face_tei_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#7461 feat: Add `DocumentMeanAveragePrecision`
  haystack/components/evaluators/document_map.py
  releasenotes/notes/document-map-evaluator-de896c94b54fe3fa.yaml
  test/components/evaluators/test_document_map.py
Labels: type:documentation, topic:tests, 2.x

#7468 feat: Add `DocumentMeanReciprocalRank`
  haystack/components/evaluators/document_mrr.py
  releasenotes/notes/document-mrr-evaluator-fa7c266cc91201a7.yaml
  test/components/evaluators/test_document_mrr.py
Labels: type:documentation, topic:tests, 2.x

#7465 fixing some docstrings
  haystack/utils/device.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7470 refactor: Rename `DocumentMeanAveragePrecision` and `DocumentMeanReciprocalRank`
  haystack/components/evaluators/document_map.py
  haystack/components/evaluators/document_mrr.py
  releasenotes/notes/document-map-evaluator-de896c94b54fe3fa.yaml
  releasenotes/notes/document-mrr-evaluator-fa7c266cc91201a7.yaml
  test/components/evaluators/test_document_map.py
  test/components/evaluators/test_document_mrr.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7479 refactor: Remove name 'llm' from LLMEvaluator output
  haystack/components/evaluators/llm_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: topic:eval, topic:tests, ignore-for-release-notes, 2.x

#7469 chore: Export evaluators in `__init__.py`
  haystack/components/evaluators/__init__.py
Labels: ignore-for-release-notes, 2.x

#7424 feat: Add FaithfulnessEvaluator component
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/faithfulness.py
  releasenotes/notes/faithfulness-evaluator-2e039a697c847d1c.yaml
  test/components/evaluators/test_faithfulness_evaluator.py
Labels: topic:eval, type:documentation, topic:tests, 2.x

#7452 feat: Use all HTMLToDocument extractors until content is extracted
  haystack/components/converters/html.py
  releasenotes/notes/enhanced-htmltodocument-content-extraction-229d63e7c7119807.yaml
  test/components/converters/test_html_to_document.py
  test/test_files/html/paul_graham_superlinear.html
Labels: type:documentation, topic:tests, 2.x

#7369 Update Docker README.md
  docker/README.md
Labels: topic:docker, 2.x

#7490 CI: Add `HF_API_TOKEN` env var in `tests.yml`
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7491 CI: Fix unit tests failing if `HF_API_TOKEN` is set
  test/components/generators/chat/test_hugging_face_local.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
  test/components/routers/test_zero_shot_text_router.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7464 feat: `HuggingFaceAPIGenerator`
  docs/pydoc/config/generators_api.yml
  haystack/components/generators/__init__.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/utils/hf.py
  haystack/utils/url_validation.py
  releasenotes/notes/hfapigenerator-3b1c353a4e8e4c55.yaml
  test/components/generators/test_hugging_face_api.py
  test/utils/test_url_validation.py
Labels: type:documentation, topic:tests, 2.x

#7486 fix: typo in sas_evaluator arg
  haystack/components/evaluators/sas_evaluator.py
  test/components/evaluators/test_sas_evaluator.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7497 chore: fix docstrints format for tracing package
  haystack/tracing/datadog.py
  haystack/tracing/opentelemetry.py
  haystack/tracing/tracer.py
  haystack/tracing/utils.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7498 just some more quick fixes
  haystack/utils/callable_serialization.py
  haystack/utils/hf.py
  haystack/utils/url_validation.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7485 feat: `HuggingFaceAPIDocumentEmbedder`
  docs/pydoc/config/embedders_api.yml
  haystack/components/embedders/__init__.py
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  releasenotes/notes/hfapidocembedder-4c3970d002275edb.yaml
  test/components/embedders/test_hugging_face_api_document_embedder.py
Labels: type:documentation, topic:tests, 2.x

#7503 docs: Fix inaccuracy in `PromptBuilder` docstring
  haystack/components/builders/prompt_builder.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7462 proposal: rag evaluation results presentation
  proposals/text/7462-rag-evaluation.md
Labels: ignore-for-release-notes, proposal, 2.x

#7499 chore: fix docstring for the sample_components package
  haystack/testing/sample_components/accumulate.py
  haystack/testing/sample_components/greet.py
  haystack/testing/sample_components/hello.py
  haystack/testing/sample_components/joiner.py
  haystack/testing/sample_components/self_loop.py
  haystack/testing/sample_components/subtract.py
  haystack/testing/sample_components/text_splitter.py
  haystack/testing/sample_components/threshold.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7501 chore: set linting parameters to the minimum
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#7409 feat: Azure converter updates
  haystack/components/converters/azure.py
  releasenotes/notes/azure-ocr-converter-enhancements-c882456cad9a5efc.yaml
  test/components/converters/test_azure_ocr_doc_converter.py
  test/test_files/json/azure_sample_pdf_1.json
  test/test_files/json/azure_sample_pdf_1_no_table_bounding_region.json
  test/test_files/json/azure_sample_pdf_2.json
  test/test_files/json/azure_sample_pdf_3.json
  test/test_files/pdf/sample_pdf_3.pdf
Labels: type:documentation, topic:tests, 2.x

#7515 ci: fix release notes generation on `github_release` workflow
  .github/workflows/github_release.yml
Labels: topic:CI, 2.x

#7513 Fixing docstrings
  haystack/dataclasses/chat_message.py
  haystack/dataclasses/document.py
  haystack/document_stores/in_memory/document_store.py
  haystack/lazy_imports.py
  haystack/testing/document_store.py
  haystack/utils/auth.py
  haystack/utils/hf.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7517 test/CI: skip HF integrations tests if running from fork
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_hugging_face_tei_text_embedder.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7523 fix: `AzureOCRDocumentConverter` - forward declaration of `AnalyzeResult` types
  haystack/components/converters/azure.py
  releasenotes/notes/AnalyzeResult-forward-declaration-5ed1bd9b6dc62c6f.yaml
Labels: 2.x

#7524 some more docstring fixes
  haystack/dataclasses/sparse_embedding.py
  haystack/marshal/yaml.py
  haystack/telemetry/_telemetry.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7505 docs: Fix eval metric examples in docstrings
  haystack/components/evaluators/document_map.py
  haystack/components/evaluators/document_mrr.py
  haystack/components/evaluators/document_recall.py
  haystack/components/evaluators/faithfulness.py
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/evaluators/sas_evaluator.py
  test/components/evaluators/test_document_recall.py
Labels: topic:eval, type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7520 feat: implementing evalualtion results API
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/evaluation_result.py
  releasenotes/notes/implemeting-eval-results-API-25b2f8707495bea0.yaml
  test/components/evaluators/__init__.py
  test/components/evaluators/test_results_evaluator.py
Labels: type:documentation, topic:tests, 2.x

#7504 feat: Add support for returning intermediate outputs of pipeline components
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/pipeline-intermediate-outputs-7cb8e71f79532ec1.yaml
  test/core/pipeline/test_intermediate_outputs.py
Labels: topic:pipeline, type:documentation, topic:tests, 2.x, topic:core

#7518 feat: Add support for pipeline deserialization callbacks
  haystack/core/component/component.py
  haystack/core/pipeline/pipeline.py
  haystack/core/serialization.py
  releasenotes/notes/pipeline-deserialization-callbacks-0642248725918684.yaml
  test/core/component/test_component.py
  test/core/pipeline/test_pipeline.py
Labels: topic:pipeline, type:documentation, topic:tests, 2.x, topic:core

#7527 some more docstring fixes
  haystack/core/pipeline/draw.py
  haystack/core/serialization.py
  haystack/core/type_utils.py
  haystack/dataclasses/sparse_embedding.py
Labels: type:documentation, ignore-for-release-notes, 2.x, topic:core

#7510 fix: Fix pipeline with join node
  haystack/nodes/file_converter/image.py
  haystack/nodes/other/join_docs.py
  haystack/nodes/other/shaper.py
  haystack/nodes/prompt/prompt_node.py
  haystack/pipelines/base.py
  releasenotes/notes/fix-pipeline-with-join-node-5f23a426cd4d88d9.yaml
  test/nodes/test_join_documents.py
  test/pipelines/test_pipeline.py
Labels: topic:file_converter, topic:pipeline, type:documentation, topic:tests, topic:LLM, topic:promptnode, 1.x

#7531 fix: Fix corner case when running Pipeline that causes it to get stuck in a loop
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/fix-pipeline-run-loop-99f7ff9db16544d4.yaml
  test/core/pipeline/test_pipeline.py
Labels: type:bug, type:documentation, topic:tests, 2.x, topic:core

#7538 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: topic:CI, 2.x

#7530 fixing some more docstrings
  haystack/core/component/sockets.py
  haystack/core/pipeline/descriptions.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/template.py
  haystack/core/serialization.py
  haystack/telemetry/_environment.py
Labels: type:documentation, ignore-for-release-notes, 2.x, topic:core

#7540 chore: use the latest Python image
  docker/docker-bake.hcl
Labels: topic:docker, 2.x

#7539 chore: fix docstrings in logging module
  haystack/logging.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7537 chore: forward hatch command args to pytest
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#7536 refactor: AnswerExactMatchEvaluator component inputs
  haystack/components/evaluators/answer_exact_match.py
  releasenotes/notes/exact-match-evaluator-197bb87b65e19d0c.yaml
  test/components/evaluators/test_answer_exact_match.py
Labels: type:documentation, topic:tests, 2.x

#7541 chore: fix linting errors
  haystack/lazy_imports.py
  haystack/marshal/protocol.py
  haystack/tracing/tracer.py
  haystack/utils/auth.py
  haystack/utils/device.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7532 docs: add evaluators component reference
  docs/pydoc/config/evaluators_api.yml
Labels: type:documentation, ignore-for-release-notes, 2.x

#7544 chore: update CODEOWNERS in v1.x branch
  .github/CODEOWNERS
Labels: topic:CI

#7545 fix: do not use reserved attributes in the logger
  haystack/components/caching/cache_checker.py
  haystack/components/retrievers/filter_retriever.py
  haystack/components/writers/document_writer.py
  haystack/core/component/component.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/fix-logger-reserved-attributes-9e4d4920c1e41a62.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
  test/test_logging.py
Labels: topic:tests, 2.x, topic:core

#7542 feat: skip unknown file types [DC-1108]
  haystack/nodes/file_classifier/file_type.py
  test/nodes/test_filetype_classifier.py
Labels: type:documentation, topic:tests

#7535 chore: bump transformers to 4.39.3 (Cohere Command R support)
  pyproject.toml
Labels: topic:dependencies, topic:build/distribution

#7546 chore: fix hatch scripts
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#7519 feat: Add ContextRelevanceEvaluator component
  docs/pydoc/config/evaluators_api.yml
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/context_relevance.py
  releasenotes/notes/context-relevance-04063b9dc9fe7379.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
Labels: topic:eval, type:documentation, topic:tests, 2.x

#7548 refactor: FaithfulnessEvaluator specifies inputs explicitly
  haystack/components/evaluators/faithfulness.py
  test/components/evaluators/test_faithfulness_evaluator.py
Labels: topic:eval, type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7562 fix: use docstore.index for get_metadata_values_by_key (OpenSearch / elasticsearch)
  haystack/document_stores/opensearch.py
  haystack/document_stores/search_engine.py
  test/document_stores/test_search_engine.py
Labels: topic:elasticsearch, type:documentation, topic:document_store, topic:tests, topic:opensearch

#7577 docs: fixing all D205 docstring issues
  haystack/components/builders/answer_builder.py
  haystack/components/builders/dynamic_chat_prompt_builder.py
  haystack/components/builders/dynamic_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  haystack/components/caching/cache_checker.py
  haystack/components/classifiers/document_language_classifier.py
  haystack/components/connectors/openapi_service.py
  haystack/components/converters/azure.py
  haystack/components/converters/openapi_functions.py
  haystack/components/converters/utils.py
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/evaluators/answer_exact_match.py
  haystack/components/evaluators/document_map.py
  haystack/components/evaluators/document_recall.py
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/fetchers/link_content.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
  haystack/components/joiners/document_joiner.py
  haystack/components/others/multiplexer.py
  haystack/components/preprocessors/document_cleaner.py
  haystack/components/preprocessors/document_splitter.py
  haystack/components/preprocessors/text_cleaner.py
  haystack/components/rankers/lost_in_the_middle.py
  haystack/components/rankers/meta_field.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/readers/extractive.py
  haystack/components/routers/conditional_router.py
  haystack/components/routers/file_type_router.py
  haystack/components/routers/metadata_router.py
  haystack/components/routers/text_language_router.py
  haystack/components/routers/zero_shot_text_router.py
  haystack/components/samplers/top_p.py
  haystack/components/validators/json_schema.py
  haystack/components/websearch/searchapi.py
  haystack/components/websearch/serper_dev.py
  haystack/components/writers/document_writer.py
  haystack/core/component/component.py
  haystack/core/pipeline/draw.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/template.py
  haystack/core/serialization.py
  haystack/dataclasses/sparse_embedding.py
Labels: type:documentation, ignore-for-release-notes, 2.x, topic:core

#7581 feat: support Llama3 models on Bedrock
  haystack/nodes/prompt/invocation_layer/amazon_bedrock.py
  releasenotes/notes/bedrock-support-for-llama3-a1c2c4fcfb5a8395.yaml
  test/prompt/invocation_layer/test_amazon_bedrock.py
Labels: topic:tests

#7583 fix: renaming vars that use built-in names
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/joiners/document_joiner.py
  haystack/core/component/component.py
Labels: ignore-for-release-notes, 2.x, topic:core

#7584 test: Make ContextRelevanceEvaluator integration test more robust
  test/components/evaluators/test_context_relevance_evaluator.py
Labels: topic:eval, topic:tests, ignore-for-release-notes, 2.x

#7463 doc: adding `docstring` linting based on `ruff`
  .github/workflows/docstrings_linting.yml
  haystack/core/pipeline/pipeline.py
  pyproject.toml
Labels: topic:docker, type:documentation, topic:tests, ignore-for-release-notes, topic:build/distribution, topic:CI, proposal, 2.x, topic:core

#7574 add `__eq__` method to `SparseEmbedding`
  haystack/dataclasses/sparse_embedding.py
  releasenotes/notes/sparse-emb-eq-773ef04ae3ed83ea.yaml
  test/dataclasses/test_sparse_embedding.py
Labels: topic:tests, 2.x

#7587 fix: OutputParser when used within PromptTemplate
  haystack/nodes/prompt/prompt_template.py
  releasenotes/notes/fix-output-parser-in-prompt-template-22975013f44c435b.yaml
  test/prompt/test_prompt_node.py
Labels: topic:tests, topic:LLM, topic:promptnode

#7586 feat: Expand `Pipeline.inputs` and `Pipeline.outputs` to include connected sockets
  haystack/core/pipeline/descriptions.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/pipeline-io-connected-sockets-db862d045944f788.yaml
  test/core/pipeline/test_pipeline.py
Labels: topic:pipeline, type:documentation, topic:tests, 2.x, topic:core

#7589 fix: route not identified files to dead end edge
  haystack/nodes/file_classifier/file_type.py
  test/nodes/test_filetype_classifier.py
  test/pipelines/test_pipeline.py
Labels: topic:pipeline, topic:tests

#7597 chore: Rollback macos-latest to macos-12
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7603 fix: `EvaluationRunResult` should compare only input keys
  haystack/evaluation/eval_run_result.py
Labels: ignore-for-release-notes, 2.x

#7601 test: end2end evaluation tests
  e2e/pipelines/test_evaluation_pipeline.py
  e2e/samples/test_documents/Culture.txt
  e2e/samples/test_documents/Materialism.txt
  e2e/samples/test_documents/Strasbourg.txt
  e2e/samples/test_documents/War_on_Terror.txt
  haystack/components/evaluators/document_mrr.py
  pyproject.toml
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:build/distribution, proposal, 2.x

#7599 feat: add page_number to metadata in DocumentSplitter
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/add-page-number-to-document-splitter-162e9dc7443575f0.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: type:documentation, topic:tests, topic:DX, 2.x

#7553 feat: add required flag for prompt builder inputs
  haystack/components/builders/prompt_builder.py
  releasenotes/notes/add-required-flag-for-prompt-builder-inputs-f5d3ffb3cb7df8d0.yaml
  test/components/builders/test_prompt_builder.py
Labels: type:documentation, topic:tests, 2.x

#7215 ci: fix catch-all
  .github/workflows/tests.yml
  .github/workflows/tests_skipper_trigger.yml
  .github/workflows/tests_skipper_workflow.yml
Labels: type:documentation, topic:CI, 2.x, topic:core

#7598 feat: hf inference support for gated repos
  haystack/nodes/prompt/invocation_layer/handlers.py
  haystack/nodes/prompt/invocation_layer/hugging_face_inference.py
  releasenotes/notes/support-hf-inference-gated-repos-c04be10438e08501.yaml
Labels: 1.x

#7590 feat: Trace pipeline run input/output data
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/improve-pipeline-run-tracing-1d80aa7810df4205.yaml
  test/core/pipeline/test_tracing.py
Labels: topic:tests, 2.x, topic:core

#7622 docs: Add instance argument to code samples in docstrings for component.py
  haystack/core/component/component.py
Labels: type:documentation, ignore-for-release-notes, 2.x, topic:core

#7621 refactor: Rename FaithfulnessEvaluator input `responses` to `predicted_answers`
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/evaluators/sas_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x
