Repository deepset-ai/haystack, pull requests merged in 2024-11, with the labels that each got.

#8509 feat: Increase logging transparency for empty Documents during conversion
  haystack/components/converters/pdfminer.py
  haystack/components/converters/pypdf.py
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/add-logs-empty-files-pdf-f28a14e52984c1ea.yaml
  test/components/converters/test_pdfminer_to_document.py
  test/components/converters/test_pypdf_to_document.py
  test/components/preprocessors/test_document_splitter.py
  test/test_files/pdf/non_text_searchable.pdf
Labels: topic:tests

#8529 chore: Remove `ddtrace` version pin
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8532 fix: lowercase comparison in `OpenAIGenearator` with system prompt tests
  test/components/generators/test_openai.py
Labels: topic:tests, ignore-for-release-notes

#8537 fix: huggingface embedder error messages not being displayed
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/hugging_face_api.py
Labels: ignore-for-release-notes

#8512 feat: adding metadata grouper component
  docs/pydoc/config/rankers_api.yml
  haystack/components/rankers/__init__.py
  haystack/components/rankers/meta_field_grouping_ranker.py
  releasenotes/notes/add-metadata-grouper-21ec05fd4a307425.yaml
  test/components/generators/test_openai.py
  test/components/rankers/test_meta_field_grouping_ranker.py
Labels: type:documentation, topic:tests

#8520 fix: document joiner division by zero with distribution based rank fusion
  haystack/components/joiners/document_joiner.py
  releasenotes/notes/fix-document-joiner-division-by-zero-b24f95d37b007264.yaml
  test/components/joiners/test_document_joiner.py
Labels: topic:tests

#8539 fix: Bring in fix from custom nodes
  haystack/components/preprocessors/nltk_document_splitter.py
  releasenotes/notes/fix-nltk-doc-splitter-d0864dda906c45b0.yaml
  test/components/preprocessors/test_nltk_document_splitter.py
Labels: type:documentation, topic:tests

#8448 feat: Adding DALLE image generator
  docs/pydoc/config/generators_api.yml
  haystack/components/generators/__init__.py
  haystack/components/generators/openai_dalle.py
  releasenotes/notes/add-dalle-image-generator-495aa11823e11a60.yaml
  test/components/generators/test_openai_dalle.py
Labels: type:documentation, topic:tests

#8547 chore: declare `requires-python<3.13` in pyproject
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8526 feat(openai): be tolerant to exceptions
  haystack/components/embedders/openai_document_embedder.py
  releasenotes/notes/patch-1-34479efe3bea0e4f.yaml
  test/components/embedders/test_openai_document_embedder.py
Labels: type:documentation, topic:tests

#8550 chore: Add Zed config folder to `.gitignore`
  .gitignore
Labels: ignore-for-release-notes, topic:DX

#8549 Fix `DocumentSplitter` not splitting by function
  haystack/components/preprocessors/document_splitter.py
  haystack/components/preprocessors/nltk_document_splitter.py
  releasenotes/notes/split-by-function-62ce32fac70d8f8c.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: topic:tests

#8552 chore: Use token instead of use_auth_token because of deprecation warning
  haystack/components/embedders/backends/sentence_transformers_backend.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
Labels: topic:tests, ignore-for-release-notes

#8559 docs: update MetaFieldGroupingRanker name in docstrings
  haystack/components/rankers/meta_field_grouping_ranker.py
Labels: type:documentation, ignore-for-release-notes

#8558 fix: `OpenAIChatGenerator` and `OpenAIGenerator` crashing when streaming with usage tracking
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  releasenotes/notes/fix-openai-streaming-usage-c3dbad63fd9a8020.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests

#8544 fix: append runtime meta to ChatMessage's extracted meta in AnswerBuilder
  haystack/components/builders/answer_builder.py
  releasenotes/notes/merge_runtime_meta_in_answerbuilder-4103b4ca4590aea5.yaml
  test/components/builders/test_answer_builder.py
Labels: type:documentation, topic:tests

#8570 chore: fix linting of `MetaFieldGroupingRanker`
  haystack/components/rankers/meta_field_grouping_ranker.py
Labels: ignore-for-release-notes

#8566 feat: Add `store_full_path` to converters (1/3)
  haystack/components/converters/csv.py
  haystack/components/converters/docx.py
  haystack/components/converters/html.py
  releasenotes/notes/add-store-full-path-param-to-converters-60007b232e279a33.yaml
  test/components/converters/test_csv_to_document.py
  test/components/converters/test_docx_file_to_document.py
  test/components/converters/test_html_to_document.py
Labels: type:documentation, topic:tests

#8567 fix: Remove deprecated Legacy Filter Tests
  haystack/testing/document_store.py
Labels: type:documentation, ignore-for-release-notes

#8562 feat: Allow unverified OpenAPI calls
  haystack/components/connectors/openapi_service.py
  releasenotes/notes/allow-unverified-openapi-calls-46842af37464bb6d.yaml
  test/components/connectors/test_openapi_service.py
Labels: type:documentation, topic:tests

#8554 feat: adding Maximum Margin Relevance Ranker
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/add-maximum-margin-relevance-ranker-9d6d71c6a408c6d1.yaml
  test/components/rankers/test_sentence_transformers_diversity.py
Labels: type:documentation, topic:tests

#8572 feat: Add Literal["*"] option to required_variables in ChatPrompBuilder and PromptBuilder
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  releasenotes/notes/prompt-builder-require-all-variables-007f87e9c7c89e8c.yaml
  test/components/builders/test_chat_prompt_builder.py
  test/components/builders/test_prompt_builder.py
Labels: type:documentation, topic:tests

#8573 feat: Add store_full_path to converters (2/3)
  haystack/components/converters/json.py
  haystack/components/converters/markdown.py
  haystack/components/converters/pdfminer.py
  haystack/components/converters/pptx.py
  haystack/components/converters/tika.py
  haystack/components/converters/txt.py
  releasenotes/notes/add-store-full-path-param-to-converters-43b50812b1600eb2.yaml
  test/components/converters/test_json.py
  test/components/converters/test_markdown_to_document.py
  test/components/converters/test_pdfminer_to_document.py
  test/components/converters/test_pptx_to_document.py
  test/components/converters/test_textfile_to_document.py
  test/components/converters/test_tika_doc_converter.py
Labels: type:documentation, topic:tests

#8578 Fix `DocumentCleaner not preserving `Document` fields
  haystack/components/preprocessors/document_cleaner.py
  releasenotes/notes/fix-document-cleaner-4e18a63fd7dc2bd9.yaml
  test/components/preprocessors/test_document_cleaner.py
Labels: topic:tests

#8568 feat: Add variable to specify inputs as optional to ConditionalRouter
  haystack/components/routers/conditional_router.py
  releasenotes/notes/conditional-router-optional-parameters-f02c598d7c751868.yaml
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests

#8569 chore:`PyPDFToDocument` - deprecate `converter` init parameter
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-deprecate-converter-parameter-d0cc04def6c3a293.yaml
Labels: type:documentation

#8581 chore: use class methods to create `ChatMessage`
  haystack/core/pipeline/base.py
  releasenotes/notes/chatmessage-use-class-methods-85a30b0c5512b08c.yaml
  test/components/builders/test_answer_builder.py
  test/components/builders/test_chat_prompt_builder.py
  test/dataclasses/test_chat_message.py
Labels: topic:tests, topic:core

#8588 refactor: `ChatMessage` - introduce `text` property and deprecate `content`
  haystack/dataclasses/chat_message.py
  releasenotes/notes/chatmessage-text-5bd06f6ac70ac649.yaml
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#8589 refactor: update components to access `ChatMessage.text` instead of `content`
  haystack/components/builders/answer_builder.py
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/connectors/openapi_service.py
  haystack/components/generators/openai.py
  haystack/components/generators/openai_utils.py
  haystack/components/validators/json_schema.py
  releasenotes/notes/use-chatmessage-text-266c94d742c76d32.yaml
  test/components/builders/test_chat_prompt_builder.py
  test/components/connectors/test_openapi_service.py
  test/components/generators/chat/test_azure.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/chat/test_openai.py
  test/components/validators/test_json_schema.py
  test/core/pipeline/features/test_run.py
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#8591 chore: Revert change to deserialization error in `Pipeline`
  haystack/core/pipeline/base.py
Labels: ignore-for-release-notes, topic:core

#8594 ci: add job to check imports
  .github/utils/check_imports.py
  .github/workflows/tests.yml
  haystack/components/connectors/openapi_service.py
  pyproject.toml
  releasenotes/notes/check-imports-8a2aa18c73e5c492.yaml
  test/test_imports.py
Labels: topic:tests, topic:build/distribution, topic:CI
