Repository deepset-ai/haystack, pull requests merged in 2024-09, with the labels that each got.

#8302 refactor: Rename deserialize_document_store_in_init_parameters
  haystack/components/caching/cache_checker.py
  haystack/components/retrievers/filter_retriever.py
  haystack/components/retrievers/sentence_window_retriever.py
  haystack/components/writers/document_writer.py
  haystack/utils/__init__.py
  haystack/utils/docstore_deserialization.py
  releasenotes/notes/refactor_deserialize_document_store_in_init_parameters-b7f05173f0c56452.yaml
  test/utils/test_docstore_deserialization.py
Labels: type:documentation, topic:tests

#8176 feat: Add `unsafe` init arg in `ConditionalRouter` and `OutputAdapter` to enable previous behaviour
  haystack/components/converters/output_adapter.py
  haystack/components/routers/conditional_router.py
  releasenotes/notes/unsafe-behaviour-e8b41d957113e0c3.yaml
  test/components/converters/test_output_adapter.py
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests

#8317 feat: `ChatPromptBuilder` copies entire `ChatMessage` rather than copying content field only
  haystack/components/builders/chat_prompt_builder.py
  releasenotes/notes/adapt-chat-promp-builder-message-copy-6aa4de39363ffbf2.yaml
  test/components/builders/test_chat_prompt_builder.py
Labels: type:documentation, topic:tests

#8309 fix: `meta` prefix missing in the sentence window retriever filters
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/fix-sentence-window-retriever-filter-b7b136eedf6e8488.yaml
Labels: type:documentation

#8323 Add step to verify release notes files are correctly formatted
  .github/workflows/release_notes.yml
Labels: topic:CI

#8327 ci: Fix docstrings linting workflow never running
  .github/workflows/docstrings_linting.yml
Labels: ignore-for-release-notes, topic:CI

#8325 docs: fix broken markdown
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/preprocessors/document_splitter.py
  haystack/components/rankers/meta_field.py
  haystack/components/retrievers/sentence_window_retriever.py
  haystack/components/routers/transformers_text_router.py
Labels: type:documentation, ignore-for-release-notes

#8328 Convertor: CSVToDocument
  docs/pydoc/config/converters_api.yml
  haystack/components/converters/__init__.py
  haystack/components/converters/csv.py
  releasenotes/notes/add-csv-converter-5c0d52f180d498f5.yaml
  test/components/converters/test_csv_to_document.py
  test/test_files/csv/sample_1.csv
  test/test_files/csv/sample_2.csv
  test/test_files/csv/sample_3.csv
Labels: type:documentation, topic:tests

#8334 feat (v2): Update so `model_max_length` updates `max_seq_length` for Sentence Transformers
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/update-max-seq-lenght-st-1dc3d7a9c9a3bdcd.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: topic:tests

#8233 feat: Add current date in UTC to PromptBuilder
  haystack/components/builders/prompt_builder.py
  haystack/utils/__init__.py
  haystack/utils/jinja2_extensions.py
  pyproject.toml
  releasenotes/notes/add-current-date-promptbuilder-ff60c846f5a70dc6.yaml
  test/components/builders/test_prompt_builder.py
  test/utils/test_jinja2_extensions.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8343 fix: make from dict conditional router more resilient
  haystack/components/routers/conditional_router.py
  releasenotes/notes/make-from-dict-more-robust-for-conditionalrouter-c6ed6f841ad8e58d.yaml
  test/components/routers/test_conditional_router.py
Labels: type:documentation, topic:tests

#8193 feat: Adds support for zero-shot document classification (#7669)
  haystack/components/classifiers/__init__.py
  haystack/components/classifiers/zero_shot_document_classifier.py
  releasenotes/notes/add-zero-shot-document-classifier-3ab1d7bbdc04db05.yaml
  test/components/classifiers/test_zero_shot_document_classifier.py
Labels: type:documentation, topic:tests

#8244 feat: Expose default_headers and add kwargs for Azure Client
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  releasenotes/notes/add-azure-kwargs-6a5ab1358ef7f44c.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/test_azure.py
Labels: type:documentation, topic:tests

#8349 fix: fix Pipeline rendering by replacing `*` with `&ast;`
  haystack/core/pipeline/draw.py
  releasenotes/notes/fix-pipe-rendering-50261e0472f0d267.yaml
Labels: topic:core

#8351 ci: Remove unused Slack notification on PyPi release
  .github/config/pypi-release-slack-notification.yml
  .github/workflows/pypi_release.yml
Labels: ignore-for-release-notes, topic:CI

#8332 Update sentence_window_retriever.py
  haystack/components/retrievers/sentence_window_retriever.py
Labels: type:documentation, ignore-for-release-notes

#8344 feat: TransformerSimilarityRanker add batching across Documents during inference
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/ranker-add-batching-during-inference-f077411ec389a63b.yaml
  test/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests

#8358 fix: Add constraints to `set_input_type(s)` based on `run` method
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  haystack/components/evaluators/context_relevance.py
  haystack/components/evaluators/faithfulness.py
  haystack/core/component/component.py
  haystack/core/component/sockets.py
  releasenotes/notes/component-set-input-type-constraints-0b1130c1b49d9648.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
  test/core/component/test_component.py
  test/core/component/test_sockets.py
  test/core/pipeline/features/test_run.py
Labels: type:documentation, topic:tests, topic:core

#8342 chore: Remove all references to old filter syntax
  haystack/components/routers/metadata_router.py
  haystack/document_stores/in_memory/document_store.py
  haystack/utils/filters.py
  releasenotes/notes/remove-legacy-filters-ff89cd0a00a64ce9.yaml
  test/document_stores/test_in_memory.py
  test/utils/test_filters.py
Labels: type:documentation, topic:tests

#8336 feat : DocumentSplitter, adding the option to split_by function
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/feat-documentsplitter-add-split-by-function-77501f439b63bb49.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: type:documentation, topic:tests

#8362 ci: Remove version choice for workflow dispatch in `minor_version_release.yml`
  .github/workflows/minor_version_release.yml
Labels: ignore-for-release-notes, topic:CI

#8364 chore: Deprecate `Pipeline` init argument `debug_path`
  haystack/core/pipeline/base.py
  releasenotes/notes/deprecate-debug-path-976bb5a851365233.yaml
Labels: topic:core

#8361 docs: adding missing commas in "pip install transformers[torch]"
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/hugging_face_local.py
  haystack/utils/device.py
  haystack/utils/hf.py
Labels: ignore-for-release-notes

#8363 ci: Slightly rework docs release process
  .github/utils/create_unstable_docs.py
  .github/utils/promote_unstable_docs.py
  .github/utils/readme_api.py
  .github/utils/release_docs.py
  .github/workflows/minor_version_release.yml
  .github/workflows/promote_unstable_docs.yml
Labels: ignore-for-release-notes, topic:CI

#8367 chore: Remove type hint
  .github/utils/readme_api.py
Labels: ignore-for-release-notes, topic:CI

#8371 fix: Remove incorrect output types line
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
Labels: ignore-for-release-notes

#8350 feat: Port NLTKDocumentSplitter from dC to Haystack
  haystack/components/preprocessors/__init__.py
  haystack/components/preprocessors/nltk_document_splitter.py
  haystack/components/preprocessors/utils.py
  pyproject.toml
  releasenotes/notes/nltk-document-splitting-enhancement-6ef6f59bc277662c.yaml
  test/components/preprocessors/test_nltk_document_splitter.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8378 chore: NLTKDocumentSplitter: add 'function' to split_by init param
  haystack/components/preprocessors/nltk_document_splitter.py
Labels: ignore-for-release-notes

#8376 fix: Prevent `set_output_types` from being called when the `output_types` decorator is used
  haystack/components/classifiers/zero_shot_document_classifier.py
  haystack/core/component/component.py
  releasenotes/notes/component-set-output-type-override-852a19b3f0621fb0.yaml
  test/core/component/test_component.py
Labels: topic:tests, topic:core

#8381 fix: Fix nltk imports
  haystack/components/preprocessors/nltk_document_splitter.py
  haystack/components/preprocessors/utils.py
  test/components/preprocessors/test_nltk_document_splitter.py
Labels: topic:tests, ignore-for-release-notes

#8384 docs: add NLTKSplitter and ZeroShotClassifier to pydocs
  docs/pydoc/config/classifiers_api.yml
  docs/pydoc/config/preprocessors_api.yml
Labels: type:documentation, ignore-for-release-notes

#8386 feat: Add utility function to check metadata filter syntax
  haystack/utils/filters.py
Labels: type:documentation, ignore-for-release-notes

#8377 chore: Move AnswerJoiner pipeline test to behavorial tests
  test/components/joiners/test_answer_joiner.py
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
Labels: topic:tests, ignore-for-release-notes

#8380 ci: Remove unused `benchmark.yml` workflow
  .github/workflows/benchmarks.yml
Labels: ignore-for-release-notes, topic:CI

#8340 Make api_key param optional in LLMEvaluator
  haystack/components/evaluators/llm_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests

#8375 feat: HuggingFaceAPIChatGenerator add token `usage` data
  haystack/components/generators/chat/hugging_face_api.py
  releasenotes/notes/add-usage-huggingfaceapi-generators-de8979cad6b6ec45.yaml
  test/components/generators/chat/test_hugging_face_api.py
Labels: type:documentation, topic:tests

#8392 chore: Fix `codespell` config
  code_of_conduct.txt
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8396 chore: Fix `codespell` pre-commit hook
  .pre-commit-config.yaml
Labels: ignore-for-release-notes, topic:DX

#8393 test: Set max_runs_per_component to 1 for pipelines that are linear
  test/core/pipeline/features/test_run.py
Labels: topic:tests, ignore-for-release-notes

#8285 chore: update pipeline.py
  haystack/core/pipeline/pipeline.py
Labels: ignore-for-release-notes, topic:core

#8401 fix: fix `PredefinedPipeline.CHAT_WITH_WEBSITE` template
  haystack/core/pipeline/predefined/chat_with_website.yaml.jinja2
  haystack/core/pipeline/predefined/generative_qa.yaml.jinja2
  haystack/core/pipeline/predefined/rag.yaml.jinja2
  releasenotes/notes/fix-chat-web-pipe-template-0b00144b1099cda3.yaml
Labels: topic:core

#8400 feat: Deprecate `@component` decorator `is_greedy` argument
  haystack/components/joiners/branch.py
  haystack/core/component/component.py
  haystack/core/component/types.py
  haystack/core/pipeline/base.py
  releasenotes/notes/deprecate-greedy-argument-4b8c39572f5df25c.yaml
  test/core/component/test_component.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8368 chore: Deprecate connecting a Component to itself
  haystack/core/pipeline/base.py
  releasenotes/notes/deprecate-self-connection-665647384ae2792b.yaml
Labels: type:documentation, topic:core

#8397 feat: Add `JSONConverter` Component
  docs/pydoc/config/converters_api.yml
  haystack/components/converters/__init__.py
  haystack/components/converters/json.py
  pyproject.toml
  releasenotes/notes/json-converter-a747e9c44543dfb5.yaml
  test/components/converters/test_json.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8405 ci: reintroduce `macos-latest` in tests
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI

#8413 fix: Expose `raise_on_invalid_filter_syntax` in `haystack.utils`
  haystack/utils/__init__.py
Labels: ignore-for-release-notes

#8403 feat: `Pipeline.connect()` will now raise a `PipelineConnectError` if `sender` and `receiver` are the same Component
  haystack/core/pipeline/base.py
  releasenotes/notes/remove-support-to-connect-component-to-self-6eedfb287f2a2a02.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8409 chore: Removed deprecated max_loop_allowed argument from Pipeline init
  haystack/core/errors.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/remove-deprecated-param-from-pipeline-6b05ce1ff1f7fdec.yaml
  test/core/pipeline/features/README.md
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_tracing.py
  test/core/test_serialization.py
  test/test_files/yaml/test_pipeline_deprecated.yaml
Labels: type:documentation, topic:tests, topic:core

#8422 fix: make `from_dict` of `PyPDFToDocument` more robust
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-converter-robust-from-dict-35ebe6aaab944b19.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: topic:tests

#8424 chore: Remove deprecated `Pipeline` init argument `debug_path`
  haystack/core/pipeline/base.py
  releasenotes/notes/remove-debug-path-68e9b2e41d7d43fd.yaml
Labels: type:documentation, topic:core

#8427 fix: make pypdf converter more robust
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-converter-robust-from-dict-35ebe6aaab944b19.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: topic:tests
