Repository deepset-ai/haystack, pull requests merged in 2024-08, with the labels that each got.

#8122 feat: Add `AnswerJoiner` new component
  docs/pydoc/config/joiners_api.yml
  haystack/components/joiners/__init__.py
  haystack/components/joiners/answer_joiner.py
  releasenotes/notes/introduce-answer-joiner-component-885dd7846776f5cb.yaml
  test/components/joiners/test_answer_joiner.py
Labels: type:documentation, topic:tests

#8133 Docs: Update FilterRetriever docstrings
  haystack/components/retrievers/filter_retriever.py
Labels: type:documentation, ignore-for-release-notes

#8142 Docs: Update LinkContentFetcher docstrings
  haystack/components/fetchers/link_content.py
Labels: type:documentation, ignore-for-release-notes

#8138 Docs: update SentenceWindowRetriever docstrings
  haystack/components/retrievers/sentence_window_retriever.py
Labels: type:documentation, ignore-for-release-notes

#8140 Docs: Update ConditionalRouter docstrings
  haystack/components/routers/conditional_router.py
Labels: type:documentation, ignore-for-release-notes

#8145 feat: Add model and tokenizer kwargs to `TransformersSimilarityRanker`, `SentenceTransformersDocumentEmbedder`, `SentenceTransformersTextEmbedder`
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/add-model-and-tokenizer-kwargs-4b7618806665f8ba.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/rankers/test_transformers_similarity.py
Labels: type:documentation, topic:tests

#8152 Docs: Update HuggingFaceAPIChatGEnertaor docstrings
  haystack/components/generators/chat/hugging_face_api.py
Labels: type:documentation, ignore-for-release-notes

#8150 Docs: Update AzureChatGenerator docstrings
  haystack/components/generators/chat/azure.py
Labels: type:documentation, ignore-for-release-notes

#8149 Docs: Update AzureOpenAIGenerator docstrings
  haystack/components/generators/azure.py
Labels: type:documentation, ignore-for-release-notes

#8158 Docs: Update HFLocalGenerator docstrings
  haystack/components/generators/hugging_face_local.py
Labels: type:documentation, ignore-for-release-notes

#8156 Docs: Update HFLocalChatGenerator docstrings
  haystack/components/generators/chat/hugging_face_local.py
Labels: type:documentation, ignore-for-release-notes

#8159 docs: document Python 3.11 and 3.12 support
  pyproject.toml
  releasenotes/notes/python-3.11-3.12-857850f74f2e1ceb.yaml
Labels: topic:build/distribution

#8154 Docs: Update HFAPIGenerator docstrings
  haystack/components/generators/hugging_face_api.py
Labels: type:documentation, ignore-for-release-notes

#8146 chore: deprecate `to_openai_format` and create similar utility functions
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  haystack/components/generators/openai_utils.py
  haystack/dataclasses/chat_message.py
  releasenotes/notes/deprecate-method-to-openai-format-fb2538cf3f610d2a.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/test_openai_utils.py
Labels: type:documentation, topic:tests

#8103 feat: add unicode normalization & ascii_only mode for DocumentCleaner
  haystack/components/preprocessors/document_cleaner.py
  releasenotes/notes/add-unicode-normalization-and-ascii-mode-to-document-cleaner-ba536b46e499663c.yaml
  test/components/preprocessors/test_document_cleaner.py
Labels: type:documentation, topic:tests

#8165 fix: ChatPromptBuilder from_dict if template is None
  haystack/components/builders/chat_prompt_builder.py
  releasenotes/notes/fix-chat-prompt-builder-from-dict-template-none-56c91effe61e823c.yaml
  test/components/builders/test_chat_prompt_builder.py
Labels: topic:tests

#8078 fix: DocumentCleaner: keep the \f in text
  haystack/components/preprocessors/document_cleaner.py
  releasenotes/notes/fix-document-cleaner-page-tag-15c66d6433b82b0a.yaml
  test/components/preprocessors/test_document_cleaner.py
Labels: type:documentation, topic:tests

#8172 chore: remove unused functions `serialize_callback_handler` and `deserialize_callback_handler`
  haystack/components/generators/utils.py
  releasenotes/notes/rm-serialize-callback-handler-5c104eafc6673932.yaml
Labels: type:documentation

#8173 fix: Output Adapter from_dict with custom_filters None
  haystack/components/converters/output_adapter.py
  releasenotes/notes/fix-output-adapter-from_dict-custom-filters-none-70705cbb474fe982.yaml
  test/components/converters/test_output_adapter.py
Labels: type:documentation, topic:tests

#8179 added `precision` parameter to sentence transformers embeddings
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/release-note-42273d88ce3e2b2e.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests

#8042 feat: Implement apply_filter_policy and FilterPolicy.MERGE for the new filters
  haystack/document_stores/types/__init__.py
  haystack/document_stores/types/filter_policy.py
  releasenotes/notes/implement-merge-filter-logic-99e6785a78f80ae9.yaml
  test/document_stores/test_filter_policy.py
Labels: type:documentation, topic:tests

#8206 chore: deprecate SentenceWindowRetrieval
  docs/pydoc/config/retrievers_api.yml
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/sentence_window_retrieval.py
  releasenotes/notes/deprecate-sentence-window-retrieval-9d7f8a61429a514b.yaml
  test/components/retrievers/test_sentence_window_retrieval.py
Labels: type:documentation, topic:tests

#8202 clean up docstrings: TextCleaner
  haystack/components/preprocessors/text_cleaner.py
Labels: type:documentation, ignore-for-release-notes

#8186 clean up docstrings: OpenAIDocumentEmbedder
  haystack/components/embedders/openai_document_embedder.py
Labels: type:documentation, ignore-for-release-notes

#8184 clean up docstrings: HuggingFaceAPIDocumentEmbedder & HuggingFaceAPITextEmbedder
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
Labels: type:documentation, ignore-for-release-notes

#8196 chore: Add sede_with_list_output_type_in_pipeline unit test
  test/components/converters/test_output_adapter.py
Labels: topic:tests, ignore-for-release-notes

#8209 test: Add utility then step in feature testing to draw pipeline to file
  test/core/pipeline/features/conftest.py
Labels: topic:tests, ignore-for-release-notes

#8201 doc: adding some more hatch info to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: topic:DX

#8219 clean up docstrings: TextLanguageRouter
  haystack/components/routers/text_language_router.py
Labels: type:documentation, ignore-for-release-notes

#8210 clean up docstrings: ChatPromptBuilder
  haystack/components/builders/chat_prompt_builder.py
Labels: type:documentation, ignore-for-release-notes

#8223 Cherry-pick SentenceWindowRetrieval commit (#8206) to 2.4.x
  docs/pydoc/config/retrievers_api.yml
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/sentence_window_retrieval.py
  releasenotes/notes/deprecate-sentence-window-retrieval-9d7f8a61429a514b.yaml
  test/components/retrievers/test_sentence_window_retrieval.py
Labels: type:documentation, topic:tests

#8226 refactor: utility function for docstore deserialization
  haystack/components/caching/cache_checker.py
  haystack/components/retrievers/filter_retriever.py
  haystack/components/retrievers/sentence_window_retriever.py
  haystack/components/writers/document_writer.py
  haystack/utils/__init__.py
  haystack/utils/docstore_deserialization.py
  releasenotes/notes/docstore-deserialization-in-init-params-a123a39d5fbc957f.yaml
  test/components/caching/test_url_cache_checker.py
  test/components/retrievers/test_sentence_window_retriever.py
  test/components/writers/test_document_writer.py
  test/utils/test_docstore_deserialization.py
Labels: type:documentation, topic:tests

#8227 Cherry-pick docstores deserialization refactoring to 2.4.x
  haystack/components/caching/cache_checker.py
  haystack/components/retrievers/filter_retriever.py
  haystack/components/retrievers/sentence_window_retriever.py
  haystack/components/writers/document_writer.py
  haystack/utils/__init__.py
  haystack/utils/docstore_deserialization.py
  releasenotes/notes/docstore-deserialization-in-init-params-a123a39d5fbc957f.yaml
  releasenotes/notes/use-document-store-from-dict-db7975d0e0e5e451.yaml
  test/components/caching/test_url_cache_checker.py
  test/components/retrievers/test_sentence_window_retriever.py
  test/components/writers/test_document_writer.py
  test/utils/test_docstore_deserialization.py
Labels: type:documentation, topic:tests

#8225 Docs: update AzureOCRConverter docstrings
  haystack/components/converters/azure.py
Labels: type:documentation, ignore-for-release-notes

#8242 chore: Remove deprecated `ChatMessage.to_openai_format`
  haystack/dataclasses/chat_message.py
  releasenotes/notes/deprecate-chatmessage-toopenaiformat-9b1b2987a568d3d7.yaml
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#8237 clean up docstrings: CacheChecker
  haystack/components/caching/cache_checker.py
Labels: type:documentation, ignore-for-release-notes

#8231 clean up docstrings: TransformersZeroShotTextRouter
  haystack/components/routers/zero_shot_text_router.py
Labels: type:documentation, ignore-for-release-notes

#8215 clean up docstrings: DocumentLanguageClassifier
  haystack/components/classifiers/document_language_classifier.py
Labels: type:documentation, ignore-for-release-notes

#8235 clean up docstrings: WhisperTranscribers
  haystack/components/audio/whisper_local.py
  haystack/components/audio/whisper_remote.py
Labels: type:documentation, ignore-for-release-notes

#8228 feat: Add `min_top_k` to TopPSampler
  haystack/components/samplers/top_p.py
  releasenotes/notes/add-min-top-k-top-p-sampler-dc65f97d420e70b0.yaml
  test/components/samplers/test_top_p.py
Labels: type:documentation, topic:tests

#8232 fix: extract page breaks from .docx files
  haystack/components/converters/docx.py
  releasenotes/notes/docx-extract-page-breaks-09279c95f73a06f5.yaml
  test/components/converters/test_docx_file_to_document.py
  test/test_files/docx/sample_docx_2_page_breaks.docx
Labels: type:documentation, topic:tests

#8263 fix: make meta produced by `DOCXToDocument` JSON serializable
  haystack/components/converters/docx.py
  releasenotes/notes/docxmetadata-json-serializable-e4205ce70d042aed.yaml
  test/components/converters/test_docx_file_to_document.py
Labels: type:documentation, topic:tests

#8270 docs: updating DocumentSplitter docstring, adding supported DocumentSores
  haystack/components/preprocessors/document_splitter.py
Labels: type:documentation, ignore-for-release-notes

#8283 feat: The SentenceWindowRetriever has now an extra output key containing all the documents belonging to the context window
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/sentence-window-retriever-output-docs-d3de2ac4328488f1.yaml
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:documentation, topic:tests

#8288 chore: Remove deprecated `debug` param from `Pipeline.run`
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/remove-deprecated-pipeline-run-debug-eab0c31ea0ce513d.yaml
  test/core/pipeline/test_tracing.py
Labels: type:documentation, topic:tests, topic:core

#8279 feat: Extend core component machinery to support an async run method (experimental)
  haystack/core/component/component.py
  haystack/core/component/sockets.py
  releasenotes/notes/async-component-support-machinery-6ea4496241aeb3b2.yaml
  test/core/component/test_component.py
Labels: type:documentation, topic:tests, topic:core

#8295 chore: update test dependency and `LazyImport` block to make compatibility with `sentence-transformers>=3.0.0` explicit
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/rankers/sentence_transformers_diversity.py
  pyproject.toml
  releasenotes/notes/update-sentence-transformers-3-3bca4e3f3ad3e7ba.yaml
Labels: topic:build/distribution

#8296 chore: upgrade `transformers` test dependency to `4.44.2`
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8294 chore: removing deprecated `SentenceWindowRetrieval`
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/sentence_window_retrieval.py
  releasenotes/notes/remove-deprecated-sentence-window-retrieval-376f1fc000c9fa88.yaml
  test/components/retrievers/test_sentence_window_retrieval.py
Labels: type:documentation, topic:tests

#8303 chore: completely remove `SentenceWindowRetrieval`
  docs/pydoc/config/retrievers_api.yml
  test/components/retrievers/test_sentence_window_retrieval.py
Labels: topic:tests, ignore-for-release-notes

#8300 doc: warning added for deprectaion of `gpt-3.5` as default model for OpenAI generators
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  releasenotes/notes/deprecated-gpt-3.5-as-default-model-d03cafe1fdc2ada2.yaml
Labels: type:documentation, topic:tests

#8256 fix: 1.x - nltk upgrade, use `nltk.download('punkt_tab')`
  haystack/nodes/preprocessor/preprocessor.py
  pyproject.toml
  releasenotes/notes/upgrade-ntlk-1e94de2d6f5dd3b6.yaml
  test/nodes/test_preprocessor.py
Labels: topic:preprocessing, topic:tests, topic:dependencies, topic:build/distribution
