Repository deepset-ai/haystack, pull requests merged in 2024-03, with the labels that each got.

#7270 fix: Update `Component` protocol to fix some type checking issues
  haystack/core/component/component.py
  releasenotes/notes/fix-component-type-checking-issues-8eefa1157ffc3eba.yaml
  test/core/component/test_component.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7266 ci: add ruff to CI + bring config up to date
  haystack/components/retrievers/__init__.py
  haystack/utils/hf.py
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#7272 chore: update the INDEXING and RAG pipeline templates
  haystack/core/pipeline/predefined/indexing.yaml.jinja2
  haystack/core/pipeline/predefined/rag.yaml.jinja2
  releasenotes/notes/add-pipeline-templates-831f857c6387f8c3.yaml
Labels: 2.x, topic:core

#7281 fix: Update pyproject.toml
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#7274 fix: fix output types in WebSearch components
  haystack/components/websearch/searchapi.py
  haystack/components/websearch/serper_dev.py
Labels: ignore-for-release-notes, 2.x

#7263 docs: Update docstrings for `haystack.core`
  haystack/core/component/sockets.py
  haystack/core/component/types.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/template.py
  haystack/core/serialization.py
Labels: type:documentation, ignore-for-release-notes, 2.x, topic:core

#7251 docs: Update docstrings and API doc config for `haystack.components.extractors`
  docs/pydoc/config/extractors_api.yml
  haystack/components/extractors/named_entity_extractor.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7267 docs: Update docstrings for `haystack.components.connectors`
  haystack/components/connectors/openapi_service.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7284 fix tests on main
  test/core/pipeline/test_pipeline.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7252 docs: Update docstrings for `haystack.components.retrievers`
  haystack/components/retrievers/filter_retriever.py
  haystack/components/retrievers/in_memory/bm25_retriever.py
  haystack/components/retrievers/in_memory/embedding_retriever.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7280 docs: Update `joiners` docstrings and configs
  docs/pydoc/config/joiners_api.yml
  haystack/components/joiners/document_joiner.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7269 docs: Update docstrings for `haystack.utils`
  haystack/utils/auth.py
  haystack/utils/hf.py
  haystack/utils/requests_utils.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7258 fix: Fix run order of variadic greedy components in Pipeline.run()
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/run-greedy-fix-6d4559126e7739ce.yaml
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7295 ci: temporarily pin pytest
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#7297 fix: add new OpenAI model names to `_infer_model_format`
  haystack/nodes/retriever/dense.py
Labels: topic:retriever, ignore-for-release-notes, 1.x

#7287 docs: last fixes on non-chat generators
  haystack/components/generators/azure.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/components/generators/openai.py
Labels: type:documentation, ignore-for-release-notes, 2.x

#7298 ci/test: replace `flaky` with `pytest-rerunfailures`
  pyproject.toml
  test/core/pipeline/test_draw.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, 2.x

#7271 fix: page_number for pdfs with pages not containing any text
  haystack/nodes/preprocessor/preprocessor.py
  test/nodes/test_preprocessor.py
Labels: topic:preprocessing, topic:tests

#7257 feat: Improve OpenAPIServiceToFunctions signature
  haystack/components/converters/openapi_functions.py
  test/components/converters/test_openapi_functions.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7294 docs: Added LostInTheMiddleRanker usage example and updated docstrings
  haystack/components/rankers/lost_in_the_middle.py
  test/components/rankers/test_lost_in_the_middle.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7293 ci: Update ruff pre-commit version
  .pre-commit-config.yaml
Labels: topic:DX, 2.x

#7302 docs: Add LostInTheMiddleRanker to API docs
  docs/pydoc/config/rankers_api.yml
Labels: ignore-for-release-notes, 2.x

#7308 docs: Update `ExtractiveReader` docstrings
  haystack/components/readers/extractive.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7305 fix: `MetaFieldRanker` - use `weight` if passed in the `run` method
  haystack/components/rankers/meta_field.py
  releasenotes/notes/fix-metafieldranker-weight-in-run-66ce13191e596214.yaml
  test/components/rankers/test_metafield.py
Labels: topic:tests, 2.x

#7278 test: test for missing dependencies
  haystack/testing/document_store.py
  pyproject.toml
  test/test_imports.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:build/distribution, 2.x

#7289 fix: Remove pipeline serialization from telemetry code
  haystack/core/pipeline/pipeline.py
  haystack/core/serialization.py
  haystack/telemetry/_telemetry.py
  releasenotes/notes/remove-serialization-from-telemetry-a054f7f26f277d2b.yaml
  test/core/pipeline/test_pipeline.py
  test/core/test_serialization.py
  test/test_telemetry.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7309 chore: migrate `ExtractiveReader` to use secret management
  haystack/components/readers/extractive.py
  releasenotes/notes/update-secret-management-extractive-reader-4a8ce8df1f2705f8.yaml
  test/components/readers/test_extractive.py
Labels: topic:tests, 2.x

#7311 docs: Add haystack.utils API docs
  docs/pydoc/config/utils_api.yml
Labels: 2.x

#7317 docs: edit audio docstrings order
  docs/pydoc/config/audio_api.yml
Labels: 2.x

#7318 docs: `haystack.utils` docfixes
  docs/pydoc/config/utils_api.yml
  haystack/utils/auth.py
  haystack/utils/filters.py
  haystack/utils/jupyter.py
  haystack/utils/requests_utils.py
  haystack/utils/type_serialization.py
Labels: type:documentation, 2.x

#7320 docs: documentation search -> document search in Readme
  README.md
Labels: ignore-for-release-notes, 2.x

#7321 test: monkeypatch some env vars in Predefined Pipelines tests
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_templates.py
Labels: topic:tests, ignore-for-release-notes, 2.x

#7326 refactor: OpenAI token limits
  haystack/utils/openai_utils.py
  test/prompt/invocation_layer/test_chatgpt.py
  test/prompt/invocation_layer/test_openai.py
  test/utils/test_openai_utils.py
Labels: type:documentation, topic:tests, 1.x

#7327 ci: Fix `pypi_release.yml` workflow to skip rc0 versions
  .github/workflows/pypi_release.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7330 ci: Fix `readme_sync.yml` workflow to handle unstable 2.x versions
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7331 ci: Fix `readme_sync.yml` workflow to ignore non `1.x` versions
  .github/workflows/readme_sync.yml
Labels: ignore-for-release-notes, topic:CI, 1.x

#7329 docs: disable class def rendering
  docs/pydoc/config/audio_api.yml
  docs/pydoc/config/builders_api.yml
  docs/pydoc/config/caching_api.yml
  docs/pydoc/config/classifiers_api.yml
  docs/pydoc/config/connectors.yml
  docs/pydoc/config/converters_api.yml
  docs/pydoc/config/data_classess_api.yml
  docs/pydoc/config/document_stores_api.yml
  docs/pydoc/config/document_writers_api.yml
  docs/pydoc/config/embedders_api.yml
  docs/pydoc/config/extractors_api.yml
  docs/pydoc/config/fetchers_api.yml
  docs/pydoc/config/generators_api.yml
  docs/pydoc/config/joiners_api.yml
  docs/pydoc/config/others_api.yml
  docs/pydoc/config/pipeline_api.yml
  docs/pydoc/config/preprocessors_api.yml
  docs/pydoc/config/rankers_api.yml
  docs/pydoc/config/readers_api.yml
  docs/pydoc/config/retrievers_api.yml
  docs/pydoc/config/routers_api.yml
  docs/pydoc/config/samplers_api.yml
  docs/pydoc/config/utils_api.yml
  docs/pydoc/config/validators_api.yml
  docs/pydoc/config/websearch_api.yml
Labels: 2.x

#7319 fix: `HuggingFaceTEITextEmbedder` returning embedding of incorrect shape when used with Docker endpoint
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  releasenotes/notes/hf-tei-bug-fix-07732c672600aadd.yaml
  test/components/embedders/test_hugging_face_tei_document_embedder.py
  test/components/embedders/test_hugging_face_tei_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#7340 chore: update banner
  README.md
  docs/img/banner_20.png
Labels: ignore-for-release-notes, 2.x

#7342 fix: link using absolute URI
  README.md
Labels: 2.x

#7343 fix: `MetaFieldRanker` - make `weight` passed in `run` to be used even if 0
  haystack/components/rankers/meta_field.py
  releasenotes/notes/fix-metafieldranker-weight-in-run-method-e4e11011a8b99c34.yaml
Labels: 2.x

#7303 feat: Add support for matching mime types using regex
  haystack/components/routers/file_type_router.py
  releasenotes/notes/feature-regex-mime-type-support-36381e74f593eb84.yaml
  test/components/routers/test_file_router.py
Labels: type:documentation, topic:tests, 2.x

#7335 bug: Crawler downloads pdfs to project root directory
  haystack/nodes/connector/crawler.py
  releasenotes/notes/correct-crawler-pdf-download-location-82a443be7b07e182.yaml
  test/nodes/test_connector.py
Labels: topic:tests, topic:crawler

#7347 docs: add conda badge
  README.md
Labels: ignore-for-release-notes, 2.x

#7348 [docs] Fixed pipeline import statement
  examples/retrievers/in_memory_bm25_documentsearch.py
Labels: ignore-for-release-notes, 2.x

#7350 chore: Remove all examples and point to cookbooks repo
  .github/workflows/snippets_tests.yml
  examples/README.md
  examples/__init__.py
  examples/pipeline_loop_to_autocorrect_json.py
  examples/pipelines/indexing_pipeline.py
  examples/pipelines/indexing_pipeline_with_meta.py
  examples/pipelines/rag_pipeline.py
  examples/rag/rag_self_correction.py
  examples/retrievers/in_memory_bm25_rag.py
Labels: ignore-for-release-notes, topic:CI, 2.x

#7352 chore: extend stalebot to community triage
  .github/workflows/stale.yml
Labels: topic:CI, 2.x

#7349 ci: Update docs renderer
  docs/pydoc/config/audio_api.yml
  docs/pydoc/config/builders_api.yml
  docs/pydoc/config/caching_api.yml
  docs/pydoc/config/classifiers_api.yml
  docs/pydoc/config/connectors.yml
  docs/pydoc/config/converters_api.yml
  docs/pydoc/config/data_classess_api.yml
  docs/pydoc/config/document_stores_api.yml
  docs/pydoc/config/document_writers_api.yml
  docs/pydoc/config/embedders_api.yml
  docs/pydoc/config/extractors_api.yml
  docs/pydoc/config/fetchers_api.yml
  docs/pydoc/config/generators_api.yml
  docs/pydoc/config/joiners_api.yml
  docs/pydoc/config/others_api.yml
  docs/pydoc/config/pipeline_api.yml
  docs/pydoc/config/preprocessors_api.yml
  docs/pydoc/config/rankers_api.yml
  docs/pydoc/config/readers_api.yml
  docs/pydoc/config/retrievers_api.yml
  docs/pydoc/config/routers_api.yml
  docs/pydoc/config/samplers_api.yml
  docs/pydoc/config/utils_api.yml
  docs/pydoc/config/validators_api.yml
  docs/pydoc/config/websearch_api.yml
Labels: type:documentation, ignore-for-release-notes, topic:CI, 2.x

#7353 ci: Skip collection of `test_json_schema.py` to fix CI failures
  test/conftest.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_templates.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#7351 chore: remove references to test_requirements
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7357 feat: check document store and retriever dimensions before calculating embeddings for all documents
  haystack/document_stores/faiss.py
  releasenotes/notes/verify-embed-dim-docustore-retriever-9ac88d8f0adc8a32.yaml
  test/document_stores/test_faiss.py
Labels: topic:faiss, type:documentation, topic:document_store, topic:tests

#7356 feat: Add trust_remote_code init param to SentenceTransformer embedders
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/add-trust-remote-code-feature-c133b2b245d2ea7a.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests, 2.x

#7364 fix: unpin OpenAI and fix problem with mock
  pyproject.toml
  test/components/generators/conftest.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, 2.x

#7363 chore: Upgrade transformers to 4.38.2 in test environment
  .github/workflows/tests.yml
  .github/workflows/tests_skipper.yml
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI, 2.x

#7376 chore: unschedule benchmarks
  .github/workflows/benchmarks.yml
Labels: topic:CI, 2.x

#7375 bug: run parameter "ranking_mode" does not override init param in meta field ranker
  haystack/components/rankers/meta_field.py
  releasenotes/notes/updated-ranking-mode-in-meta-field-ranker-d1f1304cc422b202.yaml
  test/components/rankers/test_metafield.py
Labels: topic:tests, 2.x

#7370 refactor: default for max_new_tokens to 512 in Hugging Face generators
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/hugging_face_tgi.py
  releasenotes/notes/adjust-max-new-tokens-to-512-in-huggingface-generators-76d9aba116b65e70.yaml
  test/components/generators/chat/test_hugging_face_tgi.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/generators/test_hugging_face_tgi.py
Labels: topic:tests, 2.x

#7380 docs: fix description of timeout config for WeaviateDocumentStore
  haystack/document_stores/weaviate.py
Labels: type:documentation, topic:document_store, ignore-for-release-notes, topic:weaviate

#7381 Add `AnswerExactMatchEvaluator`
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/answer_exact_match.py
  releasenotes/notes/exact-match-evaluator-197bb87b65e19d0c.yaml
  test/components/evaluators/test_answer_exact_match.py
Labels: type:documentation, topic:tests, 2.x

#7382 feat: introduce `SparseEmbedding`
  docs/pydoc/config/data_classess_api.yml
  haystack/dataclasses/__init__.py
  haystack/dataclasses/document.py
  haystack/dataclasses/sparse_embedding.py
  releasenotes/notes/sparse-embedding-fd55b670437492be.yaml
  test/dataclasses/test_document.py
  test/dataclasses/test_sparse_embedding.py
  test/tracing/test_utils.py
Labels: type:documentation, topic:tests, 2.x

#7387 Fix deepset logo rendering on pypi.org
  README.md
Labels: 2.x

#7396 fix: add the `@component` decorator to `HuggingFaceTGIChatGenerator`
  haystack/components/generators/chat/hugging_face_tgi.py
  releasenotes/notes/tgi-chat-missing-decorator-799b2a133ee4708c.yaml
Labels: 2.x

#7397 fix: Pipeline - disable autoshow on Jupyter
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/pipe-disable-autoshow-dbbafd2bfdcce7a4.yaml
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7377 feat: Add streaming to `HuggingFaceLocalGenerator`
  haystack/components/generators/hugging_face_local.py
  releasenotes/notes/hugging-face-local-generator-streaming-callback-38a77d37199f9672.yaml
  test/components/generators/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests, 2.x

#7404 refactor: pass a `role` string to OpenAI API
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  haystack/dataclasses/chat_message.py
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7403 fix: put `HFTokenStreamingHandler` in a lazy_import block
  haystack/components/generators/hugging_face_local.py
  haystack/utils/hf.py
Labels: ignore-for-release-notes, 2.x

#7401 feat: Add new LLMEvaluator component
  haystack/components/evaluators/__init__.py
  haystack/components/evaluators/llm_evaluator.py
  releasenotes/notes/llmevaluator-0ae63b2b9715fb9b.yaml
  test/components/evaluators/test_llm_evaluator.py
Labels: type:documentation, topic:tests, 2.x

#7414 refactor: reorganize imports in HF utils
  haystack/utils/hf.py
Labels: ignore-for-release-notes, 2.x

#7417 ci: pin huggingface_hub in tests dependencies
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, 2.x

#7362 refactor!: Improve `PyPDFToDocument`
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-refactoring-de869c91b42ce5b6.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: type:documentation, topic:tests, 2.x

#7390 feat: Change outputs of AnswerExactMatchEvaluator
  haystack/components/evaluators/answer_exact_match.py
  test/components/evaluators/test_answer_exact_match.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7416 test: HuggingFaceLocalGenerator test stopwords
  haystack/components/generators/hugging_face_local.py
  haystack/utils/hf.py
  test/components/generators/test_hugging_face_local_generator.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x

#7425 refactor!: make TGI generators compatible with `huggingface_hub>=0.22.0`
  haystack/components/embedders/hugging_face_tei_document_embedder.py
  haystack/components/embedders/hugging_face_tei_text_embedder.py
  haystack/components/generators/chat/hugging_face_tgi.py
  haystack/components/generators/hugging_face_tgi.py
  haystack/utils/hf.py
  pyproject.toml
  releasenotes/notes/upgrade-tgi-to-new-hf-hub-51fcb3b6122fe020.yaml
  test/components/generators/chat/test_hugging_face_tgi.py
  test/components/generators/test_hugging_face_tgi.py
Labels: type:documentation, topic:tests, topic:build/distribution, 2.x

#7399 feat: Add `DocumentRecallEvaluator`
  haystack/components/evaluators/document_recall.py
  releasenotes/notes/recall-evaluator-5595470406e93ad2.yaml
  test/components/evaluators/test_document_recall.py
Labels: type:documentation, topic:tests, 2.x

#7426 Fix: Fix Pipeline.run() running components with only defaults in the wrong order
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/fix-pipeline-run-disorder-382da1e6bd6db510.yaml
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, 2.x, topic:core

#7429 ci: notify e2e nightly failures
  .github/workflows/e2e.yml
Labels: ignore-for-release-notes, topic:CI, 2.x

#7433 chore: Add TransformersZeroShotTextRouter to docs
  docs/pydoc/config/routers_api.yml
Labels: ignore-for-release-notes, 2.x

#7431 feat: Add boolen to toggle prompt truncation
  haystack/nodes/prompt/prompt_node.py
  test/prompt/test_prompt_node.py
Labels: type:documentation, topic:tests, topic:LLM, topic:promptnode, 1.x

#7423 feat: DynamicChatPromptBuilder add templating to all user/system messages
  haystack/components/builders/dynamic_chat_prompt_builder.py
  releasenotes/notes/dynamic-chat-prompt-templating-enhancement-e8d36cbf3be46da7.yaml
  test/components/builders/test_dynamic_chat_prompt_builder.py
Labels: type:documentation, topic:tests, 2.x

#7427 Ensure test_comparison_in checks an actual subset of documents
  haystack/testing/document_store.py
  releasenotes/notes/fix-document-store-in-test-3640b8b079ff4539.yaml
Labels: type:documentation, 2.x

#7434 fix: Fix `Pipeline.run()` getting stuck in a loop even though there are components that can run
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, 2.x, topic:core
