Repository deepset-ai/haystack, pull requests merged in 2025-03, with the labels that each got.

#8948 feat: Add run async for AzureOpenAIChatGenerator
  haystack/components/generators/chat/azure.py
  releasenotes/notes/run-async-azure-54450f0c2495f5c8.yaml
  test/components/generators/chat/test_azure.py
Labels: type:documentation, topic:tests

#8913 fix: in OpenAIChatGenerator set additionalProperties to False when tools_strict=True
  haystack/components/generators/chat/openai.py
  releasenotes/notes/fix-componenttool-for-openai-tools_strict-998e5cd7ebc6ec19.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
  test/tools/test_component_tool.py
Labels: type:documentation, topic:tests

#8950 fix: error in docstring of AzureOpenAIChatGenerator
  haystack/components/generators/chat/azure.py
Labels: type:documentation, ignore-for-release-notes

#8941 feat: Enhance error handling in Azure document embedder
  haystack/components/embedders/azure_document_embedder.py
  releasenotes/notes/add-azure-embedder-exception-handler-c10ea46fb536de3b.yaml
  test/components/embedders/test_azure_document_embedder.py
Labels: type:documentation, topic:tests

#8906 refactor!: remove `dataframe` field from `Document` and `ExtractedTableAnswer`; make `pandas` optional
  haystack/components/converters/azure.py
  haystack/components/converters/xlsx.py
  haystack/components/joiners/answer_joiner.py
  haystack/components/preprocessors/document_cleaner.py
  haystack/dataclasses/answer.py
  haystack/dataclasses/document.py
  haystack/document_stores/in_memory/document_store.py
  haystack/evaluation/eval_run_result.py
  haystack/testing/document_store.py
  haystack/utils/filters.py
  pyproject.toml
  releasenotes/notes/dataframe-removal-192caf5221ad6a96.yaml
  test/components/converters/test_docx_file_to_document.py
  test/components/converters/test_html_to_document.py
  test/components/converters/test_markdown_to_document.py
  test/components/joiners/test_answer_joiner.py
  test/components/preprocessors/test_csv_document_splitter.py
  test/components/preprocessors/test_document_cleaner.py
  test/core/pipeline/features/conftest.py
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_component_checks.py
  test/core/pipeline/test_pipeline_base.py
  test/dataclasses/test_answer.py
  test/dataclasses/test_document.py
  test/document_stores/test_in_memory.py
  test/tools/test_component_tool.py
  test/tracing/test_utils.py
  test/utils/test_filters.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8957 chore: update EvalRunResult deprecation warning to 2.12
  haystack/evaluation/eval_run_result.py
Labels: ignore-for-release-notes

#8965 build: support python 3.13
  CONTRIBUTING.md
  pyproject.toml
  releasenotes/notes/python-3.13-support-68d6f52887611eac.yaml
Labels: topic:build/distribution, topic:DX

#8958 chore: make `openapi-llm` an optional dependency
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8963 feat: adding async version of `InMemoryDocumentStore` and associated retrievers
  haystack/components/retrievers/in_memory/bm25_retriever.py
  haystack/components/retrievers/in_memory/embedding_retriever.py
  haystack/document_stores/in_memory/document_store.py
  releasenotes/notes/adding-async-inmemory-doc-store-3e5d108f921f2b70.yaml
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:document_store, topic:tests, topic:retriever

#8973 feat: increase Mermaid timeout and make it configurable
  haystack/core/pipeline/base.py
  haystack/core/pipeline/draw.py
  releasenotes/notes/mermaid-timeout-d0bd83dfa90f8544.yaml
  test/core/pipeline/test_draw.py
Labels: type:documentation, topic:tests, topic:CI, topic:core

#8962 feat: Add async run to DocumentWriter
  haystack/components/writers/document_writer.py
  releasenotes/notes/async-document-writer-9458ced66c1c38c7.yaml
  test/components/writers/test_document_writer.py
Labels: type:documentation, topic:tests

#8979 chore: update `transformers` test dependency to 4.48.3
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8980 fix: Update flaky HugginFace Generator tests to use more reliable model and add instruction tokens
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/test_hugging_face_api.py
  test/components/generators/test_hugging_face_local_generator.py
Labels: topic:tests, ignore-for-release-notes

#8982 refactor: Use Phi instead in HF API tests
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes

#8978 build: drop Python 3.8 support
  haystack/core/component/component.py
  haystack/core/component/types.py
  pyproject.toml
  releasenotes/notes/drop-python-3.8-868710963e794c83.yaml
  test/components/converters/test_markdown_to_document.py
  test/core/component/test_component.py
  test/tools/test_from_function.py
Labels: topic:tests, topic:build/distribution, topic:core

#8968 fix: allow support for `include_usage` in streaming using OpenAIChatGenerator
  haystack/components/generators/chat/openai.py
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
  test/components/generators/conftest.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#8984 ci: improve release notes format checking
  .github/workflows/release_notes.yml
  .github/workflows/release_notes_skipper.yml
  releasenotes/config.yaml
  releasenotes/notes/add-batch_size_faiss_init-5e97c1fb9409f873.yaml
  releasenotes/notes/run-async-azure-54450f0c2495f5c8.yaml
Labels: topic:CI

#8990 fix: Fix type util tests
  test/core/pipeline/test_type_utils.py
Labels: topic:tests, ignore-for-release-notes

#8988 docs: Update docstrings of `BranchJoiner`
  haystack/components/joiners/branch.py
  releasenotes/notes/update-docs-branch-joiner-bcabe5158bdb03af.yaml
Labels: type:documentation

#8981 feat: async support for the `HuggingFaceLocalChatGenerator`
  haystack/components/generators/chat/hugging_face_local.py
  releasenotes/notes/adding-async-huggingface-local-chat-generator-962512f52282d12d.yaml
  test/components/generators/chat/test_hugging_face_local.py
Labels: type:documentation, topic:tests, topic:build/distribution, topic:CI, topic:core

#8992 feat: adding function to detect unmapped CID characters in `PDFMinerToDocument`
  haystack/components/converters/pdfminer.py
  releasenotes/notes/adding-CID-detection-PDFMinerToDocument-0195a929d64cd502.yaml
  test/components/converters/test_pdfminer_to_document.py
Labels: type:documentation, topic:tests

#8994 fix: cleaning up `InMemoryDocumentStore` executor when created inside the class
  haystack/document_stores/in_memory/document_store.py
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#8993 fix: Fix type serialization and deserialization
  haystack/utils/type_serialization.py
  releasenotes/notes/fix-type-sede-optional-ea3c9a6b9de60c6e.yaml
  test/utils/test_type_serialization.py
Labels: type:documentation, topic:tests

#8997 feat: Improve type validation for bare types
  haystack/core/type_utils.py
  releasenotes/notes/add-bare-type-validation-a4720bc66ccaf5ef.yaml
  test/core/pipeline/test_type_utils.py
Labels: type:documentation, topic:tests, topic:core

#9026 fix: add `dataframe` to legacy fields for `Document`
  haystack/dataclasses/document.py
  releasenotes/notes/add-dataframe-to-legacy-fields-0f2c9abc00c67aa5.yaml
  test/dataclasses/test_document.py
Labels: type:documentation, topic:tests

#9027 feat: Add warning to ChatPromptBuilder and PromptBuilder if they have variables, but `required_variables` is not set
  haystack/components/builders/chat_prompt_builder.py
  haystack/components/builders/prompt_builder.py
  releasenotes/notes/warning-chat-and-prompt-builder-ca42295df9c1b770.yaml
  test/components/builders/test_chat_prompt_builder.py
  test/components/builders/test_prompt_builder.py
Labels: topic:tests

#9038 chore: Pin ruff
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#9028 chore: Use thread safe import in `import_class_by_name` utility function
  haystack/core/serialization.py
Labels: ignore-for-release-notes, topic:core

#9046 refactor: Update how we look for finish_reason
  haystack/components/generators/chat/openai.py
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9047 chore: removing `EvalRunResult` deprecation warnings
  haystack/evaluation/eval_run_result.py
  releasenotes/notes/removing-deprecated-EvalRunResult-d28c2eb407da0051.yaml
Labels: type:documentation

#9048 docs: updating docstring `BranchJoiner`
  haystack/components/joiners/branch.py
Labels: type:documentation, ignore-for-release-notes

#9054 fix: adding pylint disable for end2end tests evaluation
  e2e/pipelines/test_evaluation_pipeline.py
Labels: ignore-for-release-notes

#9031 feat: add `split_by_row` feature to `CSVDocumentSplitter`
  haystack/components/preprocessors/csv_document_splitter.py
  releasenotes/notes/add-split-by-row-csv-splitter-e810b96b0db287b3.yaml
  test/components/preprocessors/test_csv_document_splitter.py
Labels: type:documentation, topic:tests

#9001 feat: time extension for ChatPromptBuilder
  haystack/components/builders/chat_prompt_builder.py
  releasenotes/notes/feat-time-extension-chatprompt-builder-fb159207088943d8.yaml
  test/components/builders/test_chat_prompt_builder.py
Labels: topic:tests

#9070 feat: adding initial PoC based on state saving in JSON
  examples/data_based_breakpoints.py
  examples/resume_breakpoints.py
  haystack/core/pipeline/pipeline.py
Labels: type:documentation, topic:core

#9073 chore: remove unused logger from several modules
  haystack/components/audio/whisper_local.py
  haystack/components/caching/cache_checker.py
  haystack/components/classifiers/zero_shot_document_classifier.py
  haystack/components/connectors/openapi.py
  haystack/components/connectors/openapi_service.py
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/openai_dalle.py
  haystack/components/joiners/answer_joiner.py
  haystack/components/joiners/branch.py
  haystack/components/joiners/string_joiner.py
  haystack/components/rankers/meta_field_grouping_ranker.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/retrievers/filter_retriever.py
  haystack/components/routers/file_type_router.py
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
  haystack/components/tools/tool_invoker.py
  haystack/components/writers/document_writer.py
  haystack/core/component/sockets.py
  haystack/core/pipeline/descriptions.py
  haystack/core/type_utils.py
  haystack/dataclasses/document.py
  haystack/document_stores/types/protocol.py
  haystack/telemetry/_environment.py
  haystack/utils/device.py
Labels: ignore-for-release-notes, topic:core

#9074 feat: ChatGenerator protocol
  haystack/components/generators/chat/types/__init__.py
  haystack/components/generators/chat/types/protocol.py
  haystack/core/component/component.py
  releasenotes/notes/chatgenerator-protocol-a5136f63e05b7210.yaml
Labels: type:documentation, topic:core

#9066 fix: improve error message for incorrect component types
  haystack/core/pipeline/base.py
  test/core/pipeline/test_pipeline_base.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#9078 Update docstring and prevent name collisions
  haystack/core/pipeline/async_pipeline.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#9079 feat: adding function to validate breakpoints
  haystack/core/pipeline/pipeline.py
Labels: ignore-for-release-notes, topic:core

#9080 feat: add reasoning to breakpoints considering visit counts values
  haystack/core/pipeline/pipeline.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#9075 test: OpenAIChatGenerator - relax flaky test
  test/components/generators/chat/test_openai.py
Labels: topic:tests

#9081 Improve state resuming mechanism
  examples/resume_breakpoints.py
  haystack/core/pipeline/pipeline.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#9069 refactor!: `ChatMessage` serialization-deserialization updates
  haystack/dataclasses/chat_message.py
  releasenotes/notes/chatmessage-serde-updates-f211c930e59c59b6.yaml
  test/components/builders/test_chat_prompt_builder.py
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#9083 chore: make Haystack warnings consistent
  haystack/components/converters/openapi_functions.py
  haystack/components/converters/output_adapter.py
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/readers/extractive.py
  haystack/components/routers/conditional_router.py
  haystack/evaluation/eval_run_result.py
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/routers/test_conditional_router.py
Labels: topic:tests, ignore-for-release-notes

#9092 docs: fixing docstrings
  haystack/components/audio/whisper_local.py
Labels: type:documentation, ignore-for-release-notes

#9099 refactor: `LLMMetadataExtractor` - adopt `ChatGenerator` protocol: deprecate `generator_api`, `generator_api_params` and `LLMProvider`
  haystack/components/extractors/llm_metadata_extractor.py
  releasenotes/notes/llmmetadataextractor-chatgenerator-a038b2d32d2bfc5d.yaml
  test/components/extractors/test_llm_metadata_extractor.py
Labels: type:documentation, topic:tests

#9102 fix: improve `component.output_types` decorator type hinting to support `run_async` methods
  haystack/core/component/component.py
  releasenotes/notes/output-types-decorator-better-type-hinting-51bb3f28f55954b4.yaml
Labels: type:documentation, topic:core

#9103 ci: run mypy across the codebase
  .github/workflows/tests.yml
Labels: topic:CI

#9105 enhancement: add detailed error message for failed component run
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/add-error-message-component-run-failure-b956852263d41c3c.yaml
  test/core/pipeline/test_pipeline.py
Labels: topic:tests, topic:core

#9111 test: `OpenAIChatGenerator` - relax async test
  test/components/generators/chat/test_openai_async.py
Labels: topic:tests

#9108 test: skip/remove some `Pipeline.draw` integration tests
  test/core/pipeline/test_draw.py
Labels: topic:tests

#9109 feat: include hyperlink addresses in DOCXToDocument output
  haystack/components/converters/docx.py
  releasenotes/notes/docx-links-e389808e1ec52d57.yaml
  test/components/converters/test_docx_file_to_document.py
  test/test_files/docx/sample_docx_with_links.docx
  test/test_files/docx/sample_docx_with_single_link.docx
Labels: type:documentation, topic:tests

#9034 feat: LinkContentFetcher - replace requests with httpx, add async and http/2
  haystack/components/fetchers/link_content.py
  pyproject.toml
  releasenotes/notes/async-http2-link-fetcher-68c1c5d012a7550a.yaml
  test/components/fetchers/test_link_content_fetcher.py
Labels: type:documentation, topic:tests, topic:build/distribution

#9116 refactor!: use Chat Generator in LLM evaluators
  haystack/components/evaluators/llm_evaluator.py
  releasenotes/notes/llm-evaluators-chat-generator-bf930fa6db019714.yaml
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/evaluators/test_faithfulness_evaluator.py
  test/components/evaluators/test_llm_evaluator.py
Labels: topic:tests

#9117 fix: converting methods to `staticmethod` and fixing docstrings in `DocumentRecallEvaluator`
  haystack/components/evaluators/document_recall.py
Labels: type:documentation, ignore-for-release-notes

#9119 chore: remove unused `check_generation_params` utility function
  haystack/utils/hf.py
  test/components/generators/test_hf_utils.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9033 Add compatibility checks for Callable types
  haystack/core/type_utils.py
  releasenotes/notes/add-callable-type-compatibility-a3746cd0cfd8fc10.yaml
  test/core/pipeline/test_type_utils.py
Labels: type:documentation, topic:tests, topic:core

#9121 test: temporarily skip `test_to_mermaid_image` integration test
  test/core/pipeline/test_draw.py
Labels: topic:tests

#9120 chore: skip `typing_extensions` license check
  .github/workflows/license_compliance.yml
  haystack/utils/hf.py
Labels: ignore-for-release-notes, topic:CI

#9124 ci: review required jobs
  .github/workflows/ci_metrics.yml
  .github/workflows/tests.yml
  .github/workflows/tests_skipper_trigger.yml
Labels: topic:CI

#9125 chore: removing unused variable in `DocumentJoiner`
  haystack/components/joiners/document_joiner.py
Labels: ignore-for-release-notes

#9113 feat: integrate updates of Tool, ToolInvoker, State, create_tool_from_function, ComponentTool from haystack-experimental
  docs/pydoc/config/data_classess_api.yml
  haystack/components/tools/tool_invoker.py
  haystack/dataclasses/__init__.py
  haystack/dataclasses/state.py
  haystack/dataclasses/state_utils.py
  haystack/tools/component_tool.py
  haystack/tools/from_function.py
  haystack/tools/tool.py
  releasenotes/notes/move-tool-ff98d464d3e5d775.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/chat/test_openai.py
  test/components/tools/test_tool_invoker.py
  test/dataclasses/test_state.py
  test/dataclasses/test_state_utils.py
  test/tools/test_component_tool.py
  test/tools/test_from_function.py
  test/tools/test_tool.py
Labels: type:documentation, topic:tests

#9126 refactor: use `token` in`SentenceTransformersDiversityRanker`
  haystack/components/rankers/sentence_transformers_diversity.py
  releasenotes/notes/diversity-ranker-hf-toke-8dcb6889ff625948.yaml
  test/components/rankers/test_sentence_transformers_diversity.py
Labels: type:documentation, topic:tests

#9128 fix: manage max_retries=0 in AzureOpenAIGenerator, AzureOpenAIChatGenerator, AzureOpenAITextEmbedder, AzureOpenAIDocumentEmbedder
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  releasenotes/notes/fix-max-retries-azure-open-ai-a16104e9efd4b8f2.yaml
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
  test/components/generators/chat/test_azure.py
  test/components/generators/test_azure.py
Labels: type:documentation, topic:tests

#9131 fix: `DALLEImageGenerator` - ensure `max_retries` is correctly set when 0
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  haystack/components/generators/azure.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/openai_dalle.py
  releasenotes/notes/dalle-fix-max-retries-703c36ce354a2e45.yaml
  test/components/generators/test_openai_dalle.py
Labels: topic:tests

#9112 feat: integrate Agent from haystack-experimental
  docs/pydoc/config/agents_api.yml
  haystack/components/agents/__init__.py
  haystack/components/agents/agent.py
  releasenotes/notes/move-agent-2d7f3145921fdec2.yaml
  test/components/agents/test_agent.py
Labels: type:documentation, topic:tests

#9132 feat: support multiple exit conditions in Agent and rename init param
  haystack/components/agents/agent.py
  releasenotes/notes/agent-exit-conditions-d8ffd979d961cd6d.yaml
  test/components/agents/test_agent.py
Labels: type:documentation, topic:tests

#9144 feat: Agent checks that its chat_generator supports tools
  haystack/components/agents/agent.py
  releasenotes/notes/check-chatgenerator-tools-support-f684c1ad0d9ad108.yaml
  test/components/agents/test_agent.py
Labels: type:documentation, topic:tests

#9149 chore: use `deserialize_chatgenerator_inplace` utility function in `Agent`
  haystack/components/agents/agent.py
  test/components/agents/test_agent.py
Labels: topic:tests, ignore-for-release-notes
