Repository deepset-ai/haystack, pull requests merged in 2025-02, with the labels that each got.

#8797 chore: Remove DocumentSplitter warning - split_by='sentence'
  haystack/components/preprocessors/document_splitter.py
Labels: ignore-for-release-notes

#8799 feat: Add support for custom (or offline) Mermaid.ink server and support all parameters
  haystack/core/pipeline/base.py
  haystack/core/pipeline/draw.py
  releasenotes/notes/custom-mermaid-server-and-params-b88ca837375c3e0f.yaml
  test/core/pipeline/test_draw.py
Labels: type:documentation, topic:tests, topic:core

#8794 refactor: HF API Embedders - use `InferenceClient.feature_extraction` instead of `InferenceClient.post`
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/embedders/hugging_face_api_text_embedder.py
  pyproject.toml
  releasenotes/notes/hf-embedders-feature-extraction-ea0421a8f76052f0.yaml
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8803 chore: `ToolInvoker` - remove warning
  haystack/components/tools/tool_invoker.py
Labels: ignore-for-release-notes

#8800 fix: Fix filters to handle date times with timezones (loading and comparison)
  haystack/components/routers/metadata_router.py
  haystack/utils/filters.py
  releasenotes/notes/fix-date-comparison-ced1d6ef64534951.yaml
  test/components/routers/test_metadata_router.py
  test/utils/test_filters.py
Labels: type:documentation, topic:tests

#8809 fix: fix test failures with Transformers models in PRs from forks
  test/components/classifiers/test_zero_shot_document_classifier.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/evaluators/test_sas_evaluator.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/readers/test_extractive.py
  test/components/routers/test_transformers_text_router.py
  test/components/routers/test_zero_shot_text_router.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, topic:CI

#8804 refactor!: `DOCXToDocument` converter - store DOCX metadata as a dict
  haystack/components/converters/__init__.py
  haystack/components/converters/docx.py
  releasenotes/notes/docxmetadata-as-dict-20cf2ef0abf7af8a.yaml
  test/components/converters/test_docx_file_to_document.py
Labels: topic:tests

#8806 feat: SentenceTransformersDocumentEmbedder and SentenceTransformersTextEmbedder can accept and pass any arguments to SentenceTransformer.encode
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  releasenotes/notes/add-encode-kwargs-sentence-transformers-f4d885f6c5b1706f.yaml
  test/components/embedders/test_sentence_transformers_document_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
Labels: type:documentation, topic:tests

#8707 fix: pipeline run bugs in cyclic and acyclic pipelines
  haystack/core/pipeline/base.py
  haystack/core/pipeline/component_checks.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/utils.py
  pyproject.toml
  releasenotes/notes/fix-pipeline-run-2fefeafc705a6d91.yaml
  test/conftest.py
  test/core/pipeline/features/conftest.py
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_component_checks.py
  test/core/pipeline/test_pipeline.py
  test/core/pipeline/test_pipeline_base.py
  test/core/pipeline/test_tracing.py
  test/core/pipeline/test_utils.py
  test/test_files/yaml/test_pipeline.yaml
  test/tracing/test_tracer.py
  test/tracing/utils.py
Labels: type:documentation, topic:tests, topic:build/distribution, topic:core

#8822 chore: fix Hugging Face components for mypy 1.15.0
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/hugging_face_api.py
  test/components/generators/test_hugging_face_api.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#8816 feat: Add component CSVDocumentCleaner for removing empty rows and columns
  docs/pydoc/config/preprocessors_api.yml
  haystack/components/preprocessors/__init__.py
  haystack/components/preprocessors/csv_document_cleaner.py
  releasenotes/notes/csv-document-cleaner-8eca67e884684c56.yaml
  test/components/preprocessors/test_csv_document_cleaner.py
Labels: type:documentation, topic:tests

#8827 feat: HuggingFaceLocalChatGenerator unified support for tools
  haystack/components/generators/chat/hugging_face_local.py
  releasenotes/notes/hf-local-chatgenerator-add-tooling-d8676dff2bdf0323.yaml
  test/components/generators/chat/test_hugging_face_local.py
Labels: type:documentation, topic:tests

#8808 feat: Add OpenAPIConnector component, improve OpenAPI integration
  docs/pydoc/config/connectors.yml
  haystack/components/connectors/__init__.py
  haystack/components/connectors/openapi.py
  pyproject.toml
  releasenotes/notes/add-openapi-connector-ebaa97cfa95b6c3e.yaml
  test/components/connectors/test_openapi_connector.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8817 fix: Update OpenAPIServiceConnector to new ChatMessage
  haystack/components/connectors/openapi_service.py
  releasenotes/notes/update-openapi-service-connector-e49f665968013425.yaml
  test/components/connectors/test_openapi_service.py
Labels: type:documentation, topic:tests

#8833 feat: adding `LLMMetadataExtractor`
  docs/pydoc/config/extractors_api.yml
  haystack/components/extractors/__init__.py
  haystack/components/extractors/llm_metadata_extractor.py
  haystack/utils/__init__.py
  haystack/utils/utils.py
  pyproject.toml
  releasenotes/notes/adding-LLMMetadataExtractor-7ff55cf132122f1f.yaml
  test/components/extractors/test_llm_metadata_extractor.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8837 chore: Fix typos in proposals
  proposals/README.md
  proposals/text/4084-agent-demo.md
  proposals/text/4284-drop-basecomponent.md
  proposals/text/4370-documentstores-and-retrievers.md
  proposals/text/5540-llm-support-2.0.md
  proposals/text/6784-integrations-for-eval-framworks.md
Labels: ignore-for-release-notes, proposal

#8840 removing from_dict/to_dict AWS tests
  pyproject.toml
  test/components/extractors/test_llm_metadata_extractor.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution

#8839 fix: Fix csv document splitter when table is only one row wide
  haystack/components/preprocessors/csv_document_splitter.py
  test/components/preprocessors/test_csv_document_splitter.py
Labels: topic:tests, ignore-for-release-notes

#8841 chore: pin `posthog<3.12.0`
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8829 fix: Look through all streaming chunks for tools calls
  haystack/components/generators/chat/openai.py
  releasenotes/notes/improve-tool-call-chunk-search-986474e814af17a7.yaml
  test/components/generators/chat/test_openai.py
Labels: type:documentation, topic:tests

#8843 fix: Improve docstrings of AsyncPipeline
  haystack/core/pipeline/async_pipeline.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#8845 fix: AsyncPipeline logging name can't be overwritten
  haystack/core/pipeline/async_pipeline.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#8847 chore: stop collecting `transformers` and `torch` in telemetry
  haystack/telemetry/_environment.py
Labels: ignore-for-release-notes

#8850 docs: update the api docs of AsyncPipeline
  haystack/core/pipeline/async_pipeline.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#8849 feat: Add store_full_path to converter
  haystack/components/converters/xlsx.py
  releasenotes/notes/add-store-full-path-xlsx-convter-535bcb48433f7717.yaml
  test/components/converters/test_xlsx_to_document.py
Labels: type:documentation, topic:tests

#8857 fix: Add `__version__` to hasytack init
  haystack/__init__.py
Labels: type:documentation, ignore-for-release-notes

#8851 feat: Update list joiner
  haystack/components/joiners/list_joiner.py
  releasenotes/notes/update-list-joiner-0a068cfb058f3c35.yaml
  test/components/joiners/test_list_joiner.py
Labels: type:documentation, topic:tests

#8838 fix: make pandas DataFrame optional in `EvaluationRunResult`
  haystack/evaluation/__init__.py
  haystack/evaluation/base.py
  haystack/evaluation/eval_run_result.py
  releasenotes/notes/refactored-evalaution-nopandas-bcab00e4797a3c60.yaml
  test/evaluation/test_eval_run_result.py
Labels: type:documentation, topic:tests

#8870 fix: ComponentTool description should not be truncated
  haystack/tools/component_tool.py
  releasenotes/notes/fix-tool-description-truncation-011e8275fea4ccb0.yaml
  test/tools/test_component_tool.py
Labels: topic:tests

#8872 chore: Make openai test more robust
  test/components/generators/test_openai.py
Labels: topic:tests, ignore-for-release-notes

#8871 refactor: Refactor and expand tests for type utils
  test/core/pipeline/test_type_utils.py
Labels: topic:tests, ignore-for-release-notes

#8853 fix: Fix serialization of `typing.Any` when using `serialize_type` utility
  haystack/utils/type_serialization.py
  releasenotes/notes/fix-serialize-any-type-ea0ca14eadb21b3d.yaml
  test/utils/test_type_serialization.py
Labels: topic:tests

#8873 fix: component checks failing for components that return dataframes
  haystack/core/pipeline/base.py
  haystack/core/pipeline/component_checks.py
  pyproject.toml
  releasenotes/notes/fix-component-checks-with-ambiguous-truth-values-949c447b3702e427.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/core/pipeline/features/conftest.py
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_component_checks.py
  test/core/pipeline/test_pipeline_base.py
Labels: topic:tests, topic:build/distribution, topic:core

#8877 fix: use dunder all for ToolInvoker
  haystack/components/tools/__init__.py
Labels: ignore-for-release-notes

#8879 fix: Fix OpenAIChatGenerator + tools + streaming
  haystack/components/generators/chat/openai.py
  releasenotes/notes/fix-openai-chat-generator-with-tools-and-streaming-9776040f0732a8aa.yaml
  test/components/generators/chat/test_openai.py
Labels: topic:tests

#8883 chore: Remove print statements from tests and mention of old name
  haystack/core/component/component.py
  haystack/core/pipeline/base.py
  test/components/evaluators/test_context_relevance_evaluator.py
  test/components/routers/test_file_router.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#8881 chore: Update default output type of list joiner to be correct
  haystack/components/joiners/list_joiner.py
  test/components/joiners/test_list_joiner.py
Labels: topic:tests, ignore-for-release-notes

#8880 Add `run_async` to `OpenAIChatGenerator`
  haystack/components/generators/chat/openai.py
  haystack/dataclasses/__init__.py
  haystack/dataclasses/streaming_chunk.py
  haystack/utils/asynchronous.py
  pyproject.toml
  releasenotes/notes/add-run-async-to-openai-chat-generator-3b4724af4fe4707a.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
  test/components/generators/conftest.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8887 chore: cleaning up unused imports in tests
  test/components/builders/test_chat_prompt_builder.py
  test/components/converters/test_csv_to_document.py
  test/core/pipeline/test_component_checks.py
  test/core/test_serialization.py
  test/evaluation/test_eval_run_result.py
Labels: topic:tests, ignore-for-release-notes

#8891 test: make sure no extra modules are being imported due to `__init__` definitions
  test/core/test_importing.py
Labels: topic:tests, ignore-for-release-notes

#8897 chore: pin `ddtrace<3.0.0`
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8878 perf: Optimize import times
  haystack/__init__.py
  haystack/components/audio/__init__.py
  haystack/components/builders/__init__.py
  haystack/components/caching/__init__.py
  haystack/components/classifiers/__init__.py
  haystack/components/connectors/__init__.py
  haystack/components/converters/__init__.py
  haystack/components/embedders/__init__.py
  haystack/components/evaluators/__init__.py
  haystack/components/extractors/__init__.py
  haystack/components/extractors/llm_metadata_extractor.py
  haystack/components/fetchers/__init__.py
  haystack/components/generators/__init__.py
  haystack/components/generators/chat/__init__.py
  haystack/components/joiners/__init__.py
  haystack/components/preprocessors/__init__.py
  haystack/components/rankers/__init__.py
  haystack/components/readers/__init__.py
  haystack/components/retrievers/__init__.py
  haystack/components/retrievers/in_memory/__init__.py
  haystack/components/routers/__init__.py
  haystack/components/samplers/__init__.py
  haystack/components/tools/__init__.py
  haystack/components/validators/__init__.py
  haystack/components/websearch/__init__.py
  haystack/components/writers/__init__.py
  haystack/dataclasses/__init__.py
  haystack/document_stores/in_memory/__init__.py
  haystack/evaluation/__init__.py
  haystack/lazy_imports.py
  haystack/marshal/__init__.py
  haystack/tools/__init__.py
  haystack/utils/__init__.py
  haystack/utils/expit.py
  haystack/utils/misc.py
  releasenotes/notes/optimize-import-times-935e1387beeb3a52.yaml
  test/core/test_importing.py
Labels: type:documentation, topic:tests

#8892 ci: refactor job to check imports
  .github/utils/check_imports.py
  .github/workflows/tests.yml
  .github/workflows/tests_skipper_trigger.yml
Labels: type:documentation, topic:tests, topic:CI

#8908 fix: right tracer import path
  haystack/tracing/tracer.py
Labels: ignore-for-release-notes

#8868 feat: Add MSGToDocument converter
  docs/pydoc/config/converters_api.yml
  haystack/components/converters/__init__.py
  haystack/components/converters/msg.py
  pyproject.toml
  releasenotes/notes/add-msg-to-document-converter-79338eef22a3fd82.yaml
  test/components/converters/test_msg_to_document.py
  test/test_files/msg/sample.msg
Labels: type:documentation, topic:tests, topic:build/distribution

#8910 feat: In FileTypeRouter add `.msg` to "application/vnd.ms-outlook" mapping
  haystack/components/routers/file_type_router.py
  releasenotes/notes/add-msg-mime-type-file-router-b33d8916caaf5976.yaml
  test/components/routers/test_file_router.py
Labels: topic:tests

#8911 fix: set tracing tags before context manager exits
  haystack/core/pipeline/async_pipeline.py
Labels: ignore-for-release-notes, topic:core

#8907 fix: reduce number of edge cases where lazy variadic components wait for inputs that can't arrive anymore
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/fix-pipeline-components-waiting-edge-cases-51a3054e3f1adb6e.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8914 Revert "test: skip HF API live integration tests (#8889)"
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes

#8938 skip HF API integration test
  test/components/generators/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes

#8936 Avoid mutating self.routes in ConditionalRouter to_dict method
  haystack/components/routers/conditional_router.py
  releasenotes/notes/fix-conditional-router-to-dict-5af887da50effe11.yaml
  test/components/routers/test_conditional_router.py
Labels: topic:tests

#8940 fix: only overwrite existing socket inputs when we provide a new value
  haystack/core/pipeline/base.py
  releasenotes/notes/fix-socket-input-overwriting-6c29d657e4887458.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/features/test_run.py
  test/core/pipeline/test_pipeline_base.py
Labels: type:documentation, topic:tests, topic:core

#8944 test: remove duplicate test on OpenAIChatGenerator
  test/components/generators/chat/test_openai.py
Labels: topic:tests, ignore-for-release-notes
