Repository deepset-ai/haystack, pull requests merged in 2025-06, with the labels that each got.

#9475 fix: Fix structlog test
  test/test_logging.py
Labels: topic:tests, ignore-for-release-notes

#9481 feat: `ChatMessage.to_openai_dict_format` - add `require_tool_call_ids` parameter
  haystack/dataclasses/chat_message.py
  releasenotes/notes/to_openai_dict_format-require-tool-call-ids-9e40a5751740ad89.yaml
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#9486 fix: Add state to agent pydocs
  docs/pydoc/config/agents_api.yml
Labels: ignore-for-release-notes

#9484 feat: Improve ChatMessage _deserialize_content ValueError - make it more LLM friendly
  haystack/dataclasses/chat_message.py
  releasenotes/notes/improve-chatmessage-error-messages-llm-agents-a1b2c3d4e5f6g7h8.yaml
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#9500 test: replace tool calling model in tests with Qwen2.5-72B-Instruct
  test/components/generators/chat/test_hugging_face_api.py
Labels: topic:tests

#9424 feat: Update streaming chunk
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
  haystack/components/tools/tool_invoker.py
  haystack/dataclasses/__init__.py
  haystack/dataclasses/streaming_chunk.py
  haystack/utils/hf.py
  releasenotes/notes/update-streaming-chunk-more-info-9008e05b21eef349.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
  test/components/generators/test_utils.py
  test/dataclasses/test_streaming_chunk.py
Labels: type:documentation, topic:tests

#9491 chore: simplify Haystack Hatch scripts
  .github/workflows/docstrings_linting.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  haystack/components/embedders/azure_text_embedder.py
  haystack/components/generators/azure.py
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI, topic:DX

#9497 fix: serialization of nested `ChatMessage` in `GeneratedAnswer`dataclass
  haystack/dataclasses/answer.py
  releasenotes/notes/fix-serialization-generated-answer-fa8f3692a184f8fd.yaml
  test/components/builders/test_answer_builder.py
  test/dataclasses/test_answer.py
Labels: topic:tests

#9504 chore: cleanup - lint and tests
  haystack/components/classifiers/document_language_classifier.py
  haystack/components/connectors/openapi_service.py
  haystack/components/evaluators/llm_evaluator.py
  haystack/components/extractors/llm_metadata_extractor.py
  haystack/components/routers/text_language_router.py
  haystack/core/serialization.py
  haystack/tools/component_tool.py
  haystack/utils/auth.py
  pyproject.toml
  test/core/pipeline/test_pipeline_base.py
  test/document_stores/test_in_memory.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, topic:core

#9514 feat: Warn users if Agent is called with only system messages
  haystack/components/agents/agent.py
  releasenotes/notes/warning-or-error-missing-messages-agent-c9bb7f1fd3708df1.yaml
  test/components/agents/test_agent.py
Labels: type:documentation, topic:tests

#9455 refactor: Refactor `HuggingFaceLocalChatGenerator`
  haystack/components/generators/chat/hugging_face_local.py
Labels: type:documentation, ignore-for-release-notes

#9520 feat: Make `PipelineBase().validate_input` public
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/make-validate-input-public-e547ef5b75069bd7.yaml
Labels: topic:core

#9519 chore: Add unit test to ToolInvoker to check we can call tools with no arguments
  test/components/tools/test_tool_invoker.py
Labels: topic:tests, ignore-for-release-notes

#9517 Fixes incorrect ID generation for identical chunks in RecursiveDocumentSplitter
  haystack/components/preprocessors/recursive_splitter.py
  releasenotes/notes/fix-recursive-splitter-unique-ids-5ae9901b81131302.yaml
  test/components/preprocessors/test_recursive_splitter.py
Labels: topic:tests

#9527 fix: fix SuperComponent class serialization/deserialization for async Pipelines
  haystack/core/super_component/super_component.py
  releasenotes/notes/supercomponent-class-async-serde-4bfc357570b252db.yaml
  test/core/super_component/test_super_component.py
Labels: type:documentation, topic:tests, topic:core

#9524 fix: Fix Tool and ComponentTool serialization when specifying `outputs_to_string`
  haystack/tools/component_tool.py
  haystack/tools/tool.py
  releasenotes/notes/fix-serialization-tool-and-comp-tool-017caac6bb56e744.yaml
  test/tools/test_component_tool.py
  test/tools/test_tool.py
Labels: type:documentation, topic:tests

#9525 refactor: Update to `StreamingChunk`, better `index` setting and change `tool_call` to `tool_calls`
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
  haystack/dataclasses/streaming_chunk.py
  releasenotes/notes/update-streaming-chunk-more-info-9008e05b21eef349.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_utils.py
  test/dataclasses/test_streaming_chunk.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9526 fix: Update the de/serialization with schema utils
  haystack/utils/base_serialization.py
  test/components/agents/test_state_class.py
  test/utils/test_base_serialization.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9547 chore: Update pydoc-markdown.sh
  .github/utils/pydoc-markdown.sh
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI

#9530 feat: enable parallel tool execution in ToolInvoker
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/enable-parallel-tool-calling-96c6589f116c7e7b.yaml
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#9558 chore: fix deepset_sync.py for pylint + general linting improvements
  .github/utils/check_imports.py
  .github/utils/create_unstable_docs.py
  .github/utils/deepset_sync.py
  .github/utils/delete_outdated_docs.py
  .github/utils/docstrings_checksum.py
  .github/utils/promote_unstable_docs.py
  .github/utils/pyproject_to_requirements.py
  .github/utils/readme_api.py
  .github/workflows/tests.yml
  .github/workflows/tests_skipper_trigger.yml
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI

#9566 fix: Fix `_convert_streaming_chunks_to_chat_message`
  haystack/components/generators/utils.py
  releasenotes/notes/fix-convert-streaming-chunks-to-chat-message-290f69b64581f109.yaml
  test/components/generators/test_utils.py
Labels: topic:tests

#9568 feat: Add `to_dict` and `from_dict` to ByteStream
  haystack/dataclasses/byte_stream.py
  haystack/dataclasses/document.py
  releasenotes/notes/add-sede-to-bytestream-0a06db79a96a0e75.yaml
  test/dataclasses/test_byte_stream.py
  test/dataclasses/test_document.py
Labels: type:documentation, topic:tests
