Repository deepset-ai/haystack, pull requests merged in 2025-07, with the labels that each got.

#9579 fix: fix `print_streaming_chunk` + add tests
  haystack/components/generators/utils.py
  releasenotes/notes/fix-print-streaming-chunk-501aaa208354d211.yaml
  test/components/generators/test_utils.py
Labels: type:documentation, topic:tests

#9578 chore: remove deprecated `State` from `haystack.dataclasses`
  docs/pydoc/config/data_classess_api.yml
  haystack/dataclasses/__init__.py
  haystack/dataclasses/state.py
  haystack/dataclasses/state_utils.py
  releasenotes/notes/remove-deprecated-State-from-dataclasses-d7f66e768293f6b1.yaml
  test/components/tools/test_tool_invoker.py
  test/dataclasses/test_state.py
Labels: type:documentation, topic:tests

#9582 feat: Relax requirement for creating a ToolCallDelta dataclass
  haystack/dataclasses/streaming_chunk.py
  releasenotes/notes/relax-tool-call-delta-a9e1f3e9c753cdf4.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_utils.py
  test/dataclasses/test_streaming_chunk.py
Labels: topic:tests

#9585 chore: remove backward compatibility for `State` deserialization
  haystack/utils/base_serialization.py
  releasenotes/notes/remove-legacy-deserialization-with-schema-d0d1639d8f3b0ad3.yaml
  test/components/agents/test_state_class.py
Labels: type:documentation, topic:tests

#9589 chore: reenable HF API Embedders tests + improve `HFAPIChatGenerator` docstrings
  haystack/components/generators/chat/hugging_face_api.py
  pyproject.toml
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/generators/chat/test_hugging_face_api.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:build/distribution

#9597 chore: Workflow to sync docs with Docusaurus repo
  .github/workflows/docusaurus_sync.yml
  docs/pydoc/config_docusaurus/data_classess_api.yml
Labels: topic:CI

#9599 docs: fix curly brackets
  haystack/components/evaluators/faithfulness.py
  haystack/tools/component_tool.py
  haystack/tools/from_function.py
  haystack/tools/tool.py
Labels: type:documentation, ignore-for-release-notes

#9600 docs: fix < > tags in LLMEvaluator
  haystack/components/evaluators/llm_evaluator.py
Labels: type:documentation, ignore-for-release-notes

#9601 fix: Small change to prompt
  haystack/components/extractors/llm_metadata_extractor.py
Labels: type:documentation, ignore-for-release-notes

#9607 fix: test `HuggingFaceAPIChatGenerator` with a different model
  haystack/components/generators/chat/hugging_face_api.py
  test/components/generators/chat/test_hugging_face_api.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9606 feat: Explicitly test support for builtin python 3.9+ types
  haystack/core/type_utils.py
  releasenotes/notes/explicitly-test-builtin-types-bb6b3be8791ddd7c.yaml
  test/core/test_type_utils.py
  test/utils/test_type_serialization.py
Labels: type:documentation, topic:tests, topic:core

#9610 feat: Update sentence window retriever to add `source_id_meta_field`, `split_id_meta_field `, and `raise_on_missing_meta_fields `
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/update-sentence-window-retriever-61435bc3d1c5f66b.yaml
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:documentation, topic:tests

#9613 upgraded README.md
  README.md
Labels: ignore-for-release-notes

#9619 feat: Add dataclasses to represent a `PipelineSnapshot` and refactored to use it
  haystack/components/agents/agent.py
  haystack/core/errors.py
  haystack/core/pipeline/breakpoint.py
  haystack/core/pipeline/pipeline.py
  haystack/dataclasses/breakpoints.py
  test/components/agents/test_agent_breakpoints_inside_pipeline.py
  test/components/agents/test_agent_breakpoints_isolation_async.py
  test/components/agents/test_agent_breakpoints_isolation_sync.py
  test/conftest.py
  test/core/pipeline/test_breakpoint.py
  test/core/pipeline/test_pipeline_breakpoints_answer_joiner.py
  test/core/pipeline/test_pipeline_breakpoints_branch_joiner.py
  test/core/pipeline/test_pipeline_breakpoints_list_joiner.py
  test/core/pipeline/test_pipeline_breakpoints_loops.py
  test/core/pipeline/test_pipeline_breakpoints_rag_hybrid.py
  test/core/pipeline/test_pipeline_breakpoints_string_joiner.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#9573 feat: allow mime_type to be guessed for ByteStream
  haystack/components/converters/utils.py
  haystack/components/routers/file_type_router.py
  haystack/dataclasses/byte_stream.py
  releasenotes/notes/add-bytestream-guess-mime-type-e973262fa75f2982.yaml
  test/components/converters/test_utils.py
  test/components/routers/test_file_router.py
  test/dataclasses/test_byte_stream.py
Labels: type:documentation, topic:tests

#9633 chore: `HuggingFaceAPIChatGenerator` - check if `ChatCompletionOutput.choices` is `None`
  haystack/components/generators/chat/hugging_face_api.py
Labels: ignore-for-release-notes

#9608 feat: add to_dict and from_dict to StreamingChunk
  haystack/dataclasses/chat_message.py
  haystack/dataclasses/streaming_chunk.py
  releasenotes/notes/add-to-dict-from-dict-streamingchunk-f42dfbcca72e0465.yaml
  test/dataclasses/test_streaming_chunk.py
Labels: type:documentation, topic:tests

#9634 feat: Add DocumentTypeRouter
  docs/pydoc/config/routers_api.yml
  docs/pydoc/config_docusaurus/routers_api.yml
  haystack/components/routers/__init__.py
  haystack/components/routers/document_type_router.py
  haystack/components/routers/file_type_router.py
  haystack/dataclasses/byte_stream.py
  haystack/utils/misc.py
  releasenotes/notes/doc-type-router-8ff863f493c2ce3c.yaml
  test/components/routers/test_document_type_router.py
Labels: type:documentation, topic:tests

#9635 feat: add SentenceTransformersDocumentImageEmbedder (+ fix flaky test)
  .github/workflows/slow.yml
  docs/pydoc/config/embedders_api.yml
  docs/pydoc/config_docusaurus/embedders_api.yml
  haystack/components/embedders/image/__init__.py
  haystack/components/embedders/image/sentence_transformers_doc_image_embedder.py
  releasenotes/notes/sentence-transformers-doc-image-embedder-a1b909dd56b98d4e.yaml
  test/components/embedders/image/test_sentence_transformers_doc_image_embedder.py
  test/components/generators/chat/test_openai.py
Labels: type:documentation, topic:tests, topic:CI

#9636 feat: add `DocumentLengthRouter`
  docs/pydoc/config/routers_api.yml
  docs/pydoc/config_docusaurus/routers_api.yml
  haystack/components/routers/__init__.py
  haystack/components/routers/document_length_router.py
  releasenotes/notes/doc-length-router-a270eca40dba83ea.yaml
  test/components/routers/test_document_length_router.py
Labels: type:documentation, topic:tests

#9637 feat: Add LLMDocumentContentExtractor
  docs/pydoc/config/extractors_api.yml
  docs/pydoc/config_docusaurus/extractors_api.yml
  haystack/components/extractors/image/__init__.py
  haystack/components/extractors/image/llm_document_content_extractor.py
  releasenotes/notes/add-llm-doc-content-extractor-482b09a21a8b0609.yaml
  test/components/extractors/image/__init__.py
  test/components/extractors/image/test_llm_document_content_extractor.py
Labels: type:documentation, topic:tests, topic:CI

#9622 feat: added `return_embedding` attr in `in_memory/document_store`
  haystack/document_stores/in_memory/document_store.py
  releasenotes/notes/update-in-memory-document-store-17f555695caf9d52.yaml
  test/components/retrievers/test_sentence_window_retriever.py
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests

#9629 feat: saving include_outputs_from intermediate results to `PipelineState` object
  haystack/core/pipeline/breakpoint.py
  haystack/core/pipeline/pipeline.py
  haystack/dataclasses/breakpoints.py
  test/core/pipeline/test_breakpoint.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#9643 chore: update `SentenceTransformersEmbeddingBackend.embed` type hint to include images
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/image/sentence_transformers_doc_image_embedder.py
  test/components/embedders/image/test_sentence_transformers_doc_image_embedder.py
Labels: topic:tests, ignore-for-release-notes

#9648 fix: Fix example in DocumentToImageContent
  haystack/components/converters/image/document_to_image.py
Labels: type:documentation, ignore-for-release-notes

#9611 feat: adding debugging breakpoints to `Pipeline` and `Agent`
  haystack/components/agents/agent.py
  haystack/components/tools/tool_invoker.py
  haystack/core/errors.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/breakpoint.py
  haystack/core/pipeline/pipeline.py
  haystack/dataclasses/breakpoints.py
  haystack/utils/base_serialization.py
  pyproject.toml
  releasenotes/notes/feat-pipeline-and-agents-breakpoints-aa819128c8c5f456.yaml
  test/components/agents/test_agent_breakpoints_inside_pipeline.py
  test/components/agents/test_agent_breakpoints_isolation_async.py
  test/components/agents/test_agent_breakpoints_isolation_sync.py
  test/components/agents/test_agent_breakpoints_utils.py
  test/conftest.py
  test/core/pipeline/test_breakpoint.py
  test/core/pipeline/test_pipeline_breakpoints_answer_joiner.py
  test/core/pipeline/test_pipeline_breakpoints_branch_joiner.py
  test/core/pipeline/test_pipeline_breakpoints_list_joiner.py
  test/core/pipeline/test_pipeline_breakpoints_loops.py
  test/core/pipeline/test_pipeline_breakpoints_rag_hybrid.py
  test/core/pipeline/test_pipeline_breakpoints_string_joiner.py
Labels: type:documentation, topic:tests, topic:build/distribution, topic:core

#9651 chore: removing `Pipeline.draw()` deprecation warnings
  haystack/core/pipeline/base.py
  haystack/core/pipeline/utils.py
  releasenotes/notes/pipeline-draw-deprecation-3ba4b047de73d031.yaml
  test/core/pipeline/test_pipeline_base.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#9652 docs: fix `DocumentLengthRouter` usage example
  haystack/components/routers/document_length_router.py
Labels: type:documentation

#9650 feat: Add support for the union operator `|` added in python 3.10
  haystack/core/type_utils.py
  haystack/utils/type_serialization.py
  releasenotes/notes/add-support-builtin-union-type-abfd7411e3cd4121.yaml
  test/core/pipeline/test_pipeline_base.py
  test/core/test_type_utils.py
  test/utils/test_type_serialization.py
Labels: type:documentation, topic:tests, topic:core

#9657 fix: `ChatMessage.from_user` - raise error if `text` and `content_parts` are `None`; pin `ddtrace`
  haystack/dataclasses/chat_message.py
  pyproject.toml
  releasenotes/notes/chatmessage-fromuser-allow-empty-text-1fd34aab49e40946.yaml
  test/dataclasses/test_chat_message.py
Labels: topic:tests, topic:build/distribution

#9662 chore: re-export missing symbols in __init__.py files
  haystack/components/converters/image/__init__.py
  haystack/components/embedders/image/__init__.py
Labels: ignore-for-release-notes

#9659 test: fix Datadog tests and unpin `ddtrace` test dependency
  pyproject.toml
  test/tracing/test_datadog.py
Labels: topic:tests, topic:build/distribution

#9670 docs: add code backticks around special characters
  haystack/utils/jinja2_chat_extension.py
Labels: type:documentation, ignore-for-release-notes
