Repository deepset-ai/haystack, pull requests merged in 2025-08, with the labels that each got.

#9665 fix: ensure sentence_transformers_similarity score is a float to not np.float
  haystack/components/rankers/sentence_transformers_similarity.py
  releasenotes/notes/fix-SentenceTransformersSimilarityRanker-score-float-a1988363b01dfc32.yaml
  test/components/rankers/test_sentence_transformers_similarity.py
Labels: type:documentation, topic:tests

#9680 feat: add image support to `HuggingFaceAPIChatGenerator`
  haystack/components/generators/chat/hugging_face_api.py
  haystack/utils/hf.py
  releasenotes/notes/add-image-support-huggingface-api-chat-generator-9671.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/utils/test_hf.py
Labels: type:documentation, topic:tests

#9690 chore: remove unused `type:ignore` and `cast`
  haystack/components/converters/azure.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/openai_dalle.py
  haystack/components/preprocessors/csv_document_cleaner.py
  haystack/components/preprocessors/csv_document_splitter.py
  haystack/components/preprocessors/recursive_splitter.py
  haystack/components/rankers/meta_field_grouping_ranker.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/tools/tool_invoker.py
  haystack/components/websearch/serper_dev.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/descriptions.py
  haystack/core/pipeline/draw.py
  haystack/testing/sample_components/accumulate.py
  haystack/tools/parameters_schema_utils.py
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution, topic:core

#9694 fix: fix OpenAI tests for `openai==1.99.3`
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
Labels: topic:tests, ignore-for-release-notes

#9688 feat: Update `MetadataRouter` to support `ByteStream`
  haystack/components/routers/metadata_router.py
  haystack/utils/filters.py
  releasenotes/notes/add-bytestream-support-metadata-router-1ee5149745894f42.yaml
  test/components/routers/test_metadata_router.py
Labels: type:documentation, topic:tests

#9661 Fix/informative error message
  haystack/core/pipeline/base.py
  releasenotes/notes/informative-error-message-on-two-components-connection-0cc535409855b06e.yaml
  test/core/pipeline/test_pipeline_base.py
Labels: type:documentation, topic:tests, topic:core

#9704 feat: `ToolInvoker` - pass `tools` in `run` + general refactoring
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/tool-invoker-tools-in-run-ff346a1eb510d377.yaml
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#9699 feat: Update `source_id_meta_field` in `SentenceWindowRetriever` to also accept a list of values
  haystack/components/retrievers/sentence_window_retriever.py
  releasenotes/notes/update-sentence-window-retriever-7e28965608b84808.yaml
  test/components/retrievers/test_sentence_window_retriever.py
Labels: type:documentation, topic:tests

#9713 ci: avoid coveralls blocking CI
  .github/workflows/tests.yml
Labels: topic:CI

#9712 fix: raise `RuntimeError` when `AsyncPipeline.run()` is called from within an async context
  haystack/core/pipeline/async_pipeline.py
  releasenotes/notes/fix-asyncpipeline-run-error-e82ede5c4f37f485.yaml
  test/core/pipeline/test_async_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#9698 fix: fix inconsistent `top_k` validation in `SentenceTransformersDiversityRanker`
  haystack/components/rankers/sentence_transformers_diversity.py
  releasenotes/notes/st-diversity-ranker-top-k-consistency-29535a76a07a8ff3.yaml
  test/components/rankers/test_sentence_transformers_diversity.py
Labels: type:documentation, topic:tests

#9710 !fix: `FileTypeRouter` raising `FileNotFound` in a consistently manner
  haystack/components/converters/multi_file_converter.py
  haystack/components/routers/file_type_router.py
  releasenotes/notes/fix-filetype-router-inconsistencies-b22a3af00059f953.yaml
  test/components/converters/test_multi_file_converter.py
  test/components/routers/test_file_router.py
  test/test_files/txt/doc_4
Labels: type:documentation, topic:tests

#9722 chore: export `ReasoningContent` to `haystack.dataclasses`
  haystack/dataclasses/__init__.py
Labels: ignore-for-release-notes

#9721 fix: adding `data/abbreviations` as part of our repo + distribution
  .gitignore
  releasenotes/notes/fix-abbreviation-files-missing-6e2b42b6b49c8b25.yaml
Labels: topic:DX

#9724 fix: Make `output_type` optional in `MetadataRouter.from_dict` for YAML loading
  haystack/components/routers/metadata_router.py
  releasenotes/notes/metadata-router-output-type-optional-16a4d4d583202fde.yaml
  test/components/routers/test_metadata_router.py
Labels: topic:tests

#9727 fix: Propagate tracing context in sync ToolInvoker.run(...)
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/fix-trace-parentage-sync-toolinvoker-27eb727cb563a46f.yaml
Labels: type:documentation

#9744 Suggested changes pipeline crash
  haystack/core/errors.py
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/pipeline.py
  test/core/pipeline/test_pipeline_crash_regular_pipeline_outputs_raised.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#9742 feat: raise components inputs/outputs during execution if an Exception occurs
  haystack/core/errors.py
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/breakpoint.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/handle-pipeline-crashes-and-resume-state-21c0e46a8935cbe2.yaml
  test/core/pipeline/test_pipeline_crash_regular_pipeline_outputs_raised.py
Labels: topic:tests, topic:core

#9745 docs: fix `exit_conditions` in Agent docstring
  haystack/components/agents/agent.py
Labels: type:documentation

#9729 feat(websearch): add exclude_subdomains parameter to SerperDevWebSearch
  haystack/components/websearch/serper_dev.py
  releasenotes/notes/serperdev-add-exclude-subdomains-param-932b8fe4a001f378.yaml
  test/components/websearch/test_serperdev.py
Labels: type:documentation, topic:tests
