Repository deepset-ai/haystack, pull requests merged in 2025-05, with the labels that each got.

#9336 feat: add visualization capabilities to SuperComponent
  haystack/core/super_component/super_component.py
  releasenotes/notes/add-pipeline-viz-to-supercomponent-80165756cc777056.yaml
  test/core/super_component/test_super_component.py
Labels: type:documentation, topic:tests, topic:core

#9338 fix: make `SentenceSplitter` QUOTE_SPANS_RE regex ReDoS-safe
  haystack/components/preprocessors/sentence_tokenizer.py
  releasenotes/notes/SentenceSplitter-ReDoS-fix-ca91b020cab50bf6.yaml
  test/components/preprocessors/test_sentence_tokenizer.py
Labels: topic:tests

#9290 feat: enable streaming ToolCall/Result from Agent
  haystack/components/agents/agent.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/utils.py
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/stream-tool-results-agent-7eaa5c2ccfa5e4bb.yaml
  test/components/agents/test_agent.py
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#9346 fix: Update deepcopying in Pipeline to have a fallback in case of error
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/utils.py
  haystack/tools/component_tool.py
  releasenotes/notes/fix-deepcopy-in-pipeline-run-2b575c7b860f642f.yaml
  test/core/pipeline/test_utils.py
  test/tools/test_component_tool.py
Labels: type:documentation, topic:tests, topic:core

#9329 feat: add py.typed; adjust `Component` protocol
  e2e/pipelines/test_evaluation_pipeline.py
  haystack/components/converters/multi_file_converter.py
  haystack/components/preprocessors/document_preprocessor.py
  haystack/core/component/component.py
  haystack/py.typed
  releasenotes/notes/py-typed-724eea7222640e6d.yaml
Labels: type:documentation, topic:core

#9354 fix: `HuggingFaceAPIChatGenerator` - make tool conversion compatible with `huggingface_hub>=0.31.0`
  haystack/components/generators/chat/hugging_face_api.py
  releasenotes/notes/hf-tool-definition-0.31.0-c8403da8769fff1d.yaml
  test/components/generators/chat/test_hugging_face_api.py
Labels: topic:tests

#9356 perf: Don't deepcopy Components, Tools, or Toolsets
  haystack/components/agents/agent.py
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  haystack/core/pipeline/utils.py
  releasenotes/notes/dont-deepcopy-components-tools-b1be7ef7b4365116.yaml
  test/core/pipeline/test_utils.py
  test/tools/test_component_tool.py
Labels: type:documentation, topic:tests, topic:core

#9357 fix: Remove old reno and update reno
  releasenotes/notes/dont-deepcopy-components-tools-b1be7ef7b4365116.yaml
  releasenotes/notes/fix-deepcopy-in-pipeline-run-2b575c7b860f642f.yaml
Labels: ignore-for-release-notes

#9377 fix: fix Task checklist in Issue Template
  .github/ISSUE_TEMPLATE/breaking-change-proposal.md
Labels: topic:CI

#9370 fix: Small fix to `HuggingFaceAPIChatGenerator` and update tests
  haystack/components/generators/chat/hugging_face_api.py
  test/components/generators/chat/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes

#9379 chore: remove deprecated `deserialize tools inplace` function
  haystack/tools/__init__.py
  haystack/tools/serde_utils.py
  haystack/tools/tool.py
  releasenotes/notes/rm-deserialize_tools_inplace-cb3b1a9a36f17e3d.yaml
Labels: type:documentation

#9380 fix: `DocumentRecallEvaluator` changing division and adding checks for emptiness of documents
  haystack/components/evaluators/document_recall.py
  releasenotes/notes/updated-doc-recall-eval-uniqueness-59b09082cf8e7593.yaml
  test/components/evaluators/test_document_recall.py
Labels: topic:tests

#9342 Fix component tool parameters
  haystack/dataclasses/byte_stream.py
  haystack/tools/component_tool.py
  haystack/tools/from_function.py
  haystack/tools/parameters_schema_utils.py
  releasenotes/notes/expand-json-schema-parameter-generation-e4d60bbeada14b6c.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_openai.py
  test/tools/test_component_tool.py
  test/tools/test_parameters_schema_utils.py
Labels: type:documentation, topic:tests

#9371 feat: Add `usage` when using `HuggingFaceAPIChatGenerator` with streaming
  haystack/components/generators/chat/hugging_face_api.py
  releasenotes/notes/add-usage-hf-api-chat-streaming-91fd04705f45d5b3.yaml
  test/components/generators/chat/test_hugging_face_api.py
Labels: type:documentation, topic:tests

#9393 using permute to reverse the dimensions of a tensor
  haystack/components/rankers/sentence_transformers_diversity.py
Labels: ignore-for-release-notes

#9396 fix: Improve typing of @component allow TypedDict output types
  haystack/core/component/component.py
  releasenotes/notes/improve-component-typing-7aca4d188be6b549.yaml
Labels: topic:core

#9388 feat: Streamline using `Agent` as a `ComponentTool`
  haystack/components/agents/agent.py
  haystack/components/generators/utils.py
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/agent-as-a-component-tool-78696bd25deedad2.yaml
  test/components/agents/test_agent.py
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#9398 chore: run `mypy --check-untyped-defs` and fix some errors
  haystack/components/classifiers/zero_shot_document_classifier.py
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/sentence_transformers_document_embedder.py
  haystack/components/embedders/sentence_transformers_text_embedder.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/extractors/named_entity_extractor.py
  haystack/components/fetchers/link_content.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/preprocessors/document_splitter.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/transformers_similarity.py
  haystack/components/readers/extractive.py
  haystack/components/routers/transformers_text_router.py
  haystack/components/routers/zero_shot_text_router.py
  haystack/core/type_utils.py
  haystack/dataclasses/document.py
  haystack/telemetry/_telemetry.py
  haystack/tools/component_tool.py
Labels: type:documentation, topic:tests, ignore-for-release-notes, topic:core

#9409 ci: add `timeout-minutes` to relevant CI jobs
  .github/workflows/slow.yml
  .github/workflows/tests.yml
Labels: topic:CI

#9403 feat: ComponentTool - preserve docstrings from underlying pipeline components
  haystack/tools/component_tool.py
  haystack/tools/parameters_schema_utils.py
  releasenotes/notes/preserve-docstrings-super-component-tools-1fd9eb8a73b5c312.yaml
  test/tools/test_component_tool.py
Labels: type:documentation, topic:tests

#9407 feat: stream `ToolResult` from run_async in Agent
  haystack/components/agents/agent.py
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/add-run-async-tool-invoker-c3595e94f95636e4.yaml
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#9421 fix: Add missing `timeout` and `max_retries` to `OpenAITextEmbedder` and `OpenAIDocumentEmbedder`
  haystack/components/embedders/openai_document_embedder.py
  haystack/components/embedders/openai_text_embedder.py
  releasenotes/notes/add-timeout-and-max-retries-to-dict-openai-c9ad3661609ba339.yaml
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
Labels: topic:tests

#9406 feat: Extend AnswerBuilder for Agent
  haystack/components/builders/answer_builder.py
  releasenotes/notes/adjust-answer-builder-for-agent-f4428aea59e32809.yaml
  test/components/builders/test_answer_builder.py
  test/core/pipeline/features/test_run.py
Labels: type:documentation, topic:tests

#9389 feat: draw/show SuperComponents in detail, expand it and show it's internal components in the visualisation diagram
  haystack/core/pipeline/base.py
  haystack/core/pipeline/draw.py
  haystack/core/pipeline/utils.py
  releasenotes/notes/expand-supercomponents-in-draw-show-0d10dbbfc4b1539b.yaml
  test/core/pipeline/test_draw.py
  test/core/pipeline/test_pipeline_base.py
  test/core/pipeline/test_utils.py
Labels: type:documentation, topic:tests, topic:core

#9431 feat: Improve formatting in print streaming chunk
  haystack/components/generators/utils.py
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/improve-print-streaming-chunk-1b3f389e30967208.yaml
Labels: type:documentation

#9425 chore: removing an invalid arg from `pipeline.base.PipelineBase.connect()` docstring
  haystack/core/pipeline/base.py
Labels: type:documentation, ignore-for-release-notes, topic:core

#9433 fix: Copy context when using `ThreadPoolExecutor` in `AsyncPipeline.run_async
  haystack/core/pipeline/async_pipeline.py
  releasenotes/notes/preserve-context-async-pipeline-ce363ae95bbdb8bf.yaml
Labels: topic:core

#9420 typing: typing for SuperComponents public methods
  haystack/components/converters/multi_file_converter.py
  haystack/components/preprocessors/document_preprocessor.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9434 fix: Fix invoker to work when using dataclass with from_dict but dataclass…
  haystack/tools/component_tool.py
  releasenotes/notes/fix-component-invoker-dataclass-2efe773f03df8a93.yaml
  test/tools/test_component_tool.py
Labels: type:documentation, topic:tests

#9439 chore: drop python>=3.9 check in type serialization
  haystack/utils/type_serialization.py
Labels: ignore-for-release-notes

#9443 chore: cleaning up tests
  test/components/agents/test_agent.py
  test/components/builders/test_answer_builder.py
  test/components/builders/test_chat_prompt_builder.py
Labels: topic:tests, ignore-for-release-notes

#9447 chore: make mypy run with `--check-untyped-defs`; fix some errors
  .github/workflows/license_compliance.yml
  haystack/components/classifiers/zero_shot_document_classifier.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/routers/zero_shot_text_router.py
  haystack/core/component/component.py
  pyproject.toml
  test/components/generators/chat/test_hugging_face_local.py
Labels: topic:tests, ignore-for-release-notes, topic:build/distribution, topic:CI, topic:core

#9448 test: prevent `DocumentWriter` tests from blocking CI
  haystack/components/writers/document_writer.py
  test/components/writers/test_document_writer.py
Labels: topic:tests

#9414 feat: Add HuggingFace API (text-embeddings-inference for rerank model) for component.rankers
  .gitignore
  docs/pydoc/config/rankers_api.yml
  haystack/components/rankers/__init__.py
  haystack/components/rankers/hugging_face_tei.py
  haystack/utils/__init__.py
  haystack/utils/requests_utils.py
  releasenotes/notes/add-huggingface-api-text-embeddings-inference-to-component-rankers-0e3f54e523e42141.yaml
  test/components/rankers/test_hugging_face_tei.py
  test/utils/test_requests_utils.py
Labels: type:documentation, topic:tests, topic:CI, topic:DX

#9449 refactor: Refactor hf api chat generator
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/hugging_face_local.py
  haystack/components/generators/openai.py
  haystack/components/generators/utils.py
  releasenotes/notes/update-streaming-chunk-hf-api-7eba8fdf6e4fa411.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_utils.py
Labels: type:documentation, topic:tests

#9451 test: speed up some tests + minor refactorings
  haystack/components/embedders/types/protocol.py
  releasenotes/notes/add-huggingface-api-text-embeddings-inference-to-component-rankers-0e3f54e523e42141.yaml
  test/components/agents/test_agent.py
  test/components/embedders/types/test_protocol.py
  test/components/fetchers/test_link_content_fetcher.py
  test/utils/test_requests_utils.py
Labels: topic:tests, ignore-for-release-notes
