Repository deepset-ai/haystack, pull requests merged in 2025-04, with the labels that each got.

#9143 feat: Add option to split by number of tokens to RecursiveDocumentSplitter
  haystack/components/preprocessors/recursive_splitter.py
  pyproject.toml
  releasenotes/notes/recursive-splitter-token-df56428887ac45bd.yaml
  test/components/preprocessors/test_recursive_splitter.py
Labels: type:documentation, topic:tests, topic:build/distribution

#9150 feat: Move storing of messages into State in Agent
  haystack/components/agents/agent.py
  haystack/dataclasses/state.py
  haystack/dataclasses/state_utils.py
  releasenotes/notes/add-messages-to-state-1d10f1dc449be694.yaml
  test/components/agents/test_agent.py
  test/dataclasses/test_state.py
Labels: type:documentation, topic:tests

#9152 feat: Add `outputs_to_string` to Tool and ComponentTool
  haystack/components/tools/tool_invoker.py
  haystack/tools/component_tool.py
  haystack/tools/tool.py
  releasenotes/notes/add-outputs-to-string-fa3380fd072c8850.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/chat/test_openai.py
  test/components/tools/test_tool_invoker.py
  test/tools/test_tool.py
Labels: type:documentation, topic:tests

#9155 test: adding `Pipeline` component name checks - cannot have `.` (dot characters)
  haystack/core/pipeline/base.py
  test/core/pipeline/test_pipeline_base.py
Labels: topic:tests, ignore-for-release-notes, topic:core

#9158 ci: pin blis for python 3.9
  pyproject.toml
Labels: topic:build/distribution

#9136 feat: allow OpenAI client config in AzureOpenAI embedders
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  releasenotes/notes/allow-openai-client-config-4e1dc48f163912d0.yaml
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
Labels: type:documentation, topic:tests

#9163 fix: Fix content tag name to match one we use in Pipeline
  haystack/core/pipeline/async_pipeline.py
  releasenotes/notes/fix-content-tag-name-async-pipeline-efda4b6298ccd11c.yaml
Labels: type:documentation, topic:core

#9172 fix: removing unused imports in e2e tests
  e2e/pipelines/test_extractive_qa_pipeline.py
Labels: ignore-for-release-notes

#9168 test: make Azure embedders tests correctly run on PRs from forks
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
Labels: topic:tests

#9165 chore: replace all `gpt-3.5-turbo` text with `gpt-4o-mini`
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  haystack/components/joiners/answer_joiner.py
  test/components/extractors/test_llm_metadata_extractor.py
Labels: topic:tests, ignore-for-release-notes

#9140 feat: adding async support for `OpenAIDocumentEmbedder`
  haystack/components/embedders/openai_document_embedder.py
  releasenotes/notes/openai-document-embedder-async-support-b46f1e84043da366.yaml
  test/components/embedders/test_openai_document_embedder.py
Labels: type:documentation, topic:tests

#9161 feat: Add Toolset to tooling architecture
  docs/pydoc/config/tools_api.yml
  haystack/components/generators/chat/openai.py
  haystack/components/tools/tool_invoker.py
  haystack/tools/__init__.py
  haystack/tools/tool.py
  haystack/tools/toolset.py
  haystack/utils/misc.py
  releasenotes/notes/add-toolset-class-to-tooling-23376c72e31c5a9a.yaml
  test/components/generators/chat/test_openai.py
  test/tools/test_toolset.py
Labels: type:documentation, topic:tests

#9177 feat: Add Toolset support in ChatGenerator(s)
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  releasenotes/notes/support-toolset-initialization-1ccbc174abf16bd2.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_local.py
Labels: type:documentation, topic:tests

#9185 refactor: reorganize Tool serde utility functions
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/openai.py
  haystack/components/tools/tool_invoker.py
  haystack/tools/__init__.py
  haystack/tools/serde_utils.py
  haystack/tools/tool.py
  haystack/utils/misc.py
  test/tools/test_serde_utils.py
  test/tools/test_tool.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9190 chore: Rename deserialize_tools_inplace -> deserialize_tools_or_toolset_inplace
  haystack/components/agents/agent.py
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/generators/chat/openai.py
  haystack/components/tools/tool_invoker.py
  haystack/tools/__init__.py
  haystack/tools/serde_utils.py
  releasenotes/notes/rename-deserialize_tools_inplace-f10d72127be54bed.yaml
  test/tools/test_serde_utils.py
Labels: type:documentation, topic:tests

#9188 feat: make `AzureOpenAITexttEmbedder` inherit from `OpenAITextEmbedder` - async support
  haystack/components/embedders/azure_text_embedder.py
  releasenotes/notes/azure-text-embedder-inherit-ea230e61cba3a90f.yaml
  test/components/embedders/test_azure_text_embedder.py
Labels: type:documentation, topic:tests

#9189 feat: make `AzureOpenAIDocumentEmbedder` inherit from `OpenAIDocumentEmbedder` - async support
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/openai_document_embedder.py
  releasenotes/notes/azure-doc-embedder-inherit-1028a68e99561ab2.yaml
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_openai_document_embedder.py
Labels: type:documentation, topic:tests

#9182 enhancement: Add attributes to PipelineRuntimeError
  haystack/core/errors.py
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/add-attributes-to-pipeline-runtime-error-03941943aaf89880.yaml
  test/core/pipeline/features/pipeline_run.feature
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#9178 chore: Bump transformers
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#9199 ci: make `lint` workflow check pyproject.toml
  .github/workflows/tests.yml
Labels: topic:build/distribution, topic:CI

#9198 chore: fix mypy issues due to transformers 4.51.1
  haystack/components/embedders/hugging_face_api_document_embedder.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/utils/hf.py
Labels: type:documentation, ignore-for-release-notes

#9195 fix: Set `messages` in state_schema at init time of Agent
  haystack/components/agents/agent.py
  haystack/dataclasses/state.py
  releasenotes/notes/fix-agent-output-messages-550404a95199bb67.yaml
  test/components/agents/test_agent.py
  test/dataclasses/test_state.py
Labels: type:documentation, topic:tests

#9204 feat: add run_async for HuggingFaceAPITextEmbedder
  haystack/components/embedders/hugging_face_api_text_embedder.py
  releasenotes/notes/adding-async-huggingface-api-text-embedder-ad68e201fcef09bb.yaml
  test/components/embedders/test_hugging_face_api_text_embedder.py
Labels: type:documentation, topic:tests

#9208 fix: removing for `HuggingFaceTextEmbedder` async test for non-existant model
  test/components/embedders/test_hugging_face_api_text_embedder.py
Labels: topic:tests, ignore-for-release-notes

#9217 ci: fix lint job
  .github/workflows/tests.yml
Labels: topic:build/distribution, topic:CI

#9218 chore: `LLMMetadataExtractor` - remove deprecated parameters
  haystack/components/extractors/__init__.py
  haystack/components/extractors/llm_metadata_extractor.py
  releasenotes/notes/llmmetadata-extractor-rm-deprecated-params-a55634bfdf39a908.yaml
  test/components/extractors/test_llm_metadata_extractor.py
Labels: type:documentation, topic:tests

#9214 chore: remove unused dependencies and clean pyproject.toml
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#9228 chore: update label name for stalebot
  .github/workflows/stale.yml
Labels: topic:CI

#9239 feat: Add run_async to Agent
  haystack/components/agents/agent.py
  releasenotes/notes/agent-run-async-28d3a6dd7ea4d888.yaml
  test/components/agents/test_agent.py
Labels: type:documentation, topic:tests

#9234 chore: removing a duplicated import
  test/components/generators/conftest.py
Labels: topic:tests, ignore-for-release-notes

#9240 feat: Agent tracing
  haystack/components/agents/agent.py
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/base.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/add-tracing-to-agent-da75b81fe68d33a2.yaml
  test/components/agents/test_agent.py
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#9226 feat: add `run_async` for `HuggingFaceAPIDocumentEmbedder`
  haystack/components/embedders/hugging_face_api_document_embedder.py
  releasenotes/notes/add-async-support-for-HuggingFaceAPIDocumentEmbedder-016bbb1f8964cf3f.yaml
  test/components/embedders/test_hugging_face_api_document_embedder.py
Labels: type:documentation, topic:tests

#9245 ci: update hatch to 1.14.1
  .github/workflows/docstrings_linting.yml
  .github/workflows/e2e.yml
  .github/workflows/pypi_release.yml
  .github/workflows/readme_sync.yml
  .github/workflows/tests.yml
Labels: topic:build/distribution, topic:CI

#9244 chore: `TextFileToDocument` - fix erroneous docstring
  haystack/components/converters/txt.py
Labels: type:documentation, ignore-for-release-notes

#9248 fix: Add `batch_size` to `to_dict` of TransformersSimilarityRanker
  haystack/components/rankers/transformers_similarity.py
  releasenotes/notes/fix-to-dict-transformer-ranker-f981b37f67f6eec5.yaml
  test/components/rankers/test_transformers_similarity.py
Labels: topic:tests

#9242 feat: allow SuperComponent to Include outputs from non leaf pipeline components
  haystack/core/super_component/super_component.py
  releasenotes/notes/allow-non-leaf-outputs-in-supercomponents-outputs-adf29d68636c23ba.yaml
  test/core/super_component/test_super_component.py
Labels: type:documentation, topic:tests, topic:core

#9250 fix: make mypy run + some type fixes on Agent
  .github/workflows/tests.yml
  haystack/components/agents/agent.py
Labels: ignore-for-release-notes, topic:CI

#9249 ci: stop caching Hatch python environment on Ubuntu
  .github/workflows/tests.yml
Labels: ignore-for-release-notes, topic:build/distribution, topic:CI

#9253 fix: Fix datadog tracer tests
  test/tracing/test_datadog.py
Labels: topic:tests, ignore-for-release-notes

#9254 ci: stop rerunning tests on PRs ready for review
  .github/workflows/e2e.yml
  .github/workflows/tests.yml
Labels: topic:CI

#9269 docs: fix DocumentPreprocessor usage example
  haystack/components/preprocessors/document_preprocessor.py
Labels: type:documentation, ignore-for-release-notes

#9252 fix: Fix f-string interpolation of `received` variable in llm_evaluator
  haystack/components/evaluators/llm_evaluator.py
Labels: ignore-for-release-notes

#9277 fix: Fix `from_dict` of `DocumentPreprocessor` super component
  haystack/components/preprocessors/document_preprocessor.py
  test/components/preprocessors/test_document_preprocessor.py
Labels: topic:tests, ignore-for-release-notes

#9278 fix: Fix state_schema serialization for agent tracing
  haystack/components/agents/agent.py
  test/components/agents/test_agent.py
Labels: topic:tests, ignore-for-release-notes

#9284 feat: Add Toolset to Agent
  haystack/components/agents/agent.py
  haystack/components/tools/tool_invoker.py
  releasenotes/notes/add-toolset-to-agent-d4a14822c4aed001.yaml
  test/components/agents/test_agent.py
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests

#9273 docs: Update openapi.py to use arguments
  haystack/components/connectors/openapi.py
Labels: type:documentation, ignore-for-release-notes

#9251 fix: use coerce_tag_value in LoggingTracer to serialize tag values
  haystack/tracing/logging_tracer.py
  releasenotes/notes/coerce-tag-value-serialization-1192e532889be4a3.yaml
  test/components/agents/test_agent.py
  test/tracing/test_logging_tracer.py
Labels: topic:tests

#9297 test: improve some slow tests
  test/components/fetchers/test_link_content_fetcher.py
  test/components/generators/test_openai.py
  test/core/pipeline/test_async_pipeline.py
  test/core/pipeline/test_pipeline.py
Labels: topic:tests

#9296 test: mark more tests as slow
  .github/workflows/slow.yml
  test/components/classifiers/test_zero_shot_document_classifier.py
  test/components/embedders/test_hugging_face_api_document_embedder.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/evaluators/test_sas_evaluator.py
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/test_hugging_face_api.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
  test/components/readers/test_extractive.py
  test/components/routers/test_transformers_text_router.py
  test/components/routers/test_zero_shot_text_router.py
Labels: topic:tests, topic:build/distribution, topic:CI

#9300 docs: update Contribution guidelines with a section about Slow/Unstable tests
  CONTRIBUTING.md
Labels: topic:DX

#9304 Fix OpenAIGenerator and OpenAIChatGenerator to allow wrapped streaming objects usage
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  releasenotes/notes/fix-openai-generators-wrapped-streaming-f3a08f83a7528c3f.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
  test/components/generators/test_openai.py
Labels: topic:tests

#9306 test: review integration tests
  .github/workflows/slow.yml
  test/components/converters/test_azure_ocr_doc_converter.py
  test/components/embedders/test_hugging_face_api_text_embedder.py
  test/components/fetchers/test_link_content_fetcher.py
  test/components/generators/chat/test_openai.py
  test/components/generators/chat/test_openai_async.py
  test/components/generators/test_hugging_face_local_generator.py
  test/components/generators/test_openai.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_transformers_similarity.py
  test/dataclasses/test_chat_message.py
Labels: topic:tests, ignore-for-release-notes, topic:CI

#9312 fix: Fix Azure test on forks
  test/components/converters/test_azure_ocr_doc_converter.py
Labels: topic:tests, ignore-for-release-notes

#9272 feat: Add sanitization for Meta field during serialization
  haystack/components/generators/chat/openai.py
  haystack/components/generators/openai.py
  releasenotes/notes/nested-serialization-openai-usage-object-3817b07342999edf.yaml
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests, topic:CI

#9303 fix: make `HuggingFaceAPIChatGenerator` convert Tool Call `arguments` from string
  haystack/components/generators/chat/hugging_face_api.py
  releasenotes/notes/hfapichatgenerator-toolcall-str-args-b857e65073ba9f2b.yaml
  test/components/generators/chat/test_hugging_face_api.py
Labels: type:documentation, topic:tests

#9322 feat: validation function for `run()` and `run_async()` parameters signature for (custom) components
  haystack/core/component/component.py
  releasenotes/notes/adding-check-sync-async-run-parameters-a437b821d503d2cd.yaml
  test/core/component/test_component_signature_validation.py
Labels: type:documentation, topic:tests, topic:core

#9324 chore: cleaning imports and unused variables in `Component` tests
  test/core/component/test_component.py
Labels: topic:tests, ignore-for-release-notes

#9318 ci: disable caching on Windows tests
  .github/workflows/tests.yml
Labels: topic:build/distribution, topic:CI

#9316 fix: `RecursiveSplitter` bug in the case when the recursive chunking is triggered
  haystack/components/preprocessors/recursive_splitter.py
  releasenotes/notes/fixing-bug-recursive-splitter-88d5714529f84e4e.yaml
  test/components/preprocessors/test_recursive_splitter.py
Labels: topic:tests

#9327 test: fix test incorrectly marked as async
  test/components/generators/chat/test_openai.py
  test/document_stores/test_in_memory.py
Labels: topic:tests
