Repository deepset-ai/haystack, pull requests merged in 2025-09, with the labels that each got.

#9743 feat: pipeline checkpoints crash allow to resume from snapshot
  haystack/core/pipeline/pipeline.py
  haystack/utils/misc.py
  releasenotes/notes/pipeline-resume-state-13ca79f53277e858.yaml
  test/core/pipeline/test_pipeline_crash_regular_pipeline_outputs_raised.py
Labels: topic:tests, topic:core

#9746 Docs: clarify purpose of State class
  haystack/components/agents/state/state.py
Labels: type:documentation, ignore-for-release-notes

#9755 fix: changing Agent `_check_chat_generator_breakpoint` and `_check_tool_invoker_breakpoint` to `staticmethod`
  haystack/components/agents/agent.py
Labels: ignore-for-release-notes

#9758 feat: raise last good snapshot in `PipelineRunTimeError` + tests updates
  haystack/core/errors.py
  haystack/core/pipeline/async_pipeline.py
  haystack/core/pipeline/pipeline.py
  releasenotes/notes/pipeline-last-good-snapshot-raised-a6db4238547e7c01.yaml
  test/core/pipeline/test_pipeline_crash_regular_pipeline_snapshot_is_raised.py
Labels: topic:tests, topic:core

#9775 docs: fixing comment typos
  haystack/core/component/component.py
Labels: ignore-for-release-notes, topic:core

#9771 fix: preserve explicit lambda_threshold=0.0 in SentenceTransformersDiversityRanker
  haystack/components/rankers/sentence_transformers_diversity.py
  releasenotes/notes/fix-diversity-ranker-lambda-threshold-a86158f6bd739115.yaml
  test/components/rankers/test_sentence_transformers_diversity.py
Labels: type:documentation, topic:tests

#9778 feat: add system_prompt to Agent run parameters
  haystack/components/agents/agent.py
  releasenotes/notes/add-system_prompt-to-agent-run-params-5423944e1eebb572.yaml
  test/components/agents/test_agent.py
Labels: type:documentation, topic:tests

#9779 test: Increase robustness of PipelineTool integration tests
  test/tools/test_pipeline_tool.py
Labels: topic:tests, ignore-for-release-notes

#9754 feat: support structured outputs in `OpenAIChatGenerator`
  haystack/components/generators/chat/azure.py
  haystack/components/generators/chat/openai.py
  releasenotes/notes/add-openai-structured-outputs-906be78a984a1079.yaml
  test/components/generators/chat/test_azure.py
  test/components/generators/chat/test_openai.py
Labels: type:documentation, topic:tests

#9774 feat: save last `AgentSnapshot` when Agent crashes
  haystack/components/agents/agent.py
  haystack/core/pipeline/breakpoint.py
  haystack/core/pipeline/pipeline.py
  haystack/tools/errors.py
  haystack/tools/tool.py
  haystack/utils/base_serialization.py
  releasenotes/notes/pipeline-last-good-snapshot-raised-agent-924c0e7ce6a61bf7.yaml
  test/core/pipeline/break_points/test_pipeline_breakpoints_agent_function_calling.py
  test/core/pipeline/break_points/test_pipeline_breakpoints_answer_joiner.py
  test/core/pipeline/break_points/test_pipeline_breakpoints_branch_joiner.py
  test/core/pipeline/break_points/test_pipeline_breakpoints_list_joiner.py
  test/core/pipeline/break_points/test_pipeline_breakpoints_loops.py
  test/core/pipeline/break_points/test_pipeline_breakpoints_rag_hybrid.py
  test/core/pipeline/break_points/test_pipeline_breakpoints_string_joiner.py
  test/core/pipeline/test_pipeline_crash_agent_pipeline_snapshot_raised.py
  test/utils/test_base_serialization.py
Labels: type:documentation, topic:tests, topic:core

#9791 fix: Fix `MetaFieldGroupingRanker` to handle unhashable `subgroup_by` values like `list`
  haystack/components/rankers/meta_field_grouping_ranker.py
  releasenotes/notes/fix-metafieldgroupingranker-bc33f5c886067e00.yaml
  test/components/rankers/test_meta_field_grouping_ranker.py
Labels: topic:tests

#9588 feat: add Sparse Embedders based on Sentence Transformers
  .github/workflows/readme_sync.yml
  .github/workflows/slow.yml
  docs/pydoc/config/embedders_api.yml
  docs/pydoc/config_docusaurus/embedders_api.yml
  haystack/components/embedders/__init__.py
  haystack/components/embedders/backends/sentence_transformers_backend.py
  haystack/components/embedders/backends/sentence_transformers_sparse_backend.py
  haystack/components/embedders/sentence_transformers_sparse_document_embedder.py
  haystack/components/embedders/sentence_transformers_sparse_text_embedder.py
  haystack/components/evaluators/sas_evaluator.py
  haystack/components/rankers/sentence_transformers_diversity.py
  haystack/components/rankers/sentence_transformers_similarity.py
  pyproject.toml
  releasenotes/notes/st-sparse-embedders-497f45db848c89eb.yaml
  test/components/embedders/test_sentence_transformers_embedding_backend.py
  test/components/embedders/test_sentence_transformers_sparse_document_embedder.py
  test/components/embedders/test_sentence_transformers_sparse_embedding_backend.py
  test/components/embedders/test_sentence_transformers_sparse_text_embedder.py
Labels: type:documentation, topic:tests, topic:build/distribution, topic:CI

#9795 fix: Fix parameter schema generation in `ComponentTool` when using `inputs_from_state`
  haystack/tools/component_tool.py
  releasenotes/notes/fix-parameter-schema-generation-component-tool-c3353ff7437115a1.yaml
  test/tools/test_component_tool.py
Labels: topic:tests

#9794 chore: Refactor tool invoker
  haystack/components/tools/tool_invoker.py
  test/components/tools/test_tool_invoker.py
Labels: type:documentation, topic:tests, ignore-for-release-notes

#9802 test: use small Sentence Transformers models in tests
  test/components/embedders/test_sentence_transformers_text_embedder.py
  test/components/evaluators/test_sas_evaluator.py
  test/components/rankers/test_sentence_transformers_diversity.py
  test/components/rankers/test_sentence_transformers_similarity.py
  test/components/rankers/test_transformers_similarity.py
Labels: topic:tests

#9826 fix: Fix initializing an Agent from an AgentSnapshot
  haystack/components/agents/agent.py
  releasenotes/notes/fix-openai-agent-snapshot-init-1ca26789564a53fe.yaml
  test/components/agents/test_agent.py
  test/components/agents/test_agent_breakpoints.py
Labels: topic:tests

#9831 chore: remove dead code in `ChatGenerator` protocol
  haystack/components/generators/chat/types/protocol.py
Labels: ignore-for-release-notes

#9844 fix: embedding backend id key for sent trans backend
  .github/workflows/slow.yml
  haystack/components/embedders/backends/sentence_transformers_backend.py
  releasenotes/notes/fix-sentence-transformers-backend-embedding-id-uniqueness.yaml-63f83bd8ad30d4c6.yaml
  test/components/embedders/test_sentence_transformers_embedding_backend.py
Labels: topic:tests, topic:CI
