Repository deepset-ai/haystack, pull requests merged in 2025-01, with the labels that each got.

#8670 feat: introduce class method to create `ChatMessage` from the OpenAI dictionary format
  haystack/components/generators/chat/openai.py
  haystack/dataclasses/chat_message.py
  releasenotes/notes/chatmsg-from-openai-dict-f15b50d38bdf9abb.yaml
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#8648 feat: use importlib when deserializing callables
  haystack/utils/callable_serialization.py
  releasenotes/notes/use-importlib-when-deserializing-callable-1f36f07c4518c2cf.yaml
  test/utils/test_callable_serialization.py
Labels: type:documentation, topic:tests

#8673 fix: truncate ByteStream string representation
  haystack/dataclasses/byte_stream.py
  releasenotes/notes/fix-bytestream-str-8dd6d5e9a87f6aa4.yaml
  test/dataclasses/test_byte_stream.py
Labels: type:documentation, topic:tests

#8683 refactor: improve serialization/deserialization of callables (to handle class methods and static methods)
  haystack/utils/callable_serialization.py
  releasenotes/notes/improve-callables-serde-6aa1e23408063247.yaml
  test/components/generators/chat/test_hugging_face_local.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_openai.py
  test/components/preprocessors/test_document_splitter.py
  test/utils/test_callable_serialization.py
Labels: topic:tests

#8684 test: reorganize docstore test suite to isolate dataframe tests
  haystack/testing/document_store.py
  releasenotes/notes/reorganize-docstore-testing-for-dataframes-3825910ade718d51.yaml
  test/document_stores/test_in_memory.py
Labels: type:documentation, topic:tests

#8522 feat: Add XLSXToDocument converter
  docs/pydoc/config/converters_api.yml
  haystack/components/converters/__init__.py
  haystack/components/converters/xlsx.py
  pyproject.toml
  releasenotes/notes/add-excel-to-document-converter-1920c9f9902ddf17.yaml
  test/components/converters/test_xlsx_to_document.py
  test/test_files/xlsx/basic_tables_two_sheets.xlsx
  test/test_files/xlsx/multiple_tables.xlsx
  test/test_files/xlsx/table_empty_rows_and_columns.xlsx
Labels: type:documentation, topic:tests, topic:build/distribution

#8696 CI: fix format after newly introduced formatting rules from ruff release
  haystack/components/audio/whisper_local.py
  haystack/components/converters/openapi_functions.py
  haystack/components/generators/chat/hugging_face_local.py
  haystack/components/rankers/lost_in_the_middle.py
  haystack/core/component/component.py
  haystack/core/pipeline/draw.py
  haystack/document_stores/in_memory/document_store.py
  haystack/marshal/yaml.py
  haystack/utils/filters.py
  haystack/utils/hf.py
  test/components/audio/test_whisper_local.py
  test/components/converters/test_docx_file_to_document.py
  test/components/embedders/test_openai_document_embedder.py
  test/components/embedders/test_openai_text_embedder.py
  test/components/joiners/test_document_joiner.py
  test/components/preprocessors/test_document_cleaner.py
  test/components/routers/test_conditional_router.py
  test/core/pipeline/features/test_run.py
Labels: topic:tests, ignore-for-release-notes, topic:core

#8698 fix: PyPDFToDocument initializes documents with content and meta
  haystack/components/converters/pypdf.py
  releasenotes/notes/pypdf-docid-293dac08ea5f8491.yaml
  test/components/converters/test_pypdf_to_document.py
Labels: topic:tests

#8697 refactor: `create_tool_from_function` + `tool` decorator
  docs/pydoc/config/tools_api.yml
  haystack/tools/__init__.py
  haystack/tools/errors.py
  haystack/tools/from_function.py
  haystack/tools/tool.py
  releasenotes/notes/create-tool-from-function-b4b318574f3fb3a0.yaml
  test/tools/test_from_function.py
  test/tools/test_tool.py
Labels: type:documentation, topic:tests

#8702 fix: `OpenAIChatGenerator` - do not pass tools to the OpenAI client when none are provided
  haystack/components/generators/chat/openai.py
  releasenotes/notes/do-not-pass-tools-to-openai-if-none-1fe09e924e7fad7a.yaml
  test/components/generators/chat/test_openai.py
Labels: topic:tests

#8605 feat: add `RecursiveSplitter` component for `Document` preprocessing
  haystack/components/preprocessors/__init__.py
  haystack/components/preprocessors/recursive_splitter.py
  haystack/components/preprocessors/sentence_tokenizer.py
  releasenotes/notes/adding-recursive-splitter-1fa716fdd77d4d8c.yaml
  test/components/preprocessors/test_recursive_splitter.py
Labels: type:feature, type:documentation, topic:tests

#8699 feat: add `default_headers` for Azure embedders
  haystack/components/embedders/azure_document_embedder.py
  haystack/components/embedders/azure_text_embedder.py
  releasenotes/notes/add-default-headers-azure-embedders-6ffd24ec1502c5e4.yaml
  test/components/embedders/test_azure_document_embedder.py
  test/components/embedders/test_azure_text_embedder.py
Labels: type:documentation, topic:tests

#8693 feat: Add `ComponentTool` to Haystack tools
  docs/pydoc/config/tools_api.yml
  haystack/tools/__init__.py
  haystack/tools/component_tool.py
  pyproject.toml
  releasenotes/notes/add-component-tool-ffe9f9911ea055a6.yaml
  test/tools/test_component_tool.py
Labels: type:documentation, topic:tests, topic:build/distribution

#8717 test: updating `HuggingFaceAPIChatGenerator` tests
  test/components/generators/chat/test_hugging_face_api.py
Labels: topic:tests, ignore-for-release-notes

#8720 chore: remove deprecation warning from `SentenceWindowRetriever`
  haystack/components/retrievers/sentence_window_retriever.py
Labels: ignore-for-release-notes

#8724 chore: removing NLTKDocumentSplitter
  docs/pydoc/config/preprocessors_api.yml
  haystack/components/preprocessors/__init__.py
  haystack/components/preprocessors/nltk_document_splitter.py
  releasenotes/notes/removing-NLTKDocumentSplitter-b495d4e276698083.yaml
  test/components/preprocessors/test_nltk_document_splitter.py
Labels: type:documentation, topic:tests

#8725 chore: remove deprecated `function` `ChatRole` and `from_function` class method in `ChatMessage`
  haystack/dataclasses/chat_message.py
  releasenotes/notes/rm-function-chat-role-ab401a1fb19713a7.yaml
  test/dataclasses/test_chat_message.py
Labels: type:documentation, topic:tests

#8728 feat: Add completion start time timestamp to relevant generators
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/openai.py
  haystack/components/generators/hugging_face_api.py
  haystack/components/generators/openai.py
  releasenotes/notes/add-streaming-completion-timestamp-c0ad3b8698a2d575.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_openai.py
  test/components/generators/test_hugging_face_api.py
  test/components/generators/test_openai.py
Labels: type:documentation, topic:tests

#8739 test: test that PyPDF can extract passages so that they are detect by `DocumentSplitter`
  haystack/components/converters/pypdf.py
  test/components/converters/test_pypdf_to_document.py
Labels: topic:tests, ignore-for-release-notes

#8744 test: fix HF API flaky live test with tools
  test/components/generators/chat/test_hugging_face_api.py
Labels: topic:tests

#8749 chore: Remove fixme from __init__.py
  haystack/__init__.py
Labels: ignore-for-release-notes

#8746 chore: update ruff version in pre-commit hook
  .pre-commit-config.yaml
Labels: topic:DX

#8745 fix: update meta data before initializing new Document in DocumentSplitter
  haystack/components/preprocessors/document_splitter.py
  releasenotes/notes/updated-documentsplitter-762c4409cbc296e6.yaml
  test/components/preprocessors/test_document_splitter.py
Labels: type:documentation, topic:tests, topic:DX, topic:core

#8753 build: add `jsonschema` library to core dependencies
  haystack/components/validators/json_schema.py
  haystack/tools/tool.py
  pyproject.toml
  releasenotes/notes/jsonschema-core-dependency-d38645d819eb0d2d.yaml
Labels: topic:build/distribution

#8757 feat: `AzureOpenAIChatGenerator` - support for tools
  haystack/components/generators/chat/azure.py
  releasenotes/notes/azurechatgenerator-tools-9622b7c96e452404.yaml
  test/components/generators/chat/test_azure.py
Labels: type:documentation, topic:tests

#8763 feat: support streaming_callback as run param for HF Chat generators
  haystack/components/generators/chat/hugging_face_api.py
  haystack/components/generators/chat/hugging_face_local.py
  releasenotes/notes/streaming-callback-run-param-support-for-hf-chat-generators-68aaa7e540ad03ce.yaml
  test/components/generators/chat/test_hugging_face_api.py
  test/components/generators/chat/test_hugging_face_local.py
Labels: type:documentation, topic:tests

#8711 refactor: raise `PipelineError` when `Pipeline.from_dict` receives an invalid type
  haystack/core/pipeline/base.py
  releasenotes/notes/fix-invalid-component-type-error-83ee00d820b63cc5.yaml
  test/core/pipeline/test_pipeline.py
Labels: type:documentation, topic:tests, topic:core

#8715 fix: update component registration to use new class reference
  haystack/core/component/component.py
  releasenotes/notes/component-registration-052467bb409d2e4c.yaml
Labels: type:documentation, topic:core

#8775 fix: Fix JSONConverter to properly skip files that are not utf-8 encoded
  haystack/components/converters/json.py
  releasenotes/notes/fix-json-converter-non-utf8-3a755df732a8cbd5.yaml
  test/components/converters/test_json.py
Labels: topic:tests

#8767 fix: compress pipeline graphs before sending to mermaid
  haystack/core/pipeline/draw.py
  releasenotes/notes/compress-mermaid-graph-bf23918c3da6e018.yaml
Labels: topic:core

#8790 chore: temporarily pin `huggingface_hub<0.28.0`
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution

#8786 fix: Pin nltk version for sentence tokenizer
  haystack/components/preprocessors/sentence_tokenizer.py
  pyproject.toml
Labels: ignore-for-release-notes, topic:build/distribution
